Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

feat(scripts/vfkit): convert test-vm-performance.sh to Python with tests
  scripts/tests/test_vm_performance.py
  scripts/vfkit/test_vm_performance.py
Due: k8s-tests

feat(scripts/benchmarks): convert M-series and OpenVSCode benchmarks to Python
  scripts/benchmarks/m_series_performance_test.py
  scripts/benchmarks/openvscode_benchmark.py
  scripts/tests/test_m_series_performance.py
  scripts/tests/test_openvscode_benchmark.py
Due: k8s-tests

feat(scripts): convert fix-ts-ignore.sh to Python with tests
  scripts/fix_ts_ignore.py
  scripts/tests/test_fix_ts_ignore.py
Due: k8s-tests

fix(polecat-1133): Lazily import requests in Ralph Loop to fix test isolation
  .agents/tasks/polecat-issue-1133.md
  scripts/ralph_loop.py
Due: k8s-tests

chore(consolidation): Update merge script and telemetry config
  scripts/merge_safe.py
  scripts/vibecode/telemetry.py
Due: k8s-tests

feat(cli): Restore vibecode-vm CLI tool (Task #1130)
  bin/vibecode-vm
  scripts/vibecode_vm_cli.py
Due: k8s-tests

Add feature audit scaffold for #1249
  docs/feature-audit/issue-1249.md
Due: none

docs: add feature audit for Datadog integration (#1299)
  docs/feature-audits/1299-datadog-integration.md
Due: none

docs: add feature audit stub for #1269
  docs/feature-audits/feature-audit-1269-feature-audit-tauri-2-9-1-integration-native-desktop-application-built-with-rust-swift.md
Due: none

docs: scaffold feature audit 1289
  docs/feature-audit/issue-1289.md
Due: none

docs: add feature audit stub for #1270
  docs/feature-audits/feature-audit-1270-feature-audit-openvscode-server-backend-full-vs-code-experience-with-native-rust-cli-no-docker-required.md
Due: none

docs: add feature audit stub for #1271
  docs/feature-audits/feature-audit-1271-feature-audit-cross-platform-support-macos-intel-apple-silicon-linux-x86-64-arm64-windows-x86-64.md
Due: none

docs(feature-audit): add pgvector audit scaffold (#1239)
  docs/feature-audits/issue-1239-pgvector.md
Due: none

Add feature audit scaffold for #1250
  docs/feature-audit/issue-1250.md
Due: none

Add feature audit scaffold for #1251
  docs/feature-audit/issue-1251.md
Due: none

Add feature audit scaffold for #1252
  docs/feature-audit/issue-1252.md
Due: none

docs: add feature audit for OpenTelemetry tracing (#1300)
  docs/feature-audits/1300-opentelemetry-tracing.md
Due: none

docs: add feature audit stub for #1272
  docs/feature-audits/feature-audit-1272-feature-audit-native-system-integration-platform-native-menus-notifications-and-system-tray-support.md
Due: none

docs: add feature audit for enhanced eslint config
  docs/feature-audits/feature-audit-1321-enhanced-eslint.md
Due: none

docs: scaffold feature audit 1290
  docs/feature-audit/issue-1290.md
Due: none

docs: add feature audit for Prometheus metrics (#1301)
  docs/feature-audits/1301-prometheus-metrics.md
Due: none

docs: scaffold feature audit 1291
  docs/feature-audit/issue-1291.md
Due: none

docs: add feature audit for performance monitoring (#1302)
  docs/feature-audits/1302-performance-monitoring.md
Due: none

docs: add feature audit stub for #1441
  docs/feature-audits/feature-audit-1441-feature-audit-vibecode-valkey-10gb-redis-compatible-in-memory-store.md
Due: none

docs: add feature audit stub for #1442
  docs/feature-audits/feature-audit-1442-feature-audit-vibecode-nodejs-50gb-node-js-development-environment.md
Due: none

docs: add feature audit for monaco editor core
  docs/feature-audits/feature-audit-1322-monaco-core.md
Due: none

docs: add feature audit stub for #1443
  docs/feature-audits/feature-audit-1443-feature-audit-vibecode-nodejs-codeserver-50gb-node-js-code-server.md
Due: none

docs: scaffold feature audit 1292
  docs/feature-audit/issue-1292.md
Due: none

Add feature audit scaffold for #1421
  docs/feature-audit/issue-1421.md
Due: none

docs(test): scaffold feature audit 1371
  docs/feature-audits/1371-no-need-remember-vm-ip.md
  tests/feature-audit/1371-no-need-remember-vm-ip.test.ts
Due: test-suite, typescript-check, eslint

docs: add feature audit stub for #1444
  docs/feature-audits/feature-audit-1444-feature-audit-vibecode-pgvector-20gb-postgresql-with-vector-extensions.md
Due: none

docs: add feature audit for custom dashboards (#1303)
  docs/feature-audits/1303-custom-dashboards.md
Due: none

docs(feature-audit): scaffold extension files audit (#1411)
  docs/feature-audits/issue-1411-extension-files.md
Due: none

docs: add feature audit for IntelliSense
  docs/feature-audits/feature-audit-1323-intellisense.md
Due: none

chore(feature-audit): scaffold issue #1259
  docs/feature-audit/issue-1259.md
  tests/feature-audit/issue-1259.test.ts
Due: test-suite, typescript-check, eslint

docs: add feature audit stub for #1445
  docs/feature-audits/feature-audit-1445-feature-audit-vibecode-ide-50gb-full-ide-environment.md
Due: none

chore(feature-audit): scaffold issue #1260
  docs/feature-audit/issue-1260.md
  tests/feature-audit/issue-1260.test.ts
Due: test-suite, typescript-check, eslint

docs: scaffold feature audit 1293
  docs/feature-audit/issue-1293.md
Due: none

chore(feature-audit): scaffold issue 1383
  docs/feature-audit/issue-1383.md
  tests/feature-audit/issue-1383.test.ts
Due: test-suite, typescript-check, eslint

docs: add feature audit for syntax highlighting
  docs/feature-audits/feature-audit-1324-syntax-highlighting.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
