Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

feat: Apple Container POC COMPLETE - code-server running natively
  docs/APPLE_CONTAINER_SUCCESS.md
Due: none

feat: Apple Container distribution artifacts
  artifacts/apple-container/README.md
  artifacts/apple-container/datadog-monitor.sh
  artifacts/apple-container/install.sh
  artifacts/apple-container/run-stack.sh
  artifacts/apple-container/vibecode-stack.yaml
  artifacts/vibecode-apple-container-v1.0.0.tar.gz
  artifacts/vibecode-apple-container-v1.0.0.tar.gz.sha256
Due: none

refactor: Correct Apple Container distribution strategy
  APPLE_CONTAINER_REALITY_CHECK.md
  artifacts/apple-container/install-v2.sh
  homebrew-vibecode/vibecode.rb
  k8s/cloud-workspaces/README.md
  k8s/cloud-workspaces/smoke-test/run-tests.sh
Due: k8s-tests

docs: Complete reality check and native app vision
  MACOS_APP_VISION.md
  NEXT_STEPS_REALITY.md
  claudedocs/MCP_AUTHENTICATION_IMPLEMENTATION_2025-10-01.md
  docs/architecture/lapce-fork-strategy.md
  docs/deployment/CLOUD_WORKSPACES_IMPLEMENTATION_SUMMARY.md
  docs/implementation/theia-integration-plan.md
  docs/quality/ai-platform-quality-plan.md
  docs/research/multi-protocol-extension-standard.md
  docs/strategy/mcp-platform-requirements.md
  src/lib/auth.ts
Due: test-suite, typescript-check, eslint

docs: XAMPP-style VibeCode.app design
  VIBECODE_APP_XAMPP_STYLE.md
  docs/logs/FRICTION_LOG.md
  src/components/PromptInterface.tsx
  src/lib/auth.ts
Due: test-suite, typescript-check, eslint

docs: Multimodal UX paradigms - the future of development
  docs/vision/MULTIMODAL_UX_PARADIGMS.md
Due: none

docs: Platform architecture - thinking like Mistral LeChat
  docs/vision/PLATFORM_ARCHITECTURE_DECISION.md
Due: none

research: CRDT deep dive + libSQL/Turso integration
  docs/research/CRDT_DEEP_DIVE.md
Due: none

feat: implement Docker/Colima detection backend
  claudedocs/DOCKER_DETECTION_IMPLEMENTATION.md
  src/app/api/docker/status/route.ts
  src/lib/docker/client.ts
  src/lib/docker/detection.ts
  src/types/docker.ts
  tests/integration/docker-api.test.ts
  tests/unit/docker-detection.test.ts
Due: test-suite, typescript-check, eslint

research: Single binary patterns from PocketBase, Pathway, Qlib
  .gitignore
  docs/api/README.md
  docs/research/SINGLE_BINARY_PATTERNS.md
  docs/security/BRANCH_PROTECTION.md
  package.json
  scripts/migrate-console-to-logger.sh
  src-tauri/.gitignore
  src-tauri/Cargo.toml
  src-tauri/README.md
  src-tauri/build.rs
  src-tauri/entitlements.plist
  src-tauri/src/commands.rs
  src-tauri/src/docker.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
  src/components/editors/EditorSkeleton.tsx
  src/components/skeletons/FormSkeleton.tsx
  src/components/skeletons/ModalSkeleton.tsx
  src/components/skeletons/index.ts
  src/instrumentation.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

ci: add Tauri DMG packaging pipeline with code signing and notarization
  scripts/changelog-helper.sh
  scripts/security/check-branch-protection.sh
  src-tauri/icons/README.md
  src/app/api/workspaces/[id]/route.ts
  src/lib/tauri.ts
Due: test-suite, k8s-tests, typescript-check, eslint
