Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

feat: implement Datadog Database Monitoring (DBM) for pool exhaustion alerting
  CLAUDE.md
  src/app/api/health/db/route.ts
  src/app/api/monitoring/pool-alerts/route.ts
  src/instrument.ts
  test-pool-exhaustion.cjs
Due: test-suite, typescript-check, eslint

CRITICAL: Discover and document architectural mismatch between built infrastructure and production system
  ARCHITECTURAL_INTEGRATION_PLAN.md
  EMBEDDING_BYOK_GUIDE.md
  TODO.md
  claudedocs/ultrathinking-critical-discoveries.md
  debug-embedding-setup.js
  debug-openrouter-response.js
  debug-openrouter-success.js
  package.json
  src/app/api/ai/upload/route.ts
  src/instrument.cjs
  src/lib/ai/embeddingServiceFactory.ts
  src/lib/ai/enhanced-model-client.ts
  test-byok-embedding-service.js
  test-direct-openai-embeddings.js
  test-embedding-final.js
  test-embedding-pipeline-e2e.js
  test-embedding-with-env.js
  test-openrouter-byok.js
  test-openrouter-fixed.js
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

docs: correct TODO.md with reality-checked analysis and actual improvement opportunities
  TODO.md
Due: none

feat: integrate vector monitoring infrastructure with production EnhancedVectorStore
  TODO.md
  src/app/api/health/vector-metrics/route.ts
  src/lib/vector-stores/enhanced-vector-store.ts
Due: test-suite, typescript-check, eslint

feat: complete critical vector performance optimizations
  TODO.md
  datadog/vector-database-dashboard.json
  src/lib/vector-store.ts
  src/lib/vector-stores/enhanced-vector-store.ts
Due: test-suite, typescript-check, eslint

feat: complete advanced vector performance optimization suite
  TODO.md
  src/lib/vector-stores/enhanced-vector-store.ts
Due: test-suite, typescript-check, eslint
