Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

feat(docker): add healthchecks to docker-compose configurations
  claudedocs/agent-19-docker-healthchecks-report.md
  docker/HEALTHCHECKS.md
  docker/docker-compose.production.yml
  docker/docker-compose.yml
  scripts/validate-healthchecks.sh
Due: k8s-tests

fix(workflows): correct workflow_dispatch syntax in infrastructure-tests
  .github/workflows/disabled-expensive/infrastructure-tests.yml
  claudedocs/agent-20-workflow-dispatch-report.md
  claudedocs/workflow-dispatch-usage-guide.md
Due: none

fix(docker): resolve build pipeline failures and add multi-arch support
  .github/workflows/build-and-push-image.yml
  claudedocs/agent-17-docker-build-pipeline-fix.md
  docker/code-server/Dockerfile
  docker/code-server/Dockerfile.optimized
Due: none

fix: resolve webpack native binary and Babel compilation errors
  babel.config.test.js
  claudedocs/agent-16-webpack-minification-fix.md
  next.config.js
  package-lock.json
  package.json
  src/lib/monaco/monacopilot-integration.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

docs: add comprehensive repository status report
  REPO_STATUS_2025-10-02.md
Due: none

feat: add test script for infrastructure tests with single worker limit
  WORKFLOW_FAILURES_FIX_2025-10-02.md
  package.json
Due: license-check, vulnerability-scan

fix: remove duplicate jest.config.mjs causing workflow failures
  jest.config.mjs
Due: none

fix: correct test:root:infrastructure path to tests/root-tests/infrastructure
  package.json
Due: license-check, vulnerability-scan

fix: update test:root:infrastructure to run unit tests with passWithNoTests
  package.json
Due: license-check, vulnerability-scan

test: add missing test cleanup and existence check for collaboration service
  tests/unit/lib/security/input-validator.test.ts
  tests/unit/lib/services/collaboration.test.ts
Due: test-suite, typescript-check, eslint

Add MiniVim CI workflow
  .github/workflows/minivim-build.yml
  TODO.md
  docs/virtualization/minivim-kernel.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
