Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

auto-claude: subtask-6-4 - Integration test: Settings panel allows configuring environment permissions
  scripts/test-environment-panel-integration.tsx
  scripts/verify-environment-settings-panel.js
  src/components/settings/SettingsPanel.tsx
Due: test-suite, k8s-tests, typescript-check, eslint

fix: Address QA issues - TypeScript errors and security concerns (qa-requested)
  README.md
  src/components/settings/EnvironmentPermissionsPanel.tsx
  src/lib/environment/__tests__/detector-integration.test.ts
  src/lib/middleware/environment-guard.ts
  src/lib/settings/settings-manager.ts
Due: test-suite, typescript-check, eslint

fix: Resolve TypeScript compilation errors in environment isolation (qa-requested)
  src/lib/environment/__tests__/detector-integration.test.ts
  src/lib/middleware/__tests__/approval-workflow-integration.test.ts
  src/lib/middleware/environment-guard.ts
  src/lib/settings/settings-manager.ts
  src/types/settings.ts
Due: test-suite, typescript-check, eslint

ci: temporarily reduce non-critical main workflow pressure
  .github/workflows/check-claude-permissions.yml
  .github/workflows/notify-gastown.yml
  .github/workflows/validate-issue-790.yml
Due: none

docs(review): checklist for auto-claude 064 subtask-1-1
  docs/reviews/auto-claude/subtask-1-1-audit-human-review.md
Due: none

docs(review): checklist for auto-claude 064 subtask-5-1
  docs/reviews/auto-claude/subtask-5-1-defaultmode-human-review.md
Due: none

docs(review): checklist for auto-claude 064 subtask-5-3
  docs/reviews/auto-claude/subtask-5-3-docs-human-review.md
Due: none

docs(review): checklist for auto-claude 064 subtask-6-2
  docs/reviews/auto-claude/subtask-6-2-hardening-human-review.md
Due: none

ci: add opt-in self-hosted runner gate for core workflows
  .github/workflows/README.md
  .github/workflows/ci-simplified.yml
  .github/workflows/ci.yml
  .github/workflows/main-branch-ci.yml
  .github/workflows/pr-checks.yml
Due: none

ci: bump workflow node baseline to 20.19.0 for prisma 7
  .github/workflows/ci-simplified.yml
  .github/workflows/main-branch-ci.yml
  .github/workflows/release-branch-ci.yml
  .github/workflows/shared-setup.yml
Due: none

auto-claude: subtask-1-1 - Add ConfirmationRequest Prisma model
  .auto-claude-status
  .claude_settings.json
  prisma/prisma.config.ts
  prisma/schema.prisma
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Add OperationSnapshot Prisma model for rollback
  .auto-claude-status
  prisma/schema.prisma
Due: none

auto-claude: subtask-1-1 - Create useCostTracking hook for session and history data
  src/hooks/useCostTracking.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Create useCostAlerts hook for alert management
  src/hooks/useCostAlerts.ts
Due: test-suite, typescript-check, eslint

ci: make lightweight main unit tests non-blocking
  .github/workflows/main-branch-ci.yml
Due: none

auto-claude: subtask-1-3 - Generate and apply Prisma migration
  prisma/migrations/20260222_add_confirmation_models/migration.sql
  prisma/migrations/20260222_add_confirmation_models/rollback.sql
Due: none

auto-claude: subtask-2-1 - Create CostAlertToast component for global alert notifications
  src/components/ai/CostAlertToast.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Create CostSettingsPanel component with editable form
  .auto-claude-status
  .claude_settings.json
  src/components/ai/CostSettingsPanel.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create GET /api/agents/confirmations - list pending confirmations
  src/app/api/agents/confirmations/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Add cost estimation preview in ChatInterface
  src/components/ai/ChatInterface.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Create GET /api/agents/confirmations/[id] - get confirmation details
  src/app/api/agents/confirmations/[id]/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Add cost confirmation dialog for expensive requests
  src/components/ai/ChatInterface.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-3 - Create POST /api/agents/confirmations/[id]/approve
  src/app/api/agents/confirmations/[id]/approve/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Record usage after AI response received
  src/components/ai/ChatInterface.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-4 - Create POST /api/agents/confirmations/[id]/reject
  src/app/api/agents/confirmations/[id]/reject/route.ts
Due: test-suite, typescript-check, eslint

Update auto-claude status
  .auto-claude-status
Due: none

auto-claude: subtask-2-5 - Create POST /api/agents/[id]/stop - emergency stop
  src/app/api/agents/[id]/stop/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Replace read-only settings with CostSettingsPanel
  src/components/ai/CostDashboard.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create RollbackService for snapshot and restore
  src/lib/agent-framework/rollback/service.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Add alert creation UI in CostDashboard Alerts tab
  .auto-claude-status
  src/components/ai/CostDashboard.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Add rollback endpoint POST /api/agents/confirmatio
  .auto-claude-status
  src/app/api/agents/confirmations/[id]/rollback/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Add CostAlertToast to root layout
  src/app/layout.tsx
  src/components/ai/GlobalCostAlerts.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create DiffViewer component for code changes
  src/app/test/diff-viewer/page.tsx
  src/components/agents/DiffViewer.tsx
  src/components/agents/index.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-1 - End-to-end cost estimation flow verification
  .auto-claude-status
Due: none

auto-claude: subtask-4-2 - Create ConfirmationDialog component for approval UI
  src/app/test/confirmation-dialog/page.tsx
  src/components/agents/ConfirmationDialog.tsx
  src/components/agents/index.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-3 - Create PendingConfirmations list component
  src/app/test/pending-confirmations/page.tsx
  src/components/agents/PendingConfirmations.tsx
  src/components/agents/index.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-4 - Create AuditLogViewer component for audit trail
  src/app/test/audit-log/page.tsx
  src/components/agents/AuditLogViewer.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Create OperationInterceptor to detect destructive operations
  .gitignore
  src/lib/agent-framework/operations/interceptor.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-2 - Update ConfirmationService to use Prisma persistence
  src/lib/agent-framework/confirmation/service.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-3 - Integrate confirmation into agent file operations
  src/lib/agent-framework/confirmation/service.ts
Due: test-suite, typescript-check, eslint
