Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

auto-claude: subtask-5-3 - Create VS Code extension documentation
  docs/VSCODE_EXTENSIONS.md
Due: none

chore(tauri): update tauri runtime stack to latest 2.x (#1960)
  platforms/tauri/Cargo.lock
Due: none

auto-claude: subtask-2-3 - Add unit tests for search optimizer
  tests/unit/editor/search-optimizer.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-4 - Update main PLUGIN_API.md with marketplace and SDK sections
  docs/PLUGIN_API.md
Due: none

auto-claude: subtask-3-1 - Create diff optimizer with Myers algorithm
  src/lib/editor/diff-optimizer.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-5 - End-to-end verification of plugin ecosystem
  .auto-claude-status
  E2E_VERIFICATION_RESULTS.md
  e2e-test-plugin-1.0.0.vcp
  test-plugins/e2e-test-plugin/.gitignore
  test-plugins/e2e-test-plugin/README.md
  test-plugins/e2e-test-plugin/index.ts
  test-plugins/e2e-test-plugin/package.json
  test-plugins/e2e-test-plugin/plugin.json
  test-plugins/e2e-test-plugin/tsconfig.json
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create offline-features.ts library for feature availability tracking
  src/lib/offline-features.ts
Due: test-suite, typescript-check, eslint

ci: fix codeserver profiles workflow input context references
  .github/workflows/codeserver-profiles.yml
Due: none

ci: simplify codeserver profiles workflow to parser-safe dispatch flow
  .github/workflows/codeserver-profiles.yml
Due: none

auto-claude: subtask-1-2 - Add feature availability endpoint to offline status API
  src/app/api/offline/status/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Add unit tests for diff optimizer
  tests/unit/editor/diff-optimizer.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create FeatureAvailabilityPanel component
  src/components/FeatureAvailabilityPanel.tsx
  src/components/__tests__/FeatureAvailabilityPanel.test.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create environment type definitions
  src/lib/environment/types.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Enhance OfflineIndicator with feature availability
  src/components/OfflineIndicator.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Implement environment detector with multi-signal d
  src/lib/environment/detector.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Integrate memory monitoring with editor lifecycle
  src/lib/editor/large-file-optimizer.ts
Due: test-suite, typescript-check, eslint

fix: Add database migrations for plugin repository models
  prisma/migrations/20260221000000_add_plugin_repository_models/migration.sql
Due: none

auto-claude: subtask-1-3 - Add environment detection to env-validation.ts
  src/lib/env-validation.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-3 - Add memory leak detection tests
  tests/e2e/large-file-performance.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create environment permission types and configuration schema
  src/lib/environment/types.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Update E2E tests for all acceptance criteria
  tests/e2e/large-file-performance.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-3 - Enhance offline-setup page with readiness wizard
  src/app/offline-setup/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Implement environment permission manager integrating with HITL manager
  src/lib/environment/permissions.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-2 - Run full E2E performance test suite
  .auto-claude-status
  .claude_settings.json
  node_modules/.package-lock.json
Due: none

auto-claude: subtask-2-3 - Add environment permission settings to types/setti
  src/types/settings.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create integration test for offline vector storage
  tests/integration/offline-vector-storage.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-4 - Integrate environment permissions into SettingsManager
  .auto-claude-status
  .claude_settings.json
  src/lib/settings/settings-manager.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Create integration test for AI provider fallback
  tests/integration/offline-ai-fallback.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-3 - Verify all acceptance criteria manually
  .auto-claude-status
Due: none

auto-claude: subtask-3-1 - Create EnvironmentBadge component with color-coded
  src/components/environment/EnvironmentBadge.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Enhance E2E offline mode test with feature availab
  tests/e2e/offline-mode.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Create environment indicator types for UI
  .auto-claude-status
  src/types/environment.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create EnvironmentPermissionsPanel settings component
  src/components/settings/EnvironmentPermissionsPanel.tsx
Due: test-suite, typescript-check, eslint

auto-claude: update subtask-4-1 status to completed
  .auto-claude-status
Due: none

auto-claude: subtask-5-1 - Create environment guard middleware for agent oper
  .auto-claude-status
  src/lib/middleware/environment-guard.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-1 - Integration test: Environment detection works acro
  scripts/verify-environment-detection.js
  src/lib/environment/__tests__/detector-integration.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

auto-claude: subtask-4-2 - Update OFFLINE_MODE.md documentation
  docs/OFFLINE_MODE.md
Due: none

auto-claude: subtask-6-2 - Integration test: Production operations trigger approval workflow
  .auto-claude-status
  scripts/verify-production-approval.js
  src/lib/middleware/__tests__/approval-workflow-integration.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

auto-claude: subtask-6-3 - Integration test: Environment badge displays correctly in UI
  scripts/verify-environment-badge-ui.js
  src/app/layout.tsx
  src/components/OfflineIndicator.tsx
Due: test-suite, k8s-tests, typescript-check, eslint
