Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: resolve vector connection pool import and type errors
  src/app/api/monitoring/pool/route.ts
  src/lib/db/connection-pool-monitor.ts
  src/lib/db/connection-pool-types.ts
  src/lib/db/vector-connection-pool.ts
Due: test-suite, typescript-check, eslint

docs: add session progress update
  SESSION_PROGRESS_UPDATE.md
Due: none

feat: merge TypeScript improvements from fix/typescript-critical-errors branch
  src/app/api/ai/web-search/route.ts
  src/lib/cache/valkey-client.ts
  src/lib/db/connection-pool-types.ts
  src/lib/db/vector-connection-pool.ts
  src/lib/vector-db/base-vector-database-adapter.ts
  src/lib/vector-db/postgres-vector-database-adapter.ts
Due: test-suite, typescript-check, eslint

docs: comprehensive TypeScript error analysis and merge strategy
  CONSOLIDATION_CHECKLIST.md
  ERROR_REDUCTION_ROADMAP.md
  MERGE_STRATEGY.md
  MERGE_SUMMARY.md
  TYPESCRIPT_ANALYSIS_COMPLETE.md
  TYPESCRIPT_INTEGRATION_SUMMARY.md
  TYPESCRIPT_PR_AND_ISSUES_ANALYSIS.md
  src/app/api/files/sync/route.ts
  src/app/api/health/route.ts
Due: test-suite, typescript-check, eslint

fix: Apply manual fixes from merge recovery
  DEPLOYMENT_GUIDES_CREATED.md
  DEPLOYMENT_READINESS_SUMMARY.md
  IMMEDIATE_FIXES_CHECKLIST.md
  INTEGRATION_VALIDATION_REPORT.md
  INTEGRATION_VALIDATION_SUMMARY.md
  docker/Dockerfile
  docker/Dockerfile.simple
  docker/verify-ai-tools.sh
  docs/DEVELOPER_GUIDE.md
  docs/ONBOARDING_DOCUMENTATION_SUMMARY.md
  docs/api/SDK_GENERATION_SUMMARY.md
  docs/performance/VALIDATION_REPORT.md
  examples/python/README.md
  examples/python/ai_chat.py
  examples/python/basic_usage.py
  examples/python/mfa_setup.py
  examples/python/requirements.txt
  examples/python/vector_search.py
  examples/typescript/README.md
  examples/typescript/ai-chat.ts
  examples/typescript/basic-usage.ts
  examples/typescript/mfa-setup.ts
  examples/typescript/package.json
  examples/typescript/vector-search.ts
  performance-results/README.md
  scripts/build-fast-openvscode-vm-with-ai-tools.sh
  scripts/performance/README.md
  src/app/api/auth/login-tracking/route.ts
  src/app/api/chat/stream/route.ts
  src/app/api/files/sync/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/app/api/monitoring/pool/route.ts
  src/lib/logger.ts
  src/lib/prisma.ts
Due: test-suite, k8s-tests, typescript-check, eslint

docs: comprehensive handoff documentation for TypeScript consolidation
  HANDOFF.md
  TODO.md
Due: none

Fix health route test and make env-safe
  TODO.md
  src/app/api/health/__tests__/route.test.ts
  src/app/api/health/route.ts
  tests/jest.setup.js
Due: test-suite, typescript-check, eslint

docs: update handoff with stash preservation status
  HANDOFF.md
Due: none

fix: Rename logger console function to createLogger to avoid naming collision
  src/lib/logger.ts
Due: test-suite, typescript-check, eslint

wip: logger circular dependency debugging
  GENAI_VM_QUICK_REFERENCE.md
  README.md
  docs/genai-vm-setup.md
  etc_sudoers.d_lima
  scripts/create-minimal-busybox-vm.sh
  scripts/vfkit/01-setup-vfkit.sh
  scripts/vfkit/02-download-alpine-kernel.sh
  scripts/vfkit/03-create-alpine-rootfs.sh
  scripts/vfkit/04-launch-alpine-vm.sh
  scripts/vfkit/05-launch-vibecode-vm.sh
  scripts/vfkit/06-create-vibecode-rootfs.sh
  scripts/vfkit/README.md
  scripts/vfkit/install-alpine-vm.sh
  scripts/vfkit/vibecode-init.sh
  scripts/vfkit/vm-setup-services.sh
  src/app/api/agents/[...path]/route.ts
  src/lib/agents/openai-client.ts
  src/lib/agents/thread-manager.ts
  src/lib/agents/tool-registry.ts
  src/lib/db/vector-connection-pool.ts
  src/lib/logger.ts
  src/lib/security/macos-keychain.ts
Due: test-suite, k8s-tests, typescript-check, eslint

docs: Add comprehensive next steps for build issues and agent coordination
  NEXT_STEPS.md
Due: none
