Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

recovery: tracing/observability slice from multi-cluster branch (#4 of 5)
  infra/tundra-dome/bridges/openlineage-bead/index.js
  infra/tundra-dome/bridges/openlineage-bead/package.json
  infra/tundra-dome/dags/github_sync.py
  infra/tundra-dome/dags/lane_health.py
  infra/tundra-dome/dags/polecat_scaler.py
  infra/tundra-dome/dags/sla_monitor.py
  infra/tundra-dome/federation/bead-sync-controller/index.js
  infra/tundra-dome/federation/bead-sync-controller/package.json
  infra/tundra-dome/federation/federation-controller.yaml
  infra/tundra-dome/observability/opw-values.yaml
Due: test-suite, eslint

recovery: operational docs/runbooks slice from multi-cluster branch (#5 of 5)
  infra/tundra-dome/clusters/gastown/kind-config.yaml
  infra/tundra-dome/clusters/registry.yaml
  infra/tundra-dome/clusters/vibecode-local/kind-config.yaml
  infra/tundra-dome/docs/MULTI-CLUSTER-ARCHITECTURE.md
  infra/tundra-dome/docs/RUNBOOK-ROLLBACK.md
  infra/tundra-dome/docs/RUNBOOK-ROLLFORWARD.md
  infra/tundra-dome/scripts/bootstrap.sh
  infra/tundra-dome/scripts/deploy.sh
  infra/tundra-dome/scripts/proactive-health-check.sh
  infra/tundra-dome/terraform/aks/main.tf
  infra/tundra-dome/terraform/eks/main.tf
  infra/tundra-dome/terraform/gke/main.tf
Due: none

recovery: tracing/observability slice from multi-cluster branch (#4 of 5) (#2039)
  infra/tundra-dome/bridges/openlineage-bead/index.js
  infra/tundra-dome/bridges/openlineage-bead/package.json
  infra/tundra-dome/dags/github_sync.py
  infra/tundra-dome/dags/lane_health.py
  infra/tundra-dome/dags/polecat_scaler.py
  infra/tundra-dome/dags/sla_monitor.py
  infra/tundra-dome/federation/bead-sync-controller/index.js
  infra/tundra-dome/federation/bead-sync-controller/package.json
  infra/tundra-dome/federation/federation-controller.yaml
  infra/tundra-dome/observability/opw-values.yaml
Due: test-suite, eslint

recovery: operational docs/runbooks slice from multi-cluster branch (#5 of 5) (#2040)
  infra/tundra-dome/clusters/gastown/kind-config.yaml
  infra/tundra-dome/clusters/registry.yaml
  infra/tundra-dome/clusters/vibecode-local/kind-config.yaml
  infra/tundra-dome/docs/MULTI-CLUSTER-ARCHITECTURE.md
  infra/tundra-dome/docs/RUNBOOK-ROLLBACK.md
  infra/tundra-dome/docs/RUNBOOK-ROLLFORWARD.md
  infra/tundra-dome/scripts/bootstrap.sh
  infra/tundra-dome/scripts/deploy.sh
  infra/tundra-dome/scripts/proactive-health-check.sh
  infra/tundra-dome/terraform/aks/main.tf
  infra/tundra-dome/terraform/eks/main.tf
  infra/tundra-dome/terraform/gke/main.tf
Due: none

auto-claude: subtask-3-3 - Add unit tests for IDE session management
  tests/unit/app/api/ide/session/route.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Add unit tests for unified cache client
  tests/unit/lib/cache/unified-cache-client.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Add unit tests for query optimizer
  tests/unit/lib/database/query-optimizer.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-3 - Add unit tests for vector store endpoint
  tests/unit/app/api/vector-store/route.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Add unit tests for plugins list endpoint
  tests/unit/app/api/plugins/route.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-2 - Add unit tests for plugin installation endpoint
  tests/unit/app/api/plugins/install/route.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-3 - Add unit tests for experiments endpoint
  .auto-claude-status
  tests/unit/app/api/experiments/route.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-2 - Update coverage thresholds incrementally (target: 40-50%)
  config/jest.config.js
Due: test-suite, eslint

auto-claude: subtask-6-3 - Document coverage improvement plan for reaching 80
  docs/TESTING_COVERAGE_ROADMAP.md
Due: none

auto-claude: subtask-7-1 - Verify PR test workflow runs with new thresholds
  docs/CI_VERIFICATION_REPORT.md
Due: none

ci: make vibecode quality frontend checks advisory
  .github/workflows/vibecode-quality.yml
Due: none

ci: remove broken retry action and soften dependabot image builds
  .github/workflows/build-and-push-image.yml
  .github/workflows/ci-simplified.yml
Due: none

fix: address QA findings - session manager null token handling and MFA test mocking (qa-requested)
  src/lib/auth.ts
  tests/unit/app/api/auth/mfa/verify/route.test.ts
Due: test-suite, typescript-check, eslint

ci: remove broken retry action and soften dependabot image builds (#2037)
  .github/workflows/build-and-push-image.yml
  .github/workflows/ci-simplified.yml
  .github/workflows/vibecode-quality.yml
Due: none

auto-claude: subtask-1-1 - Create strict base TypeScript configuration
  config/typescript/tsconfig.base.json
Due: none

auto-claude: subtask-1-2 - Create strict base ESLint configuration
  config/eslint/eslint.base.mjs
Due: none

auto-claude: subtask-1-1 - Create comprehensive testing guide with patterns a
  docs/testing/TESTING_GUIDE.md
Due: none

auto-claude: subtask-1-2 - Create coverage strategy document with progressive threshold roadmap
  docs/testing/COVERAGE_STRATEGY.md
Due: none

fix: add rate limiting mock to vector-store tests (qa-requested)
  tests/unit/app/api/vector-store/route.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-3 - Document configuration standards
  docs/TYPESCRIPT_ESLINT_STANDARDS.md
Due: none

fix: address PR #2051 review comments
  ARCHITECTURE.md
  next.config.mjs
  src/app/api/health/db/route.ts
Due: test-suite, typescript-check, eslint

Tech Stack Rationalization - Canonicalize desktop runtime and document observability ownership (#2051)
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  ARCHITECTURE.md
  OBSERVABILITY.md
  README.md
  docs/setup/TAURI_DESKTOP_SETUP.md
  launcher.js
  next.config.mjs
  node_modules/.package-lock.json
  package.json
  src/app/api/health/db/route.ts
  src/instrument.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

auto-claude: subtask-1-3 - Create test templates for common patterns
  docs/testing/TEST_TEMPLATES.md
Due: none

auto-claude: subtask-2-1 - Update root tsconfig.json to extend base strict config
  tsconfig.json
Due: none

auto-claude: subtask-2-1 - Update Jest config with next milestone coverage th
  config/jest.config.js
Due: test-suite, eslint

Testing Infrastructure Setup - Coverage Enhancement (#2053)
  config/jest.config.js
  docs/CI_VERIFICATION_REPORT.md
  docs/TESTING_COVERAGE_ROADMAP.md
  tests/unit/app/api/auth/mfa/verify/route.test.ts
  tests/unit/app/api/auth/saml/sso/route.test.ts
  tests/unit/app/api/chat/stream/route.test.ts
  tests/unit/app/api/experiments/route.test.ts
  tests/unit/app/api/ide/session/route.test.ts
  tests/unit/app/api/plugins/install/route.test.ts
  tests/unit/app/api/plugins/route.test.ts
  tests/unit/app/api/vector-store/route.test.ts
  tests/unit/lib/ai/ai-providers.test.ts
  tests/unit/lib/auth/session-manager.test.ts
  tests/unit/lib/cache/unified-cache-client.test.ts
  tests/unit/lib/database/query-optimizer.test.ts
  tests/unit/lib/docker/client.test.ts
  tests/unit/lib/ide/factory.test.ts
Due: test-suite, typescript-check, eslint

chore: tech stack rationalization — canonical desktop/frontend paths, remove @vercel/otel (#2035)
  .gitignore
  docs/ADR/desktop-runtime.md
  docs/ADR/frontend-surface.md
  docs/observability/instrumentation-ownership.md
  package.json
  platforms/electron-vibecode/README.md
  platforms/web-dashboard/README.md
  src/instrumentation.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Update PR test workflow to enforce coverage thresh
  .github/workflows/pr-test.yml
Due: none

auto-claude: subtask-3-2 - Create coverage reporting workflow with artifact upload
  .github/workflows/coverage-report.yml
Due: none

auto-claude: subtask-3-3 - Create coverage check script for local and CI use
  scripts/check-coverage.sh
Due: k8s-tests

auto-claude: subtask-4-1 - Create optional pre-commit test hook script
  scripts/pre-commit-test.sh
Due: k8s-tests

auto-claude: subtask-4-2 - Update pre-commit hook to optionally run tests
  .husky/pre-commit
Due: none

auto-claude: subtask-2-2 - Update root eslint.config.mjs to use strict rules
  eslint.config.mjs
Due: none

auto-claude: subtask-2-3 - Fix critical type safety issues in core files
  src/lib/database/agentapi-queries.ts
  src/lib/datadog-llm.ts
  src/lib/prisma.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-3 - Verify all documentation is complete and accurate
  docs/testing/TESTING_GUIDE.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
