Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

fix: resolve GitHub Actions CI platform dependency issue
  .github/workflows/ci.yml
Due: none

fix(ci): resolve GitHub Actions SWC platform dependency failures
  .eslintcache
  .github/workflows/ci.yml
  .github/workflows/k8s-deploy.yml
  .github/workflows/synthetic-test.yml
  .pre-commit-cache/.github_workflows_ci.yml.timestamp
  TESTING_INFRASTRUCTURE_COMPLETE.md
  docs/.astro/settings.json
  docs/node_modules/.vite/deps/_metadata.json
Due: none

fix(tests): update Jest CLI options to use --testPathPatterns
  package.json
  tests/unit/monitoring-unmocked.test.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

feat: add comprehensive E2E test suite with Playwright
  package.json
  tests/e2e/README.md
  tests/e2e/accessibility.test.ts
  tests/e2e/ai-features.test.ts
  tests/e2e/auth-flow.test.ts
  tests/e2e/critical-user-journeys.test.ts
  tests/e2e/global-setup.ts
  tests/e2e/global-teardown.ts
  tests/e2e/ui-responsiveness.test.ts
  tests/e2e/utils/test-helpers.ts
  tests/e2e/workspace-management.test.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

🔧 Fix critical issues for production deployment
  Dockerfile.simple
  package-lock.json
  package.json
  postcss.config.js.backup
  scripts/setup-local-dev-with-monitoring.sh
  src/app/layout.tsx
  src/app/providers.tsx
  src/components/monitoring/DatadogRUM.tsx
  src/lib/monitoring.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

📝 Update documentation to reflect August 2025 infrastructure fixes
  TODO.md
  docs/src/content/docs/claude-prompt.md
Due: none

📚 Add comprehensive infrastructure fixes documentation
  docs/src/content/docs/infrastructure-fixes-august-2025.md
Due: none

🔧 Fix GitHub Actions builds - resolve platform-specific dependency issues
  .github/workflows/ci.yml
  package-lock.json
Due: none

🔧 Fix GitHub Actions - remove package-lock.json to resolve platform issues
  .github/workflows/ci.yml
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
