Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Complete KIND testing validation with 100% success rate
  TODO.md
Due: none

Fix critical lint errors blocking CI/CD pipeline
  src/app/api/monitoring/metrics/route.ts
  src/app/api/monitoring/pool/route.ts
Due: test-suite, typescript-check, eslint

feat: integrate comprehensive Azure OpenAI monitoring with complete documentation and cross-referencing
  archive/root-md-files/claude-prompt.md
  docs/astro.config.mjs
  docs/node_modules/.astro/data-store.json
  docs/node_modules/.vite/deps/_metadata.json
  docs/src/content/docs/azure-openai-monitoring.md
  docs/src/content/docs/deploy-azure-openai-monitoring.md
  docs/src/content/docs/getting-started.md
  docs/src/content/docs/kubernetes-secrets-automation.md
  docs/src/content/docs/postgresql-genai-demo-guide.md
  docs/src/content/docs/prisma-pgvector.md
  docs/src/content/docs/production-deployment-guide.md
  docs/temp-prod-guide.md
  docs/temp_generate_config.js
  package-lock.json
  package.json
  src/components/MultimodalPromptInterface.tsx
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/monitoring/MonitoringDashboard.tsx
  src/components/projects/GitHubIntegrationModal.tsx
  src/components/projects/ProjectScaffolder.tsx
  src/components/terminal/EnhancedTerminal.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/templates/generator.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

feat: integrate comprehensive Azure OpenAI monitoring with complete documentation and cross-referencing
  archive/root-md-files/claude-prompt.md
  docs/astro.config.mjs
  docs/src/content/docs/azure-openai-monitoring.md
  docs/src/content/docs/deploy-azure-openai-monitoring.md
  docs/src/content/docs/getting-started.md
  docs/src/content/docs/kubernetes-secrets-automation.md
  docs/src/content/docs/postgresql-genai-demo-guide.md
  docs/src/content/docs/prisma-pgvector.md
  docs/src/content/docs/production-deployment-guide.md
  docs/temp-prod-guide.md
  docs/temp_generate_config.js
  package-lock.json
  package.json
  src/components/MultimodalPromptInterface.tsx
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/monitoring/MonitoringDashboard.tsx
  src/components/projects/GitHubIntegrationModal.tsx
  src/components/projects/ProjectScaffolder.tsx
  src/components/terminal/EnhancedTerminal.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/templates/generator.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

feat: integrate comprehensive Azure OpenAI monitoring with complete documentation and cross-referencing
  archive/root-md-files/claude-prompt.md
  docs/.astro/data-store.json
  docs/astro.config.mjs
  docs/node_modules/.astro/data-store.json
  docs/node_modules/.vite/deps/_metadata.json
  docs/src/content/docs/azure-openai-monitoring.md
  docs/src/content/docs/deploy-azure-openai-monitoring.md
  docs/src/content/docs/getting-started.md
  docs/src/content/docs/kubernetes-secrets-automation.md
  docs/src/content/docs/postgresql-genai-demo-guide.md
  docs/src/content/docs/prisma-pgvector.md
  docs/src/content/docs/production-deployment-guide.md
  docs/temp-prod-guide.md
  docs/temp_generate_config.js
  package-lock.json
  package.json
  src/components/MultimodalPromptInterface.tsx
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/monitoring/MonitoringDashboard.tsx
  src/components/projects/GitHubIntegrationModal.tsx
  src/components/projects/ProjectScaffolder.tsx
  src/components/terminal/EnhancedTerminal.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/templates/generator.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

feat: integrate comprehensive Azure OpenAI monitoring with complete documentation and cross-referencing
  archive/root-md-files/claude-prompt.md
  docs/.astro/data-store.json
  docs/astro.config.mjs
  docs/src/content/docs/azure-openai-monitoring.md
  docs/src/content/docs/deploy-azure-openai-monitoring.md
  docs/src/content/docs/getting-started.md
  docs/src/content/docs/kubernetes-secrets-automation.md
  docs/src/content/docs/postgresql-genai-demo-guide.md
  docs/src/content/docs/prisma-pgvector.md
  docs/src/content/docs/production-deployment-guide.md
  docs/temp-prod-guide.md
  docs/temp_generate_config.js
  package-lock.json
  package.json
  src/components/MultimodalPromptInterface.tsx
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/monitoring/MonitoringDashboard.tsx
  src/components/projects/GitHubIntegrationModal.tsx
  src/components/projects/ProjectScaffolder.tsx
  src/components/terminal/EnhancedTerminal.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/templates/generator.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

feat: add complete Azure monitoring infrastructure and API endpoints
  TODO.md
  datadog-azure-embedding-dashboard.json
  infrastructure/datadog-azure/modules/azure_openai_monitoring/main.tf
  infrastructure/modules/azure_openai_monitoring/README.md
  infrastructure/modules/azure_openai_monitoring/main.tf
  infrastructure/modules/azure_openai_monitoring/outputs.tf
  infrastructure/modules/azure_openai_monitoring/templates/error_rate_alert.tftpl
  infrastructure/modules/azure_openai_monitoring/templates/latency_alert.tftpl
  infrastructure/modules/azure_openai_monitoring/variables.tf
  infrastructure/monitoring/azure_openai.tf
  kubernetes/datadog/azure-integration-config.yaml
  kubernetes/datadog/azure-openai-monitoring.yaml
  scripts/setup-azure-openai-monitoring.sh
  src/app/api/monitoring/azure-embedding/route.ts
  src/lib/ai/azureEmbeddingService.ts
  src/lib/monitoring/datadog-metrics.ts
  test-azure-embedding-complete.js
  test-azure-embedding-monitoring.js
Due: test-suite, k8s-tests, typescript-check, eslint

preserve additional stashed code from vector database implementation
  src/components/MultimodalPromptInterface.tsx
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/monitoring/MonitoringDashboard.tsx
  src/components/projects/GitHubIntegrationModal.tsx
  src/components/projects/ProjectScaffolder.tsx
  src/components/terminal/EnhancedTerminal.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/templates/generator.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
Due: test-suite, typescript-check, eslint
