Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

fix: Use case statement with direct GitHub Actions variable substitution
  .github/workflows/codeserver-profiles.yml
  scripts/migrate-console-logs.js
Due: test-suite, k8s-tests, eslint

refactor: switch to structured logging with new logger module and improve error handling
  docker/code-server/Dockerfile
  scripts/migrate-env-config.sh
  src/components/PromptInterface.tsx
  src/components/auth/SignInForm.tsx
  src/components/editors/monaco.tsx
  src/components/ui/input.tsx
  src/lib/ai/enhanced-model-client.ts
  src/lib/ai/litellm-client.ts
  src/lib/ai/performance-optimization.ts
  src/lib/ai/project-generator.ts
  src/lib/auth/password.ts
  src/lib/performance/metrics-collector.ts
  src/lib/vector-db/vector-db-error-handler.ts
  tests/integration/api/health-endpoints.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

security: Remove hardcoded credentials (CRITICAL fix for #438)
  src/lib/auth.ts
Due: test-suite, typescript-check, eslint

docs: add configuration migration guide and phase 1 completion report
  PHASE1_COMPLETION_REPORT.md
  docs/CONFIGURATION_MIGRATION.md
  docs/CONFIGURATION_QUICK_REFERENCE.md
  docs/MIGRATION_CHECKLIST.md
  scripts/validate-env-config.sh
  tests/e2e/auth/login.spec.ts
  tests/integration/api/health-error-scenarios.test.ts
  tests/integration/api/health-response-formats.test.ts
  tests/unit/auth/password.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

security: Fix command injection in terminal (CRITICAL fix for #439)
  src/app/api/terminal/session/route.ts
  src/app/api/terminal/ws/route.ts
Due: test-suite, typescript-check, eslint

chore: enable TypeScript checks for unused locals and parameters
  scripts/migrate-env-config.sh
  tests/integration/api/README.md
  tests/integration/api/health-endpoints.test.ts
  tsconfig.json
Due: test-suite, k8s-tests, typescript-check, eslint

refactor: Migrate API routes to structured logging - Batch 3
  src/app/api/claude/chat/route.ts
  src/app/api/code-completion/route.ts
  src/app/api/health/connection-pool/route.ts
  src/app/api/health/database/metrics/route.ts
  src/app/api/health/database/route.ts
  src/app/api/health/db/route.ts
  src/app/api/health/vector-db/route.ts
  src/app/api/health/vector-metrics/route.ts
  src/app/api/ollama/models/route.ts
  src/app/api/uploads/pdf/route.ts
  src/app/api/user/preferences/route.ts
Due: test-suite, typescript-check, eslint

feat: optimize code-server Dockerfile by reducing layers from 57 to 12
  docker/code-server/Dockerfile.optimized
  src/components/EnhancedAIChatInterface.tsx
  src/components/InputArea.tsx
  src/components/PromptInterface.tsx
  src/components/terminal/TerminalSkeleton.tsx
  src/components/ui/skeleton.tsx
  src/components/workspace/WorkspaceLayout.tsx
  src/lib/vector-db/vector-retry-handler-new.ts
  src/lib/vector-db/vector-retry-handler.ts
Due: test-suite, typescript-check, eslint

feat: optimize code-server Dockerfile by reducing layers from 57 to 12
  src/components/PromptInterface.tsx
  src/components/monitoring/ConnectionPoolAlerts.tsx
Due: test-suite, typescript-check, eslint

feat: enhance loading state UI with animated placeholder lines and accessibility labels
  CONTRIBUTING.md
  README.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
