Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

feat(scripts): convert test_gui_vm_build.sh to Python (#1790)
  .gitignore
  scripts/test_gui_vm_build.py
Due: k8s-tests

feat(scripts): add datadog container monitor Python module
  scripts/lib/datadog_monitor.py
  tests/python/scripts_lib/test_datadog_monitor.py
Due: k8s-tests

feat(scripts): convert shell scripts to Python
  scripts/cloud/aws/start_workspace.py
  scripts/cloud/aws/stop_workspace.py
  scripts/cloud/aws/user_data.py
  scripts/deploy_existing_cluster.py
  scripts/deploy_monitoring.py
  scripts/fix_ts_ignore.py
  scripts/rebuild_all_vms_with_services.py
  scripts/standup_report.py
  scripts/vfkit/01_setup_vfkit.py
  scripts/vibecode_menu.py
  scripts/vz/test_postgresql_vm.py
  scripts/vz/valkey_vm_launcher.py
Due: k8s-tests

Auto-commit: snapshot polecat vibecode-109
  scripts/benchmarks/_dogstatsd.py
  scripts/benchmarks/boot_latency_bench.py
  scripts/benchmarks/emit_to_datadog.py
  scripts/benchmarks/firecracker_bench.py
  scripts/benchmarks/vim_hypervisor_bench.py
  scripts/benchmarks/vim_qemu_bench.py
  scripts/build_swift_app.py
  scripts/deploy_vibecode.py
  scripts/docker_tui.py
  scripts/homebrew/setup_all.py
  scripts/launch/launch_unified.py
  scripts/macos-vm/install.py
  scripts/omnios-arm64-automation/full_auto_install.py
  scripts/openindiana/configure_dtrace.py
  scripts/openindiana/install_node24.py
  scripts/openindiana_setup.py
  scripts/real_functionality_tests.py
  scripts/release/package_lima_colima_ide.py
  scripts/testing_tui.py
  scripts/tests/bootstrap/test_claims_validation.py
  scripts/tests/fast_openvscode_handshake.py
  scripts/util/audit_documentation.py
  scripts/util/cleanup_root.py
  scripts/util/fix_cognitive_search_adapter.py
  scripts/util/fix_merge_conflicts.py
  scripts/util/move_md_files.py
  scripts/util/optimize_github_actions.py
  scripts/util/setup_branch_protection.py
  scripts/vfkit/__pycache__/install-grub-alpine.cpython-314.pyc
  scripts/vfkit/__pycache__/manage-efi-boot-entries.cpython-314.pyc
  scripts/vfkit/__pycache__/test-grub-boot.cpython-314.pyc
  scripts/vfkit/create_alpine_rootfs.py
  scripts/vfkit/create_fun_demo_rootfs.py
  scripts/vfkit/create_node24_rootfs.py
  scripts/vibecode-cli/install.py
  scripts/vibecode-cli/validate_config.py
Due: k8s-tests

feat(scripts): convert installation and validation shell scripts to Python
  scripts/tests/test_install_claude_code_cli.py
  scripts/vz/verify_postgresql.py
Due: k8s-tests

Connected /api/ai/upload to S3, built file-to-context pipeline, added upload history UI
  package-lock.json
  package.json
  src/App.tsx
  src/components/MyDropzone.tsx
  src/components/UploadHistory.tsx
  src/lib/upload-file.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

Fix vector adapter build error and lazy OTel init
  src/instrumentation.ts
  src/lib/vector-db/postgres-vector-database-adapter.ts
Due: test-suite, typescript-check, eslint

Fix LLM observability dashboard schema
  infrastructure/monitoring/datadog/dashboards/llm-observability-enhanced.json
Due: none

docs: add tundra dome overview
  .beads/issues.jsonl
  .gitmodules
  docs/tundra-dome.md
Due: none

Add KIND manifests for Tundra Dome
  .beads/issues.jsonl
  infra/tundra-dome/README.md
  infra/tundra-dome/datadog.json
  infra/tundra-dome/tundra-dome.clean.yaml
  infra/tundra-dome/tundra-dome.json
  infra/tundra-dome/tundra-dome.yaml
  infra/tundra-dome/tundra-export.json
Due: none

Make gt-kafka-consumer rig-aware and resilient
  .beads/issues.jsonl
  daemon/kafka-dsm/gt-kafka-consumer.js
Due: test-suite, eslint

Sync bead statuses from rig-aware nudge
  .beads/issues.jsonl
Due: none

Merge td rig-aware nudge work into main
  .beads/interactions.jsonl
  .beads/issues.jsonl
  daemon/kafka-dsm/gt-kafka-consumer.js
Due: test-suite, eslint

docs: expand tundra dome services
  .beads/issues.jsonl
  docs/tundra-dome.md
Due: none

Update tundra-dome skill with KIND deploy steps
  .beads/issues.jsonl
  skills/tundra-dome/SKILL.md
Due: none

beads: add handoff tasks
  .beads/issues.jsonl
  .gitignore
  AGENTS.md
Due: none

feat: Add Datadog CI Visibility integration for test tracking
  .beads/issues.jsonl
  .github/workflows/ci.yml
  daemon/activity.json
Due: none

feat: Add enhanced LLM observability dashboard for Datadog
  monitoring/datadog/dashboards/llm-observability-enhanced.json
Due: none

fix: clean LLM observability dashboard JSON (mm-hmj5)
  .beads/issues.jsonl
  monitoring/datadog/dashboards/llm-observability-enhanced.json
Due: none

chore: sync beads (hq-aevnn)
  .beads/export-state/264978c6d0dbe02a.json
  .beads/issues.jsonl
Due: none

Fix LLM observability dashboard schema
  .beads/issues.jsonl
  monitoring/datadog/dashboards/llm-observability-enhanced.json
Due: none

chore: sync beads
  .beads/issues.jsonl
Due: none

fix(workspace-rag): support useLocalMLX config
  docs/archive/wiki/OPENVSCODE_POSTGRES_SETUP.md
  docs/src/content/docs/docker-database/openvscode-postgres-setup.md
  docs/src/content/docs/docker-database/random-password-complete.md
  extensions/workspace-rag/README.md
  extensions/workspace-rag/package.json
  extensions/workspace-rag/src/mlxEmbeddingService.ts
Due: test-suite, typescript-check, eslint

feat: add vibecode-vm skill and improve VM menu CLI
  .claude/skills/vibecode-vm/SKILL.md
  .gitignore
  scripts/vfkit_py/paths.py
  scripts/vibecode_vm_menu.py
Due: k8s-tests

Add build-unified-services-with-datadog wrapper
  .beads/issues.jsonl
  azure/build-unified-services-with-datadog.sh
Due: none

Update beads status for hq-2fowt
  .beads/issues.jsonl
Due: none

Update beads state
  .beads/issues.jsonl
Due: none

docs: add role KPI tiles audit for Gas Town dashboard
  docs/audits/role-kpi-tiles-audit-8w4-sdr-bbp.md
Due: none

Add polecat command consumer and mirror dispatcher events
  daemon/kafka-dsm/github-issue-dispatcher.js
  daemon/kafka-dsm/polecat-command-consumer.env
  daemon/kafka-dsm/polecat-command-consumer.js
  daemon/kafka-dsm/polecat-command-consumer.sh
Due: test-suite, eslint

docs: add role KPI tiles audit for Gas Town dashboard (#1795)
  docs/audits/role-kpi-tiles-audit-8w4-sdr-bbp.md
Due: none

fix: resolve merge conflicts in Python scripts
  .beads/issues.jsonl
  scripts/__init__.py
  scripts/lib/bootstrap.py
  scripts/security/__init__.py
  scripts/tests/bootstrap/test_bootstrap_dry_run.py
  scripts/tests/datadog/test_datadog_logging.py
  scripts/verify-trace-search-batch.py
  scripts/verify-trace-search.py
  scripts/vfkit_py/valkey_tester.py
  scripts/vfkit_py/vm_manager.py
Due: k8s-tests

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
