Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

chore: clean up backup files, empty directories, and add audit report
  .gitmodules
  CLEANUP_AUDIT_REPORT.md
  TODO.md.backup
  db_backup_20251103_095041/state.vscdb
  db_backup_20251103_095041/state.vscdb-shm
  db_backup_20251103_095041/state.vscdb-wal
  db_backup_20251103_095041/state.vscdb.backup
  docker-compose.multiarch.yml.conflict-backup-1760252202
  docker-compose.yml.conflict-backup-1760252204
  docker/Dockerfile.backup
  docs/package-lock.json.conflict-backup-1760252203
  docs/package.json.conflict-backup-1760252203
  eslint.config.mjs.backup
  fix-merge-conflicts.sh.backup
  health-route-test.salvage.ts
  jest.config.mjs.backup
  jest.config.mjs.from-merge
  k8s/kind-test-config.yaml.conflict-backup-1760252202
  resolve-conflicts.sh.backup
  resolve-source-conflicts.sh.backup
  run_now.command
  scripts/deploy-kind-postgres-monitoring.sh.backup-1760252801
  scripts/fix-merge-conflicts-better.sh.backup-1760252802
  scripts/fix-merge-conflicts.sh.backup-1760252801
  scripts/resolve-conflicts.sh.backup
  scripts/resolve-source-conflicts.sh.backup
  scripts/setup-backup-strategy.sh.bak.1759079306
  scripts/setup-postgres-datadog-monitoring.sh.backup-1760252802
  tsconfig.json.conflict-backup-1760252204
  web-dashboard/package.json.conflict-backup-1760252204
Due: test-suite, k8s-tests, typescript-check, eslint

fix(ci): improve secret scanning to avoid false positives
  .github/workflows/ci-simplified.yml
Due: none

fix: wire EnhancedVectorDatabaseAdapter in VectorDatabaseFactory (#842)
  src/lib/vector-db/vector-database-factory.ts
Due: test-suite, typescript-check, eslint

fix(rag): optimize vector search by computing distance once via CTE (#843)
  src/lib/rag/vector-store.ts
Due: test-suite, typescript-check, eslint

fix(tests): enhance global fetch mock to return proper API response structures
  jest.config.js
  tests/integration/datadog-metrics-retrieval.test.ts
  tests/integration/litellm-integration.test.ts
  tests/jest.setup.js
Due: test-suite, typescript-check, eslint

fix(tests): enhance global fetch mock to return proper API response structures (#848)
  jest.config.js
  tests/integration/datadog-metrics-retrieval.test.ts
  tests/integration/litellm-integration.test.ts
  tests/jest.setup.js
Due: test-suite, typescript-check, eslint

fix(ci): improve secret scanning to avoid false positives (#847)
  .github/workflows/ci-simplified.yml
Due: none

chore: clean up backup files, empty directories, and add audit report (#846)
  .gitmodules
  CLEANUP_AUDIT_REPORT.md
  TODO.md.backup
  db_backup_20251103_095041/state.vscdb
  db_backup_20251103_095041/state.vscdb-shm
  db_backup_20251103_095041/state.vscdb-wal
  db_backup_20251103_095041/state.vscdb.backup
  docker-compose.multiarch.yml.conflict-backup-1760252202
  docker-compose.yml.conflict-backup-1760252204
  docker/Dockerfile.backup
  docs/package-lock.json.conflict-backup-1760252203
  docs/package.json.conflict-backup-1760252203
  eslint.config.mjs.backup
  fix-merge-conflicts.sh.backup
  health-route-test.salvage.ts
  jest.config.mjs.backup
  jest.config.mjs.from-merge
  k8s/kind-test-config.yaml.conflict-backup-1760252202
  resolve-conflicts.sh.backup
  resolve-source-conflicts.sh.backup
  run_now.command
  scripts/deploy-kind-postgres-monitoring.sh.backup-1760252801
  scripts/fix-merge-conflicts-better.sh.backup-1760252802
  scripts/fix-merge-conflicts.sh.backup-1760252801
  scripts/resolve-conflicts.sh.backup
  scripts/resolve-source-conflicts.sh.backup
  scripts/setup-backup-strategy.sh.bak.1759079306
  scripts/setup-postgres-datadog-monitoring.sh.backup-1760252802
  tsconfig.json.conflict-backup-1760252204
  web-dashboard/package.json.conflict-backup-1760252204
Due: test-suite, k8s-tests, typescript-check, eslint

docs: add bundle size optimization analysis report
  docs/BUNDLE_SIZE_ANALYSIS.md
Due: none

fix(security): remove plaintext passwords and implement secure hashing (st-4kc)
  .env.local.example
  SECURITY-FIX-COMPLETE.md
  SECURITY-FIX-ST-4KC.md
  docs/src/content/docs/dev-credentials.md
  scripts/generate-password-hashes.ts
  src/lib/auth.ts
  tests/__mocks__/@/lib/auth.ts
  tests/e2e/auth/legacy-credentials.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

security: remove exposed OpenRouter API key and hardcoded credentials
  services/ai-gateway/.env.example
  services/ai-gateway/src/__tests__/openrouter-e2e.int.test.ts
  src/lib/auth.ts
  tests/__mocks__/@/lib/auth.ts
  tests/e2e/auth/legacy-credentials.test.ts
Due: test-suite, typescript-check, eslint

feat: add error boundaries to monitoring and generative-ui routes
  src/app/generative-ui/layout.tsx
  src/app/monitoring/layout.tsx
Due: test-suite, typescript-check, eslint

fix(ci): resolve security-scan.yml workflow failures (#849)
  .beads/interactions.jsonl
  .beads/metadata.json
  .github/workflows/ci.yml
  .github/workflows/pr-test.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
Due: none

fix(security): remove plaintext passwords and implement secure hashing (st-4kc) (#850)
  .env.local.example
  SECURITY-FIX-COMPLETE.md
  SECURITY-FIX-ST-4KC.md
  docs/src/content/docs/dev-credentials.md
  scripts/generate-password-hashes.ts
  src/lib/auth.ts
  tests/__mocks__/@/lib/auth.ts
  tests/e2e/auth/legacy-credentials.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

fix(websocket): add exponential backoff reconnection and heartbeat to streaming client
  src/lib/streaming/websocket-streaming-client.ts
Due: test-suite, typescript-check, eslint

chore: remove .beads metadata tracking
  .beads/interactions.jsonl
  .beads/metadata.json
Due: none

feat(st-981): implement Web Coding GUI with Datadog LLM observability
  docs/architecture/WEBGUI-AI-DATADOG-AZURE-STACK.md
  services/ai-gateway/.env.example
  tests/e2e/webgui-ai-datadog-azure.test.ts
Due: test-suite, typescript-check, eslint

chore: remove .beads tracking files
  .beads/interactions.jsonl
  .beads/metadata.json
Due: none

Add API response caching
  services/ai-gateway/src/middleware/response-cache.ts
  services/ai-gateway/src/routes/ai-routes.ts
  services/ai-gateway/src/services/response-cache.ts
Due: test-suite, typescript-check, eslint

fix(tests): improve Node 20 compatibility for test mocks
  tests/integration/agents/agents-api.test.ts
  tests/jest.setup.js
Due: test-suite, typescript-check, eslint

docs: add comprehensive API endpoint documentation
  .beads/interactions.jsonl
  .beads/metadata.json
  API_ENDPOINTS.md
Due: none

chore: complete console.log scan task (st-c8w)
  .beads/interactions.jsonl
  .beads/metadata.json
Due: none

fix: npm audit auto-fix
  content/wiki/WEBGUI_AUDIT_AND_OBSERVABILITY_PLAN.md
Due: none

Implement token bucket API rate limiting
  src/app/api/ai/chat/route.ts
  src/app/api/files/route.ts
  src/lib/rate-limiting.ts
  tests/unit/lib/rate-limiting.test.ts
Due: test-suite, typescript-check, eslint

fix(security): remove hardcoded credentials from Docker and VM configs (#852)
  .env.example
  ansible/playbooks/build-initramfs-static.yml
  docker-compose.code-server.yml
  docker-compose.dev.yml
  docker-compose.litellm.yml
  docker-compose.multiarch.yml
  docker-compose.pgvector.yml
  docker-compose.test.yml
  docker-compose.yml
  docker/authelia/configuration.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.pgvector.yml
  docker/docker-compose.test.yml
  tests/docker-compose.test.yml
Due: none

fix(tests): improve Node 20 compatibility for test mocks (#853)
  tests/integration/agents/agents-api.test.ts
  tests/jest.setup.js
Due: test-suite, typescript-check, eslint

Add request logging middleware
  services/ai-gateway/src/app.ts
  services/ai-gateway/src/middleware/request-logging.ts
Due: test-suite, typescript-check, eslint

Add request logging middleware (#863)
  services/ai-gateway/src/app.ts
  services/ai-gateway/src/middleware/request-logging.ts
Due: test-suite, typescript-check, eslint

fix(websocket): add exponential backoff reconnection and heartbeat to streaming client (#862)
  src/lib/streaming/websocket-streaming-client.ts
Due: test-suite, typescript-check, eslint

Polecat/amber/st lw2@mkm8xc8u (#861)
  src/app/generative-ui/layout.tsx
  src/app/monitoring/layout.tsx
Due: test-suite, typescript-check, eslint

Fix/ci secret scan false positive (#860)
  docs/BUNDLE_SIZE_ANALYSIS.md
Due: none

Add API response caching (#858)
  services/ai-gateway/src/middleware/response-cache.ts
  services/ai-gateway/src/routes/ai-routes.ts
  services/ai-gateway/src/services/response-cache.ts
Due: test-suite, typescript-check, eslint

fix: npm audit auto-fix (#855)
  content/wiki/WEBGUI_AUDIT_AND_OBSERVABILITY_PLAN.md
Due: none

Add trigram indexes for chat and RAG search
  prisma/migrations/20260120090000_text_search_indexes/migration.sql
  reports/database/query-audit-20260120.md
  scripts/profile-chat-data.js
  scripts/seed-rag-chunks.js
Due: test-suite, k8s-tests, eslint

st-m5m: improve request timeout handling
  src/app/api/code-completion/route.ts
  src/lib/utils/fetch.ts
  tests/unit/lib/utils/fetch.test.ts
Due: test-suite, typescript-check, eslint

docs: add comprehensive API endpoint documentation (#859)
  API_ENDPOINTS.md
Due: none

Add trigram indexes for chat and RAG search (#864)
  prisma/migrations/20260120090000_text_search_indexes/migration.sql
  reports/database/query-audit-20260120.md
  scripts/profile-chat-data.js
  scripts/seed-rag-chunks.js
Due: test-suite, k8s-tests, eslint

st-m5m: improve request timeout handling (#865)
  src/app/api/code-completion/route.ts
  src/lib/utils/fetch.ts
  tests/unit/lib/utils/fetch.test.ts
Due: test-suite, typescript-check, eslint

fix(server): add graceful shutdown handling (st-706)
  server/__tests__/graceful-shutdown.test.js
  server/graceful-shutdown.js
  server/index.js
Due: test-suite, eslint
