Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

auto-claude: 078-consolidate-opentelemetry-packages-and-enable-tree (#2062)
  .auto-claude-status
  .auto-claude/specs/078-consolidate-opentelemetry-packages-and-enable-tree/BUNDLE_ANALYSIS.md
  .auto-claude/specs/078-consolidate-opentelemetry-packages-and-enable-tree/FINAL_RESULTS.md
  .auto-claude/specs/078-consolidate-opentelemetry-packages-and-enable-tree/build-progress.txt
  .auto-claude/specs/078-consolidate-opentelemetry-packages-and-enable-tree/implementation_plan.json
  .claude_settings.json
  OBSERVABILITY.md
  docs/feature-audit/feature-1450-opentelemetry.md
  next.config.mjs
  node_modules/.package-lock.json
  package-lock.json
  package.json
  scripts/verify-otel-config.ts
  scripts/verify-otel-health.ts
  scripts/verify-otel-metrics.ts
  src/app/api/health/db/route.ts
  src/app/api/monitoring/otel-config/route.ts
  src/app/api/monitoring/traces/route.ts
  src/instrument.ts
  src/lib/monitoring/opentelemetry-config.ts
  src/lib/monitoring/opentelemetry-setup.ts
  src/lib/monitoring/trace-context.ts
  src/stubs/opentelemetry-instrumentation-express.js
  src/stubs/opentelemetry-instrumentation-http.js
  tests/integration/opentelemetry-fullstack.test.ts
  tests/integration/trace-propagation.test.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

Establish TypeScript strict mode and ESLint configuration (#2056)
  .auto-claude-status
  .claude_settings.json
  .eslintrc.production.cjs
  .eslintrc.temp.js
  .github/workflows/ci.yml
  config/eslint/eslint.base.mjs
  config/typescript/tsconfig.base.json
  docs/TYPESCRIPT_ESLINT_STANDARDS.md
  eslint.config.mjs
  node_modules/.package-lock.json
  platforms/web-dashboard/eslint.config.js
  platforms/web-dashboard/tsconfig.json
  src/app/api/ai/conversations/[workspaceId]/route.ts
  src/app/api/ai/huggingface-chat/route.ts
  src/app/api/ai/litellm/route.ts
  src/lib/database/agentapi-queries.ts
  src/lib/datadog-llm.ts
  src/lib/prisma.ts
  tsconfig.json
Due: test-suite, typescript-check, eslint

Testing Infrastructure Setup - Coverage Enhancement (#2054)
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  src/lib/auth.ts
  tests/unit/app/api/auth/mfa/verify/route.test.ts
  tests/unit/app/api/vector-store/route.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Run security scan to verify no hardcoded tokens
  scripts/security/scan.py
Due: k8s-tests

auto-claude: subtask-3-1 - Add .auto-claude/README.md documenting secrets man
  .auto-claude/README.md
Due: none

auto-claude: subtask-1-3 - Update .gitignore to explicitly exclude .auto-clau
  .gitignore
Due: none

auto-claude: subtask-1-2 - Create .auto-claude/.env.example template with placeholder
  .auto-claude/.env.example
Due: none

fix: make Python file validation conditional in CI workflow
  .github/workflows/tundra-deploy.yaml
Due: none

fix: support multi-document YAML validation in CI
  .github/workflows/tundra-deploy.yaml
Due: none

auto-claude: subtask-1-1 - Install @tanstack/react-virtual package and verify
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

auto-claude: subtask-3-1 - Refactor CommitHistoryViewer to use useVirtualList
  src/components/github/CommitHistoryViewer.tsx
Due: test-suite, typescript-check, eslint

fix: add missing data-index attribute to CommitHistoryViewer virtual items (qa-requested)
  src/components/github/CommitHistoryViewer.tsx
Due: test-suite, typescript-check, eslint

fix: reattach virtual grid observer and stabilize console audit tests
  tests/feature-audit/issue-1527.test.ts
Due: test-suite, typescript-check, eslint

chore: clean rebase conflict artifacts in package manifests
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

chore(security): remove hardcoded GitHub token from auto-claude env setup (#2072)
  .auto-claude/.env.example
  .auto-claude/README.md
  .gitignore
  scripts/security/scan.py
Due: k8s-tests

fix(ci): improve workflow YAML handling and Python validation guard (#2073)
  .github/workflows/tundra-deploy.yaml
Due: none

fix: stabilize interactive console feature-audit test (#2074)
  tests/feature-audit/issue-1527.test.ts
Due: test-suite, typescript-check, eslint

test(chat): align ChatInterface selectors with current DOM hooks
  src/components/ai/ChatInterface.tsx
  tests/components/ai/ChatInterface.test.tsx
Due: test-suite, typescript-check, eslint

feat(skills): install top 10 vetted trusted skills from 4 sources
  .claude/skills/code-review/SKILL.md
  .claude/skills/code-simplifier/SKILL.md
  .claude/skills/create-pr/SKILL.md
  .claude/skills/differential-review/SKILL.md
  .claude/skills/differential-review/adversarial.md
  .claude/skills/differential-review/methodology.md
  .claude/skills/differential-review/patterns.md
  .claude/skills/differential-review/reporting.md
  .claude/skills/mcp-builder/SKILL.md
  .claude/skills/mcp-builder/reference/evaluation.md
  .claude/skills/mcp-builder/reference/mcp_best_practices.md
  .claude/skills/mcp-builder/reference/node_mcp_server.md
  .claude/skills/mcp-builder/reference/python_mcp_server.md
  .claude/skills/mcp-builder/scripts/connections.py
  .claude/skills/mcp-builder/scripts/evaluation.py
  .claude/skills/mcp-builder/scripts/example_evaluation.xml
  .claude/skills/mcp-builder/scripts/requirements.txt
  .claude/skills/semgrep/SKILL.md
  .claude/skills/semgrep/references/rulesets.md
  .claude/skills/semgrep/references/scanner-task-prompt.md
  .claude/skills/semgrep/references/triage-task-prompt.md
  .claude/skills/semgrep/scripts/merge_triaged_sarif.py
  .claude/skills/skill-creator/SKILL.md
  .claude/skills/skill-creator/references/output-patterns.md
  .claude/skills/skill-creator/references/workflows.md
  .claude/skills/skill-creator/scripts/init_skill.py
  .claude/skills/skill-creator/scripts/package_skill.py
  .claude/skills/skill-creator/scripts/quick_validate.py
  .claude/skills/systematic-debugging/SKILL.md
  .claude/skills/systematic-debugging/condition-based-waiting-example.ts
  .claude/skills/systematic-debugging/condition-based-waiting.md
  .claude/skills/systematic-debugging/defense-in-depth.md
  .claude/skills/systematic-debugging/find-polluter.sh
  .claude/skills/systematic-debugging/root-cause-tracing.md
  .claude/skills/verification-before-completion/SKILL.md
  .claude/skills/webapp-testing/SKILL.md
  .claude/skills/webapp-testing/examples/console_logging.py
  .claude/skills/webapp-testing/examples/element_discovery.py
  .claude/skills/webapp-testing/examples/static_html_automation.py
  .claude/skills/webapp-testing/scripts/with_server.py
Due: test-suite, typescript-check, eslint

docs: add comprehensive security audit report
  .claude/settings.json
  SECURITY-AUDIT.md
Due: none

fix(security): add SSRF protection and Content-Security-Policy headers
  SECURITY-AUDIT.md
  src/lib/workflow/engine.ts
  src/middleware.ts
  src/middleware/security-middleware.ts
  tests/unit/middleware/security-middleware.test.ts
Due: test-suite, typescript-check, eslint

fix(security): replace exec with execFile in Goose migration (C6)
  src/app/api/workspace/[id]/init-goose/route.ts
  src/lib/api/validation/schemas.ts
Due: test-suite, typescript-check, eslint

fix(security): remediate H2 hardcoded password, H4 shell=True, H9 calculator injection
  config/vfkit/postgresql-pgvector-vm.yaml
  security_updates.py
  src/lib/agent-framework/tools/index.ts
Due: test-suite, typescript-check, eslint

fix(security): add Gradio code validation (C2) and SQL injection prevention (H3)
  src/app/api/gradio/run/route.ts
  src/lib/ai/vector-stores/pgvector-client.ts
Due: test-suite, typescript-check, eslint

fix(security): add resource limits for WebSocket, PTY, and rate limiter (H6)
  src/app/api/files/sync/route.ts
  src/app/api/terminal/session/route.ts
  src/lib/rate-limiting.ts
Due: test-suite, typescript-check, eslint

docs: update SECURITY-AUDIT.md — all critical and high findings remediated
  SECURITY-AUDIT.md
Due: none

fix(security): remediate all medium and low audit findings (M1-M7, L2-L5)
  SECURITY-AUDIT.md
  daemon/gitea-kafka-bridge/.gitignore
  daemon/gitea-kafka-bridge/gitea-kafka-bridge.env
  daemon/gitea-kafka-bridge/gitea-kafka-bridge.env.example
  daemon/kafka-dsm/bd-kafka-producer.env
  daemon/kafka-dsm/bd-kafka-producer.env.example
  daemon/kafka-dsm/github-issue-dispatcher.env.example
  daemon/kafka-dsm/gt-kafka-consumer.env
  daemon/kafka-dsm/gt-kafka-consumer.env.example
  daemon/kafka-dsm/gt-kafka-emitter.env.example
  daemon/kafka-dsm/kafka-dsm-consumer.env.example
  daemon/kafka-dsm/kafka-dsm-producer.env.example
  daemon/kafka-dsm/polecat-command-consumer.env.example
  daemon/kafka-dsm/td-event-emitter.env.example
  daemon/kafka-dsm/td-sling.env.example
  daemon/kafka-dsm/tundra-observer.env.example
  src/app/api/upload/route.ts
  src/components/deployment/OneClickDeploy.tsx
  src/lib/logger.ts
  src/lib/vm/providers/qemu.ts
  src/lib/workflow/engine.ts
  src/middleware.ts
  src/middleware/security-middleware.ts
  tests/security/monitoring-security.test.ts
  tests/security/penetration-testing.test.ts
  tests/security/test_security_scripts.py
  tests/unit/middleware/security-middleware.test.ts
  vibecode
Due: test-suite, typescript-check, eslint

Update 7 dependencies from open Dependabot PRs (safe minor/patch only)
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

Remove node_modules/.package-lock.json from git tracking
  node_modules/.package-lock.json
Due: none

Consolidate remaining Dependabot updates across 5 ecosystems
  .claude/skills/datadog-operations/datadog-skill-go/go.mod
  .claude/skills/datadog-operations/datadog-skill-go/go.sum
  config/alternatives/requirements-dev.txt
  config/templates/python/basic-gradio-app/requirements.txt
  config/templates/python/semantic-kernel-rag-app/requirements.txt
  config/templates/python/zenml-basic-pipeline/requirements.txt
  dd-skill-test/datadog-skill-go/go.mod
  dd-skill-test/datadog-skill-go/go.sum
  docs/package-lock.json
  docs/package.json
  docs/requirements/requirements-dev.txt
  examples/pydantic-ai-cli-agent/requirements.txt
  examples/python/requirements.txt
  extensions/workspace-rag/package-lock.json
  infrastructure/packer/provisioner/vfkit/go.mod
  infrastructure/packer/provisioner/vfkit/go.sum
  infrastructure/services/ai-gateway/package-lock.json
  infrastructure/services/webhook-service/package-lock.json
  packages/vibecode-cli/package-lock.json
  platforms/docker/docker/agentapi/requirements-skywalking.txt
  platforms/docker/docker/agentapi/requirements.txt
  platforms/docker/docker/agents/requirements.txt
  platforms/tauri/Cargo.lock
Due: none

Fix security bugs, broken pre-commit, and consolidate remaining PRs
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  .github/workflows/pr-gates.yml
  .gitignore
  .husky/pre-commit
  delete-stale-branches.sh
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/health/monitoring/route.ts
  src/app/api/health/unified/route.ts
  src/app/api/workspaces/[id]/clone/route.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

Add i18n infrastructure with French and Japanese translations
  messages/en.json
  messages/fr.json
  messages/ja.json
  next.config.mjs
  package-lock.json
  package.json
  src/app/api/locale/route.ts
  src/app/layout.tsx
  src/app/page.tsx
  src/components/LocaleSwitcher.tsx
  src/i18n/config.ts
  src/i18n/request.ts
  src/middleware.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

Security fixes, stub removal, i18n wiring, and build fixes
  .github/workflows/auto-claude-pr-maintenance.yml
  package-lock.json
  package.json
  src/app/agent-builder/page.tsx
  src/app/ai/agents/page.tsx
  src/app/ai/costs/page.tsx
  src/app/ai/models/page.tsx
  src/app/ai/page.tsx
  src/app/ai/prompts/page.tsx
  src/app/api/health/kubernetes/route.ts
  src/app/api/health/monitoring/route.ts
  src/app/api/plugins/install/route.ts
  src/app/api/setup/ai-keys/route.ts
  src/app/api/setup/database/route.ts
  src/app/api/setup/docker/route.ts
  src/app/api/setup/kubernetes/route.ts
  src/app/api/setup/status/route.ts
  src/app/api/terminal/ws/route.ts
  src/app/api/vm/instances/[id]/clone/route.ts
  src/app/api/vm/instances/[id]/route.ts
  src/app/api/vm/instances/route.ts
  src/app/chat/page.tsx
  src/app/error.tsx
  src/app/not-found.tsx
  src/app/page.tsx
  src/app/settings/page.tsx
  src/app/workspaces/page.tsx
  src/components/auth/SimpleSignInForm.tsx
  src/components/command-palette/CommandPalette.tsx
  src/components/navigation/AppNavigation.tsx
  src/components/onboarding/OnboardingDrawer.tsx
  src/components/status-bar/UnifiedStatusBar.tsx
  src/lib/vm/pool/vm-pool-manager.ts
  src/types/multi-vm.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

Wire i18n into remaining components (agents, workspace, command palette)
  src/app/ai/agents/page.tsx
  src/app/workspace/[id]/page.tsx
  src/components/command-palette/CommandPalette.tsx
Due: test-suite, typescript-check, eslint
