Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

chore(ci): improve logging for multi-arch docker builds
  .github/workflows/docker-multiarch.yml
Due: none

fix(ci): update node version to 20.18.1 to fix workflow failures
  .github/workflows/ci.yml
Due: none

fix(deploy): align npm install flags with ci workflow
  scripts/production-deploy.sh
Due: k8s-tests

fix(ci): correct base commit for trufflehog secret scanning
  .github/workflows/secret-scanning.yml
Due: none

fix(ci): pin versions for trivy and snyk actions
  .github/workflows/gitops-deployment.yml
Due: none

fix(ci): add legacy-peer-deps flag and pin lychee-action version
  .github/workflows/docs-automation.yml
Due: none

feat: Add sequential thinking MCP server integration
  .github/workflows/docker-multiarch.yml
  docker/mcp-servers/Dockerfile
  docker/mcp-servers/package.json
  docker/mcp-servers/scripts/start-with-model-runner.sh
  docker/mcp-servers/servers/sequential_thinking/server.js
Due: test-suite, eslint

fix: improve workflow reliability and fix dependencies
  .github/workflows/ci.yml
  .github/workflows/docker-multiarch.yml
  .github/workflows/docs-automation.yml
  .github/workflows/docs-ci-cd.yml
  .github/workflows/gitops-deployment.yml
  .github/workflows/k8s-deploy.yml
  .github/workflows/production-deployment.yml
  .github/workflows/synthetic-test.yml
  GITHUB_ACTIONS_SECRETS.md
  docker/code-server/Dockerfile
  docker/development/Dockerfile
  package.json
Due: license-check, vulnerability-scan

fix: Repair GitHub Actions workflow files
  .github/workflows/docs-automation.yml
  .github/workflows/gitops-deployment.yml
Due: none

docs: Update Docker Model Runner documentation with sequential thinking MCP server
  docs/src/content/docs/docker-model-runner.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
