Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

fix: Address QA issues (qa-requested)
  src/components/ai/CostAlertToast.tsx
  tests/e2e/alert-trigger-and-notification.spec.ts
  tests/e2e/cost-estimation-chat-flow.spec.ts
  tests/e2e/settings-update-flow.spec.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-1 - End-to-end test: Agent file deletion with approval
  tests/e2e/agent-approval-workflow.spec.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-3 - End-to-end test: Rollback approved operation
  tests/e2e/agent-approval-workflow.spec.ts
Due: test-suite, typescript-check, eslint

fix: Add missing data-testid attributes for E2E tests (qa-requested)
  src/components/ai/ChatInterface.tsx
  src/components/ai/CostAlertToast.tsx
  src/components/ai/CostDashboard.tsx
  src/components/ai/CostEstimator.tsx
  src/components/ai/CostSettingsPanel.tsx
Due: test-suite, typescript-check, eslint

docs(review): checklist for auto-claude 064 subtask-1-1 (#1963)
  docs/reviews/auto-claude/subtask-1-1-audit-human-review.md
Due: none

docs(review): checklist for auto-claude 064 subtask-5-1 (#1964)
  docs/reviews/auto-claude/subtask-5-1-defaultmode-human-review.md
Due: none

docs(review): checklist for auto-claude 064 subtask-5-3 (#1965)
  docs/reviews/auto-claude/subtask-5-3-docs-human-review.md
Due: none

docs(review): checklist for auto-claude 064 subtask-6-2 (#1966)
  docs/reviews/auto-claude/subtask-6-2-hardening-human-review.md
Due: none

chore: remove auto-generated artifacts from PR
  e2e-test-plugin-1.0.0.vcp
Due: none

chore: remove auto-generated artifacts from PR
  .auto-claude-status
  .claude_settings.json
Due: none

chore: remove auto-generated artifacts from PR
  .auto-claude-status
  .claude_settings.json
  node_modules/.package-lock.json
Due: none

Offline Mode Support - Enhanced Feature Availability & Testing (#1968)
  docs/OFFLINE_MODE.md
  src/app/api/offline/status/route.ts
  src/app/offline-setup/page.tsx
  src/components/FeatureAvailabilityPanel.tsx
  src/components/OfflineIndicator.tsx
  src/components/__tests__/FeatureAvailabilityPanel.test.tsx
  src/lib/offline-features.ts
  tests/e2e/offline-mode.test.ts
  tests/integration/offline-ai-fallback.test.ts
  tests/integration/offline-vector-storage.test.ts
Due: test-suite, typescript-check, eslint

chore: remove local metadata artifacts from PR
  .auto-claude-status
  .claude_settings.json
Due: none

auto-claude: subtask-1-1 - Create model sync service for periodic OpenRouter updates
  src/lib/ai/models/model-sync-service.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create TypeScript import extractor
  src/lib/ai/analysis/__tests__/import-extractor.test.ts
  src/lib/ai/analysis/import-extractor.ts
Due: test-suite, typescript-check, eslint

Environment Isolation & Safety (#1969)
  README.md
  scripts/test-environment-panel-integration.tsx
  scripts/verify-environment-badge-ui.js
  scripts/verify-environment-detection.js
  scripts/verify-environment-settings-panel.js
  scripts/verify-production-approval.js
  src/app/layout.tsx
  src/components/OfflineIndicator.tsx
  src/components/environment/EnvironmentBadge.tsx
  src/components/settings/EnvironmentPermissionsPanel.tsx
  src/components/settings/SettingsPanel.tsx
  src/lib/env-validation.ts
  src/lib/environment/__tests__/detector-integration.test.ts
  src/lib/environment/detector.ts
  src/lib/environment/permissions.ts
  src/lib/environment/types.ts
  src/lib/middleware/__tests__/approval-workflow-integration.test.ts
  src/lib/middleware/environment-guard.ts
  src/lib/settings/settings-manager.ts
  src/types/environment.ts
  src/types/settings.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Large File Performance Optimization (#1970)
  src/lib/editor/diff-optimizer.ts
  src/lib/editor/large-file-optimizer.ts
  src/lib/editor/search-optimizer.ts
  src/lib/editor/virtualized-editor.ts
  src/workers/search.worker.ts
  tests/e2e/large-file-performance.test.ts
  tests/unit/editor/diff-optimizer.test.ts
  tests/unit/editor/search-optimizer.test.ts
  tests/unit/editor/virtualized-editor.test.ts
Due: test-suite, typescript-check, eslint

Human-in-the-Loop Agent Approval (#1984)
  .gitignore
  prisma/migrations/20260222_add_confirmation_models/migration.sql
  prisma/migrations/20260222_add_confirmation_models/rollback.sql
  prisma/prisma.config.ts
  prisma/schema.prisma
  src/app/api/agents/[id]/stop/route.ts
  src/app/api/agents/confirmations/[id]/approve/route.ts
  src/app/api/agents/confirmations/[id]/reject/route.ts
  src/app/api/agents/confirmations/[id]/rollback/route.ts
  src/app/api/agents/confirmations/[id]/route.ts
  src/app/api/agents/confirmations/route.ts
  src/app/test/audit-log/page.tsx
  src/app/test/confirmation-dialog/page.tsx
  src/app/test/diff-viewer/page.tsx
  src/app/test/pending-confirmations/page.tsx
  src/components/agents/AuditLogViewer.tsx
  src/components/agents/ConfirmationDialog.tsx
  src/components/agents/DiffViewer.tsx
  src/components/agents/PendingConfirmations.tsx
  src/components/agents/index.ts
  src/lib/agent-framework/confirmation/service.ts
  src/lib/agent-framework/operations/interceptor.ts
  src/lib/agent-framework/rollback/service.ts
  tests/e2e/agent-approval-workflow.spec.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Integrate sync service into model registry for aut
  src/lib/ai/models/model-registry.ts
Due: test-suite, typescript-check, eslint

Cost Estimation & Alerts Integration (#1985)
  src/app/layout.tsx
  src/components/ai/ChatInterface.tsx
  src/components/ai/CostAlertToast.tsx
  src/components/ai/CostDashboard.tsx
  src/components/ai/CostEstimator.tsx
  src/components/ai/CostSettingsPanel.tsx
  src/components/ai/GlobalCostAlerts.tsx
  src/hooks/useCostAlerts.ts
  src/hooks/useCostTracking.ts
  tests/e2e/alert-trigger-and-notification.spec.ts
  tests/e2e/cost-estimation-chat-flow.spec.ts
  tests/e2e/settings-update-flow.spec.ts
Due: test-suite, typescript-check, eslint

Plugin & Extension Ecosystem (#1967)
  E2E_VERIFICATION_RESULTS.md
  docs/PLUGIN_API.md
  docs/PLUGIN_MARKETPLACE.md
  docs/PLUGIN_SDK.md
  docs/VSCODE_EXTENSIONS.md
  prisma/migrations/20260221000000_add_plugin_repository_models/migration.sql
  prisma/schema.prisma
  scripts/plugins/create-plugin.js
  scripts/plugins/package-plugin.js
  scripts/plugins/templates/ai-model/index.ts
  scripts/plugins/templates/ai-model/plugin.json
  scripts/plugins/templates/integration/index.ts
  scripts/plugins/templates/integration/plugin.json
  scripts/plugins/test-plugin.js
  src/app/api/plugins/install/route.ts
  src/app/api/plugins/marketplace/route.ts
  src/app/api/plugins/publish/route.ts
  src/app/api/vscode/extensions/route.ts
  src/app/plugins/page.tsx
  src/components/plugins/PluginMarketplace.tsx
  src/components/plugins/PluginSearchFilters.tsx
  src/components/plugins/VSCodeExtensionCard.tsx
  src/lib/ide/openvscode-extensions.ts
  src/lib/ide/openvscode.ts
  src/lib/plugins/plugin-repository.ts
  test-plugins/e2e-test-plugin/.gitignore
  test-plugins/e2e-test-plugin/README.md
  test-plugins/e2e-test-plugin/index.ts
  test-plugins/e2e-test-plugin/package.json
  test-plugins/e2e-test-plugin/plugin.json
  test-plugins/e2e-test-plugin/tsconfig.json
Due: test-suite, k8s-tests, typescript-check, eslint

auto-claude: subtask-1-2 - Create type definition extractor
  src/lib/ai/analysis/__tests__/type-extractor.test.ts
  src/lib/ai/analysis/type-extractor.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-3 - Create API endpoint for manual model refresh
  src/app/api/ai/models/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-3 - Create function signature extractor
  .auto-claude-status
  .claude_settings.json
  src/lib/ai/analysis/__tests__/function-extractor.test.ts
  src/lib/ai/analysis/function-extractor.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create hook for detecting model changes and deprec
  src/hooks/useModelChangeDetection.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-4 - Create related code finder
  src/lib/ai/analysis/__tests__/related-code-finder.test.ts
  src/lib/ai/analysis/related-code-finder.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Create ModelChangeNotification component for showing alerts
  src/components/ai/ModelChangeNotification.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-3 - Create ModelStatusBadge component for showing mode
  src/components/ai/ModelStatusBadge.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create naming convention detector
  .auto-claude-status
  src/lib/ai/conventions/__tests__/naming-detector.test.ts
  src/lib/ai/conventions/naming-detector.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-4 - Integrate change detection into useModelSelection
  src/hooks/useModelSelection.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Add ModelStatusBadge to ModelSelector items
  src/components/ai/ModelSelector.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Create pattern detector
  src/lib/ai/conventions/__tests__/pattern-detector.test.ts
  src/lib/ai/conventions/pattern-detector.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Add ModelChangeNotification to Models page
  src/app/ai/models/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Add manual refresh button to Models page
  src/app/ai/models/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-3 - Create project conventions aggregator
  .auto-claude-status
  src/lib/ai/conventions/__tests__/conventions-aggregator.test.ts
  src/lib/ai/conventions/conventions-aggregator.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-4 - Enhance ModelSelector to show pricing changes inline
  src/components/ai/ModelSelector.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create suggestion context builder
  src/lib/ai/__tests__/suggestion-context-builder.test.ts
  src/lib/ai/suggestion-context-builder.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Create context optimizer
  src/lib/ai/__tests__/context-optimizer.test.ts
  src/lib/ai/context-optimizer.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Create suggestion enhancer service
  src/lib/ai/__tests__/suggestion-enhancer.test.ts
  src/lib/ai/suggestion-enhancer.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
