Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

Update README.md
  README.md
Due: none

feat: complete Redis→Valkey migration and performance benchmarking
  .eslintcache
  .pre-commit-cache/README.md.timestamp
  .pre-commit-cache/package-lock.json.timestamp
  .pre-commit-cache/package.json.timestamp
  README.md
  TODO.md
  docker-compose.litellm.yml
  litellm/config.yaml
  litellm/init-litellm-db.sql
  monitoring/datadog/conf.d/litellm.d/conf.yaml
  src/app/api/ai/litellm/route.ts
  src/components/ai/LiteLLMInterface.tsx
  src/lib/ai-clients/litellm-client.ts
Due: test-suite, typescript-check, eslint

docs: Add comprehensive LiteLLM documentation and testing
  docs/LITELLM_INTEGRATION_SUMMARY.md
  litellm/README.md
  scripts/test-litellm-integration.sh
  tests/integration/litellm-integration.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

fix: resolve GitHub security vulnerabilities
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

fix: resolve remaining security vulnerabilities in subdirectories
  extensions/vibecode-ai-assistant/package-lock.json
  services/ai-gateway/package-lock.json
Due: none

docs: document Tailwind CSS v4 migration attempt and rollback
  TAILWIND_V4_MIGRATION_NOTES.md
Due: none

docs: consolidate repository documentation into comprehensive wiki
  README.md
  docs/src/content/docs/consolidated-documentation.md
  docs/src/content/docs/tailwind-v4-migration-notes.md
  docs/src/content/docs/tailwind-v4-success.md
  docs/src/content/docs/wiki-index.md
  docs/src/content/docs/wiki.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
