Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

feat: complete Application Developer Python orchestration - MAJOR SUCCESS
  TODO.md
  scripts/aks-app-deploy.sh
  scripts/app_deploy.py
  scripts/datadog_setup.py
Due: k8s-tests

feat: Configure Datadog Cloud Network Monitoring for GitHub Actions
  TODO.md
Due: none

feat: Agent 9 CNM Testing & Verification
  AGENT_9_CNM_TESTING_REPORT.md
  scripts/test-cnm-integration.sh
Due: k8s-tests

feat: Agent 9 CNM Testing Complete - Handoff Ready
  AGENT_9_HANDOFF_COMPLETE.md
Due: none

feat: Agent 10 External Access Setup Complete
  AGENT_10_HANDOFF_COMPLETE.md
  TODO.md
Due: none

feat: Agent 12 Cleanup Agent Mission Complete
  AGENT_12_CLEANUP_COMPLETE.md
  AGENT_HANDOFF_COMPLETE.md
  TODO.md
  archive/root-md-files/DEVELOPER_GUIDE.md
  charts/vibecode-platform/templates/postgres.yaml
  charts/vibecode-platform/values.yaml
  charts/vibecode/values-aks.yaml
  docs/AGENT_3_HANDOFF.md
  docs/src/content/docs/getting-started.md
  docs/src/content/docs/wiki-archive/development-scripts.md
  docs/src/content/docs/wiki-archive/getting-started.md
  docs/src/content/docs/wiki-archive/onboarding-guide.md
  k8s/postgres-deployment.yaml
  k8s/postgres-simple.yaml
  k8s/rag-app-deployment.yaml
  scripts/auto-update-readme.ts
  scripts/enhance-docs.js
  scripts/integrate-log-aggregation.py
  scripts/lib/log-aggregation-node.js
  scripts/lib/log-aggregation.sh
  scripts/lib/log_aggregation.py
  scripts/verify-datadog-dbm.sh
  src/app/api/healthz/route.ts
  src/app/api/monitoring/security/route.ts
  src/app/api/readyz/route.ts
  src/data/docs-index.json
  src/lib/cache/redis-client.ts
  src/lib/cache/valkey-client.ts
  src/lib/monitoring/service-factory.ts
  src/middleware.ts
  src/middleware.ts.bak
  src/middleware.ts.disabled
  src/middleware/__tests__/middleware.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

docs: add repository guidelines
  AGENTS.md
Due: none

chore(docs): archive agent handoffs into TODO and remove old handoff files
  AGENT_10_HANDOFF_COMPLETE.md
  AGENT_9_HANDOFF_COMPLETE.md
  AGENT_HANDOFF_COMPLETE.md
  docs/AGENT_3_HANDOFF.md
Due: none

chore(security): add TruffleHog exclude filters for build artifacts
  .trufflehog-exclude.txt
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
