Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

chore: improve gastown telemetry and dashboard
  .beads/issues.jsonl
  .gitignore
  dd-skill-test/scripts/query-metrics.sh
  scripts/send_gastown_metrics.py
  scripts/update_datadog_dashboard_v2.py
Due: k8s-tests

fix(security): add fast-xml-parser override to resolve high severity vulnerability (#1771)
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

Add automated issue triage system and complete analysis of 350 open issues (#1773)
  TRIAGE_COMPLETE.md
  docs/TRIAGE_REPORT.md
  docs/TRIAGE_SUMMARY.md
  docs/TRIAGE_TOOLS.md
  docs/triage_labels.csv
  scripts/apply_triage.sh
  scripts/apply_triage_labels.py
  scripts/triage_all_issues.py
  scripts/triage_issues_mcp.py
Due: k8s-tests

docs: add tundra dome commands
  docs/SKILLS.md
Due: none

tundra-dome: fix topic, add bridge, kind doc
  tundra-dome/airflow/dags/tundra_dome_kafka.py
  tundra-dome/daemon/kafka-dsm/gastown-to-tundra-bridge.env.example
  tundra-dome/daemon/kafka-dsm/gastown-to-tundra-bridge.js
  tundra-dome/docs/kind-deployment.md
Due: test-suite, eslint

tundra-dome: ensure kafka topics cover github intake
  tundra-dome/daemon/kafka-dsm/kafka-topics.txt
Due: none

chore: add .beads to gitignore (#1761)
  .gitignore
Due: none

Polecat/rust/hq 004@mko81sej (#1758)
  src/lib/db/connection-pool-config.ts
  src/lib/db/db-connectivity.ts
  src/lib/db/db-pool.ts
  src/lib/db/predictive-scaling.ts
Due: test-suite, typescript-check, eslint

fix(ci): Exclude API routes from Tauri static export
  .github/workflows/tauri-release.yml
  next.config.tauri.js
Due: test-suite, eslint

fix(ci): Clean .next cache before Tauri static export build
  .github/workflows/tauri-release.yml
Due: none

fix(tests): improve Ralph Loop test isolation
  scripts/ralph_loop.py
Due: k8s-tests

feat(monitoring): Add unified Datadog operations dashboard
  config/datadog/vibecode-unified-dashboard.json
Due: none

fix(ci): Build for Apple Silicon only (aarch64)
  .github/workflows/tauri-release.yml
Due: none

feat(workspace-rag): cherry-pick MLX and ddtrace integration
  extensions/workspace-rag/.vscodeignore
  extensions/workspace-rag/media/code-explanation.html
  extensions/workspace-rag/media/cost-dashboard.html
  extensions/workspace-rag/src/codeExplainer.ts
  extensions/workspace-rag/src/commandHandlers.ts
  extensions/workspace-rag/src/complexityAnalyzer.ts
  extensions/workspace-rag/src/extension.ts
  extensions/workspace-rag/src/logger.ts
  extensions/workspace-rag/src/mlxEmbeddingService.ts
  extensions/workspace-rag/src/pgvectorClient.ts
  extensions/workspace-rag/src/ragService.ts
  extensions/workspace-rag/src/textSplitter.ts
  extensions/workspace-rag/src/tokenTracker.ts
  extensions/workspace-rag/src/tracing/index.ts
  extensions/workspace-rag/src/utils.ts
  extensions/workspace-rag/src/workspaceIndexer.ts
  extensions/workspace-rag/tsconfig.json
Due: test-suite, typescript-check, eslint

fix(ci): Make test scripts CI-aware and handle missing scripts
  .github/workflows/vibecode-tests.yml
  scripts/functional-tests.sh
  scripts/regression-tests.sh
Due: k8s-tests

fix(ci): Skip code signing by default for manual runs
  .github/workflows/tauri-release.yml
Due: none

fix(ci): Remove exportPathMap incompatible with App Router
  next.config.tauri.js
Due: test-suite, eslint

feat(ci): coalesce GitHub issue work - audit and fixes
  docs/reports/WORKSPACE_RAG_BRANCH_AUDIT.md
  platforms/azure/azure/SwiftUI-Apps/validate-issue-790-fix.sh
  scripts/benchmarks/applevf-vfkit-launcher.sh
Due: k8s-tests

fix(ci): Exclude dynamic routes from Tauri static export
  .github/workflows/tauri-release.yml
Due: none

fix(ci): Correct VibeCodeSwift path in regression-tests.sh
  scripts/regression-tests.sh
Due: k8s-tests

fix(ci): Move API routes outside src/app for Tauri build
  .github/workflows/tauri-release.yml
Due: none

fix(ci): Update macOS runner from retired macos-13 to macos-latest
  .github/workflows/vibecode-tests.yml
Due: none

fix(ci): Handle COMPRESSION_ZSTD availability and flexible launch script check
  platforms/macos/VibeCodeSwift/Sources/Compression/VMCompression.swift
  scripts/regression-tests.sh
Due: k8s-tests

feat(datadog): add enhanced LLM observability dashboard
  CHANGELOG.md
  infrastructure/datadog/dashboards/llm-observability-enhanced.json
Due: none

fix: Remove misplaced errorHandler declaration from postgres-vector-adapter
  src/lib/vector-db/postgres-vector-database-adapter.ts
Due: test-suite, typescript-check, eslint

chore: rescue uncommitted polecat work
  scripts/vfkit/__pycache__/install-grub-alpine.cpython-314.pyc
  scripts/vfkit/__pycache__/manage-efi-boot-entries.cpython-314.pyc
  scripts/vfkit/__pycache__/test-grub-boot.cpython-314.pyc
  scripts/vfkit/__pycache__/validate-grub-installation.cpython-314.pyc
  src/lib/vector-db/vector-db-error-handler.old.ts
  src/lib/vector-db/vector-retry-handler.old.ts
Due: test-suite, k8s-tests, typescript-check, eslint

feat(scripts): add vibecode master CLI and fix postgres_setup
  scripts/postgres_setup.py
  scripts/vibecode_master_cli.py
Due: k8s-tests

feat(scripts): convert cloud shell scripts to Python with tests
  scripts/cloud/aws/start_workspace.py
  scripts/cloud/aws/stop_workspace.py
  scripts/cloud/aws/user_data.py
  scripts/cloud/docker/start_compose.py
  scripts/cloud/docker/stop_compose.py
  scripts/cloud/gcp/start_workspace.py
  scripts/cloud/gcp/stop_workspace.py
  scripts/cloud/kind/test_cloud_chart.py
  tests/unit/scripts/test_cloud_aws_start_workspace.py
  tests/unit/scripts/test_cloud_aws_stop_workspace.py
  tests/unit/scripts/test_cloud_aws_user_data.py
  tests/unit/scripts/test_cloud_docker_start_compose.py
  tests/unit/scripts/test_cloud_docker_stop_compose.py
  tests/unit/scripts/test_cloud_gcp_start_workspace.py
  tests/unit/scripts/test_cloud_gcp_stop_workspace.py
  tests/unit/scripts/test_cloud_kind_test_cloud_chart.py
Due: k8s-tests

feat(scripts): convert setup-secrets, verify-setup, and merge-strategy to Python
  scripts/merge_strategy.py
  scripts/setup_secrets.py
  scripts/verify_setup.py
Due: k8s-tests

feat(scripts): convert component-verification and migrate-vector-error-handling to Python
  scripts/component_verification.py
  scripts/migrate_vector_error_handling.py
Due: k8s-tests

feat(scripts): convert test_gui_vm_build.sh to Python
  scripts/test_gui_vm_build.py
Due: k8s-tests

Auto-commit: snapshot polecat vibecode-114
  .gitignore
Due: none

feat(scripts): add vibecode master CLI and fix postgres_setup (#1787)
  scripts/postgres_setup.py
  scripts/vibecode_master_cli.py
Due: k8s-tests
