Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

fix: remove recreated mock that broke quota tests (AGENT 118)
  tests/__mocks__/@/middleware/quota-middleware.ts
Due: test-suite, typescript-check, eslint

feat: Add ChatInterface component foundation (AGENT 102)
  src/components/ai/ChatInterface.tsx
  src/lib/ai-client.ts
  tests/components/ai/ChatInterface.test.tsx
Due: test-suite, typescript-check, eslint

feat: Add FileUploadInterface component foundation (AGENT 103)
  src/components/ai/FileUploadInterface.tsx
  src/lib/upload-client.ts
  tests/components/ai/FileUploadInterface.test.tsx
Due: test-suite, typescript-check, eslint

feat: add navigation links for chat and upload routes (AGENT 122)
  src/components/ui/navigation.tsx
Due: test-suite, typescript-check, eslint

feat: add error boundaries for chat and upload routes (AGENT 127)
  src/app/chat/page.tsx
  src/app/upload/page.tsx
  src/components/error/ErrorBoundary.tsx
  tests/components/error/ErrorBoundary.test.tsx
Due: test-suite, typescript-check, eslint

feat: add AI chat streaming backend integration (AGENT 124)
  .env.example
  tests/api/chat/stream.test.ts
Due: test-suite, typescript-check, eslint

fix: resolve 4 pre-existing test failures (AGENT 129)
  src/app/api/upload/route.ts
  src/lib/upload-client.ts
  tests/api/upload.test.ts
Due: test-suite, typescript-check, eslint

feat: add chat session persistence (AGENT 128)
  src/components/ai/ChatInterface.tsx
  src/lib/session-manager.ts
  tests/components/ai/ChatInterface.test.tsx
  tests/unit/lib/session-manager.test.ts
Due: test-suite, typescript-check, eslint

test: add E2E tests for chat and upload routes (AGENT 126)
  tests/e2e/chat.spec.ts
  tests/e2e/upload.spec.ts
Due: test-suite, typescript-check, eslint

Notes added by 'git notes add'
  9b20116489ca160fd9f5b57df4176a32b66c17b1
Due: none

ci: add E2E tests to CI/CD pipeline (AGENT 132)
  .github/workflows/e2e.yml
  playwright.config.ts
Due: test-suite, typescript-check, eslint

fix: resolve 8 API chat test mock failures (AGENT 131)
  tests/api/chat/stream.test.ts
Due: test-suite, typescript-check, eslint

fix: add 'use client' directive to FileUploadInterface
  src/components/ai/FileUploadInterface.tsx
Due: test-suite, typescript-check, eslint

feat: Complete Ralph Loop v3.2.0 - All services working with localhost access
  AGENT_25_LOCALHOST_TEST_REPORT.md
  AGENT_26_FINAL_DMG_REPORT.md
  AGENT_27_EXECUTIVE_SUMMARY.md
  RALPH_LOOP_FINAL_COMPLETION_REPORT.md
  RALPH_LOOP_FINAL_VERIFICATION_REPORT.md
  azure/SwiftUI-Apps/Apps/UnifiedServicesVibeCodeApp/UnifiedServicesVMManager.swift
  azure/SwiftUI-Apps/Apps/UnifiedServicesVibeCodeApp/UnifiedServicesVibeCodeApp.swift
  azure/SwiftUI-Apps/Shared/Core/BaseVMManager.swift
  azure/SwiftUI-Apps/Shared/Networking/DHCPLeaseMonitor.swift
  azure/SwiftUI-Apps/docs/releases/RELEASE-NOTES-BasicVibeCode.md
  azure/SwiftUI-Apps/entitlements.plist
  test-results/webkit-safari-comparison.json
  test-results/webkit-safari-comparison.md
Due: none

feat: Complete Unified Services v3.2.0 with enhanced networking and testing
  .gitignore
  azure/SwiftUI-Apps/Apps/UnifiedServicesVibeCodeApp/UnifiedServicesVMManager.swift
  azure/SwiftUI-Apps/README-v3.2.0.md
  azure/SwiftUI-Apps/Shared/Core/BaseVMManager.swift
  azure/SwiftUI-Apps/Shared/Networking/DHCPLeaseMonitor.swift
  azure/SwiftUI-Apps/Shared/Networking/VMPortForwarder.swift
  azure/SwiftUI-Apps/Tests/UnifiedServicesTests.swift
  azure/SwiftUI-Apps/build-unified-menubar.sh
  azure/SwiftUI-Apps/entitlements.plist
  config/vfkit/demo-services.yaml
  scripts/prepare-ssh-infrastructure.sh
Due: k8s-tests

feat: Add Datadog VSCode extension to unified VM
  DATADOG_EXTENSION_ADDED_SUMMARY.md
  DATADOG_EXTENSION_FINAL_REPORT.txt
  QUICK_REFERENCE_DATADOG_EXTENSION.md
Due: none

docs: Add v3.2.1 DMG release information
  DMG_v3.2.1_RELEASE_INFO.md
Due: none

docs: Complete v3.2.1 post-release documentation
  BENCHMARK_COMPARISON_CHARTS.md
  BENCHMARK_COMPLETION_REPORT.txt
  BENCHMARK_DELIVERABLES_INDEX.md
  BENCHMARK_FILES_MANIFEST.txt
  BENCHMARK_QUICK_REFERENCE.txt
  BENCHMARK_SUMMARY_v3.2.1.md
  COMPREHENSIVE_USER_GUIDE_v3.2.1.md
  DMG_v3.2.1_INSTALLATION_TEST_REPORT.md
  GITHUB_RELEASE_v3.2.1.md
  INSTALLATION_GUIDE_v3.2.1.md
  PERFORMANCE_BENCHMARK_v3.2.1.md
  README.md
  README_UPDATE_SUMMARY.md
  RELEASE_SUMMARY_v3.2.1.md
  TEST_VERIFICATION_SUMMARY_v3.2.1.txt
  UPDATE_VERIFICATION.txt
  UPGRADE_GUIDE_v3.2.0_to_v3.2.1.md
  USER_GUIDE_INDEX.md
  benchmark-v3.2.1.sh
  performance-benchmark-v3.2.1.json
  v3.2.1_RELEASE_INDEX.md
Due: none

docs: Add post-release completion summary
  POST_RELEASE_COMPLETION_SUMMARY.md
Due: none

feat(ci/cd): Implement comprehensive CI/CD pipeline with GitHub Actions
  .github/CI_CD_BEST_PRACTICES.md
  .github/CI_CD_DOCUMENTATION_INDEX.md
  .github/CI_CD_IMPLEMENTATION_SUMMARY.md
  .github/CI_CD_TROUBLESHOOTING.md
  .github/QUICK_REFERENCE.md
  .github/WORKFLOW_DEVELOPMENT_GUIDE.md
  .github/WORKFLOW_STATUS.md
  .github/workflows/security-scan.yml
  CI_CD_SETUP.md
  README.md
Due: none

feat: Complete phase 2 with security, CI/CD, contribution, and monitoring
  .github/ISSUE_TEMPLATE/improvement.md
  .github/ISSUE_TEMPLATE/question.md
  .github/PULL_REQUEST_TEMPLATE.md
  COMMUNITY_CONTRIBUTION_INDEX.md
  CONTRIBUTORS_GUIDE.md
  DELIVERABLES_INDEX.txt
  DEVELOPMENT.md
  DOWNLOAD_INSTRUCTIONS_v3.2.1.md
  MONITORING.md
  OBSERVABILITY_IMPLEMENTATION_SUMMARY.md
  OBSERVABILITY_INDEX.md
  PRIVACY.md
  ROADMAP.md
  SECURITY_ANALYSIS_FINAL_REPORT.md
  SECURITY_EXECUTIVE_SUMMARY.md
  SECURITY_FIX_PLAN.md
  SECURITY_REMEDIATION_INDEX.md
  SECURITY_RISK_ASSESSMENT.md
  SECURITY_VULNERABILITY_ANALYSIS.md
  TELEMETRY.md
  dashboards/error-tracking.json
  dashboards/service-health.json
  dashboards/user-analytics.json
  dashboards/vm-performance.json
  docs/DATADOG_INTEGRATION_GUIDE.md
  docs/MONITORING_BEST_PRACTICES.md
  docs/OBSERVABILITY_SETUP.md
  docs/alerts/templates/README.md
  docs/alerts/templates/boot-time-alert.yaml
  docs/alerts/templates/error-rate-alert.yaml
  docs/alerts/templates/service-health-alert.yaml
  security-updates.sh
Due: none

fix: resolve E2E workflow Git submodule traversal failure (AGENT 137)
  .gitmodules
Due: none

fix(ci): add Dockerfile.production and enable standalone output mode
  Dockerfile.production
  next.config.mjs
Due: none

fix(ci): add --legacy-peer-deps flag to npm ci in Dockerfile.production
  Dockerfile.production
Due: none

fix(ci): add Python and build tools for native modules in Dockerfile
  Dockerfile.production
Due: none

fix(ci): copy scripts directory before npm install in Dockerfile
  Dockerfile.production
  next.config.mjs
  src/app/api/auth/csrf/route.ts
  src/app/api/workspaces/route.ts
  src/lib/db/connection-pool-alerts.ts
  tests/unit/app/api/workspaces/route.test.ts
Due: test-suite, typescript-check, eslint

fix(ci): use webpack instead of Turbopack for production builds
  Dockerfile.production
Due: none

fix(ci): generate Prisma client before Next.js build
  Dockerfile.production
Due: none

feat: Add Docker, update OpenVSCode, restore menubar, create CLI tool
  DOCKER_INTEGRATION_INDEX.md
  DOCKER_INTEGRATION_REPORT.md
  DOCKER_TROUBLESHOOTING.md
  DOCKER_USAGE_GUIDE.md
  MENUBAR_TEXT_CHANGES_SUMMARY.txt
  MENUBAR_TEXT_FIX_REPORT.md
  OPENVSCODE_UPDATE_REPORT.md
  OPENVSCODE_VERSION_COMPARISON.md
  VIBECODE_CLI_DEVELOPMENT.md
  VIBECODE_CLI_GUIDE.md
  VIBECODE_CLI_QUICK_REFERENCE.md
  azure/SwiftUI-Apps/Apps/UnifiedServicesVibeCodeApp/UnifiedServicesVibeCodeApp.swift
  azure/SwiftUI-Apps/Shared/Networking/VMPortForwarder.swift
  docker-setup.sh
  install-vibecode-cli.sh
  vibecode
  vibecode-completion.bash
  vibecode-completion.zsh
Due: none

chore: Update issue templates from Agent I
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs: Add Phase 3 completion summary
  PHASE_3_COMPLETION_SUMMARY.md
Due: none

fix: VM boot failure and terminal support (v3.3.0)
  azure/SwiftUI-Apps/POST_BUILD_VERIFICATION_GUIDE.md
  azure/SwiftUI-Apps/QUICK_VERIFICATION_REFERENCE.md
  azure/SwiftUI-Apps/Shared/Core/BaseVMManager.swift
  azure/SwiftUI-Apps/Shared/Networking/NATNetworkStrategy.swift
  azure/SwiftUI-Apps/VERIFICATION_EXAMPLES.sh
  azure/SwiftUI-Apps/post-build-verification.sh
  azure/SwiftUI-Apps/verify-datadog-extension-ssh.sh
  docs/src/content/docs/changelog.md
Due: none

feat: Legal compliance and UX improvements
  azure/SwiftUI-Apps/Apps/UnifiedServicesVibeCodeApp/UnifiedServicesVibeCodeApp.swift
Due: none

docs: Update changelog with terminal colors and legal compliance
  docs/src/content/docs/changelog.md
Due: none

feat: Complete v3.3.0 with 5-service architecture
  docs/src/content/docs/changelog.md
Due: none

feat: Release v4.0.0 with menubar, green console, and Datadog
  ASSUMPTION_VERIFICATION_v3.1.2.md
  FINAL_ASSUMPTIONS_SUMMARY_v3.1.2.md
  GITHUB_CI_ANALYSIS_v3.1.2.md
  INITRAMFS_BUILD_PROCESS_ANALYSIS.md
  KERNEL_AND_PACKAGE_AUDIT_v3.1.2.md
  MACOS_CI_STRATEGY_v3.1.2.md
  SECURITY_ACTION_ITEMS_v3.1.2.md
  SECURITY_REVIEW_SUMMARY_v3.1.2.md
  SECURITY_VULNERABILITIES_PACKAGES_v3.1.2.md
  SESSION_COMPLETE_SUMMARY.md
  V4_FINAL_VERIFICATION_COMPLETE.md
  V4_INITRAMFS_BUILD_REPORT.md
  V4_REQUIREMENTS_VERIFICATION.md
  V4_SECURITY_UPDATES_COMPLETE.md
  V4_SECURITY_UPDATES_FILES_CHANGED.txt
  V4_TEST_RESULTS.md
  VERIFICATION_REPORT_v3.1.2_QUICK_WINS.md
  azure/SwiftUI-Apps/ENHANCED_BUSYBOX_APP_STATUS.md
  config/nodejs/setup.sh
  docs/product.json.template
  next-env.d.ts
  quick_monitor.py
  scripts/vfkit/ARM64_SERVICES_GUIDE.md
  scripts/vfkit/BUILD_FOUR_VMS.sh
  scripts/vfkit/Dockerfile.busybox-node
  scripts/vfkit/build-services-arm64.sh
  scripts/vfkit/build-services-on-host.sh
  scripts/vfkit/compile-valkey-musl.sh
  scripts/vfkit/compile-valkey-uclibc.sh
  scripts/vfkit/create-multi-vm-setup.sh
  scripts/vfkit/create-working-vm.sh
  scripts/vfkit/fast-build-and-test.sh
  scripts/vfkit/launch-nodejs-dev.sh
  scripts/vfkit/run-builds.sh
  scripts/vfkit/setup-alpine-services.sh
Due: test-suite, k8s-tests, typescript-check, eslint

fix: Restore fixed MAC address for stable DHCP IP detection
  CRITICAL_ISSUE_TERMINAL_NOT_TESTED.md
  HONEST_ASSESSMENT_v4.md
  RALPH_LOOP_ITERATION_3_STATUS.md
  RALPH_LOOP_V4_COMPLETION.md
  RALPH_LOOP_V4_TERMINAL_ISSUE_REPORT.md
  V4.1.0_HONEST_RELEASE_NOTES.md
  V4_ACTUAL_VERIFICATION_RESULTS.md
  V4_COMPLETION_HONEST_FINAL.md
  V4_DMG_INSTALLATION_TEST_COMPLETE.md
  azure/SwiftUI-Apps/Apps/UnifiedServicesVibeCodeApp/UnifiedServicesVMManager.swift
  azure/SwiftUI-Apps/Tests/e2e/unified-services.spec.ts
  azure/SwiftUI-Apps/playwright-results.json
  azure/SwiftUI-Apps/playwright-screenshots/01-openvscode-loaded.png
  azure/SwiftUI-Apps/playwright-screenshots/02-editor-interface.png
  azure/SwiftUI-Apps/playwright-screenshots/04-search-panel.png
  azure/SwiftUI-Apps/playwright-screenshots/05-extensions-panel.png
  azure/SwiftUI-Apps/playwright-screenshots/06-settings-menu.png
  azure/SwiftUI-Apps/playwright-screenshots/07-final-state.png
  azure/SwiftUI-Apps/playwright-screenshots/07-terminal-opened.png
  azure/build-unified-services-with-datadog.sh
  playwright-report/index.html
  test-results/.last-run.json
  test-results/playwright-results.json
  test-results/playwright-results.xml
  test-results/unified-services-UnifiedSe-5dff3-on---All-components-working-chromium/test-failed-1.png
  test-results/unified-services-UnifiedSe-6d21b-ontains-Visual-Studio-Code--chromium/test-failed-1.png
  test-results/unified-services-UnifiedSe-d5cfc--is-visible-and-interactive-chromium/test-failed-1.png
Due: test-suite, typescript-check, eslint

fix: Enhanced fetch mock with proper Response object properties
  tests/jest.setup.js
Due: test-suite, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
