Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

auto-claude: subtask-2-3 - Add cache invalidation on provider failures or sta
  src/lib/ai/resilient-ai-client.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-6 - Add troubleshooting and common issues section
  README.md
Due: none

auto-claude: subtask-2-2 - Update next.config.mjs to split Monaco workers int
  next.config.mjs
Due: none

auto-claude: subtask-1-7 - Add community, support, and contribution links
  README.md
Due: none

auto-claude: subtask-2-3 - Integrate worker config into Monaco components
  src/components/editor/AgentMonacoEditor.tsx
  src/components/editor/VisualDiff.tsx
  src/components/editors/monaco.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create unit tests for LLMResponseCache
  tests/unit/lib/cache/llm-response-cache.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-8 - Highlight AI capabilities and model support
  README.md
Due: none

auto-claude: subtask-3-1 - Verify main page (/) doesn't import Monaco components
  .auto-claude-security.json
  .auto-claude-status
  .auto-claude/specs/076-implement-dynamic-imports-for-monaco-editor-with-c/implementation_plan.json
  .claude_settings.json
  next-env.d.ts
  node_modules/.package-lock.json
  package-lock.json
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Create unit tests for SemanticCacheManager
  tests/unit/lib/cache/semantic-cache-manager.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Ensure editor pages use dynamic imports at route level
  .auto-claude-status
  .auto-claude/specs/076-implement-dynamic-imports-for-monaco-editor-with-c/implementation_plan.json
  src/app/editor/page.tsx
  src/app/tools/codeium/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-9 - Final review and polish
  README.md
Due: none

auto-claude: subtask-3-3 - Create integration test for end-to-end caching flow
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  tests/integration/cache/semantic-cache-e2e.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Add preload hints for Monaco on editor routes
  src/app/editor/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Split Monaco language packs into separate chunks b
  next.config.mjs
Due: none

auto-claude: subtask-4-2 - Configure tree-shaking to exclude unused Monaco features
  next.config.mjs
Due: none

auto-claude: subtask-4-3 - Add bundle size limits for Monaco chunks
  .auto-claude-status
  .auto-claude/specs/076-implement-dynamic-imports-for-monaco-editor-with-c/implementation_plan.json
  next-env.d.ts
  next.config.mjs
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Generate updated bundle analysis and compare with baseline
  .auto-claude-status
  .auto-claude/specs/076-implement-dynamic-imports-for-monaco-editor-with-c/implementation_plan.json
Due: none

auto-claude: subtask-1-1 - Add WorkspaceTemplate model to Prisma schema
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  prisma/schema.prisma
Due: none

auto-claude: subtask-1-1 - Install AWS SDK v3 dependencies
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

auto-claude: subtask-1-2 - Generate Prisma client with new schema
  .auto-claude-status
Due: none

auto-claude: subtask-1-1 - Extend health types for multi-service monitoring
  src/types/unified-status.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create workspace template service library
  src/lib/workspace-templates.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Update OpenTelemetry config to explicitly disable winston instrumentation
  src/lib/monitoring/opentelemetry.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Update OpenTelemetry config to explicitly enable pino instrumentation
  src/lib/monitoring/opentelemetry.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Create unified health aggregation service
  src/lib/health/multi-service-health.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create save workspace as template endpoint
  src/app/api/workspaces/[id]/template/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-3 - Create Kubernetes health check API endpoint
  src/app/api/health/kubernetes/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Create workspace templates listing endpoint
  src/app/api/workspace-templates/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Create individual workspace template endpoint
  .auto-claude-status
  src/app/api/workspace-templates/[id]/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Test logging in development mode with pino-pretty
  .auto-claude/.auto-claude/specs/075-consolidate-logging-libraries-remove-duplicate-pin/subtask-3-2-verification.md
Due: none

auto-claude: subtask-1-4 - Create monitoring stack health check API endpoint
  src/app/api/health/monitoring/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Document bundle size comparison
  BUNDLE_SIZE_ANALYSIS.md
Due: none

auto-claude: subtask-3-4 - Create workspace clone endpoint
  src/app/api/workspaces/[id]/clone/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create ServiceStatusIndicator component
  src/components/status-bar/ServiceStatusIndicator.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create migration summary document
  AWS_SDK_V3_MIGRATION.md
Due: none

auto-claude: subtask-4-1 - Create SaveAsTemplateDialog component
  src/components/workspace/SaveAsTemplateDialog.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Search and update any documentation mentioning winston
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  docs/ARCHITECTURE.md
  docs/LOGGER_CIRCULAR_DEPENDENCY_RESOLUTION.md
  docs/planning/HOLISTIC_ANALYSIS.md
  docs/sessions/archive-worklogs/HOLISTIC_ANALYSIS.md
  next-env.d.ts
  node_modules/.package-lock.json
  package-lock.json
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Create CollapsibleStatusPanel component
  src/components/status-bar/CollapsibleStatusPanel.tsx
Due: test-suite, typescript-check, eslint
