Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

security: fix critical and medium vulnerabilities
  docker/agents/requirements.txt
  package-lock.json
Due: none

security: fix critical vulnerabilities (issues #532, #448)
  claudedocs/API_VALIDATION_ANALYSIS.ts
  claudedocs/API_VALIDATION_IMPLEMENTATION_REPORT.md
  claudedocs/API_VALIDATION_NEXT_STEPS.md
  claudedocs/SECURITY_LOGGING_FIXES_SUMMARY.md
  claudedocs/console-log-security-audit-2025-10-22.md
  server/index.js
  src/app/api/auth/login-tracking/route.ts
  src/app/api/chat/mongodb-simple/route.ts
  src/app/api/chat/stream/route.ts
  src/app/api/claude/chat/route.ts
  src/app/api/claude/session/route.ts
  src/lib/api/validation/schemas.ts
  src/lib/db/connection-pool-alerts.ts
  src/lib/db/db-connectivity.ts
  src/lib/db/vector-db-utils.ts
Due: test-suite, typescript-check, eslint

docs: add security improvements documentation for Oct 22 fixes
  docs/astro.config.mjs
  docs/src/content/docs/security-improvements-2025-10-22.md
Due: none

security: fix critical API routes and complete database audit (issues #532, #441, #442)
  claudedocs/API_VALIDATION_PHASE2.md
  claudedocs/DATABASE_ADAPTER_AUDIT.md
  claudedocs/NEXTJS_16_UPGRADE_REPORT.md
  package.json
  src/app/api/auth/saml/metadata/route.ts
  src/app/api/files/sync/route.ts
  src/app/api/terminal/session/route.ts
  src/app/api/terminal/ws/route.ts
  src/app/api/workspace/[id]/init-goose/route.ts
  src/lib/api/validation/schemas.ts
  tests/api-validation-phase2-security.test.ts
  tsconfig.json
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

security: implement keychain integration, API validation Phase 3, minification analysis (issues #530, #532, #442)
  claudedocs/ALTERNATIVE_MINIFICATION.md
  claudedocs/API_VALIDATION_PHASE3.md
  claudedocs/API_VALIDATION_PHASE3_SUMMARY.md
  claudedocs/KEYCHAIN_IMPLEMENTATION.md
  claudedocs/KEYCHAIN_IMPLEMENTATION_SUMMARY.md
  claudedocs/KEYCHAIN_QUICK_REFERENCE.md
  package-lock.json
  package.json
  scripts/security/migrate-secrets-to-keychain.sh
  src/app/api/ai/function-call/route.ts
  src/app/api/ai/generate-project/route.ts
  src/app/api/ai/huggingface-chat/route.ts
  src/app/api/ai/litellm/route.ts
  src/app/api/ai/web-search/route.ts
  src/app/api/code-server/session/route.ts
  src/app/api/gradio/run/route.ts
  src/examples/security/keychain-usage-example.ts
  src/lib/api/validation/schemas.ts
  tests/api-validation-phase3-security.test.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

fix: Resolve critical syntax errors and missing dependencies
  eslint.config.mjs
  package-lock.json
  package.json
  src/lib/ai/documentation/ingest.ts
  src/lib/database/agentapi-queries.ts
  src/lib/prisma.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

fix: Restore missing cache and vector database exports
  src/lib/cache/valkey-client.ts
  src/lib/vector-db/base-vector-database-adapter.ts
Due: test-suite, typescript-check, eslint

chore: commit all local changes
  .code/agents/494/exec-call_G63kGn5cNnqwgHID9nawZRyT.txt
  package-lock.json
  package.json
  src/app/api/ai/function-call/route.ts
  src/app/api/ai/generate-project/route.ts
  src/lib/cache/valkey-client.ts
  src/lib/database/agentapi-queries.ts
  src/lib/prisma.ts
  src/lib/vector-db/base-vector-database-adapter.ts
  src/lib/vector-db/postgres-vector-database-adapter.ts
  src/pages/api/chat.ts
  src/types/agent-api.ts
  web-dashboard/src/index.css
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

security: API validation Phase 4 COMPLETE - 100% coverage achieved (issue #532)
  claudedocs/API_VALIDATION_COMPLETE_SUMMARY.md
  claudedocs/API_VALIDATION_PHASE4_BATCH1.md
  claudedocs/API_VALIDATION_PHASE4_BATCH2.md
  claudedocs/API_VALIDATION_PHASE4_BATCH3.md
  claudedocs/PHASE4_BATCH1_SUMMARY.md
  eslint.config.mjs
  src/app/api/ai/chat/route.ts
  src/app/api/ai/management/route.ts
  src/app/api/ai/model-selection/route.ts
  src/app/api/ai/provider-health/route.ts
  src/app/api/ai/upload/route.ts
  src/app/api/auth/saml/sso/route.ts
  src/app/api/code-server/session/[sessionId]/route.ts
  src/app/api/containers/route.ts
  src/app/api/docker/status/route.ts
  src/app/api/experiments/route.ts
  src/app/api/health/db/route.ts
  src/app/api/health/route.ts
  src/app/api/health/simple/route.ts
  src/app/api/healthz/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/app/api/readyz/route.ts
  src/app/api/security/csp-report/route.ts
  src/app/api/test-db/route.ts
  src/app/api/uploads/pdf/route.ts
  src/app/api/workspace/auto-scaling/route.ts
  src/lib/api/validation/schemas.ts
  tests/api-validation-phase4-batch1.test.ts
  tests/api-validation-phase4-batch2.test.ts
  tests/api-validation-phase4-batch3.test.ts
Due: test-suite, typescript-check, eslint
