Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

feat: ✅ Bun support - 10x faster for loading your app!
  BUN_STATUS.md
Due: none

feat: complete Bun ultra-minimal OpenVSCode VM build (97 MB working, 14 MB target)
  BUN_TEST_RESULTS.md
  azure/BUN-DEPLOYMENT-GUIDE.md
  azure/BUN-DOCUMENTATION-INDEX.md
  azure/BUN-EXECUTIVE-SUMMARY.md
  azure/BUN-TECHNICAL-REPORT.md
  azure/BUN-VISUAL-COMPARISON.md
  bun.lock
  next-env.d.ts
  tsconfig.json
Due: test-suite, typescript-check, eslint

docs: ✅ Complete mission status - Tiny ARM64 dev environment WORKING!
  COMPLETE_STATUS.md
Due: none

docs: update repository rules to support Swift for macOS-native scripts
  REPOSITORY_RULES.md
  scripts/test_all_vms.py
Due: k8s-tests

feat: unified launcher with OpenVSCode Server and lightweight VM support
  chromium-kiosk/README.md
  chromium-kiosk/launcher.js
  chromium-kiosk/package.json
  docs/LAUNCHER_TESTING.md
  electron-vibecode/main.js
  electron-vibecode/preload.js
  launcher.js
  package.json
  scripts/test-launcher.sh
  src-tauri/Cargo.toml
  src-tauri/src/main.rs
  src-tauri/src/service.rs
Due: license-check, vulnerability-scan, test-suite, k8s-tests, eslint

docs: add architecture and implementation documentation
  docs/BOTH_OPTIONS_COMPLETE.md
  docs/CONSOLIDATION_COMPLETE.md
  docs/IMPLEMENTATION_GUIDE.md
  docs/UNIFIED_ARCHITECTURE.md
  docs/UNIFIED_LAUNCHER.md
Due: none

docs: add next agent handoff documentation
  docs/NEXT_AGENT_HANDOFF.md
Due: none

feat: Native macOS VM Management with Apple Virtualization.framework
  COMMIT_MESSAGE_FINAL.txt
  VMS_WORKING_STATUS.md
  VibeCodeSwift/Resources/vms/vibecode-postgresql.img
  VibeCodeSwift/Tests/AutomatedVMHarness.swift
  azure/vmlinux-raw
  logs/final-test-results.txt
  logs/staff-test-results.txt
  logs/test-harness-results.txt
  next-env.d.ts
  scripts/automated-vm-test-harness.sh
  scripts/run-automated-harness.sh
  scripts/staff-level-test-suite.sh
  src-tauri/tauri.conf.json
Due: test-suite, k8s-tests, typescript-check, eslint

docs: Add v0.9-beta release documentation with build and usage instructions
  docs/releases/v0.9-beta/BUILD.md
  docs/releases/v0.9-beta/README.md
  docs/releases/v0.9-beta/USAGE.md
Due: none

docs: Add GitHub release notes for v0.9-beta
  .github/RELEASE_TEMPLATE.md
  docs/releases/v0.9-beta/RELEASE_NOTES.md
Due: none

fix: Remove VM binaries from repo, update gitignore to exclude all binaries
  VibeCodeSwift/Resources/vms/vibecode-postgresql-efi.nvram
  VibeCodeSwift/Resources/vms/vibecode-postgresql.img
  src-tauri/vm-images/vibecode-postgresql-efi.nvram
Due: none

chore: bump version to 1.2.0 for Apple VF release
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
Due: license-check, vulnerability-scan

chore: bump to v1.5.0
  package-lock.json
  package.json
  src-tauri/tauri.conf.json
Due: license-check, vulnerability-scan

fix: resolve code quality issues and technical debt
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src/app/api/ai/chat/enhanced/route.ts
  src/app/api/ai/chat/route.ts
  src/app/api/ai/chat/stream/route.ts
  src/app/api/ai/chat/unified/route.ts
Due: test-suite, typescript-check, eslint

ci: add comprehensive GitHub Actions workflows
  .github/dependabot.yml
  .github/workflows/build-macos.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  README.md
  docs/CI.md
Due: none

chore: remove 80+ worklog files from repository
  AGENT_ASSIGNMENTS.md
  AGENT_PROGRESS_REPORT.md
  AGENT_SPRINT_SUMMARY.md
  AGENT_STATUS.md
  ALL_SERVICES_FINAL_STATUS.md
  ARCHITECTURE.md
  BREAKTHROUGH_eth0_WORKS.md
  BUILDS_COMPLETE.md
  BUILDS_STATUS.md
  BUILD_SUCCESS_REPORT.md
  BUILD_VMS_FROM_CLOUD_IMAGES.md
Due: none

docs: Add peer review reports from Agent A (Infrastructure) and Agent B (QA)
  docs/reviews/PEER_REVIEW_COMPARISON.md
Due: none

docs: Add authentic tone to release and contributing docs
  .github/RELEASE_TEMPLATE.md
  .github/RELEASE_TEMPLATE_OLD.md
  CONTRIBUTING.md
  CONTRIBUTING_OLD.md
  docs/STYLE_GUIDE.md
Due: none

docs: Replace emoji-heavy peer reviews with honest assessment
  .github/RELEASE_TEMPLATE_AUTHENTIC.md
  CONTRIBUTING_AUTHENTIC.md
  docs/reviews/HONEST_ASSESSMENT.md
  docs/reviews/PEER_REVIEW_COMPARISON.md
Due: none
