Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: resolve all TypeScript/JavaScript syntax errors preventing build
  src/app/api/health/vector-metrics/route.ts
  src/app/api/vector-store/route.ts
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/templates/generator.ts
Due: test-suite, typescript-check, eslint

fix: resolve CodeQL security issues blocking PR merge
  .eslintcache
  src/app/ai-advanced-features-demo/page.tsx
  src/app/ai-code-review-demo/page.tsx
  src/app/wiki/[slug]/page.tsx
Due: test-suite, typescript-check, eslint

monitoring(metrics): align GET/POST response shapes with integration tests; add in-memory metrics storage; ensure serviceFactory cleanup; robust error handling and auth preserved
  src/app/api/monitoring/metrics/route.ts
Due: test-suite, typescript-check, eslint

fix: resolve critical CI blocking issues
  babel.config.js
  jest.config.js
  scripts/check-braces.py
  scripts/fix-merge-conflicts-better.sh
  scripts/fix-merge-conflicts.sh
  scripts/fix-ts-ignore.sh
  src/app/api/monitoring/metrics/route.ts
  src/components/projects/GitHubIntegrationModal.tsx
  src/lib/agent-framework.ts
  src/lib/ai/agents/multi-agent-workflow.ts
  src/lib/ai/automated-test-generator.ts
  src/lib/ai/enhanced-ai-manager.ts
  src/lib/ai/local/ollama-client.ts
  src/lib/ai/smart-code-completion.ts
  src/lib/cache/redis-client.ts
  src/lib/cache/valkey-client.ts
  src/lib/db/db-logger.ts
  src/lib/vector-db/base-vector-database-adapter.ts
  src/lib/vector-db/postgres-vector-database-adapter.ts
  src/lib/vector-db/redis-vector-database-adapter.ts
  src/lib/vector-db/sqlserver-vector-database-adapter.ts
  src/lib/vector-db/vector-database-factory.ts
  src/lib/vector-db/vector-db-error-handler-new.ts
  src/lib/vector-db/vector-db-error-handler.ts
  tests/integration/monitoring-api.test.ts
  tests/jest.polyfills.js
Due: test-suite, k8s-tests, typescript-check, eslint

fix: resolve critical CI blocking issues
  babel.config.js
  jest.config.js
  scripts/check-braces.py
  scripts/fix-merge-conflicts-better.sh
  scripts/fix-merge-conflicts.sh
  scripts/fix-ts-ignore.sh
  src/app/api/monitoring/metrics/route.ts
  src/components/projects/GitHubIntegrationModal.tsx
  src/lib/agent-framework.ts
  src/lib/ai/agents/multi-agent-workflow.ts
  src/lib/ai/automated-test-generator.ts
  src/lib/ai/enhanced-ai-manager.ts
  src/lib/ai/local/ollama-client.ts
  src/lib/ai/smart-code-completion.ts
  src/lib/cache/redis-client.ts
  src/lib/cache/valkey-client.ts
  src/lib/db/db-logger.ts
  src/lib/vector-db/base-vector-database-adapter.ts
  src/lib/vector-db/postgres-vector-database-adapter.ts
  src/lib/vector-db/redis-vector-database-adapter.ts
  src/lib/vector-db/sqlserver-vector-database-adapter.ts
  src/lib/vector-db/vector-database-factory.ts
  src/lib/vector-db/vector-db-error-handler-new.ts
  src/lib/vector-db/vector-db-error-handler.ts
  test-results/junit.xml
  tests/integration/monitoring-api.test.ts
  tests/jest.polyfills.js
Due: test-suite, k8s-tests, typescript-check, eslint

fix: resolve critical CI blocking issues for PR merge readiness
  TODO.md
  docs/dist/infrastructure-fixes-august-2025/index.html
  docs/dist/pagefind/fragment/en_b1b672f.pf_fragment
  docs/dist/pagefind/fragment/en_be49476.pf_fragment
  docs/dist/pagefind/index/en_1c1d3db.pf_index
  docs/dist/pagefind/index/en_22d47f7.pf_index
  docs/dist/pagefind/index/en_49e6f0c.pf_index
  docs/dist/pagefind/index/en_514180f.pf_index
  docs/dist/pagefind/index/en_8a4fe38.pf_index
  docs/dist/pagefind/index/en_8b8415e.pf_index
  docs/dist/pagefind/index/en_9614dd7.pf_index
  docs/dist/pagefind/index/en_b63cf8d.pf_index
  docs/dist/pagefind/index/en_d079823.pf_index
  docs/dist/pagefind/index/en_ef6b83a.pf_index
  docs/dist/pagefind/index/en_fd1a5bb.pf_index
  docs/dist/pagefind/pagefind.en_c298326d43.pf_meta
  next.config.js
  package.json
  src/app/ai-code-review-demo/page.tsx
  src/app/api/monitoring/pool-alerts/route.ts
  src/app/workspace/collaborative/page.tsx
  src/components/collaboration/CollaborativeEditor.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/ai/agents/multi-agent-workflow.ts
  src/lib/ai/azureEmbeddingService.ts
  src/lib/ai/enhanced-ai-manager.ts
  src/lib/vector-db/database-error-patterns.ts
  src/lib/vector-db/vector-db-error-handler-new.ts
  src/lib/vector-db/vector-db-error-handler.ts
  tests/integration/monitoring-api.test.ts
  tests/jest.polyfills.js
  tests/jest.setup.js
  tests/unit/ai/ai-code-review.test.tsx
  tests/unit/collaboration-advanced.test.ts
  tests/unit/multimodal-agent.test.ts
  tests/unit/multimodal-samples.test.ts
  tests/unit/semantic-kernel-agent.test.ts
  tests/unit/server-monitoring.test.ts
  tests/unit/vector-db-error-handler-enhanced.test.ts
  tests/unit/vector-db-error-handling.test.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint
