Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Delete archive/gastown/src/lib/monitoring/gastown-cli-tracing.ts
  archive/gastown/src/lib/monitoring/gastown-cli-tracing.ts
Due: test-suite, typescript-check, eslint

Change issue tracking from 'bd' to 'td'
  archive/root-cleanup/AGENTS.md
Due: none

Delete bin directory
  bin/vibecode
  bin/vibecode-darwin-amd64
  bin/vibecode-darwin-arm64
  bin/vibecode-linux-amd64
  bin/vibecode-linux-arm64
  bin/vibecode-vm
Due: none

Delete bsd/rc.d directory
  bsd/rc.d/td-event-emitter
  bsd/rc.d/td-observer
  bsd/rc.d/td-session
Due: none

fix(polecat-operator): resolve HTTP 400/415/422 status update errors
  infra/tundra-dome/controllers/polecat-operator/Dockerfile
  infra/tundra-dome/controllers/polecat-operator/index.js
  infra/tundra-dome/controllers/polecat-operator/package.json
Due: test-suite, eslint

feat(wave18): Harden security, consolidate pages, expand tests to 8,426
  package-lock.json
  package.json
  src/app/ai-advanced-features-demo/page.tsx
  src/app/ai-code-review-demo/page.tsx
  src/app/ai/agents/page.tsx
  src/app/ai/conversations/page.tsx
  src/app/ai/costs/page.tsx
  src/app/ai/prompts/page.tsx
  src/app/chat/layout.tsx
  src/app/dashboard/demo/page.tsx
  src/app/dashboard/pool-monitor/page.tsx
  src/app/demo/monacopilot/page.tsx
  src/app/demo/visual-diff/page.tsx
  src/app/experiments/layout.tsx
  src/app/experiments/page.tsx
  src/app/monitoring/alerts/page.tsx
  src/app/monitoring/api-performance/page.tsx
  src/app/monitoring/datadog/page.tsx
  src/app/monitoring/logs/page.tsx
  src/app/monitoring/page.tsx
  src/app/monitoring/performance/page.tsx
  src/app/monitoring/vector-db/page.tsx
  src/app/test-geomaps/page.tsx
  src/app/tutorials/page.tsx
  src/app/voice-test/page.tsx
  src/app/workspaces/[id]/page.tsx
  src/app/workspaces/page.tsx
  src/components/navigation/AppNavigation.tsx
  src/components/ui/DemoBanner.tsx
  tests/unit/lib/api-response.test.ts
  tests/unit/lib/auth-jwt-utils.test.ts
  tests/unit/lib/auth-password.test.ts
  tests/unit/lib/csrf-protection.test.ts
  tests/unit/lib/input-validator.test.ts
  tests/unit/lib/ip-validator.test.ts
  tests/unit/lib/logging-format.test.ts
  tests/unit/lib/pagination.test.ts
  tests/unit/lib/retry-utils.test.ts
  tests/unit/lib/workspace-access.test.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

fix(polecat-operator): resolve HTTP 400/415/422 status update errors (#1844)
  infra/tundra-dome/controllers/polecat-operator/Dockerfile
  infra/tundra-dome/controllers/polecat-operator/index.js
  infra/tundra-dome/controllers/polecat-operator/package.json
Due: test-suite, eslint

feat(wave20): Fix CI failures, resolve 30 code scanning alerts, clean branches, merge PR
  .github/workflows/vibecode-quality.yml
  Dockerfile.production
  conftest.py
  src/app/experiments/page.tsx
  src/app/settings/updates/page.tsx
  src/lib/vm/providers/qemu.ts
  src/lib/vm/providers/vfkit.ts
  src/lib/vm/providers/wsl2.ts
  src/lib/vm/security.ts
Due: test-suite, typescript-check, eslint

feat(polecat-operator): add ollama LLM routing, retry logic, and bead ID fix
  infra/tundra-dome/controllers/polecat-operator/index.js
Due: test-suite, eslint

fix(deps): patch qs and axios vulnerabilities, add kafkajs to package.json
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

fix(tests): resolve chokidar ESM/dd-trace incompatibility in route-metrics test
  tests/unit/file-sync/route-metrics.test.ts
Due: test-suite, typescript-check, eslint

chore: track release-archive docs and .claude/skills in git
  .claude/skills/project-conventions/SKILL.md
  .claude/skills/testing-guide/SKILL.md
  release-archive/.gitignore
  release-archive/ARCHIVE-METADATA.md
  release-archive/REBUILD-MANIFEST.md
Due: none

fix(build): repair Dockerfile.production and restore webpack stubs
  .dockerignore
  Dockerfile.production
  config/next.config.mjs
  src/stubs/dd-trace.js
  src/stubs/instrument-browser.js
  src/stubs/opentelemetry-api.js
  src/stubs/opentelemetry-auto.js
  src/stubs/opentelemetry-core.js
  src/stubs/opentelemetry-exporter-otlp-http.js
  src/stubs/opentelemetry-exporter-prometheus.js
  src/stubs/opentelemetry-instrumentation.js
  src/stubs/opentelemetry-resources.js
  src/stubs/opentelemetry-sdk-node.js
  src/stubs/opentelemetry-semantic-conventions.js
Due: test-suite, eslint

fix(lint): ESLint 10 compatibility - fix flat config for eslint-plugin-react
  config/next.config.mjs
  eslint.config.mjs
Due: none

fix(test): increase memory threshold in health error scenarios test
  tests/integration/api/health-error-scenarios.test.ts
Due: test-suite, typescript-check, eslint

feat(wave35): API logging standardization, CHANGELOG, docs, ShellCheck fixes
  CHANGELOG.md
  CONTRIBUTING.md
  RELEASE_PROCESS.md
  scripts/deploy-database-migrations.sh
  scripts/vfkit/compare-busybox-alpine.sh
  src/app/api/auth/csrf/route.ts
  src/app/api/auth/saml/metadata/route.ts
  src/app/api/chat/mongodb/route.ts
  src/app/api/code-completion/route.ts
  src/app/api/docker/status/route.ts
  src/app/api/experiments/route.ts
  src/app/api/health/db/route.ts
  src/app/api/ide/session/[sessionId]/route.ts
  src/app/api/ide/session/route.ts
  src/app/api/projects/template/route.ts
  src/app/api/readyz/route.ts
  src/app/api/security/csp-report/route.ts
  src/app/api/terminal/session/route.ts
  src/app/api/uploads/pdf/route.ts
  src/app/api/vector-search/route.ts
  src/app/api/workspace/[id]/init-goose/route.ts
  src/app/api/workspace/auto-scaling/route.ts
Due: test-suite, k8s-tests, typescript-check, eslint

feat(wave36): model count update (340+), health check script, Tauri config fix, issue triage
  package.json
  platforms/tauri/tauri.conf.json
  scripts/health-check.sh
  src/app/ai/__tests__/page.test.tsx
  src/app/ai/page.tsx
  src/lib/ai/cost/cost-tracker.ts
  src/lib/ai/models/model-registry.ts
  src/lib/ai/prompts/index.ts
  src/lib/ai/prompts/prompt-library.ts
  src/types/cost-estimation.ts
  src/types/model-comparison.ts
  src/types/prompts.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

feat(wave37): release pipeline, benchmarks, VM docs, test infra plan, issue closure
  .github/workflows/release-assets.yml
  docs/TEST_INFRASTRUCTURE.md
  docs/VM_LAUNCH_METHODS.md
  package.json
  scripts/benchmark.sh
Due: license-check, vulnerability-scan, k8s-tests

feat(wave38): VM integration test suite, CI workflow, kernel compat, runner setup
  .github/workflows/vm-integration-tests.yml
  docs/KERNEL_COMPATIBILITY.md
  scripts/setup-runner.sh
  tests/vm-integration/README.md
  tests/vm-integration/common.sh
  tests/vm-integration/run-all.sh
  tests/vm-integration/test-boot-chain.sh
  tests/vm-integration/test-initramfs.sh
  tests/vm-integration/test-kernel-boot.sh
  tests/vm-integration/test-kernel-compat.sh
  tests/vm-integration/test-services.sh
Due: k8s-tests

fix(ci): Update Astro docs workflow to build from docs/ subdirectory
  .github/workflows/vibecode-docs.yml
Due: none

fix(ci): Add pyyaml to Quality Assurance workflow dependencies
  .github/workflows/vibecode-quality.yml
Due: none

fix(ci): Fix Quality Assurance workflow ddtrace dependency and code bug
  .github/workflows/vibecode-quality.yml
  scripts/lib/__init__.py
Due: k8s-tests

fix(quality): ShellCheck fixes in scripts and VM test suite
  scripts/benchmark.sh
  scripts/health-check.sh
  tests/vm-integration/common.sh
  tests/vm-integration/test-initramfs.sh
  tests/vm-integration/test-kernel-boot.sh
  tests/vm-integration/test-kernel-compat.sh
  tests/vm-integration/test-services.sh
Due: k8s-tests

fix(ci): Skip orphaned Python tests in Quality Assurance workflow
  .github/workflows/vibecode-quality.yml
Due: none

fix(ci): Skip broken Python test directories in Quality Assurance workflow
  .github/workflows/vibecode-quality.yml
Due: none

fix(ci): Disable ACR build auto-trigger, dismiss 11 CodeQL false positives
  .github/workflows/build-push-acr.yml
Due: none

chore(deps): Update 31 npm packages to latest minor/patch versions
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

refactor: Remove 26 dead files, fix runner labels and VM test workflow
  .github/workflows/vm-integration-tests.yml
  docs/TEST_INFRASTRUCTURE.md
  src/components/ai/AICodeReview.tsx
  src/components/collaboration/CursorTracking.tsx
  src/components/collaboration/UserPresence.tsx
  src/components/collaboration/__tests__/__mocks__/@codemirror/commands.ts
  src/components/collaboration/__tests__/__mocks__/@codemirror/language.ts
  src/components/collaboration/__tests__/__mocks__/@codemirror/state.ts
  src/components/deployment/DeploymentHistory.tsx
  src/components/editor/VisualDiff.tsx
  src/components/experiments/GuardrailMonitor.tsx
  src/components/projects/TemplateConfigurator.tsx
  src/components/projects/TemplateSelector.tsx
  src/components/terminal/EnhancedTerminal.tsx
  src/config/redis-agentapi.config.ts
  src/hooks/useAI.tsx
  src/hooks/useConsoleMode.ts
  src/hooks/useTauriMenuBar.ts
  src/hooks/useTokenCounter.ts
  src/lib/ai/__tests__/cost-tracker.test.ts
  src/lib/ai/azureEmbeddingService.ts
  src/lib/tauri.ts
  src/middleware/error-tracking-middleware.ts
  src/middleware/quota-middleware.ts
  src/samples/multimodal-agent-samples.ts
  tests/unit/components/VisualDiff.test.tsx
  tests/unit/middleware/quota-middleware.test.ts
  tests/unit/multimodal-samples.test.ts
Due: test-suite, typescript-check, eslint

chore: add .logs/ to gitignore for Gas Town runtime
  .gitignore
Due: none

assess(airflow): memory limits stability analysis for gt-5ay
  tundra-dome/k8s/kafka-dsm-code-configmap.yaml
Due: none

chore: add .logs/ to gitignore (auto-added by gt)
  .gitignore
Due: none

assess(airflow): memory limits stability analysis for gt-5ay
  .beads/gt-5ay-assessment.md
Due: none
