Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

auto-claude: subtask-4-2 - Create offline setup UI page
  src/app/offline-setup/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - End-to-end offline mode verification
  src/components/OfflineIndicator.tsx
  tests/e2e/offline-mode.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Enhance UnifiedAIClient with offline detection
  src/lib/unified-ai-client.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-3 - Integrate OfflineIndicator into main layout
  src/app/layout.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create offline detection service with network moni
  src/lib/offline-mode.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Enhance templates API for offline mode
  src/app/api/templates/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create OfflineIndicator component
  src/components/OfflineIndicator.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Add offline mode support to Ollama client
  src/lib/ollama-client.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Create offline mode configuration storage
  src/lib/config/offline-config.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Create template submission script
  scripts/submit-template.js
Due: test-suite, k8s-tests, eslint

auto-claude: subtask-4-3 - Create GitHub PR template for template contributions
  .github/PULL_REQUEST_TEMPLATE/template_contribution.md
Due: none

auto-claude: subtask-3-1 - Create React + TypeScript + Vite template with mon
  config/templates/react/react-typescript-vite/.env.example
  config/templates/react/react-typescript-vite/README.md
  config/templates/react/react-typescript-vite/package.json
  config/templates/react/react-typescript-vite/src/App.tsx
  config/templates/react/react-typescript-vite/src/main.tsx
  config/templates/react/react-typescript-vite/template.json
  config/templates/react/react-typescript-vite/tsconfig.json
  config/templates/react/react-typescript-vite/vite.config.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Add monitoring.yml template for Datadog/Prometheus
  config/templates/_shared/monitoring.datadog.yml
  config/templates/_shared/monitoring.prometheus.yml
  node_modules/.package-lock.json
Due: none

auto-claude: subtask-5-4 - End-to-end verification of template system
  config/templates/go/go-microservices/template.json
  scripts/verify-template-system.js
Due: test-suite, k8s-tests, eslint

auto-claude: subtask-3-3 - Update existing Python ML templates with monitoring
  config/templates/python/azure-pytorch-dsvm/monitoring.yml
  config/templates/python/azure-pytorch-dsvm/template.json
Due: none

auto-claude: subtask-1-3 - Update ProjectTemplate interface to include monito
  src/lib/templates/index.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Update CATALOG.md with new templates and features
  config/templates/CATALOG.md
Due: none

auto-claude: subtask-5-2 - Update template generator to include monitoring an
  src/lib/templates/generator.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Create Go microservices template with Docker and monitoring
  config/templates/go/go-microservices/.env.example
  config/templates/go/go-microservices/Dockerfile
  config/templates/go/go-microservices/README.md
  config/templates/go/go-microservices/docker-compose.yml
  config/templates/go/go-microservices/go.mod
  config/templates/go/go-microservices/go.sum
  config/templates/go/go-microservices/main.go
  config/templates/go/go-microservices/monitoring/grafana/dashboards/dashboard.yml
  config/templates/go/go-microservices/monitoring/grafana/datasources/prometheus.yml
  config/templates/go/go-microservices/monitoring/prometheus.yml
  config/templates/go/go-microservices/template.json
Due: none

auto-claude: subtask-5-3 - Add tests for template validation and generation
  tests/unit/template-validation.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create template validation script
  scripts/validate-template.js
Due: test-suite, k8s-tests, eslint

auto-claude: subtask-2-1 - Create resource configuration TypeScript module
  src/lib/templates/resource-config.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Update template.json schema to include resource re
  src/lib/templates/index.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create monitoring configuration TypeScript module
  src/lib/templates/monitoring-config.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create useOllamaModels hook for fetching and managing local models
  src/hooks/useOllamaModels.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-3 - Create Ollama chat streaming API route
  src/app/api/ollama/chat/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Enhance unified AI client to use Ollama provider f
  src/lib/unified-ai-client.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Create API endpoint to fetch Ollama models for reg
  src/app/api/ai/models/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create Ollama provider adapter with streaming support
  src/lib/ai/ollama-provider.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Add Ollama model loading to model registry service
  src/lib/ai/models/model-registry.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Add performance metrics for local vs cloud models
  src/app/api/ai/chat/stream/route.ts
  src/lib/ai/ollama-provider.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Create OllamaModelManager component for downloading/deleting models
  src/app/ai/models/page.tsx
  src/components/ai/OllamaModelManager.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Update chat stream route to support Ollama models
  src/app/api/ai/chat/stream/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-2 - Test model management UI (download/delete)
  test_model_ui.sh
Due: none

auto-claude: subtask-3-3 - Integrate Ollama models into ModelSelector component
  src/components/ai/ModelSelector.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Write unit tests for /api/ai/models caching behavi
  tests/unit/api/ai/models-caching.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create src/lib/cache/http-cache-headers.ts with helper functions for stale-while-revalidate Cache-Control headers
  src/lib/cache/http-cache-headers.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Add HTTP Cache-Control headers to GET /api/templates
  src/app/api/templates/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Add server-side caching (cacheGetOrSet) and HTTP Cache-Control headers to GET /api/ai/models
  src/app/api/ai/models/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Add server-side caching and private HTTP Cache-Con
  src/app/api/experiments/route.ts
Due: test-suite, typescript-check, eslint
