Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Complete services tests and fix failing tests
  COMPREHENSIVE_TEST_ANALYSIS.md
  docs/dist/infrastructure-fixes-august-2025/index.html
  docs/node_modules/.package-lock.json
  docs/node_modules/.vite/deps/_metadata.json
  docs/node_modules/vite/dist/node/chunks/dep-AiMcmC_f.js
  docs/node_modules/vite/dist/node/chunks/dep-DBxKXgDP.js
  docs/node_modules/vite/dist/node/chunks/dep-SgSik2vo.js
  docs/node_modules/vite/dist/node/cli.js
  docs/node_modules/vite/dist/node/index.js
  docs/node_modules/vite/package.json
  helm/vibecode-platform/templates/rbac.yaml
  helm/vibecode-platform/templates/tests/test-provisioning.yaml
  src/lib/db/__tests__/db-metrics.test.ts
  src/lib/security/__tests__/input-validator.test.ts
  src/lib/security/input-validator.ts
  src/lib/services/__tests__/chat-mongodb.test.ts
  src/lib/services/__tests__/collaboration.test.ts
  src/lib/services/__tests__/intelligent-model-selection.test.ts
  test-workspace/test-workspace/performance-test.txt
  tests/integration/api-failure-modes.test.ts
  tests/integration/real-input-validation.test.ts
  web-dashboard/src/components/QuickActions.tsx
  web-dashboard/src/pages/Settings.tsx
  web-dashboard/src/services/api.ts
Due: test-suite, helm-lint, helm-template-test, k8s-tests, typescript-check, eslint

tests(k8s): stabilize Helm/KIND suite; robust KIND setup; fix helm test hooks and assertions; enable SA token; test egress; RBAC; dynamic storageClass
  src/lib/services/__tests__/chat-mongodb.test.ts
  src/lib/services/__tests__/collaboration.test.ts
  src/lib/services/collaboration.ts
  test-workspace/test-workspace/performance-test.txt
  web-dashboard/src/pages/Users.tsx
Due: test-suite, typescript-check, eslint

Fix TypeScript errors in web-dashboard components
  web-dashboard/src/pages/Dashboard.tsx
  web-dashboard/src/pages/Monitoring.tsx
  web-dashboard/src/pages/Workspaces.tsx
Due: test-suite, typescript-check, eslint

tests(k8s): helm hook stability — add API wait in test pod; provisioning script uses dynamic storageClass/manual creation
  helm/vibecode-platform/templates/tests/test-provisioning.yaml
  scripts/provision-user.sh
Due: helm-lint, helm-template-test, k8s-tests, provisioning-script-test

Add ESLint configuration for web-dashboard and fix lint script
  web-dashboard/.eslintrc.cjs
  web-dashboard/package.json
Due: none

Fix TypeScript errors in chat-mongodb.test.ts
  TODO.md
  src/lib/services/__tests__/chat-mongodb.test.ts
Due: test-suite, typescript-check, eslint
