Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

Add Zod validation to form inputs
  src/app/experiments/demos/model-comparison/page.tsx
  src/app/generative-ui/page.tsx
  src/components/PromptInterface.tsx
  src/components/SequentialThinking/index.tsx
  src/components/agents/AgentBuilderWorkflowEmbed.tsx
  src/components/ai/CodeAssistant.tsx
  src/components/auth/SignInForm.tsx
  src/components/auth/SimpleSignInForm.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
Due: test-suite, typescript-check, eslint

fix(ci): correct Node.js version from non-existent 24 to 20
  .github/workflows/ci.yml
  .github/workflows/pr-test.yml
  .github/workflows/release.yml
  .github/workflows/security-scan.yml
Due: none

feat: standardize API error responses
  src/app/api/vector-store/route.ts
  src/lib/api-utils.ts
  src/lib/api/validation/helpers.ts
  src/lib/api/validation/middleware.ts
  src/lib/security/csrf.ts
  src/lib/security/rate-limit.ts
  src/lib/utils/api-response.ts
  src/middleware/error-tracking-middleware.ts
  src/types/agent-api.ts
  tests/lib/api/validation/helpers.test.ts
  tests/unit/app/api/vector-store/route.test.ts
  tests/unit/lib/api-utils.test.ts
  tests/unit/lib/security/csrf.test.ts
  tests/unit/lib/security/rate-limit.test.ts
Due: test-suite, typescript-check, eslint

fix(ci): correct GitHub Actions expression syntax for secret conditionals
  .github/workflows/build-and-push-image.yml
  .github/workflows/security-scan.yml
Due: none

Implement token bucket API rate limiting (#856)
  src/app/api/ai/chat/route.ts
  src/app/api/files/route.ts
  src/lib/rate-limiting.ts
  tests/unit/lib/rate-limiting.test.ts
Due: test-suite, typescript-check, eslint

feat(st-981): implement Web Coding GUI with Datadog LLM observability (#857)
  docs/architecture/WEBGUI-AI-DATADOG-AZURE-STACK.md
  services/ai-gateway/.env.example
  tests/e2e/webgui-ai-datadog-azure.test.ts
Due: test-suite, typescript-check, eslint

fix(server): add graceful shutdown handling (st-706) (#866)
  server/__tests__/graceful-shutdown.test.js
  server/graceful-shutdown.js
  server/index.js
Due: test-suite, eslint

Add Zod validation to form inputs (#867)
  src/app/experiments/demos/model-comparison/page.tsx
  src/app/generative-ui/page.tsx
  src/components/PromptInterface.tsx
  src/components/SequentialThinking/index.tsx
  src/components/agents/AgentBuilderWorkflowEmbed.tsx
  src/components/ai/CodeAssistant.tsx
  src/components/auth/SignInForm.tsx
  src/components/auth/SimpleSignInForm.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
Due: test-suite, typescript-check, eslint

feat: standardize API error responses (#868)
  src/app/api/vector-store/route.ts
  src/lib/api-utils.ts
  src/lib/api/validation/helpers.ts
  src/lib/api/validation/middleware.ts
  src/lib/security/csrf.ts
  src/lib/security/rate-limit.ts
  src/lib/utils/api-response.ts
  src/middleware/error-tracking-middleware.ts
  src/types/agent-api.ts
  tests/lib/api/validation/helpers.test.ts
  tests/unit/app/api/vector-store/route.test.ts
  tests/unit/lib/api-utils.test.ts
  tests/unit/lib/security/csrf.test.ts
  tests/unit/lib/security/rate-limit.test.ts
Due: test-suite, typescript-check, eslint

feat(ci): add Datadog CI Visibility integration
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-test.yml
Due: none

Fix EFI store creation for VM builds
  scripts/build-vms-with-datadog.sh
  scripts/build-vz-vms-parallel.sh
  scripts/build-vz-vms-with-datadog.sh
  scripts/create_vm_disk_images.py
  scripts/vfkit/create-efi-variable-store.sh
Due: k8s-tests

Fix Node 20 test regressions
  src/app/api/health/route.ts
  src/instrument.ts
  src/lib/monitoring/auth.ts
  tests/jest.setup.js
  tests/unit/ai/ai-code-review.test.tsx
  tests/unit/components/collaboration/CollaborativeEditor.test.tsx
  tests/unit/lib/logger.test.ts
  tests/unit/websocket-streaming.test.ts
Due: test-suite, typescript-check, eslint

feat(monitoring): add Gas Town orchestration dashboard for Datadog
  config/datadog/datadog-gastown-orchestration-dashboard.json
Due: none

fix(tests): correct mock path in health-monitoring.test.ts
  tests/unit/lib/monitoring/health-monitoring.test.ts
Due: test-suite, typescript-check, eslint

feat(ci): add Datadog CI Visibility integration (#869)
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-test.yml
Due: none

Fix EFI store creation for VM builds (#870)
  scripts/build-vms-with-datadog.sh
  scripts/build-vz-vms-parallel.sh
  scripts/build-vz-vms-with-datadog.sh
  scripts/create_vm_disk_images.py
  scripts/vfkit/create-efi-variable-store.sh
Due: k8s-tests

Fix Node 20 test regressions (#871)
  src/app/api/health/route.ts
  src/instrument.ts
  src/lib/monitoring/auth.ts
  tests/jest.setup.js
  tests/unit/ai/ai-code-review.test.tsx
  tests/unit/components/collaboration/CollaborativeEditor.test.tsx
  tests/unit/lib/logger.test.ts
  tests/unit/websocket-streaming.test.ts
Due: test-suite, typescript-check, eslint

fix: Helm ingress hardening (#876)
  helm/vibecode-platform/templates/ingress.yaml
  helm/vibecode-platform/values.yaml
Due: helm-lint, helm-template-test, k8s-tests

docs: modernize README for container-native architecture
  README.md
Due: none

Add CI/CD monitoring note to README
  README.md
Due: none

Add CI/CD monitoring note to README (#880)
  README.md
Due: none

fix(tests): correct mock path in health-monitoring.test.ts (#879)
  tests/unit/lib/monitoring/health-monitoring.test.ts
Due: test-suite, typescript-check, eslint

Add Datadog CI Visibility envs to workflows
  .github/workflows/ci-simplified.yml
  .github/workflows/ci.yml
  .github/workflows/main-branch-ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-test.yml
  .github/workflows/release-branch-ci.yml
Due: none

Fix Datadog CI Visibility envs in PR test
  .github/workflows/pr-test.yml
Due: none

Polecat/vault/mm qs9c@mkmu95od (#883)
  .github/workflows/ci-simplified.yml
  .github/workflows/ci.yml
  .github/workflows/main-branch-ci.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-test.yml
  .github/workflows/release-branch-ci.yml
Due: none

feat: add Datadog tracing support for Python SDK
  .github/workflows/deploy-docs.yml
  sdk/python/pyproject.toml
  sdk/python/src/vibecode_agents/__init__.py
  sdk/python/src/vibecode_agents/tracing.py
Due: none

chore: organize root directory files
  docs/api/API_ENDPOINTS.md
  docs/reports/BENCHMARK_COMPLETION_REPORT.txt
  docs/reports/BENCHMARK_FILES_MANIFEST.txt
  docs/reports/BENCHMARK_QUICK_REFERENCE.txt
  docs/reports/CLEANUP_AUDIT_REPORT.md
  docs/reports/COMPLETION_PROMISE_STATUS.md
  docs/reports/DATADOG_EXTENSION_FINAL_REPORT.txt
  docs/reports/DELIVERABLES_INDEX.md
  docs/reports/DELIVERABLES_INDEX.txt
  docs/reports/FINAL_VERIFICATION_REPORT.md
  docs/reports/MENUBAR_TEXT_CHANGES_SUMMARY.txt
  docs/reports/RALPH_LOOP_STATUS_HONEST_ASSESSMENT.txt
  docs/reports/SECURITY-FIX-COMPLETE.md
  docs/reports/SECURITY-FIX-ST-4KC.md
  docs/reports/SECURITY_ANALYSIS_SUMMARY.txt
  docs/reports/TEST_VERIFICATION_SUMMARY_v3.2.1.txt
  docs/reports/UPDATE_VERIFICATION.txt
  docs/reports/V4_SECURITY_UPDATES_FILES_CHANGED.txt
  docs/reports/version-info.txt
  scripts/CLEANUP_QUICK_COMMANDS.sh
  scripts/TERMINAL_COLOR_TEST_COMMANDS.sh
  scripts/benchmark-v3.2.1.sh
  scripts/build-and-test-unified.sh
  scripts/docker-setup.sh
  scripts/install-vibecode-cli.sh
  scripts/persistence-test-script.sh
  scripts/persistence-test-v2.sh
  scripts/security-updates.sh
Due: k8s-tests

Add GitHub Actions failure webhook for Gas Town
  .github/workflows/notify-gastown.yml
  README.md
  env.development.example
  env.production.example
  env.staging.example
  src/app/api/webhooks/github-actions/route.ts
  src/lib/gastown/client.ts
  src/lib/gastown/types.ts
  src/lib/webhooks/github-actions.ts
  tests/unit/webhooks/github-actions.test.ts
Due: test-suite, typescript-check, eslint

feat: design agent memory tier architecture
  docs/architecture/MEMORY_TIER_ARCHITECTURE.md
  prisma/migrations/20260120_agent_memory_architecture/migration.sql
  prisma/migrations/20260120_agent_memory_architecture/rollback.sql
  prisma/schema.prisma
Due: none

feat: add Datadog tracing for gt/bd CLI commands
  src/lib/monitoring/gastown-cli-tracing.ts
  src/lib/monitoring/index.ts
  tests/unit/lib/monitoring/gastown-cli-tracing.test.ts
Due: test-suite, typescript-check, eslint

Add polecat observability widgets
  config/datadog/datadog-gastown-orchestration-dashboard.json
Due: none

Upgrade Redis and Valkey to 8.1
  __mocks__/child_process.js
  docker/HEALTHCHECKS.md
  docker/docker-compose.ai-gateway.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.litellm.yml
  docker/docker-compose.multiarch.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.production.yml
  docker/docker-compose.repo.yml
  docker/docker-compose.test.yml
  docker/docker-compose.yml
  k8s/redis-deployment.yaml
  k8s/valkey-deployment.yaml
  k8s/valkey-secure-deployment.yaml
  k8s/vibecode-deployment.yaml
  scripts/comprehensive-kind-testing.sh
  scripts/deploy-authelia.sh
  scripts/deploy-rag-stack-simple.sh
  scripts/deploy-rag-stack.sh
  scripts/kind-full-automation.sh
  scripts/local-kind-setup.sh
  scripts/vfkit/ARM64_SERVICES_GUIDE.md
  scripts/vfkit/BUILD_FOUR_VMS.sh
  scripts/vfkit/build-services-arm64.sh
  scripts/vfkit/build-services-on-host.sh
  scripts/vfkit/compile-valkey-musl.sh
  scripts/vfkit/compile-valkey-uclibc.sh
  scripts/vfkit/create-multi-vm-setup.sh
  scripts/vfkit/create-working-vm.sh
  scripts/vfkit/fast-build-and-test.sh
  scripts/vfkit/run-builds.sh
  scripts/vfkit/setup-alpine-services.sh
  scripts/vfkit/vm-setup-services.sh
  tests/jest.setup.js
Due: test-suite, k8s-tests, eslint

Upgrade pgvector references to 0.8.0
  config/lima/postgresql-pgvector-vm.yaml
  config/postgresql/QUICKSTART.md
  config/postgresql/init.sql
  config/vfkit/postgresql-pgvector-vm.yaml
  docs/LIMA_QUICKSTART.md
  docs/LIMA_VS_VFKIT_COMPARISON.md
  docs/POSTGRESQL_PGVECTOR_SETUP.md
  scripts/release/build-macos-release.sh
  scripts/setup-k8s-db-scaling.sh
  scripts/vfkit/create-working-vm.sh
  src/lib/db/__tests__/db-types.test.ts
  tests/unit/lib/db/db-types.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Add GitHub webhook service
  services/github-webhook/Dockerfile
  services/github-webhook/README.md
  services/github-webhook/main.py
  services/github-webhook/requirements.txt
Due: none

Upgrade pgvector references to 0.8.0 (#902)
  config/lima/postgresql-pgvector-vm.yaml
  config/postgresql/QUICKSTART.md
  config/postgresql/init.sql
  config/vfkit/postgresql-pgvector-vm.yaml
  docs/LIMA_QUICKSTART.md
  docs/LIMA_VS_VFKIT_COMPARISON.md
  docs/POSTGRESQL_PGVECTOR_SETUP.md
  scripts/release/build-macos-release.sh
  scripts/setup-k8s-db-scaling.sh
  scripts/vfkit/create-working-vm.sh
  src/lib/db/__tests__/db-types.test.ts
  tests/unit/lib/db/db-types.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Upgrade Redis and Valkey to 8.1 (#903)
  __mocks__/child_process.js
  docker/HEALTHCHECKS.md
  docker/docker-compose.ai-gateway.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.litellm.yml
  docker/docker-compose.multiarch.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.production.yml
  docker/docker-compose.repo.yml
  docker/docker-compose.test.yml
  docker/docker-compose.yml
  k8s/redis-deployment.yaml
  k8s/valkey-deployment.yaml
  k8s/valkey-secure-deployment.yaml
  k8s/vibecode-deployment.yaml
  scripts/comprehensive-kind-testing.sh
  scripts/deploy-authelia.sh
  scripts/deploy-rag-stack-simple.sh
  scripts/deploy-rag-stack.sh
  scripts/kind-full-automation.sh
  scripts/local-kind-setup.sh
  scripts/vfkit/ARM64_SERVICES_GUIDE.md
  scripts/vfkit/BUILD_FOUR_VMS.sh
  scripts/vfkit/build-services-arm64.sh
  scripts/vfkit/build-services-on-host.sh
  scripts/vfkit/compile-valkey-musl.sh
  scripts/vfkit/compile-valkey-uclibc.sh
  scripts/vfkit/create-multi-vm-setup.sh
  scripts/vfkit/create-working-vm.sh
  scripts/vfkit/fast-build-and-test.sh
  scripts/vfkit/run-builds.sh
  scripts/vfkit/setup-alpine-services.sh
  scripts/vfkit/vm-setup-services.sh
  tests/jest.setup.js
Due: test-suite, k8s-tests, eslint

Add GitHub webhook service (#904)
  services/github-webhook/Dockerfile
  services/github-webhook/README.md
  services/github-webhook/main.py
  services/github-webhook/requirements.txt
Due: none

Add webhook service deployment configs
  docs/guides/deployment/webhook-service-deployment.md
  k8s/webhook-service/00-namespace.yaml
  k8s/webhook-service/01-configmap.yaml
  k8s/webhook-service/02-secrets.yaml
  k8s/webhook-service/03-deployment.yaml
  k8s/webhook-service/04-service.yaml
  k8s/webhook-service/05-hpa.yaml
  services/webhook-service/Dockerfile
  services/webhook-service/README.md
  services/webhook-service/docker-compose.yml
  services/webhook-service/package-lock.json
  services/webhook-service/package.json
  services/webhook-service/src/server.js
Due: test-suite, k8s-tests, eslint

feat: design agent memory tier architecture (#909)
  docs/architecture/MEMORY_TIER_ARCHITECTURE.md
  prisma/migrations/20260120_agent_memory_architecture/migration.sql
  prisma/migrations/20260120_agent_memory_architecture/rollback.sql
  prisma/schema.prisma
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
