Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: update package-lock.json after dependency reinstallation
  package-lock.json
Due: none

fix: resolve remaining merge conflicts in documentation and workflow files
  .github/workflows/db-monitoring-deployment.yml.conflict-backup-1760252204
  .github/workflows/docs-ci-cd.yml.conflict-backup-1760252204
  .github/workflows/main-branch-ci.yml
  .github/workflows/main-branch-ci.yml.conflict-backup-1760252204
  .github/workflows/release-branch-ci.yml
  .github/workflows/release-branch-ci.yml.conflict-backup-1760252204
  archive/consolidated-wiki/runbooks/README.md.conflict-backup-1760252202
  archive/root-md-files/AUTHENTICATION_SUMMARY.md
  archive/root-md-files/AUTHENTICATION_SUMMARY.md.conflict-backup-1760252202
  archive/root-md-files/AUTHENTICATION_TESTING_GUIDE.md.conflict-backup-1760252202
  archive/root-md-files/ENV_VARIABLES.md.conflict-backup-1760252202
  content/wiki/AUTHENTICATION_SUMMARY.md
  content/wiki/AUTHENTICATION_SUMMARY.md.conflict-backup-1760252202
  content/wiki/AUTHENTICATION_TESTING_GUIDE.md
  content/wiki/AUTHENTICATION_TESTING_GUIDE.md.conflict-backup-1760252202
  content/wiki/ENV_VARIABLES.md
  content/wiki/ENV_VARIABLES.md.conflict-backup-1760252202
  content/wiki/authentication-summary.md.conflict-backup-1760252202
  content/wiki/authentication-testing.md
  content/wiki/authentication-testing.md.conflict-backup-1760252203
  docker-compose.multiarch.yml.conflict-backup-1760252202
  docker-compose.yml
  docker-compose.yml.conflict-backup-1760252204
  docs/package-lock.json.conflict-backup-1760252203
  docs/package.json.conflict-backup-1760252203
  docs/src/content/docs/authentication-summary.md
  docs/src/content/docs/authentication-summary.md.conflict-backup-1760252203
  docs/src/content/docs/authentication-testing.md
  docs/src/content/docs/authentication-testing.md.conflict-backup-1760252203
  extensions/vibecode-ai-assistant/package-lock.json.conflict-backup-1760252204
  extensions/vibecode-ai-assistant/package.json.conflict-backup-1760252204
  helm/vibecode-platform/templates/tests/test-provisioning.yaml.conflict-backup-1760252204
  k8s/kind-test-config.yaml.conflict-backup-1760252202
  resolve-source-conflicts.sh
  services/ai-gateway/node_modules/.package-lock.json
  services/ai-gateway/package-lock.json.conflict-backup-1760252204
  services/ai-gateway/package.json.conflict-backup-1760252204
  tsconfig.json.conflict-backup-1760252204
  web-dashboard/package.json.conflict-backup-1760252204
Due: k8s-tests

fix: resolve final merge conflicts in source files
  Dockerfile.backup
  Dockerfile.backup.backup-1760252802
  fix-merge-conflicts.sh.backup
  resolve-conflicts.sh.backup
  resolve-source-conflicts.sh.backup
  scripts/deploy-kind-postgres-monitoring.sh.backup-1760252801
  scripts/fix-merge-conflicts-better.sh.backup-1760252802
  scripts/fix-merge-conflicts.sh
  scripts/fix-merge-conflicts.sh.backup-1760252801
  scripts/setup-postgres-datadog-monitoring.sh.backup-1760252802
  scripts/util/fix-merge-conflicts.sh
  scripts/util/fix-merge-conflicts.sh.backup-1760252801
Due: k8s-tests

feat: organize and optimize backup file management
  Dockerfile.backup.backup-1760252802
Due: none

refactor: migrate to .mjs config files and implement structured logging
  jest.config.js
  next.config.js
  next.config.mjs
  package-lock.json
  package.json
  src/lib/logger.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

fix: resolve merge conflicts in source files
  src/app/ai-advanced-features-demo/page.tsx
  src/app/api/workspaces/[id]/route.ts
  src/components/chat/CollaborativeChatInterface.tsx
  src/components/chat/EnhancedChatInterface.tsx
  src/components/chat/HuggingFaceChatInterface.tsx
Due: test-suite, typescript-check, eslint
