Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

feat: implement Docker/Colima detection backend (#500)
  claudedocs/DOCKER_DETECTION_IMPLEMENTATION.md
  src/app/api/docker/status/route.ts
  src/lib/docker/client.ts
  src/lib/docker/detection.ts
  src/types/docker.ts
  tests/integration/docker-api.test.ts
  tests/unit/docker-detection.test.ts
Due: test-suite, typescript-check, eslint

feat(architecture): comprehensive end-to-end system review
  claudedocs/END_TO_END_ARCHITECTURE_REVIEW.md
Due: none

docs: Add Agent 31 deliverables summary for integration test strategy
  claudedocs/AGENT31_DELIVERABLES_SUMMARY.md
Due: none

docs(production): add comprehensive deployment and operations documentation
  docs/production/ARCHITECTURE_OVERVIEW.md
  docs/production/DEPLOYMENT_RUNBOOK.md
  docs/production/INCIDENT_RESPONSE.md
  docs/production/OPERATIONS_GUIDE.md
  docs/production/README.md
  docs/production/TROUBLESHOOTING.md
Due: none

docs(claudedocs): add production documentation deliverables summary
  claudedocs/PRODUCTION_DOCUMENTATION_DELIVERABLES.md
Due: none

docs: Add comprehensive test coverage analysis
  claudedocs/TEST_COVERAGE_ANALYSIS.md
Due: none

chore: add datadog-aware benchmark tooling
  TODO.md
  archive/agents/2025-10-02-firecracker-bench-hand-off.md
  scripts/benchmarks/_dogstatsd.py
  scripts/benchmarks/boot_latency_bench.py
  scripts/benchmarks/emit_to_datadog.py
  scripts/benchmarks/firecracker/.gitignore
  scripts/benchmarks/firecracker_bench.py
Due: k8s-tests

chore: add packaging script and release notes for fast openvscode vm
  archive/agents/2025-10-02-firecracker-bench-hand-off.md
  demos/README.md
  scripts/release/package-fast-openvscode-vm.sh
Due: k8s-tests

docs: log openvscode microvm prototype
  TODO.md
  archive/agents/2025-10-02-openvscode-microvm.md
  docs/virtualization/openvscode-microvm.md
Due: none

docs: add agents quick reference
  agents.md
Due: none

docs: add microvm pointers for agents
  AGENTS.md
Due: none

docs: extend microvm tips for agents
  AGENTS.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
