Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: use emit_to_datadog.py for Datadog metrics
  scripts/test-datadog-musl-build.sh
Due: k8s-tests

chore: remove duplicate kind configuration
  kind-vibecode-local.yaml
Due: none

security: migrate critical secrets to macOS Keychain
  .env.azure
  src/lib/database/agentapi-queries.ts
  src/lib/prisma.ts
Due: test-suite, typescript-check, eslint

security: add Zod validation to critical API routes
  src/app/api/chat/mongodb/route.ts
  src/app/api/code-completion/route.ts
Due: test-suite, typescript-check, eslint

docs: capture musl validation and kernel bench notes
  archive/agents/2025-10-02-firecracker-bench-hand-off.md
  claudedocs/push-verification-2025-10-22.md
  claudedocs/workflow_analysis.json
  docs/musl-build-system.md
  scripts/benchmarks/boot_latency_bench.py
Due: k8s-tests

feat: Add Zod validation to AI chat routes
  src/app/api/ai/chat/enhanced/route.ts
  src/app/api/ai/chat/stream/route.ts
Due: test-suite, typescript-check, eslint

fix: Add workflow_dispatch trigger to Main Branch CI
  .github/workflows/main-branch-ci.yml
Due: none

fix: Copy scripts directory before npm install in Dockerfile
  Dockerfile.production
Due: none

chore: disable 13 consistently failing workflows
  .github/workflows-disabled/ai-tooling-parity.yml
  .github/workflows-disabled/azure-webgui-deploy.yml
  .github/workflows-disabled/code-server-release-monitor.yml
  .github/workflows-disabled/codeserver-multiarch.yml
  .github/workflows-disabled/db-monitoring-deployment.yml
  .github/workflows-disabled/deploy-aks-monitoring.yml
  .github/workflows-disabled/deploy-next-docs.yml
  .github/workflows-disabled/docs-automation.yml
  .github/workflows-disabled/gitops-deployment.yml
  .github/workflows-disabled/infrastructure-tests.yml
  .github/workflows-disabled/rebuild-codeserver.yml
  .github/workflows-disabled/secret-scanning-enhanced.yml
  .github/workflows-disabled/standup-report.yml
Due: none

feat: optimize GitHub Actions workflows (61→33, -46%)
  .github/WORKFLOWS_OPTIMIZATION.md
  .github/workflows-disabled/codeserver-monitor.yml
  .github/workflows-disabled/cost-monitor.yml
  .github/workflows-disabled/datadog-trace-verify.yml
  .github/workflows-disabled/demo-validation.yml
  .github/workflows-disabled/error-tracking-integration.yml
  .github/workflows-disabled/stale.yml
  .github/workflows-feature-only/test-amd64-ai.yml
  .github/workflows-feature-only/test-amd64-full.yml
  .github/workflows-feature-only/test-arm64-ai.yml
  .github/workflows-feature-only/test-arm64-build.yml
  .github/workflows-feature-only/test-arm64-full.yml
  .github/workflows-feature-only/test-arm64-standard.yml
  .github/workflows-feature-only/test-arm64-web.yml
  .github/workflows-feature-only/test-theia-arm64-minimal.yml
Due: none

security: fix critical and medium vulnerabilities
  docker/agents/requirements.txt
  package-lock.json
Due: none
