Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

feat: modernize infrastructure to PostgreSQL 17, Valkey 8.1, pgvector for Issue #888
  docker-compose.yml
Due: none

feat: modernize infrastructure to PostgreSQL 17, Valkey 8.1, pgvector for Issue #888 (#940)
  docker-compose.yml
Due: none

docs: add migration and rollback documentation for Issue #888
  docs/infrastructure/MIGRATION-POSTGRESQL17-VALKEY81.md
  docs/infrastructure/ROLLBACK-INFRASTRUCTURE.md
Due: none

docs: add migration and rollback documentation for Issue #888 (#941)
  docs/infrastructure/MIGRATION-POSTGRESQL17-VALKEY81.md
  docs/infrastructure/ROLLBACK-INFRASTRUCTURE.md
Due: none

feat: add Intelligent Agent Routing & Cost Optimization for Issue #890
  src/lib/agents/routing.ts
Due: test-suite, typescript-check, eslint

feat: add Intelligent Agent Routing & Cost Optimization for Issue #890 (#942)
  src/lib/agents/routing.ts
Due: test-suite, typescript-check, eslint

feat: add Human-in-the-Loop Workflow Management for Issue #889
  src/lib/workflow/hitl-manager.ts
Due: test-suite, typescript-check, eslint

feat: add Human-in-the-Loop Workflow Management for Issue #889 (#943)
  src/lib/workflow/hitl-manager.ts
Due: test-suite, typescript-check, eslint

feat: add Container Runtime Abstraction for Issue #877
  src/lib/runtime/container-abstraction.ts
Due: test-suite, typescript-check, eslint

feat: add Container Runtime Abstraction for Issue #877 (#944)
  src/lib/runtime/container-abstraction.ts
Due: test-suite, typescript-check, eslint

docs: consolidate security runbooks and credential rotation docs
  SECURITY.md
  docs/security/README.md
  docs/security/credential-rotation.md
  docs/sessions/archive-worklogs/SECURITY_KEY_ROTATION_REQUIRED.md
Due: none

docs: Consolidate security runbooks and credential rotation [#734] (#945)
  SECURITY.md
  docs/security/README.md
  docs/security/credential-rotation.md
  docs/sessions/archive-worklogs/SECURITY_KEY_ROTATION_REQUIRED.md
Due: none

docs: add GitHub Copilot instructions for repository
  .github/copilot-instructions.md
Due: none

docs: add GitHub Copilot instructions for repository (#948)
  .github/copilot-instructions.md
Due: none

feat: add Web IDE Abstraction Layer for Issue #878
  src/lib/ide/web-ide-abstraction.ts
Due: test-suite, typescript-check, eslint

feat: add Web IDE Abstraction Layer for Issue #878 (#949)
  src/lib/ide/web-ide-abstraction.ts
Due: test-suite, typescript-check, eslint

docs: add Tart and UTM VZ implementation research
  docs/research/TART-UTM-VM-RESEARCH.md
Due: none

docs: add Tart and UTM VZ implementation research (#950)
  docs/research/TART-UTM-VM-RESEARCH.md
Due: none

feat: add vfkit bootstrap for VM first-boot initialization
  src/lib/vm/vfkit-bootstrap.ts
Due: test-suite, typescript-check, eslint

docs: add VM bootloader troubleshooting guide
  docs/guides/VM-BOOTLOADER-TROUBLESHOOTING.md
Due: none

docs: add VM bootloader troubleshooting guide (#959)
  docs/guides/VM-BOOTLOADER-TROUBLESHOOTING.md
Due: none

fix: add GRUB bootloader install script for Alpine VMs
  scripts/vm/install-grub-alpine.sh
Due: k8s-tests

fix: add GRUB bootloader install script for Alpine VMs (#960)
  scripts/vm/install-grub-alpine.sh
Due: k8s-tests

fix: add EFI variable store manager for VMs
  platforms/macos/VibeCodeSwift/Sources/VM/EFIVariableStore.swift
Due: none

fix: add EFI variable store manager for VMs (#961)
  platforms/macos/VibeCodeSwift/Sources/VM/EFIVariableStore.swift
Due: none

test: add health API route tests
  tests/api/health.test.ts
Due: test-suite, typescript-check, eslint

test: add health API route tests (#962)
  tests/api/health.test.ts
Due: test-suite, typescript-check, eslint

perf: add M-series optimizations and zstd compression (#963, #964)
  platforms/macos/VibeCodeSwift/Package.swift
  platforms/macos/VibeCodeSwift/Sources/Compression/VMCompression.swift
Due: none

perf: add M-series optimizations and zstd compression (#963, #964) (#966)
  platforms/macos/VibeCodeSwift/Package.swift
  platforms/macos/VibeCodeSwift/Sources/Compression/VMCompression.swift
Due: none

perf: add Metal GPU acceleration for VMs (#965)
  platforms/macos/VibeCodeSwift/Package.swift
  platforms/macos/VibeCodeSwift/Sources/VM/MetalGPUConfig.swift
Due: none

perf: add Metal GPU acceleration for VMs (#965) (#973)
  platforms/macos/VibeCodeSwift/Package.swift
  platforms/macos/VibeCodeSwift/Sources/VM/MetalGPUConfig.swift
Due: none

fix: add enableLogging and enableMetrics to VectorDatabaseConfig (#968)
  src/lib/vector/interfaces/vector-types.ts
Due: test-suite, typescript-check, eslint

fix: add enableLogging and enableMetrics to VectorDatabaseConfig (#968) (#974)
  src/lib/vector/interfaces/vector-types.ts
Due: test-suite, typescript-check, eslint

fix: resolve TypeScript strict errors in experiments queries (#967)
  src/lib/experiments/queries.ts
Due: test-suite, typescript-check, eslint

fix: resolve TypeScript strict errors in database queries (#969)
  src/lib/database/agentapi-queries.ts
Due: test-suite, typescript-check, eslint

fix: resolve TypeScript strict errors in experiments queries (#967) (#975)
  src/lib/experiments/queries.ts
Due: test-suite, typescript-check, eslint

fix: resolve TypeScript strict errors in database queries (#969) (#976)
  src/lib/database/agentapi-queries.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
