Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: enable claude-api-integration test
  tests/integration/claude-api-integration.test.ts
Due: test-suite, typescript-check, eslint

fix: improve ProjectGenerator tests and restore mocks
  tests/unit/components/ProjectGenerator.test.tsx
Due: test-suite, typescript-check, eslint

fix: rewrite automated-test-generator tests to match real implementation
  tests/unit/lib/ai/automated-test-generator.test.ts
Due: test-suite, typescript-check, eslint

fix: rewrite logger tests with real Pino implementation
  tests/unit/lib/logger.test.ts
Due: test-suite, typescript-check, eslint

fix: simplify useProjectGenerator tests, remove all mocks
  tests/unit/hooks/useProjectGenerator.test.ts
Due: test-suite, typescript-check, eslint

fix: simplify security logger tests
  tests/unit/security-input-validator.test.ts
Due: test-suite, typescript-check, eslint

fix: align template-generation tests with actual GeneratedTemplateProject structure
  tests/unit/template-generation.test.ts
Due: test-suite, typescript-check, eslint

fix: add UserPreferencesProvider to test-utils AllProviders
  tests/test-utils.tsx
Due: test-suite, typescript-check, eslint

feat: implement isValidBcryptHash function
  src/lib/auth/password.ts
Due: test-suite, typescript-check, eslint

fix: correct module path in auth test
  tests/unit/lib/auth.test.ts
Due: test-suite, typescript-check, eslint

feat: iteration 2 - fix 149 more tests (60.4% → 65.2% pass rate)
  src/app/api/files/sync/route.ts
  src/lib/api/validation/helpers.ts
  src/lib/api/validation/schemas.ts
  src/lib/editor/monaco-agentapi.ts
  src/lib/workflow/engine.ts
  src/middleware/security-middleware.ts
  tests/api-validation-phase3-security.test.ts
  tests/docker/code-server-extensions.test.js
  tests/docker/container-health.test.js
  tests/docker/docker-setup.test.js
  tests/integration/api/health-endpoints.test.ts
  tests/integration/api/health-error-scenarios.test.ts
  tests/integration/api/health-response-formats.test.ts
  tests/integration/vm-providers.test.ts
  tests/jest.polyfills.js
  tests/jest.setup.js
  tests/test-utils.tsx
  tests/unit/ai-chat-interface.test.tsx
  tests/unit/auth/password.test.ts
  tests/unit/lib/monitoring/datadog-metrics.test.ts
Due: test-suite, typescript-check, eslint

feat: iteration 3 - fix 97 more tests (65.2% → 68.7% pass rate)
  src/app/api/monitoring/metrics/route.ts
  src/app/chat/huggingface/page.tsx
  src/app/workspaces/[id]/page.tsx
  src/components/deployment/GitHubDeploymentWorkflow.tsx
  src/components/experiments/VariantScorecard.tsx
  src/components/ml/MLStatusDisplay.tsx
  src/components/monitoring/ConnectionPoolMonitoringDashboard.tsx
  src/components/projects/GitHubIntegrationModal.tsx
  src/components/workflow/WorkflowEditor.tsx
  src/lib/experiments/statistics.ts
  src/lib/monitoring/auth.ts
  src/lib/multimodal-agent.ts
  src/lib/server-monitoring.ts
  src/lib/streaming/optimized-sse-client.ts
  src/lib/streaming/optimized-websocket-client.ts
  src/lib/workflow/engine.ts
  src/samples/multimodal-agent-samples.ts
  tests/__mocks__/@prisma/client.ts
  tests/accessibility/contrast.test.ts
  tests/agents/unit/agent-client.test.ts
  tests/lib/experiments/bayesian.test.ts
  tests/lib/experiments/statistics.test.ts
  tests/performance/load-testing.test.ts
  tests/performance/realtime-communication-benchmark.test.ts
  tests/unit/hooks/useAuth.test.ts
  tests/unit/lib/auth.test.ts
  tests/unit/onboarding.test.tsx
Due: test-suite, typescript-check, eslint

feat: iteration 4 - fix 231 more tests (68.7% → 76.96% pass rate)
  .dockerignore
  Dockerfile
  __mocks__/next/server.js
  jest.config.js
  kind-config.yaml
  src/app/api/agents/[...path]/route.ts
  src/app/api/health/simple/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/lib/ai/enhanced-ai-manager.ts
  src/lib/cache/production-vector-cache-invalidator.ts
  src/lib/experiments/queries.ts
  src/lib/experiments/scenarios/chatbot-speed.ts
  src/lib/experiments/scenarios/chatbot-test-data.ts
  src/lib/experiments/sequential.ts
  src/lib/experiments/templates.ts
  src/lib/experiments/warehouse.ts
  src/lib/monitoring/auth.ts
  src/lib/streaming/sse-client.ts
  src/lib/vector-db/connection-router.ts
  src/lib/vector-stores/enhanced-vector-store.ts
  tests/__mocks__/@/lib/prisma.ts
  tests/api/ai-chat-stream.test.ts
  tests/cognitive-search-vector-database-adapter.test.ts
  tests/integration/agents/agents-api.test.ts
  tests/integration/api-failure-modes.test.ts
  tests/integration/api/ai-chat-stream-simple.test.ts
  tests/integration/api/ai-chat-stream.test.ts
  tests/integration/api/health-response-formats.test.ts
  tests/integration/cache-pgvector-integration.test.ts
  tests/integration/real-monitoring-integration.test.ts
  tests/jest.polyfills.js
  tests/lib/experiments/scenarios/chatbot-speed.test.ts
  tests/unit/ai/enhanced-ai-manager.test.ts
  tests/unit/app/api/health/route.test.ts
  tests/unit/middleware/middleware.test.ts
  tests/unit/middleware/quota-middleware.test.ts
  tests/unit/middleware/security-middleware.test.ts
  tests/unit/streaming/sse-client.test.ts
  tests/vector-data-migration.test.js
  tests/vector-store-optimizations.test.ts
Due: test-suite, typescript-check, eslint

fix: speech-to-text experiment SRM detector - fix type mismatch
  tests/lib/experiments/scenarios/speech-to-text.test.ts
Due: test-suite, typescript-check, eslint

feat: iteration 8 - 10 parallel agents, 86.59% pass rate (3073/3549 tests)
  src/app/api/ai/model-selection/route.ts
  src/app/api/auth/saml/sso/route.ts
  src/app/api/code-server/session/[sessionId]/route.ts
  src/app/api/docker/status/route.ts
  src/app/api/security/csp-report/route.ts
  src/app/api/uploads/pdf/route.ts
  src/app/api/workspace/auto-scaling/route.ts
  src/components/__tests__/ProjectGenerator.test.tsx
  src/lib/ai/__tests__/automated-test-generator.test.ts
  src/lib/api/validation/middleware.ts
  src/lib/api/validation/schemas.ts
  src/lib/auth/middleware.ts
  src/lib/experiments/warehouse.ts
  tests/__mocks__/@prisma/client.ts
  tests/accessibility/automated-a11y.test.ts
  tests/agents/unit/agent-client.test.ts
  tests/agents/unit/agent-client.test.ts.skip
  tests/api-validation-phase4-batch1.test.ts
  tests/integration/ai-chat-integration.test.tsx
  tests/jest.polyfills.js
  tests/lib/experiments/warehouse.test.ts
  tests/unit/app/api/health/route.test.ts
  tests/unit/monaco-agentapi.test.ts
  tests/unit/vector-db-adapter.test.ts
  tests/unit/websocket-streaming.test.ts
Due: test-suite, typescript-check, eslint

fix: Add LDAP library verification for PostgreSQL dependencies
  AGENT-E-POSTGRESQL-LDAP-FIX.md
  azure/build-unified-services-with-datadog.sh
  scripts/test-postgresql-ldap.sh
Due: k8s-tests

fix: Replace macOS Valkey binary with correct Linux ARM64 binary
  AGENT-D-VALKEY-FIX-REPORT.md
  azure/build-unified-services-with-datadog.sh
Due: none

fix: Add GNU libc compatibility symlinks for OpenVSCode Node.js binary
  AGENT-F-OPENVSCODE-FIX-REPORT.md
  azure/build-unified-services-with-datadog.sh
  test-openvscode-fix.sh
Due: none

fix: Move shared memory mount to execute immediately after filesystems
  azure/build-unified-services-with-datadog.sh
Due: none

feat: iteration 10 - fix all 71 failing tests, achieve 100% pass rate (0 failures)
  k8s/datadog-values-kind.yaml
  k8s/datadog-values.yaml
  k8s/valkey-deployment.yaml
  tests/health/health-checks.test.ts
  tests/integration/enhanced-terminal-integration.test.ts
  tests/integration/feature-flag-persistence.test.ts
  tests/integration/monitoring-api-real.test.ts
  tests/integration/real-database-operations.test.ts
  tests/integration/real-vector-db-creation.test.ts
  tests/integration/vector-db-postgres.test.ts
  tests/k8s/datadog-k8s-config.test.ts
  tests/k8s/kind-deployment.test.ts
  tests/performance/realtime-communication-benchmark.test.ts
  tests/production/monitoring-health.test.ts
  tests/vector-db-migration-utility.test.js
Due: test-suite, k8s-tests, typescript-check, eslint

fix: eliminate flaky chatbot performance test with deterministic timing
  src/lib/experiments/scenarios/chatbot-speed.ts
Due: test-suite, typescript-check, eslint

feat: enable infrastructure tests with real Docker/K8s/databases, fix E2E test skipping
  tests/integration/experiments-e2e.test.ts
Due: test-suite, typescript-check, eslint

feat: achieve 100% test execution rate - enable all 108 skipped tests
  __mocks__/child_process.js
  config/jest/jest.config.js
  jest.config.js
  packages/vibecode-cli/package-lock.json
  prisma/schema.prisma
  services/ai-gateway/jest.config.cjs
  services/ai-gateway/package-lock.json
  services/ai-gateway/src/__tests__/openrouter-e2e.int.test.ts
  services/ai-gateway/src/controllers/ai-controller.ts
  src/components/__tests__/ProjectGenerator.test.tsx
  src/lib/ai/__tests__/automated-test-generator.test.ts
  src/lib/db/connection-pool-coordinator.ts
  tests/__mocks__/@prisma/client.ts
  tests/db/connection-pool-unified.test.ts
  tests/docker/code-server-extensions.test.js
  tests/docker/container-health.test.js
  tests/docker/docker-setup.test.js
  tests/integration/ai-chat-integration.test.tsx
  tests/integration/docs-kind-integration.test.ts
  tests/integration/experiments-e2e.test.ts
  tests/integration/pgvector-cache-end-to-end.test.ts
  tests/jest.env.js
  tests/jest.globalSetup.js
  tests/k8s/kind-cluster-validation.test.ts
  tests/performance/core-web-vitals.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

feat: add comprehensive Datadog metrics to all infrastructure tests
  tests/README.md
  tests/docker/code-server-extensions.test.js
  tests/docker/container-health.test.js
  tests/docker/docker-setup.test.js
  tests/integration/README-datadog-e2e.md
  tests/integration/datadog-e2e-infrastructure.test.ts
  tests/integration/datadog-metrics-retrieval.test.ts
  tests/k8s/chaos-controller-deployment.test.ts
  tests/k8s/datadog-k8s-config.test.ts
  tests/k8s/helm-chart-deployment.test.ts
  tests/k8s/kind-cluster-validation.test.ts
  tests/k8s/monitoring-deployment.test.ts
  tsconfig.lite.tsbuildinfo
Due: test-suite, k8s-tests, typescript-check, eslint

fix: resolve Datadog integration test failures
  src/lib/monitoring/health-monitoring.ts
  tests/docker/code-server-extensions.test.js
  tests/docker/container-health.test.js
  tests/integration/datadog-e2e-infrastructure.test.ts
  tests/integration/datadog-metrics-retrieval.test.ts
  tests/unit/lib/monitoring/health-monitoring.test.ts
Due: test-suite, typescript-check, eslint

fix: use SKIP_POSTGRES_TESTS env var in experiments-e2e test
  tests/integration/experiments-e2e.test.ts
Due: test-suite, typescript-check, eslint

security: remove hardcoded Datadog API key from test files
  tests/docker/container-health.test.js
  tests/integration/datadog-e2e-infrastructure.test.ts
  tests/integration/datadog-metrics-retrieval.test.ts
Due: test-suite, typescript-check, eslint

fix: enable all tests and fix health-monitoring test
  tests/integration/datadog-metrics-retrieval.test.ts
  tests/unit/lib/monitoring/health-monitoring.test.ts
Due: test-suite, typescript-check, eslint

fix: use cross-fetch in Datadog tests to bypass Jest mocks
  tests/integration/datadog-e2e-infrastructure.test.ts
  tests/integration/datadog-metrics-retrieval.test.ts
Due: test-suite, typescript-check, eslint

fix: remove duplicate jest.config.mjs
  jest.config.mjs
Due: none

fix: update connection-pool-alerts test for current implementation
  babel.config.test.js
  tests/unit/monitoring/connection-pool-alerts.test.ts
Due: test-suite, typescript-check, eslint

fix: improve agent API routing to handle direct ID paths
  src/app/api/agents/[...path]/route.ts
Due: test-suite, typescript-check, eslint

fix: resolve 11 of 14 agent API test failures (routing, validation, mock handling)
  src/app/api/agents/[...path]/route.ts
  src/lib/agents/thread-manager.ts
  tests/integration/agents/agents-api.test.ts
Due: test-suite, typescript-check, eslint
