Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

docs: Replace emoji-heavy peer reviews with honest assessment
  .github/RELEASE_TEMPLATE_AUTHENTIC.md
  CONTRIBUTING_AUTHENTIC.md
  docs/reviews/HONEST_ASSESSMENT.md
  docs/reviews/PEER_REVIEW_COMPARISON.md
Due: none

chore: Add GitHub issue template for documentation tone cleanup
  .github/ISSUE_TEMPLATE/tone-cleanup.md
Due: none

feat: Add issue templates for bootloader fix and service installation
  .github/ISSUE_TEMPLATE/01-bootloader-fix.md
  .github/ISSUE_TEMPLATE/02-install-services.md
Due: none

docs: Document bootloader fix and create comprehensive issue templates
  docs/BOOTLOADER_FIX_APPLIED.md
Due: none

docs: add comprehensive step-by-step implementation walkthrough
  docs/IMPLEMENTATION_WALKTHROUGH.md
Due: none

docs: update handoff with link to comprehensive walkthrough
  docs/NEXT_AGENT_HANDOFF.md
Due: none

docs: Add setup guide for new contributors picking up the codebase
  docs/SETUP_FOR_NEW_CONTRIBUTORS.md
  scripts/setup-vms-for-new-clone.sh
Due: k8s-tests

docs: Document license compatibility - Tart is Fair Source, incompatible with MIT
  docs/LICENSE_COMPATIBILITY.md
Due: none

feat: Add research issue for studying Tart/UTM implementations
  .github/ISSUE_TEMPLATE/03-learn-from-tart-utm.md
Due: none

feat: Add PR testing workflow for automated validation
  .github/workflows/pr-test.yml
Due: none

chore: add build artifacts to gitignore
  .gitignore
  extensions/vibecode-mcp-extension/README.md
  extensions/vibecode-mcp-extension/extension.js
  extensions/vibecode-mcp-extension/package.json
Due: test-suite, eslint

docs: add ASIF + Virtualization Framework documentation to Astro site
  docs/src/content/docs/agents.md
  docs/src/content/docs/asif-virtualization.md
Due: none

docs: add comprehensive ASIF + Virtualization framework status
  .gitignore
  VibeCodeSwift/Package.swift
  VibeCodeSwift/Sources/Core/IDEPreferences.swift
  VibeCodeSwift/Sources/Core/IDEProcessManager.swift
  VibeCodeSwift/Sources/Views/PreferencesView.swift
  VibeCodeSwift/Tests/IDEPreferencesTests.swift
  VibeCodeSwift/Tests/IDEProcessManagerTests.swift
  docs/ASIF_VZ_STATUS.md
  docs/wiki/ASIF-Virtualization-Framework.md
  scripts/VM_MANIFEST_README.md
  scripts/fetch-vms-aria2c.sh
  scripts/make-vm-manifest.sh
  scripts/test-ide-extension.sh
  scripts/test-ide-wrapper.sh
  scripts/vm-manifest.example.json
Due: k8s-tests

docs: add ASIF page to Astro sidebar navigation
  docs/astro.config.mjs
Due: none

ci: enable GitHub Pages deployment workflow
  .github/workflows/deploy-docs.yml
Due: none

docs: update GitHub Pages with working Docker Alpine VM
  VibeCodeSwift/Package.swift
  VibeCodeSwift/Sources/DockerVM/main.swift
  VibeCodeSwift/Sources/ViewModels/VMManager.swift
  VibeCodeSwift/docker-vm.entitlements
  docs/src/content/docs/agents.md
  docs/src/content/docs/asif-virtualization.md
Due: none

Creating a workspace-aware RAG VS Code extension
  extensions/workspace-rag/.gitignore
  extensions/workspace-rag/.vscodeignore
  extensions/workspace-rag/ARCHITECTURE.md
  extensions/workspace-rag/CHANGELOG.md
  extensions/workspace-rag/LICENSE
  extensions/workspace-rag/QUICKSTART.md
  extensions/workspace-rag/README.md
  extensions/workspace-rag/SECURITY_AND_PROVIDERS.md
  extensions/workspace-rag/media/chat.html
  extensions/workspace-rag/package.json
  extensions/workspace-rag/scripts/check-database.sh
  extensions/workspace-rag/scripts/setup-database.sh
  extensions/workspace-rag/src/extension.ts
  extensions/workspace-rag/src/logger.ts
  extensions/workspace-rag/src/mlxEmbeddingService.ts
  extensions/workspace-rag/src/pgvectorClient.ts
  extensions/workspace-rag/src/providers/anthropicProvider.ts
  extensions/workspace-rag/src/providers/googleProvider.ts
  extensions/workspace-rag/src/providers/llmProvider.ts
  extensions/workspace-rag/src/providers/openaiProvider.ts
  extensions/workspace-rag/src/providers/openrouterProvider.ts
  extensions/workspace-rag/src/providers/providerFactory.ts
  extensions/workspace-rag/src/ragService.ts
  extensions/workspace-rag/src/safeguards.ts
  extensions/workspace-rag/src/test/safeguards.test.ts
  extensions/workspace-rag/src/test/textSplitter.test.ts
  extensions/workspace-rag/src/tracing.ts
  extensions/workspace-rag/src/utils.ts
  extensions/workspace-rag/src/workspaceIndexer.ts
  extensions/workspace-rag/tsconfig.json
  extensions/workspace-rag/webpack.config.js
Due: test-suite, typescript-check, eslint

Creating a workspace-aware RAG VS Code extension (#739)
  extensions/workspace-rag/.gitignore
  extensions/workspace-rag/.vscodeignore
  extensions/workspace-rag/ARCHITECTURE.md
  extensions/workspace-rag/CHANGELOG.md
  extensions/workspace-rag/LICENSE
  extensions/workspace-rag/QUICKSTART.md
  extensions/workspace-rag/README.md
  extensions/workspace-rag/SECURITY_AND_PROVIDERS.md
  extensions/workspace-rag/media/chat.html
  extensions/workspace-rag/package.json
  extensions/workspace-rag/scripts/check-database.sh
  extensions/workspace-rag/scripts/setup-database.sh
  extensions/workspace-rag/src/extension.ts
  extensions/workspace-rag/src/logger.ts
  extensions/workspace-rag/src/mlxEmbeddingService.ts
  extensions/workspace-rag/src/pgvectorClient.ts
  extensions/workspace-rag/src/providers/anthropicProvider.ts
  extensions/workspace-rag/src/providers/googleProvider.ts
  extensions/workspace-rag/src/providers/llmProvider.ts
  extensions/workspace-rag/src/providers/openaiProvider.ts
  extensions/workspace-rag/src/providers/openrouterProvider.ts
  extensions/workspace-rag/src/providers/providerFactory.ts
  extensions/workspace-rag/src/ragService.ts
  extensions/workspace-rag/src/safeguards.ts
  extensions/workspace-rag/src/test/safeguards.test.ts
  extensions/workspace-rag/src/test/textSplitter.test.ts
  extensions/workspace-rag/src/tracing.ts
  extensions/workspace-rag/src/utils.ts
  extensions/workspace-rag/src/workspaceIndexer.ts
  extensions/workspace-rag/tsconfig.json
  extensions/workspace-rag/webpack.config.js
Due: test-suite, typescript-check, eslint

Add production-ready workspace-rag extension with Python build system
  extensions/README.md
  extensions/workspace-rag/.github/workflows/test.yml
  extensions/workspace-rag/.mocharc.json
  extensions/workspace-rag/PRODUCTION_READINESS.md
  extensions/workspace-rag/TESTING.md
  extensions/workspace-rag/package.json
  extensions/workspace-rag/scripts/check-database.sh
  extensions/workspace-rag/scripts/setup-database.sh
  extensions/workspace-rag/src/errorHandler.ts
  extensions/workspace-rag/src/extension.ts
  extensions/workspace-rag/src/test/integration.test.ts
  extensions/workspace-rag/src/test/runTest.ts
  extensions/workspace-rag/src/test/suite/index.ts
  scripts/extensions/install-extensions-to-vm.sh
  scripts/extensions/install_extensions_to_vm.py
  scripts/extensions/package-workspace-rag.sh
  scripts/extensions/package_workspace_rag.py
  scripts/release/README.md
  scripts/release/build-macos-release.sh
  scripts/release/build_macos_release.py
Due: test-suite, k8s-tests, typescript-check, eslint

docs: add workspace-rag v1.0.0 release documentation
  claudedocs/workspace-rag-extension.md
  docs/releases/README.md
  docs/releases/workspace-rag-v1.0.0.md
Due: none

docs: add verification checklist - build not yet tested
  VERIFICATION_CHECKLIST.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
