Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

feat: implement Docker-based Tailwind v4 development environment - resolves ARM64 compatibility issues
  .eslintcache
  Dockerfile.dev
  TAILWIND_V4_SUCCESS.md
  package.json
  postcss.config.js
  src/app/layout.tsx
  src/instrument.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

🔧 Fix ESLint errors in avatar component
  src/components/ui/avatar.tsx
Due: test-suite, typescript-check, eslint

🔧 Fix critical test failures to get CI pipeline working
  tests/unit/ai-chat-interface.test.tsx
  tests/unit/ai-project-generator.test.tsx
  tests/unit/monitoring-unmocked.test.ts
  tests/unit/monitoring.test.ts
Due: test-suite, typescript-check, eslint

feat: implement comprehensive E2E test infrastructure with Playwright - 69 tests covering authentication, workspace management, AI integration, and monitoring
  E2E_TEST_INFRASTRUCTURE_SUMMARY.md
  playwright.config.ts
  tests/e2e/ai/ai-integration.test.ts
  tests/e2e/auth/authentication.test.ts
  tests/e2e/fixtures/test-data.json
  tests/e2e/global-setup.ts
  tests/e2e/global-teardown.ts
  tests/e2e/monitoring/monitoring-integration.test.ts
  tests/e2e/smoke.test.ts
  tests/e2e/utils/test-helpers.ts
  tests/e2e/workspace/workspace-management.test.ts
Due: test-suite, typescript-check, eslint

🔧 Fix Docker build issues: Add jq dependency and fix SWC binary installation
  Dockerfile
  docker/code-server/Dockerfile
Due: none

🔧 Fix development Dockerfile .npmrc issue
  docker/development/Dockerfile
Due: none

🔧 Fix development Dockerfile .npmrc issue with RUN command
  docker/development/Dockerfile
Due: none

🔧 Fix development Dockerfile npm ci issue and monitoring test syntax error
  docker/development/Dockerfile
  tests/unit/monitoring.test.ts
Due: test-suite, typescript-check, eslint

Fix test syntax issues - monitoring and AI project generator tests
  tests/unit/ai-project-generator.test.tsx
  tests/unit/monitoring.test.ts
Due: test-suite, typescript-check, eslint
