Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

feat: Update Node.js to version 20 LTS throughout project
  .github/workflows/ci-simplified.yml
  docker/Dockerfile.backup
  docker/code-server/Dockerfile
  docker/code-server/Dockerfile.fixed
  docker/code-server/Dockerfile.optimized
  docker/code-server/Dockerfile.original
  docker/development/Dockerfile
  docker/development/Dockerfile.websocket
  env.aks.example
  env.staging.example
  k8s/vibecode-deployment.yaml
  optimize-github-actions.sh
  package.json
Due: license-check, vulnerability-scan, k8s-tests

feat: Upgrade to Node.js 24 (latest version)
  .github/workflows/build-and-push-image.yml
  .github/workflows/ci-simplified.yml
  docker/Dockerfile
  docker/Dockerfile.backup
  docker/build.sh
  docker/code-server/Dockerfile
  docker/code-server/Dockerfile.fixed
  docker/code-server/Dockerfile.optimized
  docker/code-server/Dockerfile.original
  docker/development/Dockerfile
  docker/development/Dockerfile.websocket
  docker/docker-compose.aks.yml
  docker/docker-compose.dev.yml
  docker/docker-compose.prod.yml
  docker/docker-compose.test.yml
  k8s/kind-app-values.yaml
  k8s/vibecode-app-deployment.yaml
  k8s/vibecode-app-simple.yaml
  optimize-github-actions.sh
  package-lock.json
  package.json
Due: license-check, vulnerability-scan, k8s-tests

docs: Add comprehensive Docker build system documentation
  COMPREHENSIVE_STATUS_REPORT.md
  DOCKER_BUILD_SYSTEM_STATUS.md
Due: none

docs: Add agent code collection summary
  AGENT_CODE_COLLECTION_SUMMARY.md
Due: none

docs: add GitHub issues and PR creation summary
  GITHUB_CREATED_SUMMARY.md
Due: none

fix: Resolve merge artifact build errors
  src/app/api/files/sync/route.ts
  src/app/api/workspace/auto-scaling/route.ts
Due: test-suite, typescript-check, eslint

fix: Clean up health route error handling
  src/app/api/health/route.ts
  src/app/api/workspaces/route.ts
  src/lib/db/connection-pool.ts
  src/lib/vector-db/postgres-vector-database-adapter.ts
  src/lib/vector/adapters/postgresql-vector-adapter.ts
Due: test-suite, typescript-check, eslint

docs: Add comprehensive merge recovery summary for agent coordination
  MERGE_RECOVERY_COMPLETE.md
Due: none

fix: resolve vector connection pool import and type errors
  src/app/api/monitoring/pool/route.ts
  src/lib/db/connection-pool-monitor.ts
  src/lib/db/connection-pool-types.ts
  src/lib/db/vector-connection-pool.ts
Due: test-suite, typescript-check, eslint
