Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

ci: add Tauri DMG packaging pipeline with code signing and notarization
  scripts/changelog-helper.sh
  scripts/security/check-branch-protection.sh
  src-tauri/icons/README.md
  src/app/api/workspaces/[id]/route.ts
  src/lib/tauri.ts
Due: test-suite, k8s-tests, typescript-check, eslint

docs: Add immediate action plan for development
  IMMEDIATE_ACTIONS.md
Due: none

feat: initialize Tauri project structure for desktop app
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/README.md
  src-tauri/gen/schemas/acl-manifests.json
  src-tauri/gen/schemas/capabilities.json
  src-tauri/gen/schemas/desktop-schema.json
  src-tauri/gen/schemas/macOS-schema.json
  src-tauri/icons/128x128.png
  src-tauri/icons/128x128@2x.png
  src-tauri/icons/32x32.png
  src-tauri/icons/icon.icns
  src-tauri/icons/icon.ico
  src-tauri/icons/icon.png
  src-tauri/src/commands.rs
  src-tauri/src/docker.rs
  src-tauri/src/main.rs
  src-tauri/tauri.conf.json
Due: none

docs: add TypeScript baseline status report
  claudedocs/typescript-baseline-status.md
Due: none

chore: remove unused code-server git submodule
  .gitmodules
Due: none

feat: Apple Container Integration - wrapper and API
  src/app/api/containers/[id]/route.ts
  src/app/api/containers/route.ts
  src/lib/container/apple-container.ts
  src/lib/container/types.ts
Due: test-suite, typescript-check, eslint

feat: implement menu bar integration with Docker container management
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/docker.rs
  src-tauri/src/main.rs
  src-tauri/src/mdns.rs
  src-tauri/src/menu.rs
  src/app/layout.tsx
  src/components/TauriMenuBarProvider.tsx
  src/hooks/useTauriMenuBar.ts
Due: test-suite, typescript-check, eslint

feat(tauri): add macOS menu bar backend module with Docker service control
  claudedocs/MDNS_BONJOUR_IMPLEMENTATION.md
  src/components/SessionBrowser.tsx
  src/lib/tauri/mdns.ts
Due: test-suite, typescript-check, eslint

feat: Week 2 Complete - Apple Container workspace provisioning
  src/app/api/workspaces/route.ts
  src/lib/services/workspace-provisioning-apple-container.ts
  src/lib/services/workspace-service-factory.ts
Due: test-suite, typescript-check, eslint

feat: implement mDNS/Bonjour service discovery (#495)
  src-tauri/Cargo.toml
  src-tauri/src/commands.rs
  src-tauri/src/main.rs
  src-tauri/src/mdns.rs
  src/components/SessionBrowser.tsx
  src/lib/tauri/mdns.ts
Due: test-suite, typescript-check, eslint
