Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: Make Valkey binary check non-fatal
  azure/build-unified-services-with-datadog.sh
Due: none

fix: Apply all agent fixes for TIME TO EDITOR optimization
  azure/build-unified-services-with-datadog.sh
Due: none

test: Complete reality check - test all assumptions
  REALITY_CHECK_RESULTS.md
  TEST_RESULTS_SUMMARY.md
  azure/vibecode-services-disk.img.gz
  next-env.d.ts
Due: test-suite, typescript-check, eslint

feat: Complete 5-agent swarm optimization - TIME TO EDITOR: 25s
  AGENT3_POSTGRESQL_VERIFICATION_REPORT.md
  PERFORMANCE-OPTIMIZATION-RESULTS.md
  azure/build-pgvector-arm64.sh
  claudedocs/agent-5-executive-summary.md
  claudedocs/agent-5-index.md
  claudedocs/agent-5-performance-summary-report.md
  claudedocs/agent-5-quick-reference.md
Due: none

fix: Improve network stability with DHCP retry logic
  azure/build-unified-services-with-datadog.sh
Due: none

fix: Replace macOS Valkey binary with correct Linux ARM64 binary
  AGENT-D-VALKEY-FIX-REPORT.md
  azure/build-unified-services-with-datadog.sh
Due: none

fix: Add GNU libc compatibility symlinks for OpenVSCode Node.js binary
  AGENT-F-OPENVSCODE-FIX-REPORT.md
  azure/build-unified-services-with-datadog.sh
  test-openvscode-fix.sh
Due: none

fix: Move shared memory mount to execute immediately after filesystems
  azure/build-unified-services-with-datadog.sh
Due: none

fix: Add LDAP library verification for PostgreSQL dependencies
  AGENT-E-POSTGRESQL-LDAP-FIX.md
  azure/build-unified-services-with-datadog.sh
  scripts/test-postgresql-ldap.sh
Due: k8s-tests

fix: enhance Prisma mock default return values for 27 tests (Iteration 12)
  tests/__mocks__/@prisma/client.ts
Due: test-suite, typescript-check, eslint

fix: enhance Prisma mocks for workspace access tests (290 tests fixed)
  jest.config.js
  tests/__mocks__/@/lib/prisma.ts
Due: test-suite, typescript-check, eslint

fix: enhance pgvector mocks and fix resetModules pattern (29 tests fixed)
  __mocks__/pg.js
  tests/integration/vector-search-rag-real.test.ts
Due: test-suite, typescript-check, eslint

chore: remove tracked secret files (API keys revoked)
  .env.azure
  .env.docker
  .env.docker.fixed
  .env.local.backup
  .env.test-db
  .env.test-external-db
  .env.valkey
  config/env/.env.azure
  config/env/.env.docker
  config/env/.env.docker.fixed
  config/env/.env.local.backup
  config/env/.env.test-db
  config/env/.env.test-external-db
  config/env/.env.valkey
Due: none

chore: remove stray verification file
  OPENVSCODE_SERVER_VERIFIED.md
Due: none

fix: add named OpenAI export to mock (7 tests fixed)
  src/lib/monitoring.ts
  src/lib/monitoring/datadog-client.ts
  src/lib/openrouter-client.ts
  tests/jest.polyfills.js
Due: test-suite, typescript-check, eslint

fix: return correct rowCount for batch INSERT operations (1 test fixed)
  __mocks__/pg.js
Due: test-suite, eslint

fix: reset modules and enhance query mocks in vector migration tests (3 tests fixed)
  tests/vector-data-migration.test.js
Due: test-suite, eslint

feat: achieve 100% test pass rate! 🎉
  tests/unit/lib/monitoring/health-monitoring.test.ts
Due: test-suite, typescript-check, eslint

feat: add production-grade CI/CD pipeline with automated testing
  .github/workflows/ci.yml
  .github/workflows/pr-checks.yml
  .gitignore
  .husky/pre-commit
  docs/ci-cd-setup.md
  jest.config.js
  package.json
Due: license-check, vulnerability-scan, test-suite, eslint

test: expand monitoring and observability coverage
  tests/unit/lib/monitoring/alerts-configuration.test.ts
  tests/unit/lib/monitoring/distributed-tracing.test.ts
  tests/unit/lib/monitoring/error-tracking.test.ts
  tests/unit/lib/monitoring/performance-baselines.test.ts
Due: test-suite, typescript-check, eslint

test: add comprehensive security coverage (14.4% → 90%+)
  tests/unit/lib/security/csp-config.test.ts
  tests/unit/lib/security/csrf-protection.test.ts
  tests/unit/lib/security/csrf.test.ts
  tests/unit/lib/security/env-validation.test.ts
  tests/unit/lib/security/file-validation.test.ts
  tests/unit/lib/security/macos-keychain-server.test.ts
  tests/unit/lib/security/macos-keychain.test.ts
  tests/unit/lib/security/rate-limit.test.ts
Due: test-suite, typescript-check, eslint

test: add comprehensive API route coverage (+114 tests, 10 files)
  tests/unit/app/api/auth/csrf/route.test.ts
  tests/unit/app/api/code-completion/route.test.ts
  tests/unit/app/api/docker/status/route.test.ts
  tests/unit/app/api/healthz/route.test.ts
  tests/unit/app/api/readyz/route.test.ts
  tests/unit/app/api/security/csp-report/route.test.ts
  tests/unit/app/api/user/preferences/route.test.ts
  tests/unit/app/api/vector-store/route.test.ts
  tests/unit/app/api/workspaces/route.test.ts
Due: test-suite, typescript-check, eslint

test: add comprehensive container infrastructure coverage (0.7% → 92.95%)
  tests/unit/lib/container/apple-container-v2.test.ts
  tests/unit/lib/container/apple-container.test.ts
  tests/unit/lib/container/container-health-checks.test.ts
  tests/unit/lib/container/container-lifecycle.test.ts
  tests/unit/lib/container/vm-orchestration-bridge.test.ts
Due: test-suite, typescript-check, eslint

test: fix 10 async/timeout issues in container health check tests
  tests/unit/lib/container/container-health-checks.test.ts
Due: test-suite, typescript-check, eslint

test: fix 22 assertion and matcher issues in Wave 2a tests
  tests/unit/lib/monitoring/performance-baselines.test.ts
  tests/unit/lib/security/env-validation.test.ts
  tests/unit/lib/security/file-validation.test.ts
  tests/unit/lib/security/macos-keychain.test.ts
Due: test-suite, typescript-check, eslint

test: fix 14 mock configuration issues in Wave 2a tests
  docs/sessions/test-improvement-plan.md
  src/app/api/vector-store/route.ts
  src/app/api/workspaces/route.ts
  test-mock-debug.js
  tests/integration/docs-kind-integration.test.ts
  tests/unit/app/api/auth/csrf/route.test.ts
  tests/unit/app/api/vector-store/route.test.ts
  tests/unit/lib/container/vm-orchestration-bridge.test.ts
  tests/unit/lib/security/csrf.test.ts
  tests/vector-db-migrations.test.js
  tsconfig.lite.tsbuildinfo
Due: test-suite, typescript-check, eslint

test: mock Datadog API for 21 integration tests
  tests/__mocks__/datadog-mock.ts
  tests/integration/datadog-e2e-infrastructure.test.ts
  tests/integration/datadog-metrics-retrieval.test.ts
Due: test-suite, typescript-check, eslint

test: fix 19 CSRF and env validation tests
  src/lib/security/env-validation.ts
  tests/unit/lib/security/csrf.test.ts
  tests/unit/lib/security/env-validation.test.ts
Due: test-suite, typescript-check, eslint

test: fix 13 miscellaneous test failures
  tests/unit/app/api/vector-store/route.test.ts
  tests/unit/app/api/workspaces/route.test.ts
  tests/unit/lib/monitoring/error-tracking.test.ts
  tests/unit/lib/monitoring/performance-baselines.test.ts
  tests/unit/lib/security/file-validation.test.ts
Due: test-suite, typescript-check, eslint

test: fix Jest hoisting and async module isolation issues (+28 tests)
  tests/unit/app/api/user/preferences/route.test.ts
  tests/unit/lib/security/macos-keychain-server.test.ts
Due: test-suite, typescript-check, eslint

docs: Wave 2 complete - 100% test suite pass rate achievement
  docs/sessions/test-improvement-plan.md
Due: none

test: fix macOS keychain server mock configuration (+7 tests)
  src/lib/security/__mocks__/macos-keychain-server.ts
  tests/unit/lib/security/macos-keychain-server.test.ts
Due: test-suite, typescript-check, eslint

test: restore 100% test suite pass rate after merge (+44 tests fixed)
  jest.config.mjs.from-merge
  tests/__mocks__/next/server.ts
  tests/api-validation-phase4-batch1.test.ts
  tests/api/auth-csrf.test.ts
  tests/integration/agents/agents-api.test.ts
  tests/integration/api/ai-chat-stream-simple.test.ts
  tests/unit/lib/ai/function-calling-advanced.test.ts
  tests/unit/websocket-streaming.test.ts
Due: test-suite, typescript-check, eslint

docs: document post-merge restoration session (AGENTS 61-65)
  docs/sessions/test-improvement-plan.md
Due: none

fix(security): resolve 2 HIGH severity vulnerabilities (AGENTS 66-69)
  docs/sessions/test-improvement-plan.md
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

docs: add commit hash to security campaign documentation
  docs/sessions/test-improvement-plan.md
Due: none
