Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

chore: Update test files and multimodal agent implementation
  .eslintcache
  src/lib/multimodal-agent.ts
  tests/integration/ai-chat-rag-real.test.ts
  tests/integration/vector-search-rag-real.test.ts
Due: test-suite, typescript-check, eslint

feat: Add Toto Open Base 1.0 integration to TODO.md and update dependencies
  TODO.md
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

feat: Resolve merge conflicts and apply build fixes
  next.config.js
  package-lock.json
  package.json
Due: license-check, vulnerability-scan, test-suite, eslint

refactor: reorganize test setup and improve file sync endpoint implementation
  __mocks__/lucide-react.js
  jest.config.js
  jest.setup.js
  package-lock.json
  package.json
  src/app/api/ai/chat/stream/route.ts
  src/app/api/files/sync/route.ts
  src/app/api/monitoring/alerts/route.ts
  src/app/api/monitoring/health/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/components/__mocks__/ui.js
  src/components/ai/AIChatInterface.tsx
  src/components/ui/index.ts
  tests/__mocks__/lucide-react.tsx
  tests/jest.d.ts
  tests/jest.env.js
  tests/jest.setup.js
  tests/mocks/lucide-react.js
  tests/mocks/ui.js
  tests/setup.ts
  tests/simple.test.ts
  tests/unit/ai-chat-interface-minimal.test.tsx
  tests/unit/ai-chat-interface.setup.js
  tests/unit/ai-chat-interface.test.tsx
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

fix(jest): resolve persistent test failures and type errors
  src/app/api/ai/chat/stream/route.ts
  tests/unit/ai-chat-interface.test.tsx
  tsconfig.json
Due: test-suite, typescript-check, eslint

feat(ci): upgrade to multi-platform docker builds
  scripts/production-deploy.sh
Due: k8s-tests

fix(deploy): Resolve Datadog agent crash and improve deploy scripts
  scripts/deploy-monitoring.sh
Due: k8s-tests

chore: Add backup of prometheus configuration
  monitoring/prometheus.yml.bak
Due: none

docs(todo): Add next sprint plan for platform hardening
  TODO.md
Due: none

ci(deploy): Add GitHub Actions workflow for production deployment
  .github/workflows/production-deployment.yml
Due: none

test(api): add integration test for ai chat stream
  tests/integration/api/ai-chat-stream.test.ts
Due: test-suite, typescript-check, eslint

test(ui): add file upload test for AIChatInterface
  src/components/ai/AIChatInterface.tsx
  tests/unit/ai-chat-interface.test.tsx
Due: test-suite, typescript-check, eslint

feat(monitoring): add prometheus alerts and grafana dashboard
  monitoring/alerts/alert.rules.yml
  monitoring/grafana-dashboard.json
Due: none

refactor(monitoring): replace grafana with datadog
  monitoring/prometheus.yml
  scripts/deploy-monitoring.sh
Due: k8s-tests

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
