Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

chore(feature-audit): scaffold issue #1265
  docs/feature-audit/issue-1265.md
  tests/feature-audit/issue-1265.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue #1266
  docs/feature-audit/issue-1266.md
  tests/feature-audit/issue-1266.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue #1267
  docs/feature-audit/issue-1267.md
  tests/feature-audit/issue-1267.test.ts
Due: test-suite, typescript-check, eslint

docs: add feature audit for multi-file editing
  docs/feature-audits/feature-audit-1325-multifile-editing.md
Due: none

chore(feature-audit): scaffold issue #1268
  docs/feature-audit/issue-1268.md
  tests/feature-audit/issue-1268.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue #1432
  docs/feature-audit/issue-1432.md
  tests/feature-audit/issue-1432.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue 1387
  docs/feature-audit/issue-1387.md
  tests/feature-audit/issue-1387.test.ts
Due: test-suite, typescript-check, eslint

Add feature audit scaffold for #1425
  docs/feature-audit/issue-1425.md
Due: none

docs(feature-audit): scaffold initramfs size audit (#1414)
  docs/feature-audits/issue-1414-initramfs-growth.md
Due: none

Add Apple VF fast-boot asset workflow
  docs/virtualization/openvscode-microvm.md
  scripts/benchmarks/build-applevf-fastboot-assets.sh
  scripts/benchmarks/vscode_microvm.sh
  scripts/release/package-fast-openvscode-vm.sh
Due: k8s-tests

chore(feature-audit): scaffold issue #1433
  docs/feature-audit/issue-1433.md
  tests/feature-audit/issue-1433.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue #1434
  docs/feature-audit/issue-1434.md
  tests/feature-audit/issue-1434.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue #1435
  docs/feature-audit/issue-1435.md
  tests/feature-audit/issue-1435.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue #1436
  docs/feature-audit/issue-1436.md
  tests/feature-audit/issue-1436.test.ts
Due: test-suite, typescript-check, eslint

docs(feature-audit): scaffold DMG size audit (#1415)
  docs/feature-audits/issue-1415-dmg-size.md
Due: none

chore(feature-audit): scaffold issue #1437
  docs/feature-audit/issue-1437.md
  tests/feature-audit/issue-1437.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue #1438
  docs/feature-audit/issue-1438.md
  tests/feature-audit/issue-1438.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue #1439
  docs/feature-audit/issue-1439.md
  tests/feature-audit/issue-1439.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue #1440
  docs/feature-audit/issue-1440.md
  tests/feature-audit/issue-1440.test.ts
Due: test-suite, typescript-check, eslint

docs(test): scaffold feature audit 1374
  docs/feature-audits/1374-postgres-localhost-5432.md
  tests/feature-audit/1374-postgres-localhost-5432.test.ts
Due: test-suite, typescript-check, eslint

docs(feature-audit): scaffold boot time audit (#1416)
  docs/feature-audits/issue-1416-boot-time.md
Due: none

docs(feature-audit): scaffold memory usage audit (#1417)
  docs/feature-audits/issue-1417-memory-usage.md
Due: none

feat(scripts): Add cleanup_merged_branches.py utility
  scripts/cleanup_merged_branches.py
Due: k8s-tests

docs(test): scaffold feature audit 1375
  docs/feature-audits/1375-valkey-localhost-6379.md
  tests/feature-audit/1375-valkey-localhost-6379.test.ts
Due: test-suite, typescript-check, eslint

docs(feature-audit): scaffold native desktop audit (#1418)
  docs/feature-audits/issue-1418-native-desktop.md
Due: none

Add feature audit scaffold for #1426
  docs/feature-audit/issue-1426.md
Due: none

docs(feature-audit): scaffold Tauri integration audit (#1419)
  docs/feature-audits/issue-1419-tauri-2-9-1.md
Due: none

Add feature audit scaffold for #1427
  docs/feature-audit/issue-1427.md
Due: none

docs(test): scaffold feature audit 1376
  docs/feature-audits/1376-postgres-data-persists-reboot.md
  tests/feature-audit/1376-postgres-data-persists-reboot.test.ts
Due: test-suite, typescript-check, eslint

docs(feature-audit): scaffold OpenVSCode backend audit (#1420)
  docs/feature-audits/issue-1420-openvscode-backend.md
Due: none

Add feature audit scaffold for #1428
  docs/feature-audit/issue-1428.md
Due: none

docs(test): scaffold feature audit 1377
  docs/feature-audits/1377-9p-shared-directory.md
  tests/feature-audit/1377-9p-shared-directory.test.ts
Due: test-suite, typescript-check, eslint

Add feature audit scaffold for #1429
  docs/feature-audit/issue-1429.md
Due: none

fix(vm): Implement Ubuntu VM launch with Docker exposed on port 2375 (Fixes #1132)
  scripts/launch_ubuntu_vm.py
Due: k8s-tests

Add feature audit scaffold for #1430
  docs/feature-audit/issue-1430.md
Due: none

docs(test): scaffold feature audit 1378
  docs/feature-audits/1378-db-init-first-boot.md
  tests/feature-audit/1378-db-init-first-boot.test.ts
Due: test-suite, typescript-check, eslint

docs(test): scaffold feature audit 1379
  docs/feature-audits/1379-no-data-loss-restart.md
  tests/feature-audit/1379-no-data-loss-restart.test.ts
Due: test-suite, typescript-check, eslint

fix(vm): Enable 9p persistent storage mounting in Ubuntu VM (Fixes #1131)
  scripts/launch_ubuntu_vm.py
Due: k8s-tests

docs(test): scaffold feature audit 1380
  docs/feature-audits/1380-menubar-button-opens-browser.md
  tests/feature-audit/1380-menubar-button-opens-browser.test.ts
Due: test-suite, typescript-check, eslint

feat(macos): Restore native Menubar App (Fixes #1129)
  .gitignore
  platforms/macos/VibeCodeMenubar/Package.swift
  platforms/macos/VibeCodeMenubar/Sources/VibeCodeMenubar/VibeCodeMenubarApp.swift
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
