Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

docs: Update Docker Model Runner documentation with sequential thinking MCP server
  docs/src/content/docs/docker-model-runner.md
Due: none

Bump @ai-sdk/openai from 1.3.23 to 2.0.15
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

Bump @playwright/test from 1.54.1 to 1.54.2
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

🚨 URGENT: Fix critical production-blocking issues
  package-lock.json
  package.json
  src/lib/auth/mfa-provider.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

🚧 WIP: Partial build fixes - STILL FAILING
  .env.example
  DATABASE_MONITORING_SETUP.md
  IMPLEMENTATION_COMPLETE.md
  KUBERNETES_SECRETS_AUTOMATION.md
  PRODUCTION-DEPLOYMENT-GUIDE.md
  SECURITY_INCIDENT_RESPONSE.md
  archive/root-md-files/DATADOG_MONITORING_CONFIGURATION.md
  database/production-setup.sql
  datadog-values.yaml
  docker-compose.yml
  docs/DATADOG_MONITORING.md
  infrastructure/terraform/azure/kubernetes-deployment.tf
  k8s/vibecode-secrets.yaml
  scripts/setup-secrets.sh
  src/app/generative-ui/page.tsx
Due: test-suite, k8s-tests, typescript-check, eslint

Bump ai from 4.3.19 to 5.0.18
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

chore: update dependencies (mongodb types, dotenv, msw, opentelemetry, datadog)
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

chore: update @ai-sdk/openai to 2.0.16
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

fix: resolve linting and type errors in model selection, orchestration, and chat pages
  src/app/api/ai/model-selection/route.ts
  src/app/chat/enhanced/page.tsx
  src/app/chat/huggingface/page.tsx
  src/lib/ai/model-orchestration.ts
Due: test-suite, typescript-check, eslint
