Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

🔧 Fix GitHub Actions - remove package-lock.json to resolve platform issues
  .github/workflows/ci.yml
Due: none

🔧 Fix GitHub Actions - remove platform-specific Next.js SWC dependency
  package.json
Due: license-check, vulnerability-scan

🔧 Fix ESLint errors for GitHub Actions builds
  .env.example
  CONTRIBUTING.md
  README.md
  docs/src/content/docs/contributing.md
  package-lock.json
  scripts/README.md
  scripts/setup-local-dev-with-monitoring.sh
  scripts/test-datadog.js
  scripts/test-dbm-setup.sh
  scripts/test-llm-observability-corrected.js
  scripts/test-llm-observability-final.js
  scripts/validate-complete-setup.sh
  scripts/validate-env.js
  scripts/validate-monitoring.js
  src/app/multimodal-demo/page.tsx
  src/app/projects/page.tsx
  src/app/voice-test/page.tsx
  src/components/PromptInterface.tsx
  src/components/console/ConsoleModal.tsx
  src/components/projects/AIProjectGenerator.tsx
  src/components/projects/ProjectScaffolder.tsx
  src/components/ui/textarea.tsx
Due: test-suite, k8s-tests, typescript-check, eslint

🔧 Add package-lock.json for GitHub Actions builds
  package-lock.json
Due: none

🔧 Fix remaining ESLint errors in voice-test page
  scripts/deploy.js
  scripts/setup-secrets.sh
  scripts/test-monitoring.sh
  src/app/voice-test/page.tsx
  src/components/projects/ProjectScaffolder.tsx
  src/lib/project-templates.ts
Due: test-suite, k8s-tests, typescript-check, eslint

feat: implement comprehensive performance testing and monitoring system
  .eslintcache
  .github/workflows/ci.yml
  package-lock.json
  package.json
  scripts/run-performance-tests.js
  src/app/api/monitoring/performance/route.ts
  src/lib/monitoring/performance-monitoring.ts
  tests/performance/k6-load-tests.js
  tests/performance/lighthouse-performance.js
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

feat: implement comprehensive performance testing and monitoring system
  .eslintcache
  .github/workflows/ci.yml
  docs/.astro/settings.json
  docs/node_modules/.vite/deps/_metadata.json
  package-lock.json
  package.json
  scripts/run-performance-tests.js
  src/app/api/monitoring/performance/route.ts
  src/lib/monitoring/performance-monitoring.ts
  tests/performance/k6-load-tests.js
  tests/performance/lighthouse-performance.js
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

feat: implement comprehensive performance testing and monitoring system
  .eslintcache
  .github/workflows/ci.yml
  docs/.astro/settings.json
  package-lock.json
  package.json
  scripts/run-performance-tests.js
  src/app/api/monitoring/performance/route.ts
  src/lib/monitoring/performance-monitoring.ts
  tests/performance/k6-load-tests.js
  tests/performance/lighthouse-performance.js
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

feat: implement comprehensive performance testing and monitoring system
  .eslintcache
  .github/workflows/ci.yml
  docs/node_modules/.vite/deps/_metadata.json
  package-lock.json
  package.json
  scripts/run-performance-tests.js
  src/app/api/monitoring/performance/route.ts
  src/lib/monitoring/performance-monitoring.ts
  tests/performance/k6-load-tests.js
  tests/performance/lighthouse-performance.js
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

🔧 Fix JSX parsing error in voice-test page
  src/app/voice-test/page.tsx
Due: test-suite, typescript-check, eslint

🔧 Fix empty interface error in textarea component
  scripts/bootstrap-from-zero.sh
  scripts/security-setup.sh
  src/components/ui/textarea.tsx
Due: test-suite, k8s-tests, typescript-check, eslint
