Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

auto-claude: subtask-2-1 - Remove conflict backup files
  .auto-claude-status
  .github/workflows/disabled-expensive/db-monitoring-deployment.yml.conflict-backup-1760252204
  .github/workflows/disabled-expensive/docs-ci-cd.yml.conflict-backup-1760252204
  .github/workflows/disabled-expensive/main-branch-ci.yml.conflict-backup-1760252204
  .github/workflows/disabled-expensive/release-branch-ci.yml.conflict-backup-1760252204
  docs/.astro/settings.json.conflict-backup-1760252203
  docs/src/content/docs/authentication-summary.md.conflict-backup-1760252203
  docs/src/content/docs/authentication-testing.md.conflict-backup-1760252203
  extensions/vibecode-ai-assistant/package-lock.json.conflict-backup-1760252204
  extensions/vibecode-ai-assistant/package.json.conflict-backup-1760252204
  infrastructure/services/ai-gateway/package.json.conflict-backup-1760252204
  platforms/kubernetes/helm/vibecode-platform/templates/tests/test-provisioning.yaml.conflict-backup-1760252204
Due: none

auto-claude: subtask-2-2 - Remove TypeScript build info files
  .gitignore
  tsconfig.lite.tsbuildinfo
  tsconfig.precommit.tsbuildinfo
Due: none

auto-claude: subtask-2-3 - Remove temporary directories (.ts-baseline-temp, .test-results)
  .test-results/docs-link-report.json
  .ts-baseline-temp/github-comment.txt
Due: none

fix: add exit 1 to test step in pr-test.yml (qa-requested)
  .github/workflows/pr-test.yml
Due: none

auto-claude: subtask-3-2 - Remove obsolete recovery folders
  .auto-claude-status
  backups/security-patch-20260214_160432/PATCH_SUMMARY.txt
  backups/security-patch-20260214_160432/git-status-before.txt
  backups/security-patch-20260214_160432/npm-audit-before.json
  backups/security-patch-20260214_160432/npm-list-before.txt
  backups/security-patch-20260214_160432/package-lock.json
  backups/security-patch-20260214_160432/package.json
  recovery/brahmin-stashes-2026-01-31/stash-0.patch
  recovery/brahmin-stashes-2026-01-31/stash-1.patch
  recovery/brahmin-stashes-2026-01-31/stash-2.patch
  recovery/brahmin-stashes-2026-01-31/stash-3.patch
  recovery/brahmin-stashes-2026-01-31/stash-4.patch
Due: none

auto-claude: subtask-4-1 - Create experiments documentation page
  docs/src/content/docs/experiments.md
Due: none

auto-claude: subtask-4-3 - Verify experiments page renders correctly
  .auto-claude-status
Due: none

auto-claude: subtask-5-1 - Add experiments section to latest CHANGELOG entry
  CHANGELOG.md
Due: none

docs: Update changelog with experiments documentation
  CHANGELOG.md
Due: none

ci: stabilize workflow gates and remove flaky blockers
  .github/workflows/ci-simplified.yml
  .github/workflows/main-branch-ci.yml
  .github/workflows/pr-gates.yml
  .github/workflows/security-scan.yml
  .github/workflows/vibecode-quality.yml
Due: none

ci: harden audit parsing and make baseline quality checks advisory
  .github/workflows/ci.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
Due: none

ci: harden audit parsing and make baseline quality checks advisory (#2032)
  .github/workflows/ci.yml
  .github/workflows/security-audit.yml
  .github/workflows/security-scan.yml
Due: none

Repository cleanup and experiments documentation (#2030)
  .auto-claude-status
  .claude_settings.json
  .github/workflows/disabled-expensive/db-monitoring-deployment.yml.conflict-backup-1760252204
  .github/workflows/disabled-expensive/docs-ci-cd.yml.conflict-backup-1760252204
  .github/workflows/disabled-expensive/main-branch-ci.yml.conflict-backup-1760252204
  .github/workflows/disabled-expensive/release-branch-ci.yml.conflict-backup-1760252204
  .gitignore
  .test-results/docs-link-report.json
  .ts-baseline-temp/github-comment.txt
  CHANGELOG.md
  backups/security-patch-20260214_160432/PATCH_SUMMARY.txt
  backups/security-patch-20260214_160432/git-status-before.txt
  backups/security-patch-20260214_160432/npm-audit-before.json
  backups/security-patch-20260214_160432/npm-list-before.txt
  backups/security-patch-20260214_160432/package-lock.json
  backups/security-patch-20260214_160432/package.json
  docs/.astro/settings.json.conflict-backup-1760252203
  docs/src/content/docs/authentication-summary.md.conflict-backup-1760252203
  docs/src/content/docs/authentication-testing.md.conflict-backup-1760252203
  docs/src/content/docs/experiments.md
  extensions/vibecode-ai-assistant/package-lock.json.conflict-backup-1760252204
  extensions/vibecode-ai-assistant/package.json.conflict-backup-1760252204
  infrastructure/services/ai-gateway/package.json.conflict-backup-1760252204
  platforms/kubernetes/helm/vibecode-platform/templates/tests/test-provisioning.yaml.conflict-backup-1760252204
  recovery/brahmin-stashes-2026-01-31/stash-0.patch
  recovery/brahmin-stashes-2026-01-31/stash-1.patch
  recovery/brahmin-stashes-2026-01-31/stash-2.patch
  recovery/brahmin-stashes-2026-01-31/stash-3.patch
  recovery/brahmin-stashes-2026-01-31/stash-4.patch
  tsconfig.lite.tsbuildinfo
  tsconfig.precommit.tsbuildinfo
Due: none

build(deps): bump @langchain/openai from 1.2.9 to 1.2.10
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

build(deps): bump @langchain/openai from 1.2.9 to 1.2.10 (#2033)
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

ci: remove broken retry action and soften dependabot image builds
  .github/workflows/build-and-push-image.yml
  .github/workflows/ci-simplified.yml
Due: none

ci: make vibecode quality frontend checks advisory
  .github/workflows/vibecode-quality.yml
Due: none

fix: unblock container build and prerender failures
  next.config.mjs
  src/app/api/experiments/demos/model-comparison/ask/route.ts
  src/app/api/experiments/demos/model-comparison/leaderboard/route.ts
  src/app/experiments/demos/model-comparison/page.tsx
  src/app/experiments/demos/speech-to-text/page.tsx
  src/app/plugins/page.tsx
  src/components/chat/EnhancedChatInterface.tsx
  src/lib/experiments/scenarios/speech-test-data.ts
  src/lib/experiments/scenarios/speech-test-transcriptions.ts
Due: test-suite, typescript-check, eslint

fix: unblock container build and prerender failures (#2038)
  next.config.mjs
  src/app/api/experiments/demos/model-comparison/ask/route.ts
  src/app/api/experiments/demos/model-comparison/leaderboard/route.ts
  src/app/experiments/demos/model-comparison/page.tsx
  src/app/experiments/demos/speech-to-text/page.tsx
  src/app/plugins/page.tsx
  src/components/chat/EnhancedChatInterface.tsx
  src/lib/experiments/scenarios/speech-test-data.ts
  src/lib/experiments/scenarios/speech-test-transcriptions.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Remove Electron script from package.json
  package.json
Due: license-check, vulnerability-scan

auto-claude: subtask-1-2 - Remove or comment out Electron launch logic from launcher.js
  launcher.js
Due: test-suite, eslint

auto-claude: subtask-2-1 - Add Tauri canonical runtime section to README.md
  README.md
Due: none

auto-claude: subtask-2-2 - Update TAURI_DESKTOP_SETUP.md to mark as canonical
  docs/setup/TAURI_DESKTOP_SETUP.md
Due: none

auto-claude: subtask-3-1 - Create ARCHITECTURE.md with canonical stack decisi
  ARCHITECTURE.md
Due: none

auto-claude: subtask-4-1 - Create OBSERVABILITY.md with tool ownership guidan
  OBSERVABILITY.md
Due: none

auto-claude: subtask-4-2 - Add inline comments to instrument.ts for OTel vs dd-trace usage
  src/instrument.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Verify Next.js development and build
  next.config.mjs
  src/app/api/health/db/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-2 - Verify all documentation files render correctly
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  node_modules/.package-lock.json
Due: none

auto-claude: subtask-1-1 - Add unit tests for session manager
  tests/unit/lib/auth/session-manager.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Add unit tests for MFA verification endpoint
  tests/unit/app/api/auth/mfa/verify/route.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-3 - Add unit tests for SAML SSO endpoints
  tests/unit/app/api/auth/saml/sso/route.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Add unit tests for AI providers module
  tests/unit/lib/ai/ai-providers.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Add unit tests for chat streaming endpoint
  tests/unit/app/api/chat/stream/route.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Add unit tests for Docker client
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  node_modules/.package-lock.json
  tests/unit/lib/docker/client.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Add unit tests for IDE factory
  .auto-claude-status
  tests/unit/lib/ide/factory.test.ts
Due: test-suite, typescript-check, eslint
