Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

[WIP] Harden CI: gate Datadog and LHCI steps on presence of required secrets/vars (#255)
  .github/workflows/ci-simplified.yml
  .github/workflows/deploy-aks-monitoring.yml
  .github/workflows/docs-ci-cd.yml
  .github/workflows/main-branch-ci.yml
  .github/workflows/release-branch-ci.yml
  .github/workflows/test-simple.yml
  docs/src/content/docs/ci-cd-fixes.md
Due: none

[WIP] Fix unresolved merge conflicts in codebase (#263)
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

fix: harden ai chat typings and lint ignores
  TODO.md
  docs/src/env.d.ts
  eslint.config.mjs
  services/ai-gateway/src/middleware/error-handler.ts
  src/app/api/ai/chat/route.ts
  src/app/api/terminal/session/route.ts
  src/app/providers.tsx
  src/app/workspaces/[id]/page.tsx
  src/components/DocSearch.tsx
  src/hooks/__tests__/useCollaboration.test.ts
  src/lib/auth.ts
  src/lib/cache/vector-cache-adapter.ts
  src/lib/db/db-logger.ts
  src/lib/error-handling.tsx
  tests/__mocks__/@/components/projects/AIProjectGenerator.tsx
  tests/accessibility/automated-a11y.test.ts
  tests/integration/datadog-real.test.ts
  tests/integration/workspace-creation.test.ts
Due: test-suite, typescript-check, eslint

test: add legacy auth smoke suite and seed helpers
  .gitignore
  scripts/tests/seed-legacy-auth.ts
  src/lib/auth.ts
  tests/e2e/auth/legacy-credentials.test.ts
  tests/e2e/playwright.legacy.config.ts
Due: test-suite, k8s-tests, typescript-check, eslint

chore(auth): add next-auth session typings
  src/types/next-auth/index.d.ts
Due: test-suite, typescript-check, eslint

chore: batch add outstanding changes
  .codex/README.md
  .codex/config.toml
  src/app/api/ai/chat/route.ts.fix
  src/lib/server-only/azure-credential.ts
Due: test-suite, typescript-check, eslint

chore(ci): smoke test codex cli config
  .codex/README.md
  .codex/config.toml
  .github/workflows/main-branch-ci.yml
  .github/workflows/release-branch-ci.yml
  package.json
  scripts/run-codex-with-config.mjs
Due: license-check, vulnerability-scan, k8s-tests

fix: apply workspace_id validation fix from merge
  src/app/api/ai/chat/route.ts
Due: test-suite, typescript-check, eslint

fix: resolve security vulnerabilities and update priorities
  TODO.md
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

chore: repository consolidation and cleanup
  .gitignore
  .test-results/docs-link-report.json
  TODO.md
  demo/easy-mode-postgres-genai.sh
  demo/simple-vector-demo.cjs
  demo/web-interface.html
  src/app/api/ai/chat/route.ts.fix
  test-aks-bootstrap.sh
  test-api.sh
  test-azure-deployment.sh
  test-bootstrap-dry-run.sh
  test-bootstrap-final.sh
  test-claims-validation.sh
  test-datadog-api.cjs
  test-datadog-api.js
  test-datadog-logging.sh
  test-dbm-apm-api.js
  test-dbm-apm-api.sh
  test-updated-bootstrap.sh
Due: test-suite, eslint

docs: add repository consolidation summary
  CONSOLIDATION_SUMMARY.md
Due: none
