Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: Datadog integration working - traces confirmed landing
  VibeCodeSwift/build_release_bundle.sh
  azure/SwiftUI-Apps/QUICK-START-TESTING.md
  azure/SwiftUI-Apps/RELEASE-NOTES-BasicVibeCode.md
  azure/SwiftUI-Apps/RELEASE-NOTES-VibeCode-MultiVM.md
  azure/SwiftUI-Apps/TEST-INDEX.md
  azure/SwiftUI-Apps/TEST-SCRIPTS-README.md
  azure/SwiftUI-Apps/test-all-apps.sh
  azure/SwiftUI-Apps/test-basicvibecode.sh
  azure/SwiftUI-Apps/test-vibecode-multivm.sh
  scripts/run-llmobs-experiment.ts
Due: test-suite, k8s-tests, typescript-check, eslint

feat: Add Datadog LLM Observability demo (UNVERIFIED)
  demos/test-llm-obs-agentless.py
Due: none

docs: VERIFIED - Datadog LLM Observability working
  demos/VERIFIED_WORKING.md
Due: none

feat: Add working CrewAI demo with real OpenAI models
  demos/working-crewai-demo.py
Due: none

feat: WORKING CrewAI demo - full 4-agent workflow executed
  demos/Dockerfile
Due: none

docs: VERIFIED - CrewAI + Datadog integration working with proof
  demos/VERIFIED.md
Due: none

fix: Explicitly capture prompts and responses in Datadog traces
  demos/test-input-output-capture.py
  demos/working-crewai-demo.py
Due: none

docs: Guide for capturing prompts/responses in Datadog
  demos/INPUT_OUTPUT_CAPTURE.md
Due: none

feat(workspace-rag): Add MLX and ddtrace integration
  extensions/workspace-rag/.vscodeignore
  extensions/workspace-rag/media/code-explanation.html
  extensions/workspace-rag/media/cost-dashboard.html
  extensions/workspace-rag/package.json
  extensions/workspace-rag/src/codeExplainer.ts
  extensions/workspace-rag/src/commandHandlers.ts
  extensions/workspace-rag/src/complexityAnalyzer.ts
  extensions/workspace-rag/src/extension.ts
  extensions/workspace-rag/src/logger.ts
  extensions/workspace-rag/src/mlxEmbeddingService.ts
  extensions/workspace-rag/src/pgvectorClient.ts
  extensions/workspace-rag/src/ragService.ts
  extensions/workspace-rag/src/textSplitter.ts
  extensions/workspace-rag/src/tokenTracker.ts
  extensions/workspace-rag/src/tracing.ts
  extensions/workspace-rag/src/tracing/index.ts
  extensions/workspace-rag/src/utils.ts
  extensions/workspace-rag/src/workspaceIndexer.ts
  extensions/workspace-rag/tsconfig.json
Due: test-suite, typescript-check, eslint

docs(workspace-rag): Add kickstart scripts and next steps guide
  extensions/workspace-rag/.dev-checklist.md
  extensions/workspace-rag/NEXT_STEPS.md
  extensions/workspace-rag/QUICKSTART.md
  extensions/workspace-rag/scripts/kickstart.sh
  extensions/workspace-rag/scripts/verify-setup.sh
Due: none

docs(workspace-rag): Add action plan for kickstarting work
  extensions/workspace-rag/ACTION_PLAN.md
Due: none

docs(workspace-rag): Add container setup documentation
  extensions/workspace-rag/CONTAINER_SETUP.md
Due: none

docs: add Docker & OpenVSCode setup documentation with auto-generated passwords
  docs/astro.config.mjs
  docs/src/content/docs/docker-database/auto-password-setup.md
  docs/src/content/docs/docker-database/db-connection-fixed.md
  docs/src/content/docs/docker-database/docker-compose-setup.md
  docs/src/content/docs/docker-database/index.md
  docs/src/content/docs/docker-database/openvscode-postgres-setup.md
  docs/src/content/docs/docker-database/random-password-complete.md
  wiki/AUTO_PASSWORD_SETUP.md
  wiki/DOCKER_COMPOSE_SETUP.md
  wiki/OPENVSCODE_POSTGRES_SETUP.md
Due: none

feat: Add Datadog trace verification script
  demos/verify-datadog-traces.py
Due: none

Add GRUB EFI bootloader solution with Python scripts and ddtrace support
  VibeCodeSwift/Package.swift
  VibeCodeSwift/Sources/EFIBootManager/EFIBootManager.swift
  docs/package-lock.json
  docs/src/content/docs/guides/efi-bootloader-setup.md
  docs/src/content/docs/guides/grub-efi-python-scripts.md
  scripts/vfkit/install-grub-alpine.py
  scripts/vfkit/install-grub-alpine.sh
  scripts/vfkit/integrate-grub-into-vm-creation.sh
  scripts/vfkit/manage-efi-boot-entries.py
  scripts/vfkit/manage-efi-boot-entries.sh
  scripts/vfkit/prepare-vm-with-grub.sh
  scripts/vfkit/test-grub-boot.py
  scripts/vfkit/validate-grub-installation.py
Due: k8s-tests

feat: Add comprehensive build script and next steps plan
  docs/NEXT_STEPS_PLAN.md
  scripts/build-complete.sh
Due: k8s-tests

fix: Correct vsock proxy startup by properly casting socketDevices array
  azure/SwiftUI-Apps/Shared/Networking/NATNetworkStrategy.swift
Due: none

feat: Complete build process with testing, docs, and GitHub Pages
  docs/src/content/docs/build-guide.md
Due: none

feat: Add VM networking with SSH and vsock support
  azure/SwiftUI-Apps/.gitignore
  azure/SwiftUI-Apps/BasicVibeCodeApp.swift
  azure/SwiftUI-Apps/DHCPLeaseParser.swift
  azure/SwiftUI-Apps/DHCPLeaseParserV2.swift
  azure/SwiftUI-Apps/DatadogLogger.swift
  azure/SwiftUI-Apps/LiquidGlassVibeCodeApp.swift
  azure/SwiftUI-Apps/NetworkTestCLI.swift
  azure/SwiftUI-Apps/NetworkTestVibeCodeApp.swift
  azure/SwiftUI-Apps/TestDHCPParser.swift
  azure/SwiftUI-Apps/VsockVibeCodeApp.swift
  azure/SwiftUI-Apps/build-vsock-app.sh
  azure/SwiftUI-Apps/bundle-apps.sh
  azure/SwiftUI-Apps/entitlements.plist
  azure/SwiftUI-Apps/test-basicvibecode.sh
  azure/SwiftUI-Apps/test-vibecode-multivm.sh
  azure/build-bun-minimal.sh
  docs/NEXT_STEPS_PLAN.md
  docs/SSH_QUICK_REFERENCE.md
  docs/src/content/docs/guides/efi-bootloader-setup.md
  docs/src/content/docs/guides/grub-efi-python-scripts.md
  docs/src/content/docs/mcp-playwright.md
  scripts/build-complete.sh
Due: k8s-tests

Add Gitpod ARM64 + K3s infrastructure (no large files)
  .gitignore
  azure/DOWNLOAD_INITRAMFS.md
  azure/SwiftUI-Apps/ValkeyVibeCodeBinary
  azure/SwiftUI-Apps/build-standalone-apps.sh
  docker/gitpod-arm64/README.md
  docs/AGENT_C4_DELIVERY_SUMMARY.md
  docs/AGENT_E1_COMPLETION_REPORT.md
  docs/AGENT_HANDOFF.md
  docs/BUILD_GUIDE.md
  docs/DEPLOYMENT_SUMMARY.md
  docs/FINAL_PROJECT_SUMMARY.md
  docs/FULL_TEST_SUITE_REPORT.md
  docs/GITPOD_ARM64_PLAN.md
  docs/GITPOD_K3S_INTEGRATION.md
  docs/KUBERNETES_IN_VM_PROPOSAL.md
  docs/ONE_CLICK_ACCESS_COMPLETE.md
  docs/OPENVSCODE_403_DIAGNOSIS.md
  docs/OPENVSCODE_FIX.md
  docs/OPENVSCODE_RELAY_FIX.md
  docs/POSTGRESQL_NO_DOCKER_BUILD_REPORT.md
  docs/POSTGRESQL_VM_FIX_REPORT.md
  docs/SSH_SERVER_IMPLEMENTATION_REPORT.md
  docs/UNIFIED_VM_DEPLOYMENT_REPORT.md
  docs/VALKEY_VM_COMPREHENSIVE_TEST_REPORT.md
  helm-charts/gitpod-workspace/Chart.yaml
  helm-charts/gitpod-workspace/templates/deployment.yaml
  helm-charts/gitpod-workspace/values.yaml
  scripts/adapt-gitpod-dockerfiles.sh
  scripts/build-gitpod-arm64.sh
  scripts/build-gitpod-initramfs-arm64.sh
  scripts/build-gitpod-k3s-arm64.sh
  scripts/build-k3s-initramfs.sh
Due: k8s-tests

feat: add port forwarding and standalone app automation; update ValkeyVibeCode UI components
  .gitignore
  azure/SwiftUI-Apps/Apps/ValkeyVibeCodeApp/ValkeyVMManager.swift
  azure/SwiftUI-Apps/Apps/ValkeyVibeCodeApp/ValkeyVibeCodeApp.swift
  azure/SwiftUI-Apps/Shared/Networking/VMPortForwarder.swift
  azure/SwiftUI-Apps/build-standalone-apps.sh
  azure/SwiftUI-Apps/test-port-forwarding.sh
  azure/SwiftUI-Apps/test-standalone-apps.sh
Due: none

chore: update datadog-ci and markdownlint-cli2 dependencies
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

docs: reorganize demos with descriptive names and comprehensive documentation
  demos/DATADOG_SETUP.md
  demos/Dockerfile
  demos/INPUT_OUTPUT_CAPTURE.md
  demos/README.md
  demos/VERIFIED_WORKING.md
  demos/crewai-4-agent-openai-workflow.py
  demos/crewai-vm-management-demo.py
  demos/datadog-ddtrace-basic-test.py
  demos/datadog-llmobs-agentless-proof.py
  demos/datadog-llmobs-io-capture-test.py
  demos/pgvector-web-interface.html
  demos/postgresql-genai-setup.sh
  demos/postgresql-genai-workflow.ts
  demos/postgresql-pgvector-demo.cjs
Due: test-suite, typescript-check, eslint

feat: add demo runner with Python 3.14 support and .env.local integration
  demos/requirements.txt
  demos/run-demos.sh
  demos/setup-python-3.14.sh
  docs/DATADOG_LLM_INSTRUMENTATION.md
  examples/pydantic-ai-cli-agent/agent.py
  scripts/datadog_python_setup.py
  scripts/install-claude-code-cli.sh
  scripts/install-opencode-cli.sh
  scripts/requirements-datadog.txt
  templates/python/huggingface-inference-app/app.py
Due: k8s-tests

feat: transform CrewAI demo into useful daily platform health check
  demos/README.md
  demos/crewai-4-agent-openai-workflow.py
Due: none

feat: Add LangChain plugin to Datadog LLM Observability instrumentation
  docs/DATADOG_LLM_INSTRUMENTATION.md
  scripts/requirements-datadog.txt
  src/instrument.ts
Due: test-suite, k8s-tests, typescript-check, eslint
