Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

auto-claude: subtask-1-2 - Extend CacheKeyGenerators in src/lib/cache/cache-u
  src/lib/cache/cache-utils.ts
Due: test-suite, typescript-check, eslint

Fix unresolved PR feedback for caching endpoints
  src/app/api/ai/models/route.ts
  src/app/api/experiments/route.ts
  src/lib/cache/cache-utils.ts
  src/lib/cache/http-cache-headers.ts
  src/lib/feature-flags.ts
  tests/integration/experiments-api.test.ts
  tests/unit/lib/cache/cache-utils.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-3 - Write unit tests for http-cache-headers.ts utility
  tests/unit/lib/cache/http-cache-headers.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Map inter-service dependencies and communication
  SERVICE_DEPENDENCIES.md
Due: none

docs: fix PR review findings and runtime references
  ANALYSIS_REPORT.md
  SERVICE_DEPENDENCIES.md
Due: none

auto-claude: subtask-4-1 - Create ANALYSIS_REPORT.md with comprehensive findi
  ANALYSIS_REPORT.md
Due: none

auto-claude: subtask-7-2 - Create end-to-end integration test for full rotati
  tests/integration/secret-rotation-e2e.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-7-3 - Create operational documentation and runbook
  docs/security/rotation-policies.md
  docs/security/secret-rotation-guide.md
Due: none

auto-claude: subtask-2-3 - Create unit tests for SecretManager
  tests/unit/lib/security/secret-manager.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-1 - Create check_expiration.py script for secret health auditing
  scripts/security/check_expiration.py
Due: k8s-tests

auto-claude: subtask-6-2 - Create rotate_secrets.py script for automated rota
  scripts/security/rotate_secrets.py
Due: k8s-tests

auto-claude: subtask-4-3 - Create unit tests for expiration checker
  tests/unit/lib/security/expiration-checker.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Create unit tests for rotation policies
  tests/unit/lib/security/rotation-policies.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Implement rotation executor with policy enforcement
  src/lib/security/rotation-policies.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Add SecretMetadata and SecretRotationHistory models
  prisma/schema.prisma
Due: none

auto-claude: subtask-5-2 - Create /api/secrets/rotate endpoint for manual rot
  src/app/api/secrets/rotate/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create SecretManager class with CRUD operations
  node_modules/.package-lock.json
  src/lib/security/secret-manager.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Add alert thresholds and notification logic
  src/lib/security/expiration-checker.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create ExpirationChecker class with detection logic
  src/lib/security/expiration-checker.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-3 - Create integration tests for secret APIs
  tests/integration/api/secrets.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-4 - Create Python unit tests for CLI tools
  scripts/security/__init__.py
  scripts/security/tests/test_expiration.py
  scripts/security/tests/test_rotation.py
Due: k8s-tests

auto-claude: subtask-2-2 - Enhance macos-keychain.ts with metadata support
  src/lib/security/macos-keychain.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-3 - Update migrate_secrets_to_keychain.py to register secrets in DB
  scripts/security/migrate_secrets_to_keychain.py
Due: k8s-tests

auto-claude: subtask-3-1 - Create RotationPolicy types and policy definitions
  src/lib/security/rotation-policies.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Create /api/secrets/status endpoint for secret health monitoring
  src/app/api/secrets/status/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Generate Prisma migration for secret tracking tables
  prisma/migrations/20260216_add_secret_tracking/migration.sql
  prisma/migrations/20260216_add_secret_tracking/rollback.sql
Due: none

Fix critical PR1913 review findings for secret rotation pipeline
  scripts/security/migrate_secrets_to_keychain.py
  scripts/security/rotate_secrets.py
  src/app/api/secrets/rotate/route.ts
  src/app/api/secrets/status/route.ts
  src/lib/security/expiration-checker.ts
  src/lib/security/macos-keychain.ts
  src/lib/security/rotation-policies.ts
  src/lib/security/secret-manager.ts
  tests/integration/secret-rotation-e2e.test.ts
  tests/unit/lib/security/expiration-checker.test.ts
  tests/unit/lib/security/rotation-policies.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

auto-claude: subtask-1-1 - Remove dangerous commands from base_commands array
  .auto-claude-security.json
Due: none

Harden security allowlist and sanitize project metadata
  .auto-claude-security.json
Due: none

auto-claude: subtask-5-3 - Improve timeout handling with configurable values
  src/lib/vm/providers/native-vm.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Add retry utilities with exponential backoff
  src/lib/vm/utils/retry.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-4 - Add retry logic to VM launch operations
  src/lib/vm/providers/vfkit.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Add VM configuration validation
  platforms/macos/vz-swift/Sources/VibeCodeVM/LinuxVMStandalone.swift
Due: none

auto-claude: subtask-3-2 - Add VM state validation
  src/lib/vm/providers/vfkit.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create host resource detection utility
  src/lib/vm/utils/system-resources.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Add memory allocation validation
  src/lib/vm/providers/vfkit.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Add retry logic to JSON-RPC requests
  src/lib/vm/providers/native-vm.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Add VM health check utilities
  src/lib/vm/utils/health-check.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Implement restart with state preservation
  src/lib/vm/providers/vfkit.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Add comprehensive error handling to VM creation
  platforms/macos/vz-swift/Sources/VibeCodeVM/main.swift
Due: none
