Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

tests(k8s): replace kubectl wait with polling-based wait for ingress-nginx deployment availability to reduce flakes
  docs/dist/infrastructure-fixes-august-2025/index.html
  docs/node_modules/.vite/deps/_metadata.json
  package-lock.json
  package.json
  scripts/provision-user.sh
  src/app/api/ai/management/route.ts
  src/hooks/__tests__/useCollaboration.test.ts
  src/lib/auth.ts
  src/lib/monitoring/auth.ts
  src/lib/services/__tests__/chat-mongodb.test.ts
  src/lib/services/function-calling.ts
  src/middleware/__tests__/security-middleware.test.ts
  src/middleware/security-middleware.ts
  src/types/next-auth/jwt.d.ts
  tests/accessibility/automated-a11y.test.ts
  tests/accessibility/wcag-compliance.test.ts.playwright
  tests/integration/cache-redis-backend.test.ts
  tests/k8s/helm-chart-deployment.test.ts
  wiki/ACTUAL_TEST_FAILURES_ANALYSIS.md
  wiki/TEST_INFRASTRUCTURE_HEALTH_ASSESSMENT.md
  wiki/TEST_INFRASTRUCTURE_STATUS_FINAL.md
  wiki/pool-alerting-system.md
  wiki/ultrathinking-critical-discoveries.md
Due: license-check, vulnerability-scan, test-suite, k8s-tests, provisioning-script-test, typescript-check, eslint

tests(helm): harden provisioning test — retries with backoff, request-timeouts, and higher resources to avoid transient API timeouts
  helm/vibecode-platform/templates/tests/test-provisioning.yaml
Due: helm-lint, helm-template-test, k8s-tests

tests(k8s): reduce helm test flakiness — remove --logs; provisioning hook: drop cluster-wide preflight, keep retries/backoff
  helm/vibecode-platform/templates/tests/test-provisioning.yaml
  tests/k8s/helm-chart-deployment.test.ts
Due: test-suite, helm-lint, helm-template-test, k8s-tests, typescript-check, eslint

Fix vector database pool mocking with dependency injection
  .github/workflows/ci.yml
  MCP_Context7.md
  MCP_Playwright.md
  MCP_Sequential.md
  README.md
  TODO.md
  __mocks__/pg.js
  docs/TESTING_STRATEGY.md
  src/lib/services/__tests__/chat-mongodb.test.ts
  src/lib/vector-db/connection-router.ts
  src/middleware/__tests__/security-middleware.test.ts
  src/middleware/security-middleware.ts
  src/types/jest-axe.d.ts
  static-analysis.datadog.yml
  tests/accessibility/automated-a11y.test.ts
  tests/integration/cache-redis-backend.test.ts
  tests/unit/vector-db-adapter.test.ts
  tests/vector-db-connection-router.test.ts
Due: test-suite, typescript-check, eslint

Fix Jest configuration and ES module issues
  MCP_Serena.md
  TODO.md
  scripts/test-vector-db-migration.sh
  scripts/test-vector-migration-dev.sh
  scripts/test-vector-migration-edge-cases.sh
  scripts/test-vector-migration-large-dataset.sh
  scripts/test-vector-migration-rollback.sh
  scripts/vector-db-migrations/README.md
  scripts/vector-db-migrations/zero-downtime-schema-migration.cjs
  tests/integration/vector-db-postgres.test.ts
  tests/vector-db-migration-utility.test.js
  tests/vector-db-migrations.test.js
Due: test-suite, k8s-tests, typescript-check, eslint

tests(k8s): make install/upgrade idempotent and extend helm test timeout to 900s
  tests/k8s/helm-chart-deployment.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
