Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

docs: log rag ingestion progress [skip ci]
  TODO.md
  docs/PROGRESS_LOG.md
Due: none

feat: harden datadog instrumentation for aks and app service [skip ci]
  Dockerfile
  Dockerfile.prod
  docs/src/content/docs/azure-appservice-migration.md
  docs/src/content/docs/env-variables.md
  k8s/kind-app-values.yaml
  tests/integration/vector-search-api.real.test.ts
  tofu/appservice/main.tf
  tofu/appservice/variables.tf
Due: test-suite, k8s-tests, typescript-check, eslint

fix: allow browser user agents on aksto login [skip ci]
  .dockerignore
  src/middleware.ts
Due: test-suite, typescript-check, eslint

chore: sync local changes (infra, docs, workflows, scripts)\n\n- Respect hooks with SKIP_EXPENSIVE_TESTS\n- Avoid deletions by restoring removed tracked files
  .dockerignore
  Dockerfile.prod
  Dockerfile.production
  TODO.md
  package-lock.json
  package.json
  src/app/api/ai/chat/route.ts
  src/app/api/ai/litellm/route.ts
  src/lib/ai-clients/litellm-instance.ts
  src/lib/ai/code-review-automation.ts
  src/lib/ai/index.ts
  src/lib/ai/integration-testing.ts
  src/lib/ai/natural-language-to-code.ts
  src/lib/ai/performance-optimization.ts
  src/lib/ai/smart-code-completion.ts
  src/lib/ai/stubs/langchain-openai.ts
  src/lib/ai/stubs/langchain-runnables.ts
  src/lib/ai/utils/langchain.ts
  src/lib/automation/error-tracking-node.ts
  src/lib/monitoring/error-tracking-test.ts
  src/lib/monitoring/error-tracking-utils.ts
  src/lib/monitoring/error-tracking.ts
  src/lib/monitoring/llm-tracer.ts
  src/lib/monitoring/rum-client.ts
  src/lib/vector-store.ts
  src/middleware/__tests__/middleware.test.ts
  src/middleware/error-tracking-middleware.ts
  tests/integration/api/ai-chat-stream-simple.test.ts
  tests/integration/collaboration-performance.test.ts
  tests/integration/file-operations-integration.test.ts
  tests/integration/real-openrouter-integration.test.ts
  tests/integration/real-vector-db-creation.test.ts
  tests/integration/user-provisioning-integration.test.ts
  tests/integration/vector-search-rag-real.test.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

docs: add datadog observability baseline
  docs/monitoring/current-state.md
  docs/monitoring/observability-roadmap.md
Due: none

chore: automate datadog trace verification
  .github/workflows/datadog-trace-verify.yml
  .gitignore
  TODO.md
  configs/trace-search-checks.json
  package.json
Due: license-check, vulnerability-scan

chore: automate datadog trace verification
  .github/workflows/datadog-trace-verify.yml
  .gitignore
  .gitmodules
  TODO.md
  configs/trace-search-checks.json
  package.json
  scripts/ensure-native-binaries.js
Due: license-check, vulnerability-scan, test-suite, k8s-tests, eslint

chore: automate datadog trace verification (#319)
  .github/workflows/datadog-trace-verify.yml
  .gitmodules
  TODO.md
  scripts/ensure-native-binaries.js
Due: test-suite, k8s-tests, eslint

chore: unblock datadog trace verification
  TODO.md
  docs/runbooks/datadog-trace-search-access.md
  scripts/verify-trace-search.py
Due: k8s-tests

chore: unblock datadog trace verification (#320)
  TODO.md
  docs/runbooks/datadog-trace-search-access.md
  scripts/verify-trace-search.py
Due: k8s-tests

[WIP] Harden CI: gate Datadog and LHCI steps on presence of required secrets/vars (#255)
  .github/workflows/ci-simplified.yml
  .github/workflows/deploy-aks-monitoring.yml
  .github/workflows/docs-ci-cd.yml
  .github/workflows/main-branch-ci.yml
  .github/workflows/release-branch-ci.yml
  .github/workflows/test-simple.yml
  docs/src/content/docs/ci-cd-fixes.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
