Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

docs: Add documentation search guide and final test improvements
  DOCUMENTATION_SEARCH_GUIDE.md
  tests/integration/file-operations-integration.test.ts
Due: test-suite, typescript-check, eslint

docs: Add comprehensive quick start reference guide
  QUICK_START_REFERENCE.md
Due: none

fix: Add working deployment alternatives for different environments
  scripts/deploy-existing-cluster.sh
  scripts/deploy-simple-local.sh
  scripts/start-dev-simple.sh
Due: k8s-tests

fix: Resolve Next.js configuration and middleware issues
  next.config.mjs
  src/middleware.ts
Due: test-suite, typescript-check, eslint

fix: Remove problematic middleware and achieve stable app state
  TODO.md
  next.config.js
  setup-branch-protection.sh
  src/middleware.ts
  src/middleware.ts.bak
  tests/integration/file-operations-integration.test.ts
Due: test-suite, typescript-check, eslint

fix: critical infrastructure fixes for CI/CD stability
  .github/workflows/ci-simplified.yml
  .github/workflows/db-monitoring-deployment.yml
  .github/workflows/dependency-compatibility.yml
  .github/workflows/docs-automation.yml
  .github/workflows/gitops-deployment.yml
  .github/workflows/main-branch-ci.yml
  .github/workflows/release-branch-ci.yml
  .github/workflows/test-simple.yml
  TODO.md
  babel.config.js
  eslint.config.mjs
  package.json
  services/ai-gateway/dist/server.js
  services/ai-gateway/dist/server.js.map
  services/ai-gateway/package.json
  services/ai-gateway/src/__tests__/openrouter-e2e.int.test.ts
  services/ai-gateway/src/__tests__/routes-metrics.int.test.ts
  src/lib/file-system-operations.ts
  src/lib/vector-db/vector-db-error-handler.ts
  src/middleware.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

fix: comprehensive babel + zod v4 compatibility fixes
  next.config.mjs
  src/app/api/ai/generate-project/route.ts
  src/app/api/ai/search/route.ts
  src/app/api/auth/mfa/setup/route.ts
  src/app/api/auth/mfa/verify/route.ts
  src/app/api/auth/saml/sso/route.ts
  src/app/api/code-server/session/route.ts
  src/app/api/projects/template/route.ts
  src/app/api/vector-store/route.ts
  src/app/api/workspace/auto-scaling/route.ts
  src/app/generative-ui/layout.tsx
  src/lib/deployment/cloud-automation.ts
  src/lib/security/input-validator.ts
  src/middleware.ts.disabled
  src/middleware.ts.temp
Due: test-suite, typescript-check, eslint
