Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: Add Ubuntu Ports repository for ARM64 cross-compilation
  .github/workflows/desktop-build.yml
Due: none

fix: docs links and pre-commit light mode (#1074)
  .husky/pre-commit
  docs/src/content/docs/guides/quick-start.md
  docs/src/content/docs/monitoring/overview.md
Due: none

fix: Add working-directory for Tauri build step
  .github/workflows/desktop-build.yml
Due: none

fix: Build frontend before Tauri desktop build
  .github/workflows/desktop-build.yml
Due: none

fix: Add Prisma generate and sidecar binary stubs for CI builds
  .github/workflows/desktop-build.yml
Due: none

fix: Use printf for sidecar stubs to fix YAML syntax
  .github/workflows/desktop-build.yml
Due: none

fix: Address desktop build failures from CI run
  .github/workflows/desktop-build.yml
Due: none

fix: Add bundle_target matrix variable for correct artifact paths
  .github/workflows/desktop-build.yml
Due: none

fix: Handle missing bundle directories in checksum generation
  .github/workflows/desktop-build.yml
Due: none

fix: Revert Prisma to 6.19.2 - Prisma 7 requires schema migration
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

fix: Update Recharts Formatter types for TypeScript strict mode
  src/components/dashboard/AIUsageWidget.tsx
  src/components/monitoring/MonitoringDashboard.tsx
Due: test-suite, typescript-check, eslint

fix: Replace deprecated Homebrew --no-auto-update flag with env var
  .github/workflows/tauri-release.yml
  .github/workflows/tauri-test.yml
Due: none

fix: Convert catch error types from any to unknown for type safety
  src/app/api/ai/huggingface-chat/route.ts
  src/app/api/ai/model-selection/route.ts
  src/app/api/ai/web-search.disabled/route.ts
  src/app/api/ai/web-search/route.ts
  src/extensions/vibecode-ai-assistant/src/openrouter-client.ts
  src/lib/github/integration.ts
  src/lib/monitoring/llm-tracer.ts
  src/lib/monitoring/rum-client.ts
  src/lib/vector-stores/weaviate-client.ts
  src/lib/vm/providers/docker.ts
  src/lib/vm/providers/lima.ts
  src/lib/vm/providers/native-vm.ts
  src/lib/vm/providers/qemu.ts
  src/lib/vm/providers/vfkit.ts
  src/lib/vm/providers/wsl2.ts
Due: test-suite, typescript-check, eslint

fix: Replace explicit any types with proper TypeScript types
  src/app/api/ai/management/route.ts
  src/lib/experiments/warehouse.ts
  src/lib/services/function-calling.ts
  src/lib/vector-stores/weaviate-client.ts
Due: test-suite, typescript-check, eslint

fix: Replace any types in collaboration components
  src/app/api/chat/mongodb-simple/route.ts
  src/app/api/chat/mongodb/route.ts
  src/components/collaboration/CollaborativeEditingSessions.tsx
  src/components/collaboration/CursorTracking.tsx
  src/components/collaboration/UserPresenceIndicators.tsx
  src/components/collaboration/WorkspaceSharing.tsx
Due: test-suite, typescript-check, eslint

fix: Replace any types in parser and error handling
  src/app/api/health/db/route.ts
  src/lib/ai/documentation/ingest.ts
  src/lib/experiments/scenarios/speech-to-text.ts
  src/lib/vector-db/database-error-patterns.ts
  src/lib/workflow/parser.ts
  tools/cli/cmd/vibecode-demo/main.go.bak
  tools/cli/cmd/vibecode-demo/vibecode-demo
  tools/cli/go.mod
Due: test-suite, typescript-check, eslint

fix: Replace any types in cache and monitoring modules
  src/components/terminal/WebGLTerminal.tsx
  src/lib/azure-ai-client.ts
  src/lib/cache/valkey-logger.ts
  src/lib/cache/valkey-tracer.ts
  src/lib/monitoring/rum-client.ts
Due: test-suite, typescript-check, eslint

fix: Replace any types in services and pages
  src/app/chat/enhanced/page.tsx
  src/app/multimodal-demo/page.tsx
  src/app/projects/page.tsx
  src/app/voice-test/page.tsx
  src/lib/services/chat-mongodb.ts
Due: test-suite, typescript-check, eslint

fix: Replace any types in API route handlers
  src/app/api/files/sync/route.ts
  src/app/api/monitoring/web-vitals/route.ts
  src/app/api/projects/template/route.ts
  src/app/api/terminal/session/route.ts
  src/app/api/upload/route.ts
Due: test-suite, typescript-check, eslint

fix: Replace any types in editor and provider files
  src/app/chat/enhanced/page.tsx
  src/app/editor/page.tsx
  src/app/projects/page.tsx
  src/app/providers.tsx
Due: test-suite, typescript-check, eslint

fix: Replace any types in components batch 2
  src/components/chat/HuggingFaceChatInterface.tsx
  src/components/collaboration/CollaborativeEditingSessions.tsx
  src/components/collaboration/CursorTracking.tsx
  src/components/collaboration/UserPresenceIndicators.tsx
  src/components/collaboration/WorkspaceSharing.tsx
  src/components/editors/CodeiumPlayground.tsx
  src/components/marketplace/MarketplacePage.tsx
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/projects/ProjectScaffolder.tsx
Due: test-suite, typescript-check, eslint

fix: Replace any types in library modules batch 2
  src/components/terminal/WebGLTerminal.tsx
  src/lib/auth/mfa-provider.ts
  src/lib/azure-ai-client.ts
  src/lib/cache/valkey-client.ts
  src/lib/cache/valkey-logger.ts
  src/lib/cache/valkey-metrics.ts
  src/lib/cache/valkey-tracer.ts
  src/lib/database/agentapi-queries.ts
  src/lib/datadog-llm.ts
  src/lib/logger-original.ts
  src/lib/monitoring/rum-client.ts
  src/lib/prisma.ts
  src/lib/websocket-connection-pooling.ts
  src/types/ioredis.d.ts
Due: test-suite, typescript-check, eslint

fix: Replace any types in protocol adapters
  src/lib/protocols/adapters/aider-adapter.ts
  src/lib/protocols/adapters/cline-adapter.ts
  src/lib/protocols/adapters/goose-adapter.ts
  src/lib/protocols/adapters/universal-adapter.ts
  src/lib/protocols/agentapi-client.ts
  src/lib/vector/adapters/azure-embedding-provider.ts
Due: test-suite, typescript-check, eslint

fix: Replace any types in AI and monitoring modules
  src/lib/ai/ddtrace-instrumentation.ts
  src/lib/ai/index.ts
  src/lib/ai/resilient-azure-embedding-service.ts
  src/lib/monitoring/agentapi-prometheus.ts
  src/lib/monitoring/azure-embedding-metrics.ts
  src/lib/monitoring/llm-tracer.ts
  src/lib/monitoring/setup-monitoring.ts
Due: test-suite, typescript-check, eslint

fix: Replace any types in database and vector-db modules
  src/lib/db/database-metrics.ts
  src/lib/db/vector-connection-pool.ts
  src/lib/vector-db/database-error-patterns.ts
  src/lib/vector-db/migration-helper.ts
  src/lib/vector-db/scaling/sharding-manager.ts
Due: test-suite, typescript-check, eslint

fix: Replace any types in services and workflow modules
  src/lib/services/chat-mongodb.ts
  src/lib/services/collaboration.ts
  src/lib/services/rag-enhanced.ts
  src/lib/unified-ai-client.ts
  src/lib/workflow/integration.ts
  src/lib/workflow/parser.ts
Due: test-suite, typescript-check, eslint

fix: Use HOMEBREW_NO_AUTO_UPDATE env var instead of deprecated flag
  .github/workflows/tauri-release.yml
Due: none

fix: eliminate as any casts in app and components
  src/app/api/monitoring/web-vitals/route.ts
  src/app/api/projects/template/route.ts
  src/app/api/terminal/session/route.ts
  src/app/api/upload/route.ts
  src/components/MultimodalPromptInterface.tsx
  src/components/marketplace/MarketplacePage.tsx
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/monitoring/MonitoringDashboard.tsx
  src/components/projects/ProjectScaffolder.tsx
  src/components/terminal/WebGLTerminal.tsx
Due: test-suite, typescript-check, eslint

fix: eliminate more as any casts in api routes and app files
  src/app/api/ai/management/route.ts
  src/app/api/chat/mongodb-simple/route.ts
  src/app/api/chat/mongodb/route.ts
  src/app/api/files/sync/route.ts
  src/app/api/health/db/route.ts
  src/app/providers.tsx
  src/app/voice-test/page.tsx
Due: test-suite, typescript-check, eslint

fix: eliminate as any casts in components
  src/components/chat/HuggingFaceChatInterface.tsx
  src/components/collaboration/CollaborativeEditingSessions.tsx
  src/components/collaboration/CursorTracking.tsx
  src/components/collaboration/UserPresenceIndicators.tsx
  src/components/collaboration/WorkspaceSharing.tsx
  src/components/deployment/CloudDeploymentModal.tsx
  src/components/deployment/DeploymentHistory.tsx
  src/components/deployment/OneClickDeploy.tsx
  src/components/editor/AgentMonacoEditor.tsx
  src/components/editors/CodeiumPlayground.tsx
Due: test-suite, typescript-check, eslint

fix: remove unnecessary as any cast in enhanced chat route
  src/app/api/ai/chat/enhanced/route.ts
Due: test-suite, typescript-check, eslint

fix: eliminate as any casts in services/cache/monitoring
  src/lib/azure-ai-client.ts
  src/lib/cache/valkey-logger.ts
  src/lib/cache/valkey-tracer.ts
  src/lib/monitoring/rum-client.ts
  src/lib/services/chat-mongodb.ts
Due: test-suite, typescript-check, eslint

fix: eliminate as any casts in workflow/experiments/ingest
  src/lib/ai/documentation/ingest.ts
  src/lib/experiments/scenarios/speech-to-text.ts
  src/lib/workflow/parser.ts
Due: test-suite, typescript-check, eslint

Add RAG pipeline architecture review
  docs/reports/RAG_PIPELINE_ARCHITECTURE_REVIEW.md
Due: none

chore: convert pre-commit hook to python
  .husky/pre-commit
  precommit/__init__.py
  precommit/pre_commit.py
  tests/precommit/fixtures/candidate/.env.local
  tests/precommit/fixtures/candidate/node_modules/pkg/index.js
  tests/precommit/fixtures/candidate/src/app/main.ts
  tests/precommit/fixtures/scan-secret/src/app/index.ts
  tests/precommit/fixtures/scan/secrets.txt
  tests/precommit/test_pre_commit.py
Due: test-suite, typescript-check, eslint

Add Python conversions for scripts lib helpers
  .github/copilot-instructions.md
  AGENTS.md
  scripts/lib/bootstrap.py
  scripts/lib/datadog_logging.py
  scripts/lib/error_tracking.py
  scripts/lib/kind.py
  scripts/lib/logging.py
  scripts/lib/pgvector.py
  tests/python/scripts_lib/test_bootstrap.py
  tests/python/scripts_lib/test_datadog_logging.py
  tests/python/scripts_lib/test_error_tracking.py
  tests/python/scripts_lib/test_kind.py
  tests/python/scripts_lib/test_logging.py
  tests/python/scripts_lib/test_pgvector.py
Due: k8s-tests

Convert scripts/tests shell suites to pytest
  scripts/tests/azure/test-azure-deployment.sh
  scripts/tests/azure/test_azure_deployment.py
  scripts/tests/bootstrap/__init__.py
  scripts/tests/bootstrap/bootstrap-env.sh
  scripts/tests/bootstrap/bootstrap_env.py
  scripts/tests/bootstrap/test-aks-bootstrap.sh
  scripts/tests/bootstrap/test-bootstrap-dry-run.sh
  scripts/tests/bootstrap/test-bootstrap-final.sh
  scripts/tests/bootstrap/test-claims-validation.sh
  scripts/tests/bootstrap/test-env.example.sh
  scripts/tests/bootstrap/test-updated-bootstrap.sh
  scripts/tests/bootstrap/test_aks_bootstrap.py
  scripts/tests/bootstrap/test_bootstrap_dry_run.py
  scripts/tests/bootstrap/test_bootstrap_final.py
  scripts/tests/bootstrap/test_claims_validation.py
  scripts/tests/bootstrap/test_env_example.py
  scripts/tests/bootstrap/test_updated_bootstrap.py
  scripts/tests/conftest.py
  scripts/tests/datadog/test-api.sh
  scripts/tests/datadog/test-datadog-logging.sh
  scripts/tests/datadog/test-dbm-apm-api.sh
  scripts/tests/datadog/test_api.py
  scripts/tests/datadog/test_datadog_logging.py
  scripts/tests/datadog/test_dbm_apm_api.py
  scripts/tests/fast-openvscode-handshake.sh
  scripts/tests/python_helpers.py
  scripts/tests/test_fast_openvscode_handshake.py
Due: k8s-tests

feat: convert security scripts to python
  docs/SECURITY.md
  docs/src/content/docs/wiki/sessions/2025-10-01-ultra-session.md
  docs/wiki/sessions/2025-10-01-ultra-session.md
  package.json
  scripts/security/__init__.py
  scripts/security/check-branch-protection.sh
  scripts/security/check_branch_protection.py
  scripts/security/enable-branch-protection.sh
  scripts/security/enable_branch_protection.py
  scripts/security/migrate-secrets-to-keychain.sh
  scripts/security/migrate_secrets_to_keychain.py
  scripts/security/verify-binary-download.sh
  scripts/security/verify-helm.sh
  scripts/security/verify-kubectl.sh
  scripts/security/verify-kubectx.sh
  scripts/security/verify-kubens.sh
  scripts/security/verify_binary_download.py
  scripts/security/verify_helm.py
  scripts/security/verify_kubectl.py
  scripts/security/verify_kubectx.py
  scripts/security/verify_kubens.py
  tests/security/test_security_scripts.py
Due: license-check, vulnerability-scan, k8s-tests
