Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

feat(security): implement redis-based rate limiting
  .env.example
  src/middleware.ts
Due: test-suite, typescript-check, eslint

ci(security): add trufflehog secret scanning workflow
  .github/workflows/secret-scanning.yml
Due: none

docs(todo): mark secret scanning as complete
  TODO.md
Due: none

chore(deps): update all dependencies to latest versions
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

docs(todo): mark dependabot alert task as complete
  TODO.md
Due: none

feat(monitoring): add opentofu config for datadog synthetic test
  tofu/main.tf
  tofu/outputs.tf
  tofu/variables.tf
Due: none

docs(todo): mark synthetic test expansion as complete
  TODO.md
Due: none

ci(monitoring): add workflow to run synthetic tests
  .github/workflows/synthetic-test.yml
Due: none

docs(todo): update monitoring and CI tasks
  TODO.md
Due: none

ci: add comprehensive CI workflow
  .github/workflows/ci.yml
Due: none

docs(todo): add future initiatives for hugging face integration
  TODO.md
Due: none

feat(wiki): implement markdown-based wiki with dynamic routing
  .github/workflows/deploy-docs.yml
  .github/workflows/docker-multiarch.yml
  .github/workflows/production-deployment.yml
  CONTAINER_MANIFEST.md
  DOCS_CONSOLIDATION_PLAN.md
  README.md
  content/wiki/home.md
  docker-compose.multiarch.yml
  docs/Dockerfile
  docs/astro.config.mjs
  docs/nginx.conf
  docs/package.json
  docs/src/content/docs/guides/quick-start.md
  docs/src/content/docs/index.mdx
  docs/src/content/docs/monitoring/overview.md
  docs/src/styles/custom.css
  monitoring/prometheus-helm-values.yml
  scripts/deploy-monitoring.sh
  src/app/wiki/[slug]/page.tsx
  templates/rust-burn/basic-neural-network/Cargo.toml
  templates/rust-burn/basic-neural-network/src/bin/inference.rs
  templates/rust-burn/basic-neural-network/src/bin/train.rs
  templates/rust-burn/basic-neural-network/src/data.rs
  templates/rust-burn/basic-neural-network/src/lib.rs
  templates/rust-burn/basic-neural-network/src/model.rs
  templates/rust-burn/basic-neural-network/src/training.rs
Due: test-suite, k8s-tests, typescript-check, eslint

feat(docs): implement interchangeable docs system with deploy workflow
  .github/workflows/deploy-docs.yml
  docs/astro.config.mjs
  next.config.js
  src/components/monitoring/DatadogRUM.tsx
  templates/rust-burn/README.md
  templates/rust-burn/basic-neural-network/Cargo.toml
  templates/rust-burn/phi-local-llm/Cargo.toml
  templates/rust-burn/phi-local-llm/src/bin/chat.rs
  templates/rust-burn/phi-local-llm/src/lib.rs
  templates/rust-burn/phi-local-llm/src/phi_models.rs
Due: test-suite, typescript-check, eslint

Add AI-powered terminal with WebSocket backend and enhanced monitoring
  src/app/api/terminal/ws/route.ts
  src/components/terminal/EnhancedTerminal.tsx
  src/components/workspace/WorkspaceLayout.tsx
  src/lib/monitoring/enhanced-datadog-integration.ts
  tests/integration/enhanced-terminal-integration.test.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
