Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

feat: Complete merge conflict cleanup and include stashed changes
  TODO.md
  data/rag/test-workspace.json
  package-lock.json
  src/app/api/ai/management/route.ts
  src/app/api/monitoring/pool/route.ts
  src/components/ai/AICodeReview.tsx
  src/components/chat/EnhancedChatInterface.tsx
  src/components/chat/HuggingFaceChatInterface.tsx
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/marketplace/TemplateMarketplace.tsx
  src/components/projects/GitHubIntegrationModal.tsx
  src/components/projects/ProjectScaffolder.tsx
  src/components/terminal/EnhancedTerminal.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/cache/valkey-client.ts
  src/lib/prisma.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
Due: test-suite, typescript-check, eslint

Fix remaining relative link validation issues
  tests/docs/astro-content-validation.test.js
Due: test-suite, eslint

Fix Playwright auth flow tests - all 12 tests now passing
  TEST_INFRASTRUCTURE_SUCCESS_REPORT.md
  tests/e2e/auth-flow.test.ts
Due: test-suite, typescript-check, eslint

Add comprehensive test coverage analysis and MIT-licensed coverage tool
  content/wiki/TODO.md
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

Add comprehensive unit tests for useAuth hook
  src/hooks/__tests__/useAuth.test.ts
Due: test-suite, typescript-check, eslint

Add comprehensive unit tests for auth.ts configuration
  src/lib/__tests__/auth.test.ts
Due: test-suite, typescript-check, eslint
