Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

refactor: improve type safety in MCP tools and stubs
  .github/workflows/secret-scanning.yml
  .github/workflows/stale.yml
  .markdownlint-cli2.jsonc
  README.md
  TODO.md
  docker/code-server/Dockerfile
  docker/code-server/Dockerfile.kind
  docs/logs/COORDINATION_LOG.md
  docs/logs/WORKFLOW_TRACKING.md
  docs/logs/workflow-issues/kind-code-server-smoke.yml.md
  docs/logs/workflow-issues/secret-scanning.yml.md
  docs/logs/workflow-issues/stale.yml.md
  k8s/code-server-kind.yaml
  package-lock.json
  package.json
  scripts/test-code-server-kind.sh
  src/mcp/tools/code-analysis.ts
  src/mcp/tools/code-generation.ts
  src/mcp/tools/deployment.ts
  src/mcp/tools/testing.ts
  src/mcp/tools/workspace.ts
  src/stubs/instrument-browser.js
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

refactor: improve type safety in middleware and workspace modules
  TODO.md
  docker/code-server/Dockerfile
  docker/code-server/Dockerfile.kind
  docs/logs/integrations/CODEARKT.md
  src/lib/workspace/auto-scaler.ts
  src/mcp/server.ts
  src/middleware/error-tracking-middleware.ts
Due: test-suite, typescript-check, eslint

refactor: eliminate 63 TypeScript 'any' type warnings across vector DB and AI modules
  src/lib/ai/azureEmbeddingService.ts
  src/lib/vector-db/database-error-patterns.ts
  src/lib/vector-db/vector-db-error-handler-new.ts
Due: test-suite, typescript-check, eslint

refactor: eliminate 52 TypeScript 'any' type warnings across monitoring and agent modules
  src/lib/db/db-logger.ts
  src/lib/monitoring/opentelemetry-config.ts
  src/lib/multimodal-agent.ts
Due: test-suite, typescript-check, eslint

docs: update TODO with TypeScript any reduction progress (1,624→912 warnings)
  TODO.md
Due: none

fix(templates): eliminate 16 TypeScript any warnings in generator
  src/lib/templates/generator.ts
Due: test-suite, typescript-check, eslint

fix(agents): eliminate 15 TypeScript any warnings in agent framework
  src/lib/agent-framework.ts
Due: test-suite, typescript-check, eslint

fix(api): eliminate 15 TypeScript any warnings in database metrics route
  src/app/api/health/database/metrics/route.ts
Due: test-suite, typescript-check, eslint

docs: update TODO with current session TypeScript any reduction progress
  TODO.md
Due: none

fix(monitoring): eliminate 14 TypeScript any warnings in RUM client
  src/lib/monitoring/rum-client.ts
Due: test-suite, typescript-check, eslint

fix(metaplane): eliminate 14 TypeScript any warnings in data observability
  src/lib/metaplane-integration.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
