Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

docs(feature-audit): scaffold init script audit (#1413)
  docs/feature-audits/issue-1413-init-script-integration.md
Due: none

chore(feature-audit): scaffold issue #1264
  docs/feature-audit/issue-1264.md
  tests/feature-audit/issue-1264.test.ts
Due: test-suite, typescript-check, eslint

docs: scaffold feature audit 1295
  docs/feature-audit/issue-1295.md
Due: none

chore(feature-audit): scaffold issue #1263
  docs/feature-audit/issue-1263.md
  tests/feature-audit/issue-1263.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue #1262
  docs/feature-audit/issue-1262.md
  tests/feature-audit/issue-1262.test.ts
Due: test-suite, typescript-check, eslint

docs: add feature audit stub for #1450
  docs/feature-audits/feature-audit-1450-feature-audit-opentelemetry-tracing-distributed-tracing-support-with-otlp-exporters.md
Due: none

docs: add feature audit for memory footprint (#1305)
  docs/feature-audits/1305-reduced-memory-footprint.md
Due: none

Add feature audit scaffold for #1423
  docs/feature-audit/issue-1423.md
Due: none

docs: add feature audit stub for #1449
  docs/feature-audits/feature-audit-1449-feature-audit-datadog-integration-optional-metrics-and-apm-3-integration-methods-ssh-cloud-init-lima.md
Due: none

chore(feature-audit): scaffold doc generation audit
  docs/feature-audit/feature-1331-documentation-generation.md
  docs/feature-audit/index.json
  tests/feature-audit/feature-audit.test.ts
Due: test-suite, typescript-check, eslint

docs: scaffold feature audit 1294
  docs/feature-audit/issue-1294.md
Due: none

docs(feature-audit): scaffold auto-load audit (#1412)
  docs/feature-audits/issue-1412-auto-load.md
Due: none

docs(test): scaffold feature audit 1372
  docs/feature-audits/1372-dropbear-ssh-localhost-2222.md
  tests/feature-audit/1372-dropbear-ssh-localhost-2222.test.ts
Due: test-suite, typescript-check, eslint

chore(feature-audit): scaffold issue 1382
  docs/feature-audit/issue-1382.md
  tests/feature-audit/issue-1382.test.ts
Due: test-suite, typescript-check, eslint

docs: add feature audit stub for #1448
  docs/feature-audits/feature-audit-1448-feature-audit-nat-networking-automatic-network-configuration.md
Due: none

chore(feature-audit): scaffold issue 1381
  docs/feature-audit/issue-1381.md
  tests/feature-audit/issue-1381.test.ts
Due: test-suite, typescript-check, eslint

docs: add feature audit for startup time (#1304)
  docs/feature-audits/1304-faster-startup-time.md
Due: none

chore(feature-audit): scaffold issue #1261
  docs/feature-audit/issue-1261.md
  tests/feature-audit/issue-1261.test.ts
Due: test-suite, typescript-check, eslint

docs: add feature audit stub for #1447
  docs/feature-audits/feature-audit-1447-feature-audit-virtio-block-devices-high-performance-disk-i-o.md
Due: none

Add feature audit scaffold for #1422
  docs/feature-audit/issue-1422.md
Due: none

docs: add feature audit stub for #1446
  docs/feature-audits/feature-audit-1446-feature-audit-uefi-boot-support-modern-boot-with-vzefibootloader.md
Due: none

docs: fix placeholder date and update boot time metrics
  CHANGELOG.md
  ROADMAP.md
Due: none

fix(python): Fix syntax errors and remove obsolete tests
  scripts/lib/__init__.py
  scripts/requirements.txt
  scripts/vfkit_py/valkey_tester.py
  scripts/vfkit_py/vm_manager.py
  tests/python/scripts_lib/test_datadog_logging.py
  tests/python/scripts_lib/test_error_tracking.py
  tests/python/scripts_lib/test_logging.py
Due: k8s-tests

docs: Fix placeholder date and update boot time claims
  CHANGELOG.md
  ROADMAP.md
Due: none

fix(ci): Fix test failures and Rust formatting
  platforms/tauri/src/ai/chat.rs
  platforms/tauri/src/ai/commands.rs
  platforms/tauri/src/ai/completion.rs
  platforms/tauri/src/ai/context.rs
  platforms/tauri/src/ai/manager.rs
  platforms/tauri/src/ai/mcp.rs
  platforms/tauri/src/browser.rs
  platforms/tauri/src/commands.rs
  platforms/tauri/src/docker.rs
  platforms/tauri/src/main.rs
  platforms/tauri/src/mdns.rs
  platforms/tauri/src/menu.rs
  platforms/tauri/src/ml/commands.rs
  platforms/tauri/src/ml/mod.rs
  platforms/tauri/src/service.rs
  platforms/tauri/src/tailscale/mod.rs
  platforms/tauri/src/vm.rs
  tests/unit/ci-self-healing.test.ts
  tests/unit/monaco-monacopilot.test.ts
Due: test-suite, typescript-check, eslint

chore: allow vibecode_webgui to be scanned by tools
  .gitignore
Due: none

feat(cli): consolidate 195 Python scripts into single Go binary
  Makefile
  cmd/vibecode/main.go
  go.mod
  go.sum
Due: none

fix(vector-db): clean up TypeScript error handlers
  docs/TYPESCRIPT_BASELINE.md
  src/lib/vector-db/postgres-vector-database-adapter.ts
  src/lib/vector-db/vector-db-error-handler.old.ts
  src/lib/vector-db/vector-db-error-handler.ts
  src/lib/vector-db/vector-retry-handler.old.ts
Due: test-suite, typescript-check, eslint

fix(ci): Add frontend build step before Tauri build
  .github/workflows/tauri-release.yml
Due: none

chore: stop ignoring vibecode_webgui folder
  .gitignore
Due: none

fix(ci): Properly swap Next.js config for Tauri static export
  .github/workflows/tauri-release.yml
  config/datadog/openclaw-dashboard-full.json
  config/datadog/openclaw-dashboard.json
  docker-compose.yml
Due: none

chore: python issue dispatcher + ignore local runtime artifacts
  .gitignore
  scripts/dispatch_issues_to_polecats.py
Due: k8s-tests

refactor(container): Update Container model to use optional VM and improve logging in ContainerRuntime
  platforms/macos/AppleContainerRuntime/Sources/AppleContainerRuntime/ContainerRuntime.swift
  platforms/macos/AppleContainerRuntime/Sources/AppleContainerRuntime/Models.swift
  platforms/macos/AppleContainerRuntime/Sources/AppleContainerRuntime/OCIImageManager.swift
  platforms/macos/AppleContainerRuntime/Sources/AppleContainerRuntime/main.swift
Due: none

fix: dispatcher uses bd create --silent for reliable bead IDs
  scripts/dispatch_issues_to_polecats.py
Due: k8s-tests

test(ui): Add comprehensive UI component test suite
  src/components/ui/__tests__/alert.test.tsx
  src/components/ui/__tests__/badge.test.tsx
  src/components/ui/__tests__/button.test.tsx
  src/components/ui/__tests__/card.test.tsx
  src/components/ui/__tests__/checkbox.test.tsx
  src/components/ui/__tests__/input.test.tsx
  src/components/ui/__tests__/select.test.tsx
  src/components/ui/__tests__/switch.test.tsx
  src/components/ui/__tests__/tabs.test.tsx
Due: test-suite, typescript-check, eslint

fix(ci): Increase Node.js memory for Tauri build
  .github/workflows/tauri-release.yml
Due: none

feat(scripts): convert add-frontmatter.sh to Python
  scripts/add_frontmatter.py
Due: k8s-tests

feat(scripts): convert audit-documentation.sh to Python
  scripts/audit_documentation.py
Due: k8s-tests

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
