Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

docs: add CODE_OF_CONDUCT.md using Contributor Covenant v2.1
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  src/app/api/auth/csrf/route.ts
  tests/unit/auth/password.test.ts
Due: test-suite, typescript-check, eslint

docs: add troubleshooting guide link to README.md
  README.md
Due: none

fix: resolve codeserver-profiles workflow cache configuration issue
  .github/workflows/codeserver-profiles.yml
Due: none

docs: add Type Safety Phase 1 completion report
  claudedocs/TYPE_SAFETY_PHASE1_COMPLETE.md
Due: none

feat: comprehensive type safety improvements and service enhancements
  src/app/__tests__/app-generator.test.tsx
  src/app/api/agents/[...path]/route.ts
  src/app/api/ai/management/route.ts
  src/app/api/chat/mongodb/route.ts
  src/app/api/chat/stream/route.ts
  src/app/api/files/route.ts
  src/app/api/files/sync/route.ts
  src/app/api/health/database/metrics/route.ts
  src/app/api/monitoring/embeddings/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/app/api/projects/template/route.ts
  src/lib/auth/mfa-provider.ts
  src/lib/services/chat-mongodb.ts
  src/stores/middleware/optimisticMiddleware.ts
  src/stores/middleware/sseMiddleware.ts
  src/stores/uiStore.ts
  tests/unit/app/api/health/route.test.ts
Due: test-suite, typescript-check, eslint

fix: resolve syntax errors from upstream merge
  src/lib/security/logger.ts
  src/lib/vector/adapters/postgresql-vector-adapter.ts
Due: test-suite, typescript-check, eslint

🤖 AGENT WORK COMPLETION: Comprehensive improvements from 10 specialized agents
  .eslintignore
  .test-results/docs-link-report.json
  eslint.config.mjs
  scripts/migrate-console-to-structured-logging.js
  src/app/api/ai/chat/route.ts
  src/app/api/health/route.ts
  src/app/api/workspaces/route.ts
  src/lib/api-utils.ts
  src/lib/logger.ts
  src/lib/workflow/engine.ts
Due: test-suite, k8s-tests, typescript-check, eslint

🤖 AGENT WORK COMPLETION: Comprehensive improvements from 10 specialized agents
  .eslintignore
  .test-results/docs-link-report.json
  docs/.astro/data-store.json
  eslint.config.mjs
  scripts/migrate-console-to-structured-logging.js
  src/app/api/ai/chat/route.ts
  src/app/api/health/route.ts
  src/app/api/workspaces/route.ts
  src/lib/api-utils.ts
  src/lib/logger.ts
  src/lib/workflow/engine.ts
Due: test-suite, k8s-tests, typescript-check, eslint

🔧 CRITICAL FIX: Resolve merge conflicts and restore build functionality
  src/app/api/health/route.ts
  src/lib/cache/valkey-client.ts
  src/lib/workflow/engine.ts
  src/lib/workflow/types.ts
  tests/api/auth-csrf.test.ts
  tests/integration/api/ai-chat-stream.test.ts
  tests/jest.polyfills.js
  tests/unit/auth-password-validation.test.ts
Due: test-suite, typescript-check, eslint

📚 FINAL UPDATE: Complete main branch with all local improvements
  docs/api/openapi.yaml
  docs/security/api-security.md
  docs/security/csrf-protection.md
  docs/security/implementation.md
  docs/security/rate-limiting.md
  docs/testing/TEST_INFRASTRUCTURE.md
  next.config.mjs
  package-lock.json
  package.json
  tests/unit/auth-password-validation.test.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
