Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: resolve remaining syntax errors in vector-db adapters and update TODO.md with next steps
  .github/workflows/production-deployment.yml
  .github/workflows/synthetic-test.yml
  TODO.md
  src/lib/services/chat-mongodb.ts
  src/lib/templates/generator.ts
  src/lib/vector-db/base-vector-database-adapter.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
  src/lib/vector-db/postgres-vector-database-adapter.ts
  src/lib/vector-db/vector-database-factory.ts
  src/lib/vector-stores/enhanced-vector-store.ts
Due: test-suite, typescript-check, eslint

Remove merge conflict markers and clean up files
  .github/workflows/ci.yml
  .github/workflows/gitops-deployment.yml
  package-lock.json
  src/app/api/monitoring/pool-alerts/route.ts
  src/components/ai/AICodeReview.tsx
  src/components/monitoring/MonitoringDashboard.tsx
  src/lib/ai/enhanced-ai-manager.ts
  src/lib/vector-db/redis-vector-database-adapter.ts
  src/lib/vector-db/sqlserver-vector-database-adapter.ts
  src/lib/vector-db/vector-db-error-handler.ts
  src/lib/vector-stores/enhanced-vector-store.ts
Due: test-suite, typescript-check, eslint

✅ BUILD SUCCESSFUL: Complete merge conflict resolution and critical fixes
  .github/workflows/db-monitoring-deployment.yml
  .github/workflows/docs-ci-cd.yml
  .github/workflows/production-deployment.yml
  TODO.md
  docs/dist/infrastructure-fixes-august-2025/index.html
  docs/dist/pagefind/fragment/en_b1b672f.pf_fragment
  docs/dist/pagefind/fragment/en_be49476.pf_fragment
  docs/dist/pagefind/index/en_1c1d3db.pf_index
  docs/dist/pagefind/index/en_22d47f7.pf_index
  docs/dist/pagefind/index/en_49e6f0c.pf_index
  docs/dist/pagefind/index/en_514180f.pf_index
  docs/dist/pagefind/index/en_8a4fe38.pf_index
  docs/dist/pagefind/index/en_8b8415e.pf_index
  docs/dist/pagefind/index/en_9614dd7.pf_index
  docs/dist/pagefind/index/en_b63cf8d.pf_index
  docs/dist/pagefind/index/en_d079823.pf_index
  docs/dist/pagefind/index/en_ef6b83a.pf_index
  docs/dist/pagefind/index/en_fd1a5bb.pf_index
  docs/dist/pagefind/pagefind.en_c298326d43.pf_meta
  docs/node_modules/.astro/data-store.json
  docs/node_modules/.vite/deps/_metadata.json
  jest.config.js
  package-lock.json
  package.json
  src/components/ai/AICodeReview.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

✅ BUILD SUCCESSFUL: Complete merge conflict resolution and critical fixes
  .github/workflows/db-monitoring-deployment.yml
  .github/workflows/docs-ci-cd.yml
  .github/workflows/production-deployment.yml
  TODO.md
  docs/dist/infrastructure-fixes-august-2025/index.html
  docs/dist/pagefind/fragment/en_b1b672f.pf_fragment
  docs/dist/pagefind/fragment/en_be49476.pf_fragment
  docs/dist/pagefind/index/en_1c1d3db.pf_index
  docs/dist/pagefind/index/en_22d47f7.pf_index
  docs/dist/pagefind/index/en_49e6f0c.pf_index
  docs/dist/pagefind/index/en_514180f.pf_index
  docs/dist/pagefind/index/en_8a4fe38.pf_index
  docs/dist/pagefind/index/en_8b8415e.pf_index
  docs/dist/pagefind/index/en_9614dd7.pf_index
  docs/dist/pagefind/index/en_b63cf8d.pf_index
  docs/dist/pagefind/index/en_d079823.pf_index
  docs/dist/pagefind/index/en_ef6b83a.pf_index
  docs/dist/pagefind/index/en_fd1a5bb.pf_index
  docs/dist/pagefind/pagefind.en_c298326d43.pf_meta
  jest.config.js
  package-lock.json
  package.json
  src/components/ai/AICodeReview.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

🔧 Fix critical linting errors for CI pipeline
  TODO.md
  src/app/api/monitoring/metrics/route.ts
  src/components/terminal/EnhancedTerminal.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/ai/automated-test-generator.ts
  src/lib/ai/azureEmbeddingService.ts
Due: test-suite, typescript-check, eslint

🔧 Fix CI dependency conflict: Update @browserbasehq/stagehand to v2.4.4
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

🔧 Fix CI dependency installation: Add --legacy-peer-deps to enhanced CI pipeline
  .github/workflows/ci-enhancements.yml
Due: none

📝 Update TODO.md with current progress and clean up merge conflicts
  TODO.md
Due: none

fix: resolve critical parsing errors blocking CI pipeline
  .github/workflows/ci.yml
  .github/workflows/secret-scanning.yml
  TODO.md
  src/components/projects/GitHubIntegrationModal.tsx
  src/components/terminal/EnhancedTerminal.tsx
  src/lib/ai/smart-code-completion.ts
  src/lib/cache/redis-client.ts
Due: test-suite, typescript-check, eslint
