Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

feat: implement comprehensive dependency compatibility testing
  .github/workflows/dependency-compatibility.yml
  .husky/pre-commit-deps
  TODO.md
  babel.config.js
  dependency-compatibility-report.json
  jest.config.js
  package-lock.json
  package.json
  public/docs-index.json
  scripts/check-dependency-compatibility.js
  scripts/create-docs-index.js
  services/ai-gateway/dist/controllers/ai-controller.js
  services/ai-gateway/dist/controllers/ai-controller.js.map
  services/ai-gateway/dist/server.js
  services/ai-gateway/dist/server.js.map
  services/ai-gateway/dist/services/openrouter-client.js
  services/ai-gateway/dist/services/openrouter-client.js.map
  src/app/api/docs/search/route.ts
  src/app/docs-search/page.tsx
  src/components/DocSearch.tsx
  src/data/docs-index.json
  src/lib/file-watching-optimization.ts
  test-workspace/test-workspace/collaborative-test.md
  test-workspace/test-workspace/error-test.txt
  test-workspace/test-workspace/integration-test.ts
  tests/integration/file-operations-integration.test.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

feat: implement comprehensive dependency compatibility testing
  tests/integration/file-operations-integration.test.ts
Due: test-suite, typescript-check, eslint

docs: add comprehensive dependency compatibility testing documentation
  docs/dependency-compatibility-testing.md
Due: none

security: Apply CodeQL security fixes from syntax-errors-resolution branch
  src/app/ai-code-review-demo/page.tsx
Due: test-suite, typescript-check, eslint

feat: Extract comprehensive E2E test suite improvements
  tests/e2e/ai-features.test.ts
  tests/e2e/auth-flow.test.ts
  tests/e2e/workspace-management.test.ts
  tests/integration/file-operations-integration.test.ts
Due: test-suite, typescript-check, eslint

test: Enhance file operations integration test reliability
  tests/integration/file-operations-integration.test.ts
Due: test-suite, typescript-check, eslint

feat: Add comprehensive platform deployment orchestration
  docs/DEPLOYMENT_GUIDE.md
  package-lock.json
  package.json
  scripts/deploy-complete-platform.sh
  src/lib/ai/automated-test-generator.ts
  src/lib/ai/local/ollama-client.ts
  src/lib/ai/smart-code-completion.ts
  src/lib/file-system-operations.ts
  src/middleware.ts
  tests/integration/file-operations-integration.test.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

fix: resolve security vulnerabilities and TypeScript issues
  dependency-compatibility-report.json
  src/lib/file-watching-optimization.ts
  src/middleware.ts
  tests/integration/file-operations-integration.test.ts
Due: test-suite, typescript-check, eslint
