Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Fix collaboration server tests and update documentation
  TEST_QUALITY_ANALYSIS_REPORT.md
  content/wiki/WIKI_INDEX.md
  content/wiki/storage-sizing-analysis.md
  content/wiki/wiki-index.md
  data/workspaces/test-workspace/test.txt
  src/lib/__tests__/collaboration-server.test.ts
  src/lib/services/__tests__/function-calling.test.ts
  src/middleware/__tests__/quota-middleware.test.ts
  tests/k8s/helm-chart-deployment.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Complete Azure embedding monitoring implementation
  src/lib/collaboration/__tests__/workspace-collaboration.test.ts
Due: test-suite, typescript-check, eslint

Update vector database adapters and Helm chart configurations
  helm/vibecode-platform/templates/networkpolicy.yaml
  helm/vibecode-platform/templates/serviceaccount.yaml
  helm/vibecode-platform/templates/tests/test-connection.yaml
  helm/vibecode-platform/templates/tests/test-provisioning.yaml
  src/app/api/health/database/metrics/route.ts
  src/app/api/health/database/route.ts
  src/app/api/vector-store/route.ts
  src/lib/db/health-check.ts
  src/lib/monitoring/azure-embedding-metrics.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
  src/lib/vector-db/redis-vector-database-adapter.ts
  src/lib/vector-db/sqlserver-vector-database-adapter.ts
  tests/k8s/helm-chart-deployment.test.ts
Due: test-suite, helm-lint, helm-template-test, k8s-tests, typescript-check, eslint

Enhance input validation and add comprehensive failure mode testing
  src/app/api/health/simple/route.ts
  src/lib/security/input-validator.ts
  tests/integration/api-failure-modes.test.ts
  tests/integration/real-input-validation.test.ts
Due: test-suite, typescript-check, eslint

fix: Update Astro and Vite to address CVE-2025-58751 and CVE-2025-58752 path traversal vulnerabilities
  docs/package-lock.json
  docs/package.json
Due: none

Complete services tests and fix failing tests
  COMPREHENSIVE_TEST_ANALYSIS.md
  docs/dist/infrastructure-fixes-august-2025/index.html
  docs/node_modules/.package-lock.json
  docs/node_modules/.vite/deps/_metadata.json
  docs/node_modules/vite/dist/node/chunks/dep-AiMcmC_f.js
  docs/node_modules/vite/dist/node/chunks/dep-DBxKXgDP.js
  docs/node_modules/vite/dist/node/chunks/dep-SgSik2vo.js
  docs/node_modules/vite/dist/node/cli.js
  docs/node_modules/vite/dist/node/index.js
  docs/node_modules/vite/package.json
  helm/vibecode-platform/templates/rbac.yaml
  helm/vibecode-platform/templates/tests/test-provisioning.yaml
  src/lib/db/__tests__/db-metrics.test.ts
  src/lib/security/__tests__/input-validator.test.ts
  src/lib/security/input-validator.ts
  src/lib/services/__tests__/chat-mongodb.test.ts
  src/lib/services/__tests__/collaboration.test.ts
  src/lib/services/__tests__/intelligent-model-selection.test.ts
  test-workspace/test-workspace/performance-test.txt
  tests/integration/api-failure-modes.test.ts
  tests/integration/real-input-validation.test.ts
  web-dashboard/src/components/QuickActions.tsx
  web-dashboard/src/pages/Settings.tsx
  web-dashboard/src/services/api.ts
Due: test-suite, helm-lint, helm-template-test, k8s-tests, typescript-check, eslint

Complete services tests and fix failing tests
  COMPREHENSIVE_TEST_ANALYSIS.md
  docs/dist/infrastructure-fixes-august-2025/index.html
  helm/vibecode-platform/templates/rbac.yaml
  helm/vibecode-platform/templates/tests/test-provisioning.yaml
  src/lib/db/__tests__/db-metrics.test.ts
  src/lib/security/__tests__/input-validator.test.ts
  src/lib/security/input-validator.ts
  src/lib/services/__tests__/chat-mongodb.test.ts
  src/lib/services/__tests__/collaboration.test.ts
  src/lib/services/__tests__/intelligent-model-selection.test.ts
  test-workspace/test-workspace/performance-test.txt
  tests/integration/api-failure-modes.test.ts
  tests/integration/real-input-validation.test.ts
  web-dashboard/src/components/QuickActions.tsx
  web-dashboard/src/pages/Settings.tsx
  web-dashboard/src/services/api.ts
Due: test-suite, helm-lint, helm-template-test, k8s-tests, typescript-check, eslint
