Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

🔧 Fix Jest configuration and file system operations
  src/lib/file-system-operations.ts
  src/lib/file-watching-optimization.ts
Due: test-suite, typescript-check, eslint

🔧 Fix Jest configuration path for setup files
  jest.config.js
Due: test-suite, eslint

feat: comprehensive security enhancements and vulnerability fixes
  .eslintcache
  .github/workflows/ci.yml
  package-lock.json
  package.json
  scripts/security-test.sh
  tsconfig.json
Due: license-check, vulnerability-scan, k8s-tests

feat: replace k6 with Datadog Synthetic Testing for comprehensive monitoring
  .github/workflows/ci.yml
  datadog-synthetics.json
  lighthouse-ci.json
  package.json
  scripts/run-performance-tests.js
  src/app/api/monitoring/performance/route.ts
  src/lib/monitoring/performance-monitoring.ts
  tests/performance/k6-load-tests.js
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

🔧 Update Node.js version to 20.11.0 to fix CI/CD pipeline compatibility issues
  .github/workflows/ci.yml
  package.json
  src/lib/vector-store.ts
  tsconfig.json
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

🔧 Comment out unavailable Datadog actions to fix CI/CD pipeline
  .github/workflows/ci.yml
Due: none

🔧 Update package.json with new security and performance scripts
  src/lib/datadog-database.ts
  src/lib/lazy-loading.ts
  src/lib/metaplane-integration.ts
  src/lib/monitoring/opentelemetry-client.ts
  src/lib/multimodal-agent.ts
  src/lib/network-diagnostics.ts
  src/lib/ollama-client.ts
  src/lib/prisma.ts
  src/lib/rate-limiting.ts
  src/lib/resource-management.ts
  src/lib/websocket-connection-pooling.ts
  src/middleware.ts
  src/pages/generative-ui.tsx
  src/types/collaboration-shims.d.ts
  src/types/opentelemetry-shims.d.ts
  src/types/weaviate-ts-client.d.ts
Due: test-suite, typescript-check, eslint

🔧 Improve CI/CD pipeline resilience and type definitions
  .github/workflows/ci.yml
  src/lib/claude-cli-integration.ts
  src/lib/claude-code-sdk.ts
  src/lib/collaboration/workspace-collaboration.ts
  src/lib/experiment-client.ts
  src/types/collaboration-shims.d.ts
Due: test-suite, typescript-check, eslint

🔧 Fix Jest test commands to use new --testPathPatterns option
  package.json
Due: license-check, vulnerability-scan

🔧 Fix Jest SWC binary loading issues in CI
  .github/workflows/ci.yml
  src/lib/claude-cli-integration-secure.ts
  src/lib/claude-cli-integration.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
