Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

auto-claude: subtask-5-2 - Create wireguard module with basic functionality
  platforms/tauri/src/main.rs
  platforms/tauri/src/wireguard/commands.rs
  platforms/tauri/src/wireguard/mod.rs
Due: none

Fix CI build inputs and restore broken E2E helpers
  .github/workflows/tauri-release.yml
  platforms/tauri/docs/reports/testing/TAILSCALE_TESTING.md
  platforms/tauri/src/platform.rs
  platforms/tauri/src/tailscale/commands.rs
  tests/e2e/auth-flow.test.ts
  tests/e2e/simple-test.spec.ts
  tests/e2e/utils/test-helpers.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Create Playwright E2E tests for Tailscale UI
  tests/e2e/tailscale.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create Tauri integration tests for Tailscale commands
  platforms/tauri/src/lib.rs
  platforms/tauri/tests/tailscale_integration.rs
Due: none

auto-claude: subtask-2-2 - Create useTailscale React hook for state management
  src/hooks/useTailscale.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-3 - Uncomment and register Tailscale commands in main.rs
  platforms/tauri/src/main.rs
Due: none

auto-claude: subtask-2-1 - Create tailscale.ts API wrapper with TypeScript types
  src/lib/api/tailscale.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-4 - Add unit tests for Tailscale commands
  platforms/tauri/src/tailscale/mod.rs
Due: none

Fix Tailscale CI build regressions and review blockers
  next.config.tauri.js
  platforms/tauri/src/main.rs
  platforms/web-dashboard/src/pages/Settings.tsx
  src/components/TailscaleSetup.tsx
  src/hooks/useTailscale.ts
  src/lib/api/tailscale.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Export commands module from tailscale/mod.rs
  platforms/tauri/src/tailscale/mod.rs
Due: none

auto-claude: subtask-6-2 - Performance and security audit
  platforms/tauri/docs/reports/TAILSCALE_SECURITY_AUDIT.md
Due: none

auto-claude: subtask-3-4 - Create export module for compliance tool integrati
  src/lib/audit/export.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-5 - Create audit index file exporting all audit modules
  src/lib/audit/index.ts
Due: test-suite, typescript-check, eslint

Adjust merged console audit test for current ConsoleMode implementation
  tests/feature-audit/issue-1527.test.ts
Due: test-suite, typescript-check, eslint

ci: reduce systemic PR friction from advisory checks and brittle audit test (#1944)
  .github/workflows/claude-code-review.yml
  .github/workflows/security-audit.yml
Due: none

auto-claude: subtask-4-1 - Create audit middleware wrapper (withAuditLogging)
  src/lib/audit/index.ts
  src/lib/audit/middleware.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Create /api/audit/logs endpoint for querying audit
  src/app/api/audit/logs/route.ts
Due: test-suite, typescript-check, eslint

fix(ci): enable wasm in tauri next config
  next.config.tauri.js
Due: test-suite, eslint

auto-claude: subtask-5-2 - Create /api/audit/export endpoint for compliance tool exports
  src/app/api/audit/export/route.ts
Due: test-suite, typescript-check, eslint

Multi-Agent Orchestration Framework (#1893)
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  src/app/api/workflows/README.md
  src/app/api/workflows/[id]/approve/route.ts
  src/app/api/workflows/[id]/rollback/route.ts
  src/app/api/workflows/[id]/route.ts
  src/app/api/workflows/route.ts
  src/components/ui/alert-dialog.tsx
  src/components/workflow/ApprovalGate.tsx
  src/components/workflow/AuditTrailViewer.tsx
  src/components/workflow/NodePalette.tsx
  src/components/workflow/WorkflowBuilder.tsx
  src/components/workflow/WorkflowCanvas.tsx
  src/components/workflow/index.ts
  src/lib/workflow/audit-trail.ts
  src/lib/workflow/engine.ts
  src/lib/workflow/rollback-manager.ts
  src/lib/workflow/types.ts
  tests/e2e/workflow-orchestration.test.ts
Due: test-suite, typescript-check, eslint

Tailscale Zero-Trust Networking Integration (#1894)
  .github/workflows/tauri-release.yml
  docs/research/WIREGUARD_INTEGRATION.md
  next.config.tauri.js
  platforms/tauri/docs/reports/TAILSCALE_SECURITY_AUDIT.md
  platforms/tauri/docs/reports/testing/TAILSCALE_TESTING.md
  platforms/tauri/src/lib.rs
  platforms/tauri/src/main.rs
  platforms/tauri/src/network/mod.rs
  platforms/tauri/src/network/provider.rs
  platforms/tauri/src/platform.rs
  platforms/tauri/src/tailscale/commands.rs
  platforms/tauri/src/tailscale/mod.rs
  platforms/tauri/src/wireguard/commands.rs
  platforms/tauri/src/wireguard/mod.rs
  platforms/tauri/tests/tailscale_integration.rs
  platforms/web-dashboard/src/pages/Settings.tsx
  src/components/TailscaleSetup.tsx
  src/components/TailscaleStatus.tsx
  src/components/settings/SettingsPanel.tsx
  src/hooks/useTailscale.ts
  src/lib/api/tailscale.ts
  tests/e2e/auth-flow.test.ts
  tests/e2e/simple-test.spec.ts
  tests/e2e/tailscale.test.ts
  tests/e2e/utils/test-helpers.ts
Due: test-suite, typescript-check, eslint

Handle PRs and MRs in Claude Code Hooks (#1895)
  .claude/hooks/CLAUDE.md
  .claude/hooks/index.ts
  .claude/hooks/lib.ts
  .claude/hooks/package.json
  .claude/hooks/pr.test.ts
  .claude/hooks/pr.ts
  .claude/hooks/session.ts
  .claude/hooks/tsconfig.json
  .gitignore
Due: test-suite, typescript-check, eslint

Agent Action Preview & Confirmation (#1897)
  docs/AGENT_CONFIRMATION.md
  src/app/agent-test/page.tsx
  src/app/api/agents/[...path]/route.ts
  src/app/chat/page.tsx
  src/components/agent/ActionPreview.tsx
  src/components/agent/ConfirmationDialog.tsx
  src/components/agent/DiffViewer.tsx
  src/components/settings/SettingsPanel.tsx
  src/lib/agent-framework/confirmation/index.ts
  src/lib/agent-framework/confirmation/service.ts
  src/lib/agent-framework/core.ts
  src/lib/agent-framework/tools/index.ts
  src/lib/agent-framework/types.ts
  src/types/agent-confirmation.ts
  src/types/settings.ts
  tests/integration/agent-confirmation.test.ts
Due: test-suite, typescript-check, eslint

Define modular folder structure for multi-service architecture (#1898)
  docs/ADR/folder-structure-modularization.md
  docs/ARCHITECTURE.md
  docs/FOLDER_STRUCTURE.md
  docs/MODULE_BOUNDARIES.md
  docs/analysis/current-structure-audit.md
  docs/analysis/dependency-map.md
  docs/analysis/pain-points.md
  docs/design/organization-principles.md
  docs/design/proposed-structure.md
Due: none

Tail-Based Sampling for Observability (#1899)
  .env.example
  MANUAL_VERIFICATION_GUIDE.md
  src/app/api/monitoring/otel-config/route.ts
  src/lib/monitoring/opentelemetry-config.ts
  src/lib/monitoring/opentelemetry.ts
  src/lib/monitoring/sampling-config.ts
  src/lib/monitoring/tail-based-sampler.ts
  tests/unit/lib/monitoring/sampling-config.test.ts
  tests/unit/lib/monitoring/tail-based-sampler.test.ts
Due: test-suite, typescript-check, eslint

Granular Code Modification Display (#1901)
  src/app/demo/visual-diff/page.tsx
  src/components/editor/DiffControls.tsx
  src/components/editor/VisualDiff.tsx
  src/components/editor/VisualDiffPlayground.tsx
  tests/unit/components/DiffControls.test.tsx
  tests/unit/components/VisualDiff.test.tsx
Due: test-suite, typescript-check, eslint

Automated GitHub Release Testing with Tart VMs (#1903)
  scripts/release-testing/.gitkeep
  scripts/release-testing/config.env
  scripts/release-testing/github-releases.sh
  scripts/release-testing/report-generator.sh
  scripts/release-testing/run-tests-in-vm.sh
  scripts/release-testing/test-all-releases.sh
  scripts/release-testing/tests/.gitkeep
  scripts/release-testing/tests/run-all-tests.sh
  scripts/release-testing/tests/test-config.sh
  scripts/release-testing/tests/test-github-releases.sh
  scripts/release-testing/tests/test-integration-e2e.sh
  scripts/release-testing/tests/test-logging.sh
  scripts/release-testing/tests/test-vm-lifecycle.sh
  scripts/release-testing/vm-lifecycle.sh
Due: k8s-tests

Apple Virtualization Framework Stability (#1904)
  platforms/macos/vz-swift/Sources/VibeCodeVM/LinuxVMStandalone.swift
  platforms/macos/vz-swift/Sources/VibeCodeVM/main.swift
  src/lib/vm/providers/native-vm.ts
  src/lib/vm/providers/vfkit.ts
  src/lib/vm/utils/health-check.ts
  src/lib/vm/utils/retry.ts
  src/lib/vm/utils/system-resources.ts
  tests/e2e/vm-acceptance.test.ts
  tests/integration/vm-reliability.test.ts
  tests/integration/vm-stress.test.ts
Due: test-suite, typescript-check, eslint

Add sensitive data sanitization to task logs (#1911)
  scripts/security/INTEGRATION_GUIDE.md
  scripts/security/__init__.py
  scripts/security/log_sanitizer.py
  scripts/security/tests/test_log_sanitizer.py
  tests/feature-audit/issue-1527.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Secret Rotation and Expiration Policies (#1913)
  docs/security/rotation-policies.md
  docs/security/secret-rotation-guide.md
  node_modules/.package-lock.json
  prisma/migrations/20260216_add_secret_tracking/migration.sql
  prisma/migrations/20260216_add_secret_tracking/rollback.sql
  prisma/schema.prisma
  scripts/security/check_expiration.py
  scripts/security/migrate_secrets_to_keychain.py
  scripts/security/rotate_secrets.py
  scripts/security/tests/test_expiration.py
  scripts/security/tests/test_rotation.py
  src/app/api/secrets/rotate/route.ts
  src/app/api/secrets/status/route.ts
  src/lib/security/expiration-checker.ts
  src/lib/security/macos-keychain.ts
  src/lib/security/rotation-policies.ts
  src/lib/security/secret-manager.ts
  tests/integration/api/secrets.test.ts
  tests/integration/secret-rotation-e2e.test.ts
  tests/unit/lib/security/expiration-checker.test.ts
  tests/unit/lib/security/rotation-policies.test.ts
  tests/unit/lib/security/secret-manager.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Comprehensive Repository Analysis (#1917)
  ANALYSIS_REPORT.md
  SERVICE_DEPENDENCIES.md
Due: none

Aggressive caching for semi-static API responses (#1922)
  src/app/api/ai/models/route.ts
  src/app/api/experiments/route.ts
  src/app/api/templates/route.ts
  src/lib/cache/cache-utils.ts
  src/lib/cache/http-cache-headers.ts
  src/lib/feature-flags.ts
  tests/integration/experiments-api.test.ts
  tests/unit/api/ai/models-caching.test.ts
  tests/unit/lib/cache/cache-utils.test.ts
  tests/unit/lib/cache/http-cache-headers.test.ts
Due: test-suite, typescript-check, eslint

Local Model Integration (Ollama) (#1924)
  src/app/ai/models/page.tsx
  src/app/api/ai/chat/stream/route.ts
  src/app/api/ai/models/route.ts
  src/app/api/ollama/chat/route.ts
  src/components/ai/ModelSelector.tsx
  src/components/ai/OllamaModelManager.tsx
  src/hooks/useOllamaModels.ts
  src/lib/ai/models/model-registry.ts
  src/lib/ai/ollama-provider.ts
  src/lib/unified-ai-client.ts
  test_model_ui.sh
Due: test-suite, typescript-check, eslint

Environment Templates with Monitoring and Resource Customization (#1925)
  .github/PULL_REQUEST_TEMPLATE/template_contribution.md
  config/templates/CATALOG.md
  config/templates/_shared/monitoring.datadog.yml
  config/templates/_shared/monitoring.prometheus.yml
  config/templates/go/go-microservices/.env.example
  config/templates/go/go-microservices/Dockerfile
  config/templates/go/go-microservices/README.md
  config/templates/go/go-microservices/docker-compose.yml
  config/templates/go/go-microservices/go.mod
  config/templates/go/go-microservices/go.sum
  config/templates/go/go-microservices/main.go
  config/templates/go/go-microservices/monitoring/grafana/dashboards/dashboard.yml
  config/templates/go/go-microservices/monitoring/grafana/datasources/prometheus.yml
  config/templates/go/go-microservices/monitoring/prometheus.yml
  config/templates/go/go-microservices/template.json
  config/templates/python/azure-pytorch-dsvm/monitoring.yml
  config/templates/python/azure-pytorch-dsvm/template.json
  config/templates/react/react-typescript-vite/.env.example
  config/templates/react/react-typescript-vite/README.md
  config/templates/react/react-typescript-vite/package.json
  config/templates/react/react-typescript-vite/src/App.tsx
  config/templates/react/react-typescript-vite/src/main.tsx
  config/templates/react/react-typescript-vite/template.json
  config/templates/react/react-typescript-vite/tsconfig.json
  config/templates/react/react-typescript-vite/vite.config.ts
  scripts/submit-template.js
  scripts/validate-template.js
  scripts/verify-template-system.js
  src/lib/templates/generator.ts
  src/lib/templates/index.ts
  src/lib/templates/monitoring-config.ts
  src/lib/templates/resource-config.ts
  tests/unit/template-validation.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Container Resource Monitoring (#1927)
  docs/monitoring/container-monitoring.md
  infrastructure/datadog/dashboards/container-metrics-dashboard.json
  infrastructure/datadog/monitors/container-resource-monitors.json
  infrastructure/monitoring/README.md
  infrastructure/monitoring/alertmanager.yml
  infrastructure/monitoring/alerts/container-resource-alerts.yml
  infrastructure/monitoring/runbooks/container-resource-alerts.md
  scripts/deploy-datadog-container-dashboard.sh
  src/app/api/monitoring/containers/history/route.ts
  src/app/api/monitoring/containers/route.ts
  src/app/monitoring/containers/page.tsx
  src/app/monitoring/layout.tsx
  src/components/monitoring/ContainerAlertsList.tsx
  src/components/monitoring/ContainerMetricsChart.tsx
  src/components/monitoring/ContainerMonitoringDashboard.tsx
  src/components/monitoring/ContainerResourceGauge.tsx
  src/lib/monitoring/container-metrics.ts
  tests/e2e/container-monitoring-dashboard.test.ts
  tests/infrastructure/README.md
  tests/infrastructure/prometheus-container-alerts.test.yml
  tests/integration/monitoring-containers-api.test.ts
  tests/unit/lib/monitoring/container-metrics.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Guided First-Run Onboarding Flow (#1930)
  next-env.d.ts
  src/app/api/setup/ai-keys/route.ts
  src/app/api/setup/database/route.ts
  src/app/api/setup/docker/route.ts
  src/app/api/setup/kubernetes/route.ts
  src/app/api/setup/status/route.ts
  src/app/setup/page.tsx
  src/components/setup/AIKeysCheck.tsx
  src/components/setup/DatabaseCheck.tsx
  src/components/setup/DockerCheck.tsx
  src/components/setup/KubernetesCheck.tsx
  src/components/setup/SetupWizard.tsx
  src/components/setup/StepIndicator.tsx
  src/lib/setup/checks.ts
  src/types/setup.ts
Due: test-suite, typescript-check, eslint

Large File Performance Optimization (#1932)
  .gitignore
  scripts/generate-test-file.js
  src/components/editor/AgentMonacoEditor.tsx
  src/components/editors/monaco.tsx
  src/lib/ai/chunked-operations.ts
  src/lib/editor/file-chunking.ts
  src/lib/editor/large-file-optimizer.ts
  src/lib/editor/monaco-agentapi.ts
  src/lib/performance/editor-performance.ts
  src/lib/performance/memory-monitor.ts
  src/lib/workers/worker-manager.ts
  src/workers/ai-processing.worker.ts
  src/workers/syntax-highlighter.worker.ts
  tests/e2e/large-file-performance.test.ts
  tests/performance/large-file-editor.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Persistent Session Context (#1933)
  prisma/migrations/20260214162213_add_session_context/migration.sql
  prisma/schema.prisma
  scripts/e2e-session-context-verification.ts
  src/app/api/session/context/route.ts
  src/app/api/session/context/search/route.ts
  src/lib/session/persistent-context-service.ts
  tests/integration/session-context.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Intelligent Context Window Management (#1934)
  src/app/api/ai/chat/enhanced/route.ts
  src/app/api/ai/chat/unified/route.ts
  src/app/api/ai/context/current/route.ts
  src/app/api/ai/context/metrics/route.ts
  src/app/api/ai/context/pinned/route.ts
  src/components/ai/AIChatInterface.tsx
  src/components/ai/ContextMetrics.tsx
  src/components/ai/ContextPinning.tsx
  src/components/ai/ContextViewer.tsx
  src/components/chat/EnhancedChatInterface.tsx
  src/lib/ai/context/context-integration.ts
  src/lib/ai/context/context-metrics.ts
  tests/e2e/context-management.spec.ts
Due: test-suite, typescript-check, eslint

Comprehensive Setup Documentation (#1938)
  docs/setup/APPLE_VIRTUALIZATION_SETUP.md
  docs/setup/ARCHITECTURE_OVERVIEW.md
  docs/setup/DOCKER_COMPOSE_SETUP.md
  docs/setup/GETTING_STARTED.md
  docs/setup/KIND_KUBERNETES_SETUP.md
  docs/setup/TAURI_DESKTOP_SETUP.md
  docs/setup/TROUBLESHOOTING_GUIDE.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
