Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

auto-claude: subtask-1-3 - Create WebSocket alerts component
  src/components/monitoring/WebSocketAlerts.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-4 - Create WebSocket dashboard API route
  src/app/api/monitoring/websocket/dashboard/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-5 - Create WebSocket monitoring page
  src/app/monitoring/websocket/alerts.tsx
  src/app/monitoring/websocket/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create Rate Limit monitoring service
  .auto-claude-status
  .claude_settings.json
  src/lib/monitoring/rate-limit-monitor.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Create Rate Limit dashboard component
  .auto-claude-status
  src/components/monitoring/RateLimitDashboard.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-3 - Create Rate Limit alerts component
  .auto-claude-status
  src/components/monitoring/RateLimitAlerts.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-4 - Create Rate Limit dashboard API route
  src/app/api/monitoring/rate-limit/dashboard/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-5 - Create Rate Limit monitoring page
  src/app/monitoring/rate-limit/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create AI Usage monitoring service
  src/lib/monitoring/ai-usage-monitor.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Create AI Usage dashboard component
  .auto-claude-status
  src/components/monitoring/AIUsageDashboard.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Create AI Usage alerts component
  src/components/monitoring/AIUsageAlerts.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-4 - Create AI Usage dashboard API route
  src/app/api/monitoring/ai-usage/dashboard/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-5 - Create AI Usage monitoring page
  src/app/monitoring/ai-usage/alerts.tsx
  src/app/monitoring/ai-usage/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Add navigation links to main monitoring page
  src/app/monitoring/layout.tsx
  src/app/monitoring/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Verify consistent styling across all dashboards
  .auto-claude-status
  next-env.d.ts
  node_modules/.package-lock.json
Due: test-suite, typescript-check, eslint

auto-claude: Mark subtask-4-3 as completed
  .auto-claude-status
Due: none

auto-claude: subtask-1-1 - Create useLocalStorage hook with sync functionality
  src/hooks/useLocalStorage.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Create comprehensive tests for useLocalStorage
  .auto-claude-status
  .claude_settings.json
  node_modules/.package-lock.json
  src/hooks/__tests__/useLocalStorage.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create useIntersectionObserver hook with configurable options
  src/hooks/useIntersectionObserver.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Create comprehensive tests for useIntersectionObserver
  .auto-claude-status
  src/hooks/__tests__/useIntersectionObserver.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Run all unit tests and verify type checking
  .auto-claude-status
Due: none

fix: correct TypeScript ref types in useIntersectionObserver (qa-requested)
  src/hooks/useIntersectionObserver.ts
Due: test-suite, typescript-check, eslint

Vector Embedding Similarity Explorer (#1947)
  .auto-claude-status
  .claude_settings.json
  src/app/ai/page.tsx
  src/app/ai/vector-explorer/page.tsx
  src/components/ai/EmbeddingVisualizer.tsx
  src/components/ai/VectorSimilarityExplorer.tsx
  src/components/ai/__tests__/EmbeddingVisualizer.test.tsx
Due: test-suite, typescript-check, eslint

Add Resource Monitoring Dashboards Following ConnectionPool Pattern (#1948)
  next-env.d.ts
  node_modules/.package-lock.json
  src/app/api/monitoring/ai-usage/dashboard/route.ts
  src/app/api/monitoring/rate-limit/dashboard/route.ts
  src/app/api/monitoring/websocket/dashboard/route.ts
  src/app/monitoring/ai-usage/alerts.tsx
  src/app/monitoring/ai-usage/page.tsx
  src/app/monitoring/layout.tsx
  src/app/monitoring/page.tsx
  src/app/monitoring/rate-limit/page.tsx
  src/app/monitoring/websocket/alerts.tsx
  src/app/monitoring/websocket/page.tsx
  src/components/monitoring/AIUsageAlerts.tsx
  src/components/monitoring/AIUsageDashboard.tsx
  src/components/monitoring/RateLimitAlerts.tsx
  src/components/monitoring/RateLimitDashboard.tsx
  src/components/monitoring/WebSocketAlerts.tsx
  src/components/monitoring/WebSocketDashboard.tsx
  src/lib/monitoring/ai-usage-monitor.ts
  src/lib/monitoring/rate-limit-monitor.ts
  src/lib/monitoring/websocket-monitor.ts
Due: test-suite, typescript-check, eslint

Add useLocalStorage and useIntersectionObserver Hooks (#1949)
  src/hooks/__tests__/useIntersectionObserver.test.ts
  src/hooks/__tests__/useLocalStorage.test.ts
  src/hooks/useIntersectionObserver.ts
  src/hooks/useLocalStorage.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create comprehensive environment setup guide
  docs/ENVIRONMENT_SETUP_GUIDE.md
Due: none

auto-claude: subtask-1-1 - Create first-run detection utility
  scripts/check-first-run.js
Due: test-suite, k8s-tests, eslint

auto-claude: subtask-1-2 - Update README.md to link to the new environment se
  README.md
Due: none

auto-claude: subtask-1-2 - Add completion tracking to user preferences
  src/lib/user-preferences.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Extend Prisma schema for plugin repository
  prisma/prisma.config.ts
  prisma/schema.prisma
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create quickstart orchestration script
  scripts/quickstart.js
Due: test-suite, k8s-tests, eslint

auto-claude: subtask-2-2 - Add npm script for quickstart command
  package.json
Due: license-check, vulnerability-scan

ops: automate auto-claude PR refresh and add dependabot triage note
  .github/workflows/auto-claude-pr-maintenance.yml
  docs/security/DEPENDABOT-TRIAGE-2026-02-22.md
  scripts/automation/update_auto_claude_prs.py
Due: k8s-tests

ops: automate auto-claude PR refresh and add dependabot triage note (#1952)
  .github/workflows/auto-claude-pr-maintenance.yml
  docs/security/DEPENDABOT-TRIAGE-2026-02-22.md
  scripts/automation/update_auto_claude_prs.py
Due: k8s-tests

auto-claude: subtask-2-3 - Integrate setup-development.js into quickstart flow
  scripts/quickstart.js
Due: test-suite, k8s-tests, eslint

auto-claude: subtask-3-1 - Create sample project template structure
  templates/sample-project/.vibecode/tasks.json
  templates/sample-project/README.md
  templates/sample-project/package.json
  templates/sample-project/src/api/hello.ts
  templates/sample-project/src/index.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Create plugin repository service layer
  src/lib/plugins/plugin-repository.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Add sample project initialization to quickstart
  scripts/quickstart.js
Due: test-suite, k8s-tests, eslint

auto-claude: subtask-1-3 - Create plugin marketplace API endpoint
  .auto-claude-status
  .claude_settings.json
  node_modules/.package-lock.json
  src/app/api/plugins/marketplace/route.ts
Due: test-suite, typescript-check, eslint
