Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

chore: improve coverage workflow and stabilize optional swc deps
  .github/workflows/test-coverage.yml
  jest.config.mjs
  package-lock.json
  tests/unit/db/vector-connection-pool.test.ts
Due: test-suite, typescript-check, eslint

chore: stabilize optional swc deps for CI
  .github/workflows/test-coverage.yml
  jest.config.mjs
  package-lock.json
  tests/unit/db/vector-connection-pool.test.ts
Due: test-suite, typescript-check, eslint

chore: bump esbuild in VS Code extensions
  TODO.md
  extensions/vibecode-codebase-chat/package.json
  extensions/vibecode-inline-edit/package.json
  package-lock.json
Due: none

chore: update environment templates with standardized configuration structure and placeholders
  .env.docker
  .env.example
  .env.template
  .github/workflows/codeserver-multiarch.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/deploy-next-docs.yml
  TODO.md
  docker/Dockerfile.docs-next
  docker/code-server/Dockerfile
  docker/code-server/README.md
  docs/handoff/code-server-release.md
  docs/handoff/shipping-dashboard.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  docs/logs/COORDINATION_LOG.md
  docs/logs/issues/code-server-cloud-deployment.md
  docs/logs/issues/code-server-release-monitor.md
  docs/logs/issues/docker-multiarch-audit.md
  docs/logs/workflow-issues/deploy-next-docs.yml.md
  docs/logs/workflow-issues/docker-multiarch.yml.md
  docs/runbooks/next-docs-deployment.md
  scripts/test-code-server-editors.sh
  scripts/test-code-server-kind.sh
  src/app/api/files/sync/route.ts
  src/app/api/terminal/ws/route.ts
  src/app/onboarding/page.tsx
  src/components/chat/EnhancedChatInterface.tsx
Due: test-suite, k8s-tests, typescript-check, eslint

refactor: replace env var interpolation with explicit values in config files
  .env.azure
  .env.example
  .env.template
  .env.valkey
  .github/workflows/codeserver-multiarch.yml
  .github/workflows/deploy-next-docs.yml
  .windsurf-mcp-config-alternative.json
  .windsurf-mcp-config-fixed.json
  TODO.md
  docker/code-server/BUILD_STATUS.md
  docker/code-server/Dockerfile
  docs/SECURITY.md
  docs/WINDSURF_ROUNDTABLE_SETUP.md
  docs/handoff/code-server-release.md
  docs/handoff/shipping-dashboard.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  docs/logs/issues/code-server-release-monitor.md
  docs/logs/issues/docker-multiarch-audit.md
  docs/logs/workflow-issues/deploy-next-docs.yml.md
  docs/logs/workflow-issues/docker-multiarch.yml.md
  docs/runbooks/next-docs-deployment.md
  docs/src/content/docs/getting-started.md
  docs/src/content/docs/kubernetes-secrets-automation.md
  docs/src/content/docs/new-features.md
  docs/src/content/docs/postgresql-genai-demo-guide.md
  docs/src/content/docs/prisma-pgvector.md
  docs/src/content/docs/production-deployment-guide.md
  docs/src/content/docs/wiki-archive/getting-started.md
  docs/src/content/docs/wiki-archive/kubernetes-secrets-automation.md
  docs/src/content/docs/wiki-archive/postgresql-genai-demo-guide.md
  docs/src/content/docs/wiki-archive/prisma-pgvector.md
  docs/src/content/docs/wiki-archive/production-deployment-guide.md
  docs/src/content/docs/wiki-index.md
  docs/tooling/ai-tooling-parity.md
  docs/tooling/mcp-roundtable-setup.md
  scripts/test-code-server-kind.sh
  src/components/chat/EnhancedChatInterface.tsx
  test-roundtable-mcp.sh
Due: test-suite, k8s-tests, typescript-check, eslint

chore: sanitize sensitive keys and standardize placeholder values in env files
  .env.docker.fixed
  .env.example
  .env.test-external-db
  TODO.md
  docs/handoff/code-server-release.md
  docs/handoff/shipping-dashboard.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  docs/logs/workflow-issues/docker-multiarch.yml.md
  docs/observability/codeserver-ci.md
  docs/tooling/ai-tooling-parity.md
  scripts/mcp-wrapper.js
  scripts/roundtable-mcp-wrapper.py
  scripts/test-code-server-editors.sh
  src/components/chat/EnhancedChatInterface.tsx
  tests/scripts/test-code-server-editors.bats
Due: test-suite, k8s-tests, typescript-check, eslint

chore: update environment templates with standardized Redis/ValKey URLs and Azure OpenAI configs
  .env.azure
  .env.template
  .env.valkey
  config/mcp_config.json
  docs/MCP_DATADOG_INTEGRATION.md
Due: none

refactor: standardize Datadog RUM env vars to use NEXT_PUBLIC_DD_* prefix
  .env.docker
  .env.docker.fixed
  .env.example
  .env.local.example
  .env.local.template
  .env.template
  .env.test-db
  .gitignore
  CHANGELOG.md
  TODO.md
  config/README.md
  docs/MCP_DATADOG_INTEGRATION.md
  docs/MCP_QUICK_START.md
  scripts/roundtable-mcp-wrapper.py
  scripts/setup-mcp-tracing.sh
Due: k8s-tests

chore: standardize Datadog env vars and clean up infrastructure configs
  .env.azure
  .env.demo.example
  .env.example
  .env.local.template
  .env.valkey
  .github/workflows/codeserver-profiles.yml
  TODO.md
  nas.env.example
  src/components/chat/EnhancedChatInterface.tsx
  src/lib/ai/utils/sse-decoder.ts
  tests/tofu/__pycache__/test_aws_cloud_deployment.cpython-313.pyc
  tests/tofu/test_aws_cloud_deployment.py
  tests/tofu/test_gcp_cloud_deployment.py
  tests/unit/ai/streaming-decoder.test.ts
  tests/unit/chat/enhancedChatStream.test.tsx
  tofu/code-server-aws/main.tf
  tofu/code-server-aws/outputs.tf
  tofu/code-server-gcp/main.tf
  tofu/code-server-gcp/outputs.tf
Due: test-suite, typescript-check, eslint

fix: patch TextDecoder to handle null/undefined inputs in SSE tests
  tests/unit/chat/enhancedChatStream.test.tsx
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
