Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

fix: disable webpack minification to resolve zod v4 compatibility
  next.config.mjs
Due: none

adding more tests
  PRODUCTION_DEPLOYMENT_GUIDE.md
  PRODUCTION_READY_SUMMARY.md
  TODO.md
  next.config.mjs
  package-lock.json
  package.json
  postcss.config.js
  scripts/optimize-production.sh
  scripts/setup-backup-strategy.sh
  scripts/setup-production-monitoring.sh
  services/ai-gateway/.env.example
  services/ai-gateway/README.md
  services/ai-gateway/dist/config/environment.js
  services/ai-gateway/dist/config/environment.js.map
  services/ai-gateway/dist/services/openrouter-client.js
  services/ai-gateway/dist/services/openrouter-client.js.map
  services/ai-gateway/src/__tests__/openrouter-e2e.int.test.ts
  services/ai-gateway/src/config/environment.ts
  services/ai-gateway/src/services/openrouter-client.ts
  src/app/api/ai/generate-project/route.ts
  src/app/api/ai/litellm/route.ts
  src/app/api/monitoring/embeddings/route.ts
  src/app/api/terminal/ws/route.ts
  src/app/wiki/[slug]/page.tsx
  src/components/monitoring/DatadogRUM.tsx
  src/lib/ai-clients/litellm-instance.ts
  src/lib/ai/project-generator.ts
  src/lib/monitoring/embedding-service-manager.ts
  src/lib/monitoring/rum-client.ts
  src/lib/terminal/session-manager.ts
  tsconfig.json
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

feat: Complete PostgreSQL Datadog Database Monitoring validation
  POSTGRES_MONITORING_VALIDATION_RESULTS.md
  azure-functions/EmbeddingFunction/function.json
  azure-functions/EmbeddingFunction/index.ts
  azure-functions/README.md
  azure-functions/SearchFunction/function.json
  azure-functions/SearchFunction/index.ts
  azure-functions/deploy.sh
  azure-functions/host.json
  azure-functions/local.settings.json.example
  azure-functions/package.json
  azure-functions/tsconfig.json
  k8s/kind-test-config.yaml
  scripts/validate-postgres-monitoring.sh
  services/ai-gateway/src/providers/openrouter-provider.ts
  services/ai-gateway/src/providers/provider.ts
  tests/integration/user-provisioning-integration.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

🎉 SUCCESS: PostgreSQL Datadog Database Monitoring WORKING!
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  DBM_SUCCESS_VALIDATION.md
  README-AB-TESTING.md
  README-DATADOG-DBM.md
  azure-functions/README.md
  azure-functions/SearchFunction/index.ts
  azure-functions/datadog-dashboard.json
  azure-functions/deploy.sh
  azure-functions/local.settings.json.example
  azure-functions/package.json
  azure/appservice.bicep
  docs/node_modules/stream-replace-string/.vscode/settings.json
  extensions/vibecode-ai-assistant/.vscode/launch.json
  extensions/vibecode-ai-assistant/.vscode/settings.json
  extensions/vibecode-ai-assistant/.vscode/tasks.json
  k8s/datadog-agent-with-postgres.yaml
  package.json
  scripts/deploy-comparison-environments.sh
  scripts/generate-vector-activity.sh
  scripts/run-datadog-agent-fixed.sh
  scripts/run-datadog-agent-local.sh
  scripts/verify-datadog-dbm.sh
  services/ai-gateway/.env.example
  services/ai-gateway/node_modules/bcryptjs/.vscode/settings.json
  services/ai-gateway/package.json
  services/ai-gateway/src/controllers/ai-controller.ts
  services/ai-gateway/src/providers/azure-openai-provider.ts
  services/ai-gateway/src/providers/hf-provider.ts
  services/ai-gateway/src/providers/ollama-provider.ts
  services/ai-gateway/src/providers/openai-provider.ts
  services/ai-gateway/src/services/provider-router.ts
  tests/performance/ab-testing-framework.ts
  tests/performance/rollback-manager.ts
  tests/performance/run-ab-test.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

🎉 SUCCESS: PostgreSQL Datadog Database Monitoring WORKING!
  .gitignore
  .vscode/extensions.json
  .vscode/launch.json
  .vscode/settings.json
  .vscode/tasks.json
  DBM_SUCCESS_VALIDATION.md
  README-AB-TESTING.md
  README-DATADOG-DBM.md
  azure-functions/README.md
  azure-functions/SearchFunction/index.ts
  azure-functions/datadog-dashboard.json
  azure-functions/deploy.sh
  azure-functions/local.settings.json.example
  azure-functions/package.json
  azure/appservice.bicep
  extensions/vibecode-ai-assistant/.vscode/launch.json
  extensions/vibecode-ai-assistant/.vscode/settings.json
  extensions/vibecode-ai-assistant/.vscode/tasks.json
  k8s/datadog-agent-with-postgres.yaml
  package.json
  scripts/deploy-comparison-environments.sh
  scripts/generate-vector-activity.sh
  scripts/run-datadog-agent-fixed.sh
  scripts/run-datadog-agent-local.sh
  scripts/verify-datadog-dbm.sh
  services/ai-gateway/.env.example
  services/ai-gateway/node_modules/bcryptjs/.vscode/settings.json
  services/ai-gateway/package.json
  services/ai-gateway/src/controllers/ai-controller.ts
  services/ai-gateway/src/providers/azure-openai-provider.ts
  services/ai-gateway/src/providers/hf-provider.ts
  services/ai-gateway/src/providers/ollama-provider.ts
  services/ai-gateway/src/providers/openai-provider.ts
  services/ai-gateway/src/services/provider-router.ts
  tests/performance/ab-testing-framework.ts
  tests/performance/rollback-manager.ts
  tests/performance/run-ab-test.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

feat: complete enterprise-grade AKS deployment solution
  Dockerfile.production
  GAP-ANALYSIS.md
  charts/vibecode/Chart.yaml
  charts/vibecode/templates/_helpers.tpl
  charts/vibecode/templates/deployment.yaml
  charts/vibecode/values-aks.yaml
  docs/azure-aks-deployment.md
  infrastructure/terraform/aks/main.tf
  infrastructure/terraform/aks/outputs.tf
  infrastructure/terraform/aks/variables.tf
  k8s/datadog-values-aks.yaml
  k8s/postgresql-aks-statefulset.yaml
  scripts/aks-bootstrap.sh
Due: k8s-tests

feat: comprehensive AKS deployment testing with Datadog integration
  Dockerfile.aks
  TEST-RESULTS.md
  charts/vibecode-platform/values-aks.yaml
  docs/aks-bootstrap-guide.md
  k8s/datadog-values-aks.yaml
  scripts/aks-app-deploy.sh
  scripts/aks-bootstrap.sh
  scripts/aks-postgresql-setup.sh
  scripts/verify-datadog-dbm.sh
  test-aks-bootstrap.sh
  test-azure-deployment.sh
  test-datadog-logging.sh
  test-env.sh
Due: k8s-tests

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
