Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

🔧 Fix empty interface error in textarea component
  scripts/bootstrap-from-zero.sh
  scripts/security-setup.sh
  src/components/ui/textarea.tsx
Due: test-suite, k8s-tests, typescript-check, eslint

feat: implement comprehensive OpenTelemetry integration (Issue #79)
  .github/workflows/ci.yml
  docs/OPENTELEMETRY_INTEGRATION.md
  package-lock.json
  package.json
  scripts/setup-opentelemetry.ts
  src/app/api/monitoring/otel-config/route.ts
  src/app/api/monitoring/traces/route.ts
  src/instrument.ts
  src/lib/monitoring/opentelemetry-client.ts
  src/lib/monitoring/opentelemetry.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

🔧 Fix TypeScript syntax errors in test files
  .github/workflows/ci.yml
  REAL_E2E_TEST_RESULTS.md
  scripts/pre-commit-tests-optimized.sh
  scripts/pre-commit-tests.sh
  scripts/security-audit.sh
  scripts/security-setup.sh
  scripts/test-full-automation.sh
  src/lib/file-system-operations.ts
  src/lib/file-watching-optimization.ts
  tests/integration/feature-flag-persistence.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

🔧 Exclude test files from TypeScript compilation
  tsconfig.json
Due: none

feat: consolidate project documentation (Issue #86)
  docs/CONSOLIDATED_DOCUMENTATION.md
  docs/DOCUMENTATION_INDEX.md
  package.json
  scripts/validate-documentation.js
Due: license-check, vulnerability-scan, test-suite, k8s-tests, eslint

🔧 Relax TypeScript configuration for successful builds
  tsconfig.json
Due: none

🔧 Temporarily skip type checking in CI to fix builds
  .github/workflows/ci.yml
Due: none

🔧 Fix Jest configuration and file system operations
  src/lib/file-system-operations.ts
  src/lib/file-watching-optimization.ts
Due: test-suite, typescript-check, eslint

🔧 Fix Jest configuration path for setup files
  jest.config.js
Due: test-suite, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
