Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

docs(build): Mark build validation complete - SUCCESS!
  TODO.md
Due: none

chore: clear lint backlog and verify build
  src/instrument.ts
Due: test-suite, typescript-check, eslint

docs(coordination): Claim root .md files cleanup
  TODO.md
Due: none

refactor(docs): Phase 17 - Organize root .md files (23 files moved)
  TODO.md
  docs/SECURITY.md
  docs/guides/DATADOG_DBM_APM_CONNECTION_GUIDE.md
  docs/guides/DBM_APM_DEPLOYMENT_GUIDE.md
  docs/guides/DEPLOYMENT_STATUS.md
  docs/guides/DOCUMENTATION_SEARCH_GUIDE.md
  docs/guides/PRODUCTION_DEPLOYMENT_GUIDE.md
  docs/guides/PRODUCTION_STATUS.md
  docs/guides/QUICK_START_REFERENCE.md
  docs/reports/AGENT_9_CNM_TESTING_REPORT.md
  docs/reports/DBM_APM_API_TESTING_GUIDE.md
  docs/reports/DBM_SUCCESS_VALIDATION.md
  docs/reports/DISASTER_RECOVERY_ASSESSMENT.md
  docs/reports/INFRASTRUCTURE_FAILURE_REPORT.md
  docs/reports/POSTGRES_MONITORING_VALIDATION_RESULTS.md
  docs/reports/TEST-RESULTS.md
  docs/summaries/AGENT_12_CLEANUP_COMPLETE.md
  docs/summaries/BOOTSTRAP-SYSTEM-SUMMARY.md
  docs/summaries/CONSOLIDATION_SUMMARY.md
  docs/summaries/DATABASE_CONNECTION_FIXES.md
  docs/summaries/DATADOG_CNM_SETUP_COMPLETE.md
  docs/summaries/GAP-ANALYSIS.md
  docs/summaries/PLATFORM_READY.md
  docs/summaries/PRODUCTION_READY_SUMMARY.md
  docs/summaries/cost-analysis-azure-deployment-options.md
  test-agentless-tracing.ts
Due: test-suite, typescript-check, eslint

docs(coordination): Mark Phase 17 complete - 23 files organized
  TODO.md
Due: none

docs(coordination): Claim RAG retrieval smoke test
  TODO.md
Due: none

docs(rag): Mark RAG demo blocked - needs local DB config
  TODO.md
Due: none

docs: log pgvector row verification
  TODO.md
Due: none

docs(coordination): Claim debug scripts cleanup - Phase 18
  TODO.md
Due: none

refactor(scripts): Phase 18 - Organize debug scripts and diagrams (4 files)
  docs/diagrams/code_server_diy_diagram.png
  package.json
  scripts/debug/debug-embedding-setup.js
  scripts/debug/debug-openrouter-response.js
  scripts/debug/debug-openrouter-success.js
Due: license-check, vulnerability-scan, test-suite, k8s-tests, eslint

docs(coordination): Mark Phase 18 complete - 4 files organized
  TODO.md
Due: none
