Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

refactor: move environment variables under command section in voice-processor service
  docker-compose.yml
Due: none

fix: update postgres config and optimize service dependencies in docker-compose
  comprehensive-rag-test.ts
  docker-compose.yml
  test-rag-manual.ts
Due: test-suite, typescript-check, eslint

feat: add ESM compatibility to ingest script and datadog-llm module
  debug-db-connection.ts
  scripts/ingest-docs-to-rag.ts
  simple-rag-demo.ts
  src/lib/datadog-llm.ts
  test-rag-basic.ts
Due: test-suite, k8s-tests, typescript-check, eslint

feat: add standard Datadog LLM observability tags to tracing spans
  debug-connection.ts
  init-db.sql
  scripts/llmobs-embedding-smoke.ts
  src/lib/datadog-llm.ts
  src/lib/monitoring/llm-tracer.ts
  test-rag-connection.cjs
  test-rag-direct-sql.ts
  test-rag-simple.cjs
Due: test-suite, k8s-tests, typescript-check, eslint

feat: add Docker setup and RAG workflow demo with vector database integration
  docker-compose.pgvector-fixed.yml
  init-vibecode-db.sh
  rag-workflow-demo.js
Due: test-suite, eslint

feat: add detailed database connection test script with multiple configs
  test-connection-detailed.cjs
Due: none

Restore DD_API_KEY references
  charts/vibecode-platform/templates/datadog-agent.yaml
  content/wiki/DATADOG_LOCAL_DEVELOPMENT.md
  docker-compose.litellm.yml
  docker-compose.yml
  docker/docker-compose.agentapi.yml
  docker/docker-compose.litellm.yml
  docs/deployment/DOCKER_PRODUCTION.md
  docs/deployment/MONITORING.md
  docs/src/content/docs/DATADOG_LOCAL_DEVELOPMENT.md
  docs/src/content/docs/wiki-archive/DATADOG_LOCAL_DEVELOPMENT.md
  k8s/code-server-kind.yaml
  k8s/datadog-agent-fixed.yaml
  k8s/datadog-agent-with-postgres.yaml
  k8s/datadog-daemonset.yaml
  k8s/datadog-dbmon-manual.yaml
  k8s/datadog-dbmon.yaml
  k8s/datadog/datadog-agent-lean.yaml
  monitoring/docker-compose.monitoring.yml
  scripts/deploy-kind-with-monitoring.sh
  scripts/run-datadog-agent-fixed.sh
  scripts/run-datadog-agent-local.sh
  scripts/run-datadog-agent-local.sh.bak.1759079321
  tests/root-tests/infrastructure/test-datadog.yaml
Due: k8s-tests

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
