Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

feat: add Datadog logging library for bash scripts
  scripts/lib/datadog-logging.sh
Due: k8s-tests

feat: integrate Datadog logging into infrastructure scripts
  scripts/component-verification.sh
  scripts/comprehensive-kind-testing.sh
  scripts/deploy-monitoring.sh
Due: k8s-tests

feat: add Datadog logging to test and security scripts
  scripts/run-all-tests.sh
  scripts/security-scan.sh
Due: k8s-tests

fix: adjust test thresholds and expectations
  tests/api-validation-phase4-batch1.test.ts
  tests/integration/collaboration-performance.test.ts
  tests/unit/lib/monitoring/health-monitoring.test.ts
Due: test-suite, typescript-check, eslint

fix: restore API key scanning to precommit hook
  .gitignore
  .husky/pre-commit
Due: none

fix: resolve agents API test failures and restore precommit hook security
  .husky/pre-commit
  tests/integration/agents/agents-api.test.ts
Due: test-suite, typescript-check, eslint

fix: correct AI chat stream test expectation for missing API key
  tests/api/ai-chat-stream.test.ts
Due: test-suite, typescript-check, eslint

feat: add Datadog secrets to GitHub Actions CI workflow
  .github/workflows/ci.yml
Due: none

fix: resolve all 8 npm security vulnerabilities (0 remaining)
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

docs: update README, Astro site, and changelog with January 2025 improvements
  README.md
  docs/src/content/docs/changelog.md
  docs/src/content/docs/index.md
Due: none

fix: resolve Next.js 16 build failure with webpack configuration
  next.config.mjs
  package.json
  src/app/desktop-ai/page.tsx
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

docs: update changelog for January 6, 2026 session
  docs/src/content/docs/changelog.md
Due: none

docs: update README to accurately reflect demo repo with working platform
  README.md
  jest.config.js
Due: test-suite, eslint

fix: improve MFA unit tests with manual speakeasy mock (10→2 failures)
  __mocks__/speakeasy.js
  tests/unit/mfa-auth.test.ts
Due: test-suite, typescript-check, eslint

fix: improve Datadog integration test mocking (0→4 passing)
  tests/unit/lib/monitoring/datadog-integration.test.ts
Due: test-suite, typescript-check, eslint

docs: create systematic test improvement plan with agent assignments
  docs/sessions/test-improvement-plan.md
Due: none

fix: improve Datadog integration test mocking (0→20 passing)
  tests/unit/lib/monitoring/datadog-integration.test.ts
Due: test-suite, typescript-check, eslint

wip: attempt multiple approaches to fix MFA test state pollution
  __mocks__/speakeasy.js
  docs/sessions/test-improvement-plan.md
  packages/vibecode-cli/package-lock.json
  packages/vibecode-cli/package.json
  services/ai-gateway/package-lock.json
  tests/unit/mfa-auth.test.ts
Due: test-suite, typescript-check, eslint

fix: resolve SAML crypto mocking issues (10/10 passing)
  __mocks__/crypto.js
  tests/unit/saml-auth.test.ts
Due: test-suite, typescript-check, eslint

docs: update test improvement plan with Iteration 8 results
  docs/sessions/test-improvement-plan.md
Due: none

fix: move next-themes mock to setup for proper hoisting (11 tests)
  tests/jest.setup.js
  tests/unit/onboarding.test.tsx
  tests/unit/websocket-streaming.test.ts
Due: test-suite, typescript-check, eslint

fix: ensure health check mocks return status property (6 tests)
  tests/unit/app/api/health/route.test.ts
Due: test-suite, typescript-check, eslint

fix: return proper connection object from getPooledWebSocket mock (36 tests)
  __mocks__/ioredis.js
  tests/unit/lib/collaboration/workspace-collaboration.test.ts
Due: test-suite, typescript-check, eslint

feat: create mock data factories for test suite (closes #773)
  tests/utils/mock-factories/README.md
  tests/utils/mock-factories/agent.ts
  tests/utils/mock-factories/index.ts
  tests/utils/mock-factories/metrics.ts
  tests/utils/mock-factories/project.ts
  tests/utils/mock-factories/session.ts
  tests/utils/mock-factories/user.ts
  tests/utils/mock-factories/workspace.ts
Due: test-suite, typescript-check, eslint

fix: unmock logger module to fix 5+ logger unit tests
  tests/unit/lib/logger.test.ts
Due: test-suite, typescript-check, eslint

fix: create EventSource mock for SSE client tests (closes #771)
  tests/unit/__mocks__/eventsource.js
  tests/unit/sse-client.test.ts
Due: test-suite, typescript-check, eslint

fix: add callback fallbacks to chaos controller mocks (closes #769)
  tests/k8s/chaos-controller-deployment.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

fix: mock Datadog fetch calls in integration tests (12 tests)
  tests/__mocks__/@prisma/client.ts
  tests/db/connection-pool-unified.test.ts
  tests/embedding-service-factory.test.ts
  tests/genai-workflow.test.ts
  tests/integration/experiments-e2e.test.ts
Due: test-suite, typescript-check, eslint

fix: create Monaco Editor mocks for unit tests (33 tests)
  src/lib/editor/monaco-agentapi.ts
  test-mock-debug.js
  tests/__mocks__/datadog-mock.ts
  tests/genai-workflow.test.ts
  tests/integration/docs-kind-integration.test.ts
  tests/integration/vector-db-postgres.test.ts
  tests/k8s/chaos-controller-deployment.test.ts
  tests/unit/monaco-agentapi.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

docs: analyze PostgreSQL mock test failures (Iteration 10)
  docs/iteration-10-postgresql-mock-analysis.md
Due: none

fix: resolve chaos controller deployment test timeouts (closes #769)
  tests/k8s/chaos-controller-deployment.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

docs: browser API mocking analysis for Iteration 11 (0 tests)
  docs/iteration-11-browser-api-analysis.md
Due: none

fix: resolve import/require mismatch in multimodal test
  tests/integration/multimodal-integration.test.ts
Due: test-suite, typescript-check, eslint

fix: ensure mock methods are functions (12 tests fixed)
  tests/integration/api/ai-chat-stream-simple.test.ts
  tests/vector-data-migration.test.js
Due: test-suite, typescript-check, eslint

fix: add missing EmbeddingServiceFactory import to resolve ReferenceError
  src/lib/vector-store.ts
Due: test-suite, typescript-check, eslint

fix: create Node.js built-in mocks for test isolation (47 tests verified)
  __mocks__/os.js
  __mocks__/url.js
  __mocks__/util.js
  tests/integration/ai-chat-rag-real.test.ts
  tests/integration/feature-flag-persistence.test.ts
  tests/integration/vector-search-rag-real.test.ts
Due: test-suite, typescript-check, eslint

fix: ai-gateway metrics tests - fix environment setup and mocking (16 tests fixed)
  __mocks__/@opentelemetry/api.js
  jest.config.js
  services/ai-gateway/jest.config.js
  services/ai-gateway/jest.setup.js
  services/ai-gateway/src/__mocks__/services/openrouter-client.ts
  services/ai-gateway/src/__mocks__/services/redis-service.ts
  services/ai-gateway/src/__mocks__/utils/logger.ts
  services/ai-gateway/src/__tests__/routes-metrics.int.test.ts
  tests/genai-workflow.test.ts
  tests/jest.setup.js
Due: test-suite, typescript-check, eslint

feat: Verify OpenVSCode-Server working on port 8080
  OPENVSCODE_SERVER_VERIFIED.md
  openvscode-server-working-8080.png
Due: none
