Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

feat: add Datadog tracing for gt/bd CLI commands (#910)
  src/lib/monitoring/gastown-cli-tracing.ts
  src/lib/monitoring/index.ts
  tests/unit/lib/monitoring/gastown-cli-tracing.test.ts
Due: test-suite, typescript-check, eslint

Add polecat observability widgets (#911)
  config/datadog/datadog-gastown-orchestration-dashboard.json
Due: none

Add GitHub Actions failure webhook for Gas Town (#912)
  .github/workflows/notify-gastown.yml
  README.md
  env.development.example
  env.production.example
  env.staging.example
  src/app/api/webhooks/github-actions/route.ts
  src/lib/gastown/client.ts
  src/lib/gastown/types.ts
  src/lib/webhooks/github-actions.ts
  tests/unit/webhooks/github-actions.test.ts
Due: test-suite, typescript-check, eslint

Add webhook service deployment configs (#913)
  docs/guides/deployment/webhook-service-deployment.md
  k8s/webhook-service/00-namespace.yaml
  k8s/webhook-service/01-configmap.yaml
  k8s/webhook-service/02-secrets.yaml
  k8s/webhook-service/03-deployment.yaml
  k8s/webhook-service/04-service.yaml
  k8s/webhook-service/05-hpa.yaml
  services/webhook-service/Dockerfile
  services/webhook-service/README.md
  services/webhook-service/docker-compose.yml
  services/webhook-service/package-lock.json
  services/webhook-service/package.json
  services/webhook-service/src/server.js
Due: test-suite, k8s-tests, eslint

chore: clean up wiki conflict backup files
  content/wiki/AUTHENTICATION_SUMMARY.md.conflict-backup-1760252202
  content/wiki/AUTHENTICATION_TESTING_GUIDE.md.conflict-backup-1760252202
  content/wiki/ENV_VARIABLES.md.conflict-backup-1760252202
  content/wiki/authentication-summary.md.conflict-backup-1760252202
  content/wiki/authentication-testing.md.conflict-backup-1760252203
Due: none

Optimize pgvector search filters
  src/lib/vector-store.ts
  src/lib/vector/adapters/postgresql-vector-adapter.ts
Due: test-suite, typescript-check, eslint

fix: Node 20 test compatibility - mock logger and exclude Playwright
  jest.config.js
  tests/integration/agents/agents-api.test.ts
Due: test-suite, typescript-check, eslint

fix: Node 20 test compatibility - mock logger and exclude Playwright (#915)
  jest.config.js
  tests/integration/agents/agents-api.test.ts
Due: test-suite, typescript-check, eslint

docs: add AKS RBAC configuration guide
  docs/aks-rbac-guide.md
Due: none

Add cross-rig bead repo sync
  services/github-webhook/README.md
  services/github-webhook/main.py
Due: none

feat: add 429 retry with exponential backoff to AI clients
  src/lib/openrouter-client.ts
  src/lib/unified-ai-client.ts
  src/lib/vector-db/vector-db-error-handler-new.ts
  types/stubs/lib/rate-limiting.d.ts
Due: test-suite, typescript-check, eslint

feat: add 429 retry with exponential backoff to AI clients (#916)
  src/lib/openrouter-client.ts
  src/lib/unified-ai-client.ts
  src/lib/vector-db/vector-db-error-handler-new.ts
  types/stubs/lib/rate-limiting.d.ts
Due: test-suite, typescript-check, eslint

Document AKS architecture
  docs/README.md
  docs/architecture/AKS_ARCHITECTURE.md
Due: none

feat(ci): add self-healing CI failure analysis and fix generation
  src/lib/ci-self-healing/failure-analyzer.ts
  src/lib/ci-self-healing/fix-generator.ts
  src/lib/ci-self-healing/index.ts
  src/lib/ci-self-healing/types.ts
  tests/unit/ci-self-healing.test.ts
Due: test-suite, typescript-check, eslint

feat: Add ACR Docker build workflow and fix deployment config
  .github/workflows/build-push-acr.yml
  docker/Dockerfile.aks
  docs/TART_UTM_RESEARCH.md
  k8s/vibecode-deployment.yaml
Due: k8s-tests

Wrap root layout with error boundary
  src/app/layout.tsx
Due: test-suite, typescript-check, eslint

Polecat/chrome/mm 6t68o@mkmxe5cr (#931)
  docs/README.md
  docs/architecture/AKS_ARCHITECTURE.md
  services/github-webhook/README.md
  services/github-webhook/main.py
  src/app/layout.tsx
  src/lib/vector-store.ts
  src/lib/vector/adapters/postgresql-vector-adapter.ts
Due: test-suite, typescript-check, eslint

feat: Add ACR Docker build workflow and fix deployment config (#930)
  .github/workflows/build-push-acr.yml
  docker/Dockerfile.aks
  docs/TART_UTM_RESEARCH.md
  k8s/vibecode-deployment.yaml
Due: k8s-tests

fix: resolve workflow secrets context errors in CI/CD
  .github/workflows/deploy-docs.yml
  .github/workflows/security-scan.yml
Due: none

fix: resolve CrashLoopBackOff issues in KIND cluster
  Dockerfile
  infrastructure/terraform/azure/deploy.sh
  infrastructure/terraform/azure/terraform.tfvars.dev
  infrastructure/terraform/azure/variables.tf
  k8s/vibecode-deployment.yaml
  next.config.mjs
  src/app/api/terminal/session/route.ts
  src/app/api/terminal/ws/route.ts
  src/instrument.ts
  src/lib/ai/analytics/index.ts
  src/lib/ai/index.ts
  src/lib/ai/search/vector-search.ts
  src/lib/server-monitoring.ts
  src/lib/vector-db/vector-retry-handler.ts
  src/middleware.ts
  src/stubs/dd-trace.js
  src/stubs/opentelemetry-api.js
Due: test-suite, k8s-tests, typescript-check, eslint

feat: add Datadog Secret Scanning to security workflow
  .github/workflows/security-scan.yml
Due: none

feat: add Datadog logging to key scripts; remove Gitpod adaptations
  docker/gitpod-arm64/README.md
  scripts/adapt-gitpod-dockerfiles.sh
  scripts/install-ci.sh
  scripts/setup-kind-cluster.sh
Due: k8s-tests

chore: remove pre-built binaries and build artifacts from repo
  .gitignore
  azure/vibecode-services-disk.img.gz
  bin/busybox
  bin/vibecode-vm
  services/ai-gateway/dist/config/environment.js
  services/ai-gateway/dist/config/environment.js.map
  services/ai-gateway/dist/controllers/ai-controller.js
  services/ai-gateway/dist/controllers/ai-controller.js.map
  services/ai-gateway/dist/middleware/auth.js
  services/ai-gateway/dist/middleware/auth.js.map
  services/ai-gateway/dist/middleware/error-handler.js
  services/ai-gateway/dist/middleware/error-handler.js.map
  services/ai-gateway/dist/middleware/validation.js
  services/ai-gateway/dist/middleware/validation.js.map
  services/ai-gateway/dist/routes/ai-routes.js
  services/ai-gateway/dist/routes/ai-routes.js.map
  services/ai-gateway/dist/routes/health-routes.js
  services/ai-gateway/dist/routes/health-routes.js.map
  services/ai-gateway/dist/routes/metrics-routes.js
  services/ai-gateway/dist/routes/metrics-routes.js.map
  services/ai-gateway/dist/server.js
  services/ai-gateway/dist/server.js.map
  services/ai-gateway/dist/services/model-registry.js
  services/ai-gateway/dist/services/model-registry.js.map
  services/ai-gateway/dist/services/openrouter-client.js
  services/ai-gateway/dist/services/openrouter-client.js.map
  services/ai-gateway/dist/services/redis-service.js
  services/ai-gateway/dist/services/redis-service.js.map
  services/ai-gateway/dist/utils/cron-jobs.js
  services/ai-gateway/dist/utils/cron-jobs.js.map
  services/ai-gateway/dist/utils/logger.js
  services/ai-gateway/dist/utils/logger.js.map
Due: test-suite, eslint

Add IDE abstraction layer supporting OpenVSCode, Code-Server, and Theia (#882)
  .env.ide.example
  IMPLEMENTATION_SUMMARY.md
  docs/EXTENSION_COMPATIBILITY.md
  docs/IDE_OPTIONS.md
  src/app/api/ide/session/[sessionId]/route.ts
  src/app/api/ide/session/route.ts
  src/lib/ide/README.md
  src/lib/ide/code-server.ts
  src/lib/ide/factory.ts
  src/lib/ide/index.ts
  src/lib/ide/openvscode.ts
  src/lib/ide/session/store.ts
  src/lib/ide/theia.ts
  src/lib/ide/types.ts
  tests/lib/ide/ide.test.ts
  vibecode.ide.yaml
Due: test-suite, typescript-check, eslint

feat: add bead sync schema for Issue #907
  src/lib/beads/schema.ts
Due: test-suite, typescript-check, eslint

feat: add agent capability manifest schema for Issue #899
  src/lib/agents/manifest-schema.ts
Due: test-suite, typescript-check, eslint

feat: add retry logic to test job for Issue #885
  .github/workflows/ci.yml
Due: none

feat: add Datadog LLM tracing instrumentation for Issue #886
  src/lib/ai/ddtrace-instrumentation.ts
Due: test-suite, typescript-check, eslint

feat: add bead sync schema for Issue #907 (#932)
  src/lib/beads/schema.ts
Due: test-suite, typescript-check, eslint

feat: add agent capability manifest schema for Issue #899 (#933)
  src/lib/agents/manifest-schema.ts
Due: test-suite, typescript-check, eslint

feat: add retry logic to test job for Issue #885 (#934)
  .github/workflows/ci.yml
Due: none

feat: add Datadog LLM tracing instrumentation for Issue #886 (#935)
  src/lib/ai/ddtrace-instrumentation.ts
Due: test-suite, typescript-check, eslint

feat: add Datadog logging to key deployment scripts for Issue #768
  scripts/aks-app-deploy.sh
  scripts/aks-bootstrap.sh
  scripts/bootstrap-from-zero.sh
Due: k8s-tests

feat: add Datadog logging to key deployment scripts for Issue #768 (#936)
  scripts/aks-app-deploy.sh
  scripts/aks-bootstrap.sh
  scripts/bootstrap-from-zero.sh
Due: k8s-tests

feat: add Agent Identity & Coordination Protocol for Issue #887
  src/lib/agents/identity-protocol.ts
Due: test-suite, typescript-check, eslint

feat: add Agent Identity & Coordination Protocol for Issue #887 (#937)
  src/lib/agents/identity-protocol.ts
Due: test-suite, typescript-check, eslint

feat: add Multi-Agent Memory Infrastructure for Issue #884
  src/lib/agents/memory-tiers.ts
Due: test-suite, typescript-check, eslint

feat: add Multi-Agent Memory Infrastructure for Issue #884 (#938)
  src/lib/agents/memory-tiers.ts
Due: test-suite, typescript-check, eslint

feat: add Bead-Based Agent State Persistence for Issue #898
  src/lib/beads/schema.ts
Due: test-suite, typescript-check, eslint

feat: add Bead-Based Agent State Persistence for Issue #898 (#939)
  src/lib/beads/schema.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
