Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

Update GitHub tasks in TODO.md
  TODO.md
Due: none

Update GitHub tasks: PR created
  TODO.md
Due: none

Update TODO.md with branch integration tasks
  TODO.md
Due: none

Update TODO.md with branch consolidation strategy
  TODO.md
Due: none

feat: add comprehensive E2E test suite with Playwright
  package.json
  tests/e2e/README.md
  tests/e2e/accessibility.test.ts
  tests/e2e/ai-features.test.ts
  tests/e2e/auth-flow.test.ts
  tests/e2e/critical-user-journeys.test.ts
  tests/e2e/global-setup.ts
  tests/e2e/global-teardown.ts
  tests/e2e/ui-responsiveness.test.ts
  tests/e2e/utils/test-helpers.ts
  tests/e2e/workspace-management.test.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

docs: update TODO.md to mark E2E Test Suite as completed
  TODO.md
Due: none

Add vector database adapter pattern for PR #148
  src/lib/logger.ts
  src/lib/vector-db/README.md
  src/lib/vector-db/base-vector-database-adapter.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
  src/lib/vector-db/migration-helper.ts
  src/lib/vector-db/postgres-vector-database-adapter.ts
  src/lib/vector-db/redis-vector-database-adapter.ts
  src/lib/vector-db/sqlserver-vector-database-adapter.ts
  src/lib/vector-db/vector-database-factory.ts
  src/lib/vector-db/vector-database-interface.ts
  src/lib/vector-db/vector-db-error-handler.ts
  src/lib/vector-db/vector-store-service.ts
  src/lib/vector-db/vector-types.ts
Due: test-suite, typescript-check, eslint

Add vector database adapter pattern for PR #148 (#151)
  src/lib/logger.ts
  src/lib/vector-db/README.md
  src/lib/vector-db/base-vector-database-adapter.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
  src/lib/vector-db/migration-helper.ts
  src/lib/vector-db/postgres-vector-database-adapter.ts
  src/lib/vector-db/redis-vector-database-adapter.ts
  src/lib/vector-db/sqlserver-vector-database-adapter.ts
  src/lib/vector-db/vector-database-factory.ts
  src/lib/vector-db/vector-database-interface.ts
  src/lib/vector-db/vector-db-error-handler.ts
  src/lib/vector-db/vector-store-service.ts
  src/lib/vector-db/vector-types.ts
Due: test-suite, typescript-check, eslint

Update TODO.md to mark Vector Database Adapter Pattern as completed
  TODO.md
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
