Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

Update SKILL.md with Intel Macs emulation note
  .claude/skills/vibecode-vm/SKILL.md
Due: none

Update tundra-dome skill with td kafka usage
  .beads/issues.jsonl
  skills/tundra-dome/SKILL.md
Due: none

Add gt_nudge_both.sh helper
  .beads/issues.jsonl
  gt_nudge_both.sh
Due: none

Add Tundra Dome CI smoke and Kafka lag check
  .beads/issues.jsonl
  .github/workflows/tundra-dome-kind.yml
  airflow/dags/tundra_dome_integrations.py
  infra/tundra-dome/scripts/kafka_lag_check.sh
Due: none

sync beads and tundra manifests
  .beads/export-state/264978c6d0dbe02a.json
  .beads/formulas/.installed.json
  .beads/formulas/mol-deacon-patrol.formula.toml
  .beads/issues.jsonl
  deacon/dogs/bravo/.dog.json
  deacon/dogs/charlie/.dog.json
  deacon/dogs/hotel/.dog.json
  deacon/dogs/india/.dog.json
  infra/tundra-dome/airflow-postgres-patch.yaml
  infra/tundra-dome/gitea-webhook-producer.yaml
  infra/tundra-dome/gitea.yaml
  infra/tundra-dome/kind-config.yaml
  infra/tundra-dome/postgresql.yaml
  infra/tundra-dome/tundra-dome.yaml.bak
  mbp_m1/.beads/bd.sock.startlock
  mbp_m1/.beads/issues.jsonl
  mbp_m1/config.json
  mbp_m1/metadata.json
Due: none

update beads export state
  .beads/export-state/264978c6d0dbe02a.json
Due: none

sync beads export state
  .beads/export-state/264978c6d0dbe02a.json
Due: none

docs: Fix ROADMAP year from 2025 to 2026
  ROADMAP.md
Due: none

ci: Add CI-aware Issue #790 validation script
  .github/workflows/validate-issue-790.yml
  platforms/azure/azure/SwiftUI-Apps/validate-issue-790-fix.sh
Due: none

Restore OpenVSCode compose artifacts
  docker-compose.openvscode.yml
  docs/reports/CLEANUP_AUDIT_REPORT.md
  docs/src/content/docs/docker-database/auto-password-setup.md
  docs/src/content/docs/docker-database/docker-compose-setup.md
  docs/src/content/docs/docker-database/openvscode-postgres-setup.md
  docs/src/content/docs/docker-database/random-password-complete.md
  init-db.sql
  scripts/init-password.sh
  scripts/openvscode-entrypoint.sh
Due: k8s-tests

feat(scripts): add OpenRouter free model selector
  .beads/issues.jsonl
  scripts/openrouter_free_model_selector.py
Due: k8s-tests

infra(tundra-dome): add Gas Town KIND cluster config
  infra/tundra-dome/kind-gastown.yaml
Due: none

Add tundra-dome infrastructure and deacon alpha config
  deacon/dogs/alpha/.dog.json
  infra/tundra-dome/METAPHOR.md
  infra/tundra-dome/bin/td
  infra/tundra-dome/cmd/td/go.mod
  infra/tundra-dome/cmd/td/main.go
  infra/tundra-dome/crds/bead.yaml
  infra/tundra-dome/crds/errand.yaml
  infra/tundra-dome/crds/install.sh
  infra/tundra-dome/crds/lane.yaml
  infra/tundra-dome/crds/playbook.yaml
  infra/tundra-dome/crds/polecat.yaml
  infra/tundra-dome/crds/station.yaml
  infra/tundra-dome/datadog-cluster-agent.yaml
  infra/tundra-dome/deploy.sh
  infra/tundra-dome/examples/beads.yaml
  infra/tundra-dome/examples/errands.yaml
  infra/tundra-dome/examples/lanes.yaml
  infra/tundra-dome/examples/playbooks.yaml
  infra/tundra-dome/examples/polecats.yaml
  infra/tundra-dome/examples/stations.yaml
Due: none

Add Gas Town configuration and Datadog plugin
  mayor/daemon.json
  mayor/overseer.json
  mayor/rigs.json
  plugins/datadog/README.md
  plugins/datadog/checks.d/conf.yaml.example
  plugins/datadog/checks.d/gastown.py
  plugins/datadog/checks.d/install.sh
  plugins/datadog/route-by-priority.sh
  plugins/datadog/trace-agent.sh
  settings/config.json
  settings/escalation.json
  settings/kind/vibecode-local.yaml
  settings/kpi-thresholds.json
  settings/nat64/com.tundra.nat64.plist
  settings/nat64/nat64.env
  settings/nat64/tundra-nat64.service
  settings/observer-dd-metrics.json
  settings/observer-rules.json
  settings/tundra-defaults.json
  superdome-ops.md
Due: none

Add Gas Town documentation, BSD init scripts, update Gitea config
  docs/gastown/dsm-message-capture-runbook.md
  docs/gastown/dsm-tracer-versions.md
  docs/gastown/gastown-modeling.md
  docs/gastown/kafka-message-format.md
  docs/gastown/python-dsm-audit.md
  gitea/custom/app.ini
Due: none

Disable Airflow standalone dag-processor for sqlite kind
  infra/tundra-dome/tundra-dome.clean.yaml
  infra/tundra-dome/tundra-dome.yaml
Due: none

Add Tundra Dome operations skill and quickstart script
  .claude/skills/tundra-dome/skill.md
  infra/tundra-dome/quickstart.sh
Due: none

feat: add vibecode-webgui Helm chart for ACR deployment
  deploy/helm/vibecode-webgui/Chart.yaml
  deploy/helm/vibecode-webgui/templates/_helpers.tpl
  deploy/helm/vibecode-webgui/templates/deployment.yaml
  deploy/helm/vibecode-webgui/templates/ingress.yaml
  deploy/helm/vibecode-webgui/templates/service.yaml
  deploy/helm/vibecode-webgui/values.yaml
Due: none

feat(scripts): add build-unified-services-with-datadog.sh
  scripts/build-unified-services-with-datadog.sh
Due: k8s-tests

fix(ci): enhance gitleaks allowlist to prevent false positives
  .gitleaks.toml
Due: none

feat(tundra): implement cross-rig bead synchronization
  daemon/kafka-dsm/kafka-topics.txt
  infra/tundra-dome/crds/bead.yaml
  scripts/build-unified-services-with-datadog.sh
  scripts/tundra/bead-sync.sh
Due: k8s-tests

docs: fix release notes size/checksum mismatches and v3.0.0-FINAL references
  docs/archive/agent-reports-2026-01/00-START-HERE.md
  docs/archive/agent-reports-2026-01/RELEASE-NOTES-v1.0.0.md
  docs/archive/agent-reports-2026-01/RELEASE-NOTES-v3.0.0-FINAL.md
  scripts/datadog/deploy-llm-dashboard.sh
Due: k8s-tests

feat(ml): add MLX provider and Datadog tracing integration
  scripts/launcher/bun-launcher.ts
  scripts/launcher/openvscode-vm.ts
  src/lib/ml/mlx-ddtrace.ts
  src/lib/ml/mlx-provider.ts
Due: test-suite, k8s-tests, typescript-check, eslint

feat: add Apple VF microVM tooling
  docs/vfkit-menu-structure.md
  experiments/microvm/README.md
  experiments/microvm/build-kernel.sh
Due: none

feat(launcher): add unified Bun-based launcher for OpenVSCode VM
  scripts/launcher/bun-launcher.ts
  scripts/launcher/openvscode-vm.ts
Due: test-suite, k8s-tests, typescript-check, eslint

feat(swift): add Swift container management for PostgreSQL/services
  swift/containers/Package.swift
  swift/containers/Sources/ContainerCLI/main.swift
  swift/containers/Sources/ContainerManager/PostgreSQLContainer.swift
  swift/containers/Sources/ContainerManager/ServiceContainer.swift
  swift/containers/Tests/ContainerManagerTests/PostgreSQLContainerTests.swift
Due: none

docs: add apple/embedding-atlas research for RAG visualization
  docs/research/apple-embedding-atlas-integration.md
Due: none

docs: add Apple Container runtime integration research
  docs/research/apple-container-runtime-integration.md
Due: none

docs: add Apple Containerization framework integration research
  docs/research/apple-containerization-integration.md
Due: none

docs: add Apple coremltools integration research
  docs/research/apple-coremltools-integration.md
Due: none

docs: add Apple pkl configuration language research
  docs/research/apple-pkl-integration.md
Due: none

fix: improve Ralph Loop test isolation
  tests/vm/openclaw-vm.test.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
