Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

feat(monaco): Add version protection against accidental downgrades
  .monaco-version-lock
  TODO.md
  scripts/check-monaco-version.js
Due: test-suite, k8s-tests, eslint

docs: request rebase for Dependabot #322
  TODO.md
Due: none

revert: Remove release notes files - premature documentation
  TODO.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  src/app/tools/codeium/page.tsx
  src/components/editors/CodeiumPlayground.tsx
Due: test-suite, typescript-check, eslint

docs: close redundant PR #330
  TODO.md
Due: none

docs: log ingest queue status
  TODO.md
Due: none

feat(mcp): Implement Model Context Protocol server
  .dockerignore
  TODO.md
  docker/code-server/Dockerfile
  docs/MCP_INTEGRATION.md
  docs/logs/COORDINATION_LOG.md
  mcp.json
  package-lock.json
  package.json
  src/instrument.dev.ts
  src/instrumentation.ts
  src/mcp/server.ts
  src/mcp/tools/code-analysis.ts
  src/mcp/tools/code-generation.ts
  src/mcp/tools/deployment.ts
  src/mcp/tools/testing.ts
  src/mcp/tools/workspace.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

docs: log lint/type-check results and issue #315 update
  TODO.md
Due: none

fix(typescript): Fix type errors in code-completion and CodeiumPlayground
  docker/code-server/Dockerfile
  docs/src/content/docs/wiki-archive/API.md
  public/docs-index.json
  src/app/api/code-completion/route.ts
  src/components/editors/CodeiumPlayground.tsx
  src/data/docs-index.json
  src/instrumentation.ts
Due: test-suite, typescript-check, eslint

feat(pydantic-ai): Add CLI Coding Agent example (Project 4)
  .env.local.example
  TODO.md
  docker/code-server/Dockerfile.kind
  docs/MONACOPILOT_INTEGRATION.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  docs/logs/COORDINATION_LOG.md
  examples/pydantic-ai-cli-agent/.env.example
  examples/pydantic-ai-cli-agent/README.md
  examples/pydantic-ai-cli-agent/agent.py
  examples/pydantic-ai-cli-agent/agent/__init__.py
  examples/pydantic-ai-cli-agent/agent/coding_agent.py
  examples/pydantic-ai-cli-agent/agent/config.py
  examples/pydantic-ai-cli-agent/agent/prompts.py
  examples/pydantic-ai-cli-agent/agent/tools.py
  examples/pydantic-ai-cli-agent/requirements.txt
  k8s/code-server-kind.yaml
  next.config.js
  src/app/api/code-completion/route.ts
  src/instrument.dev.ts
  src/stubs/dd-trace.js
  static-analysis.datadog.yml
  tmp-codeium-example/src/components/CodeiumEditor/CodeiumEditor.tsx
  tmp-codeium-example/src/components/CodeiumEditor/InlineCompletionProvider.ts
  tmp-codeium-example/src/utils/identity.ts
Due: test-suite, k8s-tests, typescript-check, eslint

docs(todo): Document today's major achievements
  TODO.md
Due: none

feat(scripts): Add setup verification script
  README.md
  TODO.md
  docs/MONACOPILOT_INTEGRATION.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  scripts/test-code-server-kind.sh
  scripts/verify-setup.sh
  src/mcp/server.ts
  tmp-codeium-example/src/components/CodeiumEditor/CodeiumEditor.tsx
  tmp-codeium-example/src/components/CodeiumEditor/CompletionProvider.ts
  tmp-codeium-example/src/utils/identity.ts
  tmp-codeium-example/src/utils/merge.ts
Due: test-suite, k8s-tests, typescript-check, eslint
