Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

chore: integrate stash@21 (simplify tag generation)
  CONTRIBUTING.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  src/app/api/ai/management/route.ts
  src/components/__tests__/ProjectGenerator.test.tsx
  src/lib/ai/embedding-service.ts
  src/lib/ai/litellm-client.ts
  src/lib/ai/natural-language-to-code.ts
  src/lib/analytics.ts
  src/lib/auth.ts
  src/lib/database/query-optimizer.ts
  src/lib/performance/metrics-collector.ts
  tests/integration/feature-flag-persistence.test.ts
Due: test-suite, typescript-check, eslint

chore: integrate stash@{19} (WIP on main: 4b94ede7 refactor: replace console logging with structured logger across AI and performance modules)
  TODO.md
  src/components/PromptInterface.tsx
  src/components/auth/SignInForm.tsx
  src/components/auth/SimpleSignInForm.tsx
  src/components/editors/monaco.tsx
  src/components/ui/input.tsx
  src/lib/vector-db/vector-db-error-handler-new.ts
Due: test-suite, typescript-check, eslint

chore: integrate stash@{19} (WIP on main: 8dbd659a refactor: replace console logging with structured logger across AI and performance modules)
  TODO.md
  src/components/PromptInterface.tsx
  src/components/auth/SignInForm.tsx
  src/components/auth/SimpleSignInForm.tsx
  src/components/editors/monaco.tsx
  src/components/ui/input.tsx
  src/lib/vector-db/vector-db-error-handler-new.ts
Due: test-suite, typescript-check, eslint

chore: integrate stash@{18} (WIP on feature/structured-logging-migration-448: 771e0b68 security: Remove hardcoded credentials (CRITICAL fix for #438))
  next.config.mjs
  package-lock.json
  package.json
  src/app/workspaces/page.tsx
  src/components/collaboration/WorkspaceSharing.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/enhanced-project-templates.ts
  src/lib/templates/generator.ts
  src/lib/templates/versioning.ts
  tests/integration/api/health-endpoints.test.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

chore: integrate stash@{18} (WIP on feature/structured-logging-migration-448: d7d658be security: Remove hardcoded credentials (CRITICAL fix for #438))
  next.config.mjs
  package-lock.json
  package.json
  src/app/workspaces/page.tsx
  src/components/collaboration/WorkspaceSharing.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/enhanced-project-templates.ts
  src/lib/templates/generator.ts
  src/lib/templates/versioning.ts
  tests/integration/api/health-endpoints.test.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

chore: integrate stash@{17} (WIP on feature/consolidate-vector-db-phase2-441: 5652044f feat: optimize code-server Dockerfile by reducing layers from 57 to 12)
  claudedocs/dockerfile-optimization-analysis.md
  docker/code-server/Dockerfile
  docker/code-server/Dockerfile.optimized
  docker/code-server/Dockerfile.original
  src/app/projects/page.tsx
  src/app/workspaces/page.tsx
  src/components/DatabaseConnectionMetrics.tsx
  src/components/NetworkDiagnostics/NetworkDiagnostics.tsx
  src/lib/auth.ts
Due: test-suite, typescript-check, eslint

chore: integrate stash@{17} (WIP on feature/consolidate-vector-db-phase2-441: c0f6dfd1 feat: optimize code-server Dockerfile by reducing layers from 57 to 12)
  claudedocs/dockerfile-optimization-analysis.md
  docker/code-server/Dockerfile
  docker/code-server/Dockerfile.optimized
  docker/code-server/Dockerfile.original
  src/app/projects/page.tsx
  src/app/workspaces/page.tsx
  src/components/DatabaseConnectionMetrics.tsx
  src/components/NetworkDiagnostics/NetworkDiagnostics.tsx
  src/lib/auth.ts
Due: test-suite, typescript-check, eslint

chore: integrate stash@{16} (WIP on optimize/dockerfile-layers-459: e4762f78 refactor: Migrate API routes to structured logging - Batch 3)
  src/components/EnhancedAIChatInterface.tsx
Due: test-suite, typescript-check, eslint

chore: integrate stash@{15} (WIP on feature/consolidate-vector-db-phase2-441: 81eacca1 feat: enhance loading state UI with animated placeholder lines and accessibility labels)
  README.md
  docker/code-server/Dockerfile
Due: none

chore: integrate stash@{15} (WIP on feature/consolidate-vector-db-phase2-441: 9ec3e2f9 feat: enhance loading state UI with animated placeholder lines and accessibility labels)
  README.md
  docker/code-server/Dockerfile
Due: none

chore: integrate stash@{16} (WIP on optimize/dockerfile-layers-459: ae59e5d7 refactor: Migrate API routes to structured logging - Batch 3)
  src/components/EnhancedAIChatInterface.tsx
Due: test-suite, typescript-check, eslint

chore: integrate stash@{14} (WIP on optimize/dockerfile-layers-459: e4762f78 refactor: Migrate API routes to structured logging - Batch 3)
  CONTRIBUTING.md
  README.md
  src/components/workspace/WorkspaceLayout.tsx
  src/samples/multimodal-agent-samples.ts
Due: test-suite, typescript-check, eslint

chore: integrate stash@{14} (WIP on optimize/dockerfile-layers-459: ae59e5d7 refactor: Migrate API routes to structured logging - Batch 3)
  CONTRIBUTING.md
  README.md
  src/components/workspace/WorkspaceLayout.tsx
  src/samples/multimodal-agent-samples.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
