Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

chore: type ai advanced features demo results
  TODO.md
  src/app/ai-advanced-features-demo/page.tsx
Due: test-suite, typescript-check, eslint

chore: type health metrics database metrics route
  TODO.md
  src/app/api/health/database/metrics/route.ts
Due: test-suite, typescript-check, eslint

chore: document sequential thinking operations
  SECURITY_IMMEDIATE_ACTIONS.md
  archive/agents/2025-10-22-codex-followup-plan-2.md
  archive/agents/2025-10-22-codex-followup-plan.md
  archive/agents/2025-10-22-mcp-roundtable-plan.md
  archive/agents/benchmarks/2025-10-22-dogstatsd-plan.md
  archive/agents/daily-status/2025-10-22.md
  archive/agents/docs/2025-10-22-docs-outline.md
  archive/agents/issue-drafts/2025-10-22-roundtable-assignments.md
  archive/agents/middleware/2025-10-22-seq-middleware-notes.md
  archive/agents/release/2025-10-22-ci-workflow-skeleton.yml
  config/README.md
  demos/README.md
  docs/MCP_DATADOG_INTEGRATION.md
  docs/datadog/sequential-thinking-dashboard.json
  docs/tooling/roundtable-ai-personas.md
  performance-results/openvscode-sample-metrics.json
  reports/nightly/template.md
  scripts/nightly/generate-report.mjs
  scripts/roundtable/run-roundtable.sh
  scripts/tests/fast-openvscode-handshake.sh
  src/app/api/ai/sequential-thinking/route.ts
  src/middleware.ts
  tests/api/ai-sequential-thinking.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

docs: adopt project-based Datadog tagging
  TODO.md
  content/wiki/ENV_VARIABLES.md
  content/wiki/env-variables.md
  docker/code-server/DATADOG_INTEGRATION.md
  docs/MCP_DATADOG_INTEGRATION.md
  docs/aks-datadog-monitoring-guide.md
  docs/azure-aks-deployment.md
  docs/azure/azure-rag-datadog-runbook.md
  docs/experiments/datadog-cli-instrumentation-2025-10-22.md
  docs/src/content/docs/datadog-llm-observability.md
  docs/src/content/docs/env-variables.md
  docs/src/content/docs/new-features.md
Due: none

chore(security): add security hook installer
  .husky/pre-commit
  SECURITY_IMMEDIATE_ACTIONS.md
  package.json
  scripts/security/install-hook.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

chore: salvage sequential thinking and codex updates
  .codex/README.md
  .codex/config.toml
  .codex/package-lock.json
  .codex/package.json
  AGENTS.md
  TODO.md
  archive/agents/2025-10-22-mcp-roundtable-refresh.md
  config/mcp_config.json
  content/wiki/ENV_VARIABLES.md
  content/wiki/env-variables.md
  docker/mcp-servers/package-lock.json
  docker/mcp-servers/package.json
  docker/mcp-servers/servers/sequential_thinking/server.js
  docs/MCP_DATADOG_INTEGRATION.md
  docs/MCP_QUICK_START.md
  package-lock.json
  scripts/benchmarks/README-minivim.md
  scripts/benchmarks/build-minivim-kernel-6.17.sh
  scripts/benchmarks/build-minivim-kernel.sh
  scripts/mcp-wrapper.js
Due: test-suite, k8s-tests, eslint

feat: add musl libc build automation with Datadog tracking
  .github/workflows/musl-benchmarks.yml
  MUSL_BUILD_SUMMARY.md
  MUSL_QUICK_REFERENCE.md
  configs/datadog/musl-build-dashboard.json
  docs/musl-build-system.md
  scripts/benchmarks/build-busybox-musl.sh
  scripts/benchmarks/docker-musl-vs-glibc.sh
  scripts/benchmarks/test-musl-builds.sh
Due: k8s-tests

Align Datadog browser client versions
  .npmrc
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

Defer landing workspace hydration with Suspense
  src/app/page.tsx
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
