Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

docs: Feature audit #1530 - Console logging verification
  .agents/tasks/polecat-issue-1530.md
  docs/features/console-logging.md
Due: none

feat(audit): add feature audit for Apple VF fast-boot (#1546)
  docs/feature-audits/issue-1546-apple-vf-fast-boot.md
  tests/feature-audit/issue-1546.test.ts
Due: test-suite, typescript-check, eslint

feat(audit): Feature Audit #1527 - Interactive Console verified
  docs/feature-audit/issue-1527.md
  tests/feature-audit/issue-1527.test.ts
Due: test-suite, typescript-check, eslint

feat(virtualization): Apple VF fast-boot micro-VM infrastructure (#1546)
  docs/virtualization/openvscode-microvm.md
  scripts/release/package-fast-openvscode-vm.sh
Due: k8s-tests

docs(feature-audit): verify console logging feature #1530
  docs/feature-audits/1530-console-logging.md
Due: none

chore: add .logs/ to gitignore for Gas Town
  .gitignore
Due: none

feat(audit): add feature audits for assigned issues
  docs/feature-audits/issue-1446-uefi-boot.md
  docs/feature-audits/issue-1469-eslint-config.md
  docs/feature-audits/issue-1492-nodejs-dev.md
  docs/feature-audits/issue-1515-vscode-dev-environment.md
  tests/feature-audit/issue-1446.test.ts
  tests/feature-audit/issue-1469.test.ts
  tests/feature-audit/issue-1492.test.ts
  tests/feature-audit/issue-1515.test.ts
Due: test-suite, typescript-check, eslint

feat(audit): Feature Audit #1488 - Auto-Discovery VM Detection verified
  docs/feature-audit/issue-1488.md
  tests/feature-audit/issue-1488.test.ts
Due: test-suite, typescript-check, eslint

docs(feature-audit): verify VS Code extension support #1522
  docs/feature-audits/1522-vscode-extension-support.md
Due: none

feat(scripts): add Datadog tracing, convert shell scripts to Python, create TUIs
  docs/feature-audits/datadog-tracing-audit.md
  scripts/benchmarks/build_minimal_initramfs.py
  scripts/benchmarks/firecracker_bench.py
  scripts/benchmarks/vim_hypervisor_bench.py
  scripts/cleanup/backup_before_cleanup.py
  scripts/cloud/gcp/start_workspace.py
  scripts/cloud_manager.py
  scripts/component_verification.py
  scripts/create_datadog_dashboard.py
  scripts/desktop/build_all.py
  scripts/homebrew/start_all.py
  scripts/kind_setup.py
  scripts/launch/launch_valkey.py
  scripts/lib/bootstrap.py
  scripts/lib/cli_utils.py
  scripts/lib/datadog_logging.py
  scripts/lib/error_tracking.py
  scripts/lib/kind.py
  scripts/lib/logging.py
  scripts/lib/pgvector.py
  scripts/openindiana/setup_openindiana_vm.py
  scripts/openindiana/setup_postgres_pgvector.py
  scripts/python/enhanced-vm-manager.py
  scripts/security_tui.py
  scripts/setup_production_monitoring.py
  scripts/tests/azure/test_azure_deployment.py
  scripts/tests/bootstrap/test_env_example.py
  scripts/validate_env_config.py
  scripts/vfkit/launch_alpine_vm.py
  scripts/vfkit/launch_node24_vm.py
  scripts/vm/enhanced-vm-manager.py
Due: k8s-tests

docs(feature-audit): verify EFI NVRAM file discovery #1462
  docs/feature-audits/1462-efi-nvram-discovery.md
Due: none

docs(feature-audit): verify app sandbox resolution #1314
  docs/feature-audits/1314-app-sandbox-resolved.md
Due: none

Improve telemetry mirroring and metrics snapshot
  scripts/lib/ai_agent_telemetry.py
  scripts/send_gastown_metrics.py
Due: k8s-tests

Add Gastown telemetry installer and CLI metrics
  scripts/install-gastown-telemetry.sh
  scripts/lib/ai_agent_telemetry.py
  scripts/send_gastown_metrics.py
  src/lib/monitoring/gastown-cli-tracing.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Expand unified dashboard for Gastown metrics
  config/datadog/vibecode-unified-operations-dashboard.json
Due: none

Add complete Gastown dashboard and missing metrics
  config/datadog/ai-agents/complete-gastown-dashboard.json
  scripts/send_gastown_metrics.py
Due: k8s-tests

Auto-commit: snapshot polecat vibecode-113
  scripts/deploy_agentapi.py
  scripts/deploy_all_fixes.py
  scripts/deploy_authelia.py
  scripts/deploy_comparison_environments.py
  scripts/deploy_complete_platform.py
  scripts/deploy_database_migrations.py
  scripts/deploy_datadog_dbm.py
  scripts/deploy_dbm_apm_all.py
  scripts/deploy_dbm_apm_azure.py
  scripts/deploy_dbm_apm_kind.py
  scripts/deploy_docs_next.py
  scripts/deploy_existing_cluster.py
  scripts/deploy_ingress_controller.py
  scripts/deploy_kind_postgres_monitoring.py
  scripts/deploy_kind_with_monitoring.py
  scripts/deploy_monitoring.py
  scripts/deploy_production.py
  scripts/deploy_rag_stack.py
  scripts/deploy_rag_stack_simple.py
  scripts/deploy_simple_local.py
  scripts/deploy_vibecode.py
  scripts/deploy_vm.py
Due: k8s-tests

Auto-commit: snapshot polecat vibecode-118
  .gitignore
Due: none

Auto-commit: snapshot polecat vibecode-122
  .gitignore
Due: none

Add provider forcing and rate-limit fallback
  config/docker/docker-compose.ai-gateway.yml
  config/docker/docker-compose.repo.yml
  infrastructure/services/ai-gateway/README.md
  infrastructure/services/ai-gateway/docker-compose.yml
  infrastructure/services/ai-gateway/src/config/environment.ts
  infrastructure/services/ai-gateway/src/services/provider-router.ts
Due: test-suite, typescript-check, eslint

Auto-commit: snapshot polecat wanderer
  .gitignore
  AGENTS.md
  docs/virtualization/openvscode-microvm.md
  scripts/benchmarks/vscode_microvm.sh
  scripts/release/package-fast-openvscode-vm.sh
Due: k8s-tests

Auto-commit: snapshot polecat rust
  src/lib/db/connection-pool-config.ts
  src/lib/db/predictive-scaling.ts
Due: test-suite, typescript-check, eslint

Auto-commit: snapshot polecat vault
  .gitignore
Due: none

Auto-commit: snapshot polecat nuka
  .gitignore
Due: none

Auto-commit: snapshot polecat foundation
  .gitignore
  AGENTS.md
Due: none

Auto-commit: snapshot polecat settler
  .gitignore
  AGENTS.md
Due: none

Auto-commit: snapshot polecat enclave
  .gitignore
Due: none

Auto-commit: snapshot polecat deathclaw
  .gitignore
Due: none

Auto-commit: snapshot polecat raider
  .gitignore
Due: none

Auto-commit: snapshot polecat refuge
  .gitignore
  AGENTS.md
Due: none

Auto-commit: snapshot polecat railroad
  .gitignore
  AGENTS.md
Due: none

Auto-commit: snapshot polecat pipboy
  .gitignore
Due: none

Auto-commit: snapshot polecat minuteman
  .gitignore
  AGENTS.md
Due: none

Fix ai-gateway test lint errors
  infrastructure/services/ai-gateway/src/__tests__/datadog-metrics.test.ts
  infrastructure/services/ai-gateway/src/__tests__/openrouter-e2e.int.test.ts
  infrastructure/services/ai-gateway/src/services/provider-router.ts
Due: test-suite, typescript-check, eslint

Clean ai-gateway lint warnings and add Ollama force script
  infrastructure/services/ai-gateway/.env.example
  infrastructure/services/ai-gateway/src/__mocks__/services/redis-service.ts
  infrastructure/services/ai-gateway/src/__tests__/routes-metrics.int.test.ts
  infrastructure/services/ai-gateway/src/controllers/ai-controller.ts
  infrastructure/services/ai-gateway/src/middleware/auth.ts
  infrastructure/services/ai-gateway/src/middleware/error-handler.ts
  infrastructure/services/ai-gateway/src/middleware/response-cache.ts
  infrastructure/services/ai-gateway/src/middleware/validation.ts
  infrastructure/services/ai-gateway/src/providers/azure-openai-provider.ts
  infrastructure/services/ai-gateway/src/providers/hf-provider.ts
  infrastructure/services/ai-gateway/src/providers/ollama-provider.ts
  infrastructure/services/ai-gateway/src/providers/openai-provider.ts
  infrastructure/services/ai-gateway/src/providers/openrouter-provider.ts
  infrastructure/services/ai-gateway/src/scripts/dd-test.ts
  infrastructure/services/ai-gateway/src/services/datadog-metrics.ts
  infrastructure/services/ai-gateway/src/services/openrouter-client.ts
  infrastructure/services/ai-gateway/src/services/redis-service.ts
  infrastructure/services/ai-gateway/src/tracing.ts
  infrastructure/services/ai-gateway/src/utils/logger.ts
  scripts/force-ollama-gateway.sh
Due: test-suite, k8s-tests, typescript-check, eslint

Tag gastown metrics with business grouping fields
  scripts/send_gastown_metrics.py
Due: k8s-tests

Add unified ops dashboard scripts and enrich Gas Town metrics
  .gitignore
  scripts/send_gastown_metrics.py
  scripts/update_datadog_dashboard.py
  scripts/update_datadog_dashboard_v2.py
Due: k8s-tests

Improve beads ignore rules and speed up Gas Town metrics
  .gitignore
  scripts/send_gastown_metrics.py
Due: k8s-tests

fix(security): add fast-xml-parser override to resolve high severity vulnerability
  package-lock.json
  package.json
Due: license-check, vulnerability-scan
