Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

docs: Apple Containerization POC Phase 1 results
  docs/APPLE_CONTAINERIZATION_POC.md
Due: none

docs: improve .env.example with better organization and documentation
  .env.example
  docker/code-server/PORTABILITY_GUIDE.md
  docs/CONFIGURATION_MIGRATION.md
  docs/CONFIGURATION_QUICK_REFERENCE.md
Due: none

feat: add checksum verification for k9s binary and improve logging with structured logger
  claudedocs/GITHUB_ISSUES_PROGRESS_2025-10-01.md
  claudedocs/LAZY_LOADING_IMPLEMENTATION.md
  docker/code-server/Dockerfile
  docs/security/GITHUB_ACTIONS_QUICKSTART.md
  scripts/migrate-tests.sh
  scripts/verify-env-consolidation.sh
  scripts/verify-gpl-free.sh
  src/app/api/auth/login-tracking/route.ts
  src/app/api/auth/saml/metadata/route.ts
  src/app/api/readyz/route.ts
  src/components/PromptInterface.tsx
  src/components/PromptInterface/config/mcp-servers.config.ts
  src/components/PromptInterface/config/mock-responses.config.ts
  src/components/PromptInterface/config/models.config.ts
  src/components/PromptInterface/types/index.ts
  src/components/PromptInterface/types/speech-recognition.types.ts
  src/components/PromptInterfaceSkeleton.tsx
  src/components/editors/EditorSkeleton.tsx
  src/components/ui/skeleton.tsx
  src/lib/auth.ts
  tailwind.config.js
  tests/e2e/api/validation.test.ts
  tests/unit/auth/credentials-provider.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

feat: add automated changelog generation workflow
  .commitlintrc.json
  .github/workflows/README.md
  .github/workflows/changelog.yml
  CHANGELOG.md
  cliff.toml
  docs/CHANGELOG_GUIDE.md
  scripts/generate-changelog.sh
Due: k8s-tests

docs: deprecate v1.1.0 code-server images due to GPL license violation from Emacs inclusion
  CHANGELOG.md
  README.md
  docker/code-server/CHANGELOG.md
  docker/code-server/DEPRECATION_NOTICE_v1.1.0.md
Due: none

feat: replace console logging with structured logger across API routes
  .github/workflows/security-audit.yml
  docs/deployment/DISASTER_RECOVERY.md
  docs/deployment/DOCKER_PRODUCTION.md
  docs/deployment/KUBERNETES_PRODUCTION.md
  docs/deployment/MONITORING.md
  docs/deployment/PRODUCTION_CHECKLIST.md
  docs/deployment/SECURITY_HARDENING.md
  docs/testing/CI_TESTING.md
  docs/testing/E2E_TESTING.md
  docs/testing/E2E_TEST_PLAN.md
  docs/testing/INTEGRATION_TESTING.md
  docs/testing/README.md
  docs/testing/TEST_MIGRATION_QUICKSTART.md
  docs/testing/TEST_PATTERNS.md
  docs/testing/UNIT_TESTING.md
  docs/user-guide/README.md
  docs/user-guide/ai-assistant.md
  docs/user-guide/file-management.md
  docs/user-guide/getting-started.md
  docs/user-guide/terminal.md
  docs/user-guide/troubleshooting.md
  docs/user-guide/workspaces.md
  src/app/api/templates/route.ts
  src/app/api/test-db/route.ts
  src/app/api/user/preferences/route.ts
  src/components/PromptInterface.tsx
  src/components/PromptInterface/hooks/useAuthState.ts
  src/components/ui/button.tsx
Due: test-suite, typescript-check, eslint

docs: Add VSIX compatibility matrix and quick reference guide
  docs/security/VSIX_COMPATIBILITY_MATRIX.md
Due: none

docs: Add security documentation index and navigation
  docs/security/README.md
Due: none

docs: temporarily disable unused variable checks to isolate 204 structural TypeScript errors
  claudedocs/DISTRIBUTION_STRATEGY_SUMMARY.md
  claudedocs/GITHUB_ISSUES_NATIVE_EDITOR_STRATEGY.md
  claudedocs/LSP_EXTENSION_ARCHITECTURE_RESEARCH.md
  claudedocs/MEGA_SESSION_SUMMARY_2025-10-01.md
  claudedocs/NATIVE_EDITOR_ARCHITECTURE_ANALYSIS_2025-10-01.md
  claudedocs/VSCODIUM_FORK_FEASIBILITY_ASSESSMENT_2025-10-01.md
  claudedocs/VSIX_FORMAT_TECHNICAL_SPECIFICATION.md
  claudedocs/zed-editor-evaluation-2025-10-01.md
  docs/ARCHITECTURE.md
  docs/TYPESCRIPT_BASELINE.md
  docs/performance/benchmark-data.json
  docs/performance/editor-performance-summary.md
  docs/research/native-editors-vsix-alternatives.md
  docs/research/native-ui-frameworks-analysis.md
  docs/research/ui-framework-recommendation-summary.md
  playwright-report/index.html
  src/lib/auth.ts
  tsconfig.json
Due: test-suite, typescript-check, eslint

feat: Apple Container POC COMPLETE - code-server running natively
  docs/APPLE_CONTAINER_SUCCESS.md
Due: none
