Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

preserve additional stashed code from vector database implementation
  src/components/MultimodalPromptInterface.tsx
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/monitoring/MonitoringDashboard.tsx
  src/components/projects/GitHubIntegrationModal.tsx
  src/components/projects/ProjectScaffolder.tsx
  src/components/terminal/EnhancedTerminal.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/templates/generator.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
Due: test-suite, typescript-check, eslint

preserve all remaining stashed code and resolve package-lock conflicts
  package-lock.json
Due: none

fix: resolve critical build issues in config files
  docs/astro.config.mjs
  next.config.js
  package.json
  tsconfig.json
Due: license-check, vulnerability-scan, test-suite, eslint

Update vector-types.ts
  src/lib/vector-db/vector-types.ts
Due: test-suite, typescript-check, eslint

fix: resolve critical integration test failures - fix syntax errors and add polyfills for Node.js environment
  src/app/api/ai/generate-project/route.ts
  tests/integration/user-provisioning-integration.test.ts
  tests/jest.setup.js
Due: test-suite, typescript-check, eslint

fix: resolve critical merge conflicts in redis-client.ts - fix ESLint errors and resolve stash conflicts
  src/lib/cache/redis-client.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
