Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

still fixing test
  TODO.md
  src/app/api/experiments/route.ts
  src/app/generative-ui/page.tsx
  src/components/ai/CodeAssistant.tsx
  src/lib/ai/provider.ts
  src/lib/tools/index.ts
  tests/complete/production-readiness.test.ts
  tests/integration/api/ai-chat-stream.test.ts
  tests/unit/ai-chat-interface.setup.js
  wiki/SECURITY_VULNERABILITY_AUDIT.md
Due: test-suite, typescript-check, eslint

chore(security): address Dependabot alerts across workspaces via upgrades and overrides (2025-09-16)
  TODO.md
  src/components/chat/HuggingFaceChatInterface.tsx
  test-workspace/test-workspace/collaborative-test.md
  test-workspace/test-workspace/error-test.txt
  test-workspace/test-workspace/high-frequency-test.txt
  test-workspace/test-workspace/integration-test.ts
  tests/integration/experiments-api-real.test.ts
  web-dashboard/package.json
Due: test-suite, typescript-check, eslint

chore(submodule): add code-server mapping (ignore=dirty) and pin to upstream tag v4.104.0 (no patches)
  .gitmodules
Due: none

docs(todo): align plan with oldest claude-prompt.md (2025-07-22); add concrete action items
  TODO.md
Due: none

Adding skipped files
  .backup/submodule-patches/code-server-status_20250916_185516.txt
  .backup/submodule-patches/code-server-test-changes_20250916_185516.patch
  k8s/SECRETS-SETUP.md
  k8s/datadog-agent-fixed.yaml
  k8s/oauth-secrets.yaml
  k8s/templates/oauth-secrets.template.yaml
  k8s/templates/vibecode-secrets.template.yaml
  k8s/vibecode-secrets.yaml
  prisma/schema-original.prisma
  prisma/schema-test.prisma
  scripts/min-kind-bootstrap.sh
  scripts/start-dev.sh
  src/app/auth/error/page.tsx
  src/app/page.tsx
  src/components/auth/SimpleSignInForm.tsx
  test-workspace/test-workspace/collaborative-test.md
  test-workspace/test-workspace/error-test.txt
  test-workspace/test-workspace/high-frequency-test.txt
  test-workspace/test-workspace/integration-test.ts
  tests/e2e/auth-flow.test.ts
  tests/e2e/auth/authentication.test.ts
  tests/integration/collaboration-integration.test.ts
  tests/integration/collaboration-real.test.ts
  tests/integration/monitoring-api-real.test.ts
  tests/integration/real-datadog-integration.test.ts
  tests/integration/real-openrouter-integration.test.ts
Due: test-suite, k8s-tests, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
