Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

fix: rewrite agents page test with async renderAndSettle + mock fetch
  src/app/ai/agents/__tests__/page.test.tsx
Due: test-suite, typescript-check, eslint

fix: fix vm-stability acceptance tests and vfkit.create() return value
  src/app/ai/conversations/__tests__/page.test.tsx
  src/app/ai/prompts/__tests__/page.test.tsx
  src/lib/vm/providers/vfkit.ts
  tests/__mocks__/next-intl.js
  tests/acceptance/vm-stability.test.ts
  tests/jest.setup.js
Due: test-suite, typescript-check, eslint

chore: ignore test artifacts and agent work files
  .gitignore
Due: none

fix: address security and code review findings
  src/app/api/ai/chat/enhanced/route.ts
  src/app/api/ai/chat/route.ts
  src/lib/vm/providers/vfkit.ts
Due: test-suite, typescript-check, eslint

fix: update chat stream test model ID and quarantine 55 pre-existing test failures
  jest.config.js
  tests/unit/app/api/chat/stream/route.test.ts
Due: test-suite, typescript-check, eslint

Unquarantine agent-confirmation suite; fix core.ts async bug
  jest.config.js
  src/lib/__mocks__/prisma.ts
  src/lib/agent-framework/core.ts
  tests/__mocks__/@prisma/client.ts
  tests/integration/agent-confirmation.test.ts
Due: test-suite, typescript-check, eslint

docs: define VibeCode ownership and sibling repo boundaries
  AGENTS.md
Due: none

docs: add machine-readable project ownership manifest
  .project.toml
Due: none

docs: add security reporting policy
  SECURITY.md
Due: none

docs: require shared constraints and research index
  AGENTS.md
Due: none

test(chat): align ChatInterface selectors with current DOM hooks (#2085)
  src/components/ai/ChatInterface.tsx
  tests/components/ai/ChatInterface.test.tsx
Due: test-suite, typescript-check, eslint

feat(bench): consume shared ryanlab.bench.v1 records (#2132)
  docs/architecture/BENCH_V1_INTEGRATION.md
  src/app/api/v1/bench/view/__tests__/route.test.ts
  src/app/api/v1/bench/view/route.ts
  src/app/monitoring/benchmarks/page.tsx
  src/components/bench/BenchImporter.tsx
  src/components/bench/BenchResultsView.tsx
  src/components/bench/__tests__/BenchImporter.test.tsx
  src/components/bench/__tests__/BenchResultsView.test.tsx
  src/lib/bench/__tests__/fixtures/README.md
  src/lib/bench/__tests__/fixtures/bench.v1.example.json
  src/lib/bench/__tests__/fixtures/bench.v1.schema.json
  src/lib/bench/__tests__/v1.test.ts
  src/lib/bench/__tests__/view.test.ts
  src/lib/bench/endpoint.ts
  src/lib/bench/index.ts
  src/lib/bench/v1.ts
  src/lib/bench/view.ts
Due: test-suite, typescript-check, eslint

chore(deps): apply safe patch/minor bumps for Dependabot alerts (root package-lock.json)
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

chore(deps): same-major bumps for remaining root audit advisories
  package-lock.json
  package.json
  tests/test-utils.tsx
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

fix(bench): address review feedback on the bench.v1 consumer
  docs/architecture/BENCH_V1_INTEGRATION.md
  src/app/api/v1/bench/view/__tests__/route.test.ts
  src/app/api/v1/bench/view/route.ts
  src/components/bench/BenchImporter.tsx
  src/components/bench/BenchResultsView.tsx
  src/components/bench/__tests__/BenchImporter.test.tsx
  src/components/bench/__tests__/BenchResultsView.test.tsx
  src/lib/bench/__tests__/v1.test.ts
  src/lib/bench/__tests__/view.test.ts
  src/lib/bench/endpoint.ts
  src/lib/bench/v1.ts
  src/lib/bench/view.ts
Due: test-suite, typescript-check, eslint

fix(docker): ship the files next build needs in Dockerfile.production
  .dockerignore
  Dockerfile.production
Due: none

chore(deps): OpenTelemetry 0.222.x major bump + audit fix for deepmerge-ts/mysql2
  package-lock.json
  package.json
  prisma/prisma.config.ts
  src/lib/monitoring/opentelemetry-client.ts
  src/lib/monitoring/opentelemetry-setup.ts
  src/lib/monitoring/opentelemetry.ts
  src/types/opentelemetry-shims.d.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

chore(deps): fix npm audit gate - OTel 0.222.x + deepmerge-ts/mysql2 overrides (#2134)
  .dockerignore
  Dockerfile.production
  package-lock.json
  package.json
  prisma/prisma.config.ts
  src/lib/monitoring/opentelemetry-client.ts
  src/lib/monitoring/opentelemetry-setup.ts
  src/lib/monitoring/opentelemetry.ts
  src/types/opentelemetry-shims.d.ts
  tests/test-utils.tsx
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

fix(ci): use nc instead of redis-cli for host-side Redis wait
  .github/workflows/ci-simplified.yml
Due: none

fix(ci): stop jest CLI override of quarantine; schema-driven Prisma mock; real DB for experiments E2E (#2136)
  .github/workflows/ci-simplified.yml
  jest.config.js
  tests/__mocks__/@prisma/client.ts
  tests/integration/experiments-e2e.test.ts
  tests/unit/prisma-mock-schema-sync.test.ts
Due: test-suite, typescript-check, eslint

fix(ci): --forceExit so open handles cannot hang the 25-minute test job
  .github/workflows/ci-simplified.yml
Due: none

docs(cleanup): phase-0 inventory, phase-1 report, and repo-inventory.nu (#2125)
  docs/reports/repo-cleanup-2026-09/README.md
  docs/reports/repo-cleanup-2026-09/inventory-after-phase1.json
  docs/reports/repo-cleanup-2026-09/inventory.json
  scripts/repo-inventory.nu
Due: k8s-tests

test(integration): run DB-backed E2E suites against the real client; quarantine pgvector suite (#2136)
  jest.config.js
  tests/integration/ai-quality-metrics.test.ts
  tests/integration/ai-quality-tracking.test.ts
  tests/integration/secret-rotation-e2e.test.ts
Due: test-suite, typescript-check, eslint

test: quarantine the three DB suites that drifted from schema.prisma (#2138)
  jest.config.js
Due: test-suite, eslint

fix(tundra-dome): clear pre-existing ruff errors in the Airflow DAGs
  infra/tundra-dome/dags/github_sync.py
  infra/tundra-dome/dags/lane_health.py
  infra/tundra-dome/dags/polecat_scaler.py
  infra/tundra-dome/dags/sla_monitor.py
Due: none

fix(tundra-dome): one blank line after imports (ruff I001)
  infra/tundra-dome/dags/github_sync.py
  infra/tundra-dome/dags/lane_health.py
  infra/tundra-dome/dags/polecat_scaler.py
  infra/tundra-dome/dags/sla_monitor.py
Due: none

fix(tundra-dome): --stack-only creates namespaces and secrets idempotently
  infra/tundra-dome/deploy.sh
Due: none

fix(tundra-dome): install the Errand CRD and wait for CRDs to be Established
  infra/tundra-dome/deploy.sh
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
