Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

chore: remove duplicate configs and organize IDE settings
  config/.markdownlint-cli2.jsonc
  config/babel.config.js
  config/ide/.opencode.json
  config/ide/.opencode/opencode.db
  config/ide/.opencode/opencode.db-shm
  config/ide/.opencode/opencode.db-wal
  config/postcss/postcss.config.docker.js
  config/postcss/postcss.config.js
  config/postcss/postcss.config.mjs
Due: test-suite, eslint

Revise README title for demo repository clarity
  README.md
Due: none

docs: add reorganization summary to wiki and migration guide
  wiki/ultrathinking-critical-discoveries.md
Due: none

feat: add ARM64 Alpine service build scripts
  scripts/vfkit/ARM64_SERVICES_GUIDE.md
  scripts/vfkit/build-services-arm64.sh
  scripts/vfkit/setup-alpine-services.sh
  scripts/vfkit/verify-services.sh
Due: k8s-tests

docs: add comprehensive build summary for ARM64 services
  .gitmodules
  scripts/vfkit/BUILD_SUMMARY.md
Due: k8s-tests

feat: add code-server and openvscode-server for comparison
  docs/CODE_SERVER_COMPARISON.md
Due: none

feat: add vfkit build infrastructure for openvscode-server
  config/vfkit/openvscode-build-vm.yaml
  scripts/vfkit/build-openvscode.sh
  scripts/vfkit/network-utils.sh
Due: k8s-tests

chore: formalize openvscode-server as backend, update documentation
  README.md
  docs/BACKEND_DECISION.md
  wiki/ultrathinking-critical-discoveries.md
Due: none

feat: add network utilities with aria2c and DNS testing
  scripts/vfkit/network-utils.sh
Due: k8s-tests

feat: update Alpine kernel downloader to use aria2c
  scripts/vfkit/02-download-alpine-kernel.sh
Due: k8s-tests

docs: add comprehensive session summary
  SESSION_SUMMARY.md
Due: none

feat: complete all 6 implementation phases with comprehensive documentation
  README.md
  docs/ARCHITECTURE_DIAGRAM.md
  docs/BUILD_STATUS.md
  docs/DASHBOARD_DESIGN.md
  docs/ICON_GENERATION_GUIDE.md
  docs/IMPLEMENTATION_ROADMAP.md
  docs/QUICKSTART.md
  docs/README.md
  docs/REBRAND_INDEX.md
  docs/REBRAND_PLAN.md
  docs/REBRAND_SUMMARY.md
  docs/SWIFT_RUST_FFI_INTEGRATION.md
  docs/product.json.template
  security/AUTHENTICATION_STRATEGY.md
  wiki/ultrathinking-critical-discoveries.md
Due: none

feat: add build automation and status tracking
  BUILDS_STATUS.md
  scripts/vfkit/run-builds.sh
Due: k8s-tests

docs: add final status - VM running, builds ready to execute
  FINAL_STATUS.md
Due: none

feat: add fast optimized build script with comprehensive tests
  COMPLETE_BUILD_GUIDE.md
  scripts/vfkit/fast-build-and-test.sh
Due: k8s-tests

docs: comprehensive fast builds completion report
  FAST_BUILDS_COMPLETE.md
Due: none

feat: complete VM infrastructure with Valkey, PostgreSQL+pgvector, Node.js
  config/nodejs/setup.sh
  config/postgresql/QUICKSTART.md
  config/postgresql/init.sql
  config/postgresql/pg_hba.conf
  config/postgresql/postgresql.conf
  config/postgresql/test-vector-db.sql
  config/valkey/valkey-dev.conf
  config/valkey/valkey.conf
  config/vfkit/nodejs-dev-vm.yaml
  config/vfkit/postgresql-pgvector-vm.yaml
  config/vfkit/postgresql-vm.yaml
  config/vfkit/valkey-vm.yaml
  docs/NODEJS_DEV_ENVIRONMENT.md
  docs/POSTGRESQL_PGVECTOR_SETUP.md
  docs/VALKEY_MIGRATION.md
  docs/VM_MANAGEMENT.md
  docs/VM_TESTING_RESULTS.md
  scripts/vfkit/EXAMPLES.md
  scripts/vfkit/README.md
  scripts/vfkit/start-nodejs-dev.sh
  scripts/vfkit/start-postgresql.sh
  scripts/vfkit/start-valkey.sh
  scripts/vfkit/stop-all-vms.sh
  scripts/vfkit/test-all-vms.sh
  scripts/vfkit/test-nodejs-dev.sh
  scripts/vfkit/test-postgresql.sh
  scripts/vfkit/test-valkey.sh
  scripts/vfkit/vm-health-check.sh
  scripts/vfkit/vm-manager.sh
  tests/vm/QA_ENGINEER_REPORT.md
  tests/vm/README.md
  tests/vm/integration-tests.sh
  tests/vm/run-all-tests.sh
  tests/vm/test-framework.sh
  tests/vm/test-nodejs-dev.test.sh
  tests/vm/test-postgresql.test.sh
  tests/vm/test-valkey.test.sh
Due: k8s-tests

fix: honest reality check - we have scripts not running VMs
  REALITY_CHECK.md
  scripts/vfkit/create-multi-vm-setup.sh
Due: k8s-tests

feat: 3 VMs ACTUALLY RUNNING NOW!
  VMS_RUNNING_STATUS.md
  scripts/vfkit/execute-builds-in-vms.sh
Due: k8s-tests

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
