Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: resolve deployment workflow failures
  .github/workflows/deploy-aks-monitoring.yml
  .github/workflows/deploy-next-docs.yml
  .github/workflows/error-tracking-integration.yml
  .github/workflows/rebuild-codeserver.yml
  .github/workflows/security-audit.yml
  package-lock.json
Due: none

fix: restore deployment workflow fixes that were reverted
  .github/workflows/deploy-aks-monitoring.yml
  .github/workflows/deploy-next-docs.yml
  .github/workflows/error-tracking-integration.yml
  .github/workflows/rebuild-codeserver.yml
Due: none

security: replace Math.random() with crypto in auth/password generation
  src/lib/auth/mfa-provider.ts
  src/lib/auth/saml-provider.ts
  src/lib/services/workspace-provisioning-apple-container.ts
Due: test-suite, typescript-check, eslint

security: complete Phase 1 critical hardening (Issue #416)
  .env.example
  claudedocs/AGENT12_SECURITY_HANDOFF.md
  claudedocs/SECURITY_KEYCHAIN_INTEGRATION_REPORT.md
  claudedocs/agent-2-amd64-workflow-fix-report.md
  claudedocs/agent-3-test-execution-guide.md
  claudedocs/agent-3-web-testing-analysis.md
  claudedocs/agent-4-workflow-testing-fix-report.md
  claudedocs/agent-8-docker-workflow-fixes.md
  claudedocs/agent-9-bulk-dependency-analysis.md
  claudedocs/agent-9-final-report.md
  claudedocs/api-validation-audit.json
  claudedocs/api-validation-security-report.md
  claudedocs/arm64-workflow-fix-report.md
  claudedocs/azure-deployment-fix-report.md
  claudedocs/azure-deployment-setup-guide.md
  claudedocs/branch-protection-configuration.md
  claudedocs/cicd-cost-optimization-report.md
  claudedocs/deployment-workflows-fixes.md
  claudedocs/github-actions-security-audit.md
  claudedocs/security-hardening-final-report.md
  claudedocs/security-hardening-implementation-log.md
  claudedocs/security-math-random-audit-report.md
  next.config.js
  package-lock.json
  package.json
  server/index.js
  src/lib/security/env-validation.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

docs: add comprehensive Math.random() security fix documentation
  claudedocs/agent-11-math-random-fix-summary.md
  claudedocs/agent-9-codeserver-workflow-fixes.md
  claudedocs/api-validation-audit.json
  scripts/validate-deployment-workflows.sh
Due: k8s-tests

security: establish API validation infrastructure and audit framework
  .github/workflows/agentapi-cicd.yml
  claudedocs/agent-13-api-validation-summary.md
Due: none

security(workflows): complete GitHub Actions security audit for issue #455
  claudedocs/agent-15-security-hardening-summary.md
Due: none

feat(docker): add comprehensive healthchecks for zero-downtime deployments
  Dockerfile.production.optimized
  claudedocs/dockerfile-layer-optimization-analysis.md
  claudedocs/dockerfile-optimization-results.md
  docker/Dockerfile.prod.optimized
  scripts/validate-dockerfile-optimization.sh
Due: k8s-tests

feat(docker): add healthchecks to docker-compose configurations
  claudedocs/agent-19-docker-healthchecks-report.md
  docker/HEALTHCHECKS.md
  docker/docker-compose.production.yml
  docker/docker-compose.yml
  scripts/validate-healthchecks.sh
Due: k8s-tests
