Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

auto-claude: subtask-5-2 - Update environment configuration documentation
  .env.example
Due: none

auto-claude: subtask-1-1 - Create tail-based sampling processor class
  src/lib/monitoring/tail-based-sampler.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Add tail-based sampler to NodeSDK configuration
  src/lib/monitoring/opentelemetry.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Create tests for sampling configuration
  tests/unit/lib/monitoring/sampling-config.test.ts
Due: test-suite, typescript-check, eslint

fix: Address QA issues (qa-requested)
  .env.example
  src/app/api/monitoring/otel-config/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create unit tests for tail-based sampler
  tests/unit/lib/monitoring/tail-based-sampler.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create sampling configuration module with environment variable support
  src/lib/monitoring/sampling-config.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Verify sampling behavior with manual testing
  MANUAL_VERIFICATION_GUIDE.md
Due: none

auto-claude: subtask-3-3 - Create ConfirmationDialog component for approval workflow
  src/app/agent-test/page.tsx
  src/components/agent/ConfirmationDialog.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-3 - Modify Agent.executeToolCall to check for confirmation
  src/lib/agent-framework/core.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Integration test: Settings → Service → UI flow
  tests/integration/agent-confirmation.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Add agent confirmation settings to SettingsPanel UI
  src/components/settings/SettingsPanel.tsx
  src/types/settings.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-4 - Add confirmation events to agent framework
  src/lib/agent-framework/types.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Add example tools that require confirmation
  src/lib/agent-framework/tools/index.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create agent confirmation type definitions
  src/types/agent-confirmation.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Create ActionPreview component for displaying prop
  src/app/agent-test/page.tsx
  src/components/agent/ActionPreview.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-4 - Documentation and examples for confirmation feature
  docs/AGENT_CONFIRMATION.md
Due: none

auto-claude: subtask-2-2 - Create ConfirmationService class for managing appr
  src/lib/agent-framework/confirmation/index.ts
  src/lib/agent-framework/confirmation/service.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-3 - Update API routes to handle confirmation events
  src/app/api/agents/[...path]/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-4 - Add confirmation dialog integration to agent pages
  src/app/chat/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Add AgentConfirmationSettings interface to settings
  src/types/settings.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create DiffViewer component for showing code chang
  src/components/agent/DiffViewer.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create prerequisites check script
  scripts/check-k8s-prerequisites.sh
Due: k8s-tests

auto-claude: subtask-4-1 - Add 'deploy' command to vibecode CLI
  vibecode
Due: none

auto-claude: subtask-2-2 - Implement KIND cluster creation logic
  scripts/vibecode-k8s-deploy.sh
Due: k8s-tests

auto-claude: subtask-2-1 - Create main deployment orchestration script
  scripts/vibecode-k8s-deploy.sh
Due: k8s-tests

auto-claude: subtask-2-3 - Implement namespace and service deployment logic
  scripts/vibecode-k8s-deploy.sh
Due: k8s-tests

auto-claude: subtask-4-2 - Implement deploy command with options
  vibecode
Due: none

auto-claude: subtask-5-1 - Add error handling for common failure scenarios
  scripts/vibecode-k8s-deploy.sh
Due: k8s-tests

auto-claude: subtask-3-1 - Implement service health check functions
  scripts/vibecode-k8s-deploy.sh
Due: k8s-tests

auto-claude: subtask-5-2 - Add user-friendly output and progress indicators
  scripts/vibecode-k8s-deploy.sh
Due: k8s-tests

auto-claude: subtask-3-2 - Add comprehensive deployment verification
  scripts/vibecode-k8s-deploy.sh
Due: k8s-tests

auto-claude: subtask-6-1 - Test complete deployment workflow
  .auto-claude-security.json
  .auto-claude-status
  .claude_settings.json
  vibecode
Due: none

auto-claude: subtask-1-2 - Add GitLab MR type definitions to lib.ts
  .claude/hooks/lib.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create pr.ts with CLI availability check functions
  .claude/hooks/pr.ts
Due: test-suite, typescript-check, eslint

fix: correct hookSpecificOutput type in userPromptSubmit (qa-requested)
  .claude/hooks/index.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create unit tests for pr.ts functions
  .claude/hooks/pr.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Add helper function for creating PR/MR context sum
  .claude/hooks/pr.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Add listPullRequests and getPullRequest functions
  .claude/hooks/pr.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Add GitHub PR type definitions to lib.ts
  .claude/hooks/CLAUDE.md
  .claude/hooks/index.ts
  .claude/hooks/lib.ts
  .claude/hooks/package.json
  .claude/hooks/session.ts
  .claude/hooks/tsconfig.json
  .gitignore
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
