Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix(metaplane): eliminate 14 TypeScript any warnings in data observability
  src/lib/metaplane-integration.ts
Due: test-suite, typescript-check, eslint

fix(mcp): eliminate 14 TypeScript any warnings in Context7 interfaces
  src/lib/mcp/context7/interfaces.ts
Due: test-suite, typescript-check, eslint

docs: update TODO with current session batch 2 progress
  TODO.md
Due: none

fix(tests): eliminate 12 TypeScript any warnings in automated test generator tests
  src/lib/ai/__tests__/automated-test-generator.test.ts
Due: test-suite, typescript-check, eslint

fix: disable Next.js docs deployment path and fail fast until static export is supported
  .github/ISSUE_TEMPLATE/code-server-v1.1.0-multi-profile.md
  .github/workflows/codeserver-monitor.yml
  .github/workflows/codeserver-multiarch.yml
  .github/workflows/deploy-docs.yml
  TODO.md
  docker/code-server/Dockerfile
  docker/code-server/Dockerfile.kind
  docs/logs/AGENT_ACTIVITY_LOG.md
  docs/logs/COORDINATION_LOG.md
  docs/logs/workflow-issues/deploy-docs.md
  next.config.mjs
  package-lock.json
  package.json
  src/app/voice-test/page.tsx
  src/lib/ai/enhanced-ai-manager.ts
  src/lib/db/connection-pool-alerts.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

feat: enable Next.js standalone deployment and fix Cosmos DB vector adapter
  .github/workflows/deploy-docs.yml
  TODO.md
  docker/code-server/BUILD_PLAN.md
  docker/code-server/Dockerfile
  docs/logs/issues/397-next-docs-deployment.md
  docs/logs/workflow-issues/deploy-docs.md
  package-lock.json
  package.json
  src/app/onboarding/page.tsx
  src/components/onboarding/OnboardingDrawer.tsx
  src/lib/ai/__tests__/automated-test-generator.test.ts
  src/lib/vector-db/cosmosdb-vector-database-adapter.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

fix(types): eliminate 15 any warnings in useRUM.ts
  TODO.md
  docker/code-server/Dockerfile
  docs/logs/COORDINATION_LOG.md
  docs/logs/issues/code-server-cloud-deployment.md
  docs/logs/issues/code-server-release-monitor.md
  docs/logs/workflow-issues/deploy-docs.md
  docs/src/content/docs/wiki-archive/monitoring/toto-integration.md
  src/components/projects/AIProjectGenerator.tsx
  src/hooks/useRUM.ts
  src/lib/db/connection-pool-alerts.ts
  tests/unit/monitoring/connection-pool-alerts.test.ts
  tofu/code-server-gcp/main.tf
  tofu/code-server-gcp/outputs.tf
  tofu/code-server-gcp/startup.sh
  tofu/code-server-gcp/variables.tf
Due: test-suite, typescript-check, eslint

fix(types): eliminate 2 any warnings in voice-test/page.tsx
  .github/workflows/code-server-release-monitor.yml
  TODO.md
  docs/logs/issues/code-server-release-monitor.md
  src/app/voice-test/page.tsx
  tests/unit/db/connection-pool-alerts.test.ts
  tests/unit/monitoring/connection-pool-alerts.test.ts
Due: test-suite, typescript-check, eslint

fix(types): eliminate 24 any warnings across 3 files (batch 4)
  .github/workflows/disabled-expensive/docker-multiarch.yml
  .github/workflows/disabled-expensive/test-ci-simplified.yml
  .github/workflows/disabled-expensive/test-simple.yml
  TODO.md
  docker/code-server/Dockerfile
  docs/logs/COORDINATION_LOG.md
  docs/logs/issues/403-connection-pool-alert-tests.md
  docs/logs/issues/405-next-docs-deployment.md
  docs/logs/issues/code-server-cloud-deployment.md
  docs/logs/workflow-issues/deploy-docs.md
  docs/runbooks/next-docs-deployment.md
  k8s/kind-cloud-config.yaml
  src/app/api/terminal/ws/route.ts
  src/components/PromptInterface.tsx
  src/lib/enhanced-project-templates.ts
  tests/k8s/cloud-deployment-smoke.sh
  tests/k8s/kind-cloud-deployment-smoke.test.ts
  tests/k8s/kind-cloud-test-runner.sh
  tests/unit/db/connection-pool-alerts.test.ts
  tofu/code-server-aws/iam.tf
  tofu/code-server-aws/main.tf
  tofu/code-server-aws/outputs.tf
  tofu/code-server-aws/variables.tf
Due: test-suite, k8s-tests, typescript-check, eslint

fix(types): eliminate 33 any warnings across 3 files (batch 5)
  TODO.md
  docs/logs/COORDINATION_LOG.md
  docs/logs/issues/403-connection-pool-alert-tests.md
  src/lib/db/connection-pool-alerts.ts
  src/lib/db/database-logger.ts
  src/lib/mcp/serena/interfaces.ts
  src/lib/server-monitoring.ts
  tests/tofu/README.md
  tests/tofu/__pycache__/test_aws_cloud_deployment.cpython-313.pyc
  tests/tofu/offline-cloud-testing.sh
  tests/tofu/test_aws_cloud_deployment.py
  tests/tofu/test_gcp_cloud_deployment.py
  tests/unit/monitoring/connection-pool-alerts.test.ts
  tofu/code-server-aws/main.tf
Due: test-suite, typescript-check, eslint
