Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

Fix test syntax issues - monitoring and AI project generator tests
  tests/unit/ai-project-generator.test.tsx
  tests/unit/monitoring.test.ts
Due: test-suite, typescript-check, eslint

Fix development Dockerfile npm install with better error handling
  docker/development/Dockerfile
Due: none

Simplify development Dockerfile to fix npm install issues
  docker/development/Dockerfile
Due: none

Use npm ci for more reliable Docker builds
  docker/development/Dockerfile
Due: none

Fix development Dockerfile with legacy peer deps and update package-lock.json
  docker/development/Dockerfile
Due: none

Temporarily disable problematic monitoring test to focus on Docker fixes
  tests/unit/monitoring.test.ts.backup
Due: none

Fix lightningcss platform-specific dependency issues and temporarily use Tailwind v3 syntax
  package.json
  src/app/globals.docker.css
Due: license-check, vulnerability-scan

Fix Docker build issues: downgrade Tailwind CSS from v4 to v3, remove lightningcss dependencies, fix PostCSS configuration, and resolve path alias issues
  next.config.js
  package-lock.json
  package.json
  postcss.config.js
  postcss.config.mjs
  src/components/NetworkDiagnostics/NetworkDiagnostics.tsx
  src/components/terminal/EnhancedTerminal.tsx
  src/components/terminal/WebGLTerminal.tsx
  src/lib/azure-ai-client.ts
  src/lib/network-diagnostics.ts
  src/lib/vector-store.ts
  src/types/network.ts
  tests/unit/file-operations.test.ts.backup
  tests/unit/file-operations.test.ts.disabled
  tests/unit/monitoring.test.ts
  tsconfig.json
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

Fix Prisma client generation in Docker build: add prisma generate step, move @prisma/client to dependencies, and copy generated client to production stage
  Dockerfile
  package.json
Due: license-check, vulnerability-scan

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
