Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

fix: Remove node_modules from git tracking
  .gitignore
Due: none

fix: Complete node_modules cleanup
  .gitignore
Due: none

fix: Remove final node_modules files
  .pre-commit-cache/docs_node_modules_.astro_data-store.json.timestamp
  .pre-commit-cache/docs_node_modules_.vite_deps__metadata.json.timestamp
Due: none

feat: Add comprehensive repository cleanup script
  scripts/cleanup-repository.sh
Due: k8s-tests

feat: Add comprehensive repository cleanup script (#664)
  scripts/cleanup-repository.sh
Due: k8s-tests

feat: Add Monitoring menu and comprehensive vibecode-cli documentation
  README.md
  scripts/VIBECODE_CLI.md
  scripts/vibecode-cli-lib/README.md
  scripts/vibecode-cli-lib/monitoring-menu.sh
Due: k8s-tests

feat: Add Security and Database Operations menus to vibecode-cli
  scripts/vibecode-cli-lib/README-SECURITY-DB.md
  scripts/vibecode-cli-lib/common.sh
  scripts/vibecode-cli-lib/db-menu.sh
  scripts/vibecode-cli-lib/security-menu.sh
Due: k8s-tests

feat: Add Development and Testing menus to vibecode-cli
  scripts/vibecode-cli-lib/README.md
  scripts/vibecode-cli-lib/common.sh
  scripts/vibecode-cli-lib/dev-menu.sh
  scripts/vibecode-cli-lib/menu-database.sh
  scripts/vibecode-cli-lib/menu-deployment.sh
  scripts/vibecode-cli-lib/menu-development.sh
  scripts/vibecode-cli-lib/menu-monitoring.sh
  scripts/vibecode-cli-lib/menu-security.sh
  scripts/vibecode-cli-lib/menu-testing.sh
  scripts/vibecode-cli-lib/menu-vm.sh
  scripts/vibecode-cli-lib/test-menu.sh
  scripts/vibecode-cli-lib/vibecode-cli-main.sh
Due: k8s-tests

docs: Add comprehensive security scan options documentation
  SECURITY-SCAN-OPTIONS.md
Due: none

Fix security issues and linter errors
  k8s/vibecode-secrets.yaml
  scripts/vibecode-cli-lib/TUI-README.md
  scripts/vibecode-cli-lib/verify-structure.sh
  scripts/vibecode-tui
  src/app/api/ai/web-search/route.ts
  src/components/monitoring/ConnectionPoolDashboard.tsx
  tsconfig.json
Due: test-suite, k8s-tests, typescript-check, eslint

feat: Add comprehensive deployment and VM management menus to vibecode-cli
  scripts/vibecode-cli-lib/common.sh
  scripts/vibecode-cli-lib/deploy-menu.sh
  scripts/vibecode-cli-lib/vm-menu.sh
  scripts/vibecode-cli/README.md
  scripts/vibecode-cli/SCRIPT_INVENTORY.md
  scripts/vibecode-cli/install-cli.sh
  scripts/vibecode-cli/main.sh
Due: k8s-tests

docs: Add comprehensive vfkit menu structure visualization
  scripts/vibecode-cli/VFKIT_MENU_STRUCTURE.md
Due: k8s-tests

feat: Add vibecode-tui TUI framework with 7 main categories
  scripts/vibecode-cli-lib/common.sh
  scripts/vibecode-cli-lib/menu-database.sh
  scripts/vibecode-cli-lib/menu-deployment.sh
  scripts/vibecode-cli-lib/menu-development.sh
  scripts/vibecode-cli-lib/menu-monitoring.sh
  scripts/vibecode-cli-lib/menu-security.sh
  scripts/vibecode-cli-lib/menu-testing.sh
  scripts/vibecode-cli-lib/menu-vm.sh
Due: k8s-tests

feat: Add vibecode-tui TUI framework to consolidate 285+ scripts
  k8s/vibecode-secrets.yaml
  scripts/vibecode-cli-lib/TUI-README.md
  scripts/vibecode-cli-lib/common.sh
  scripts/vibecode-cli-lib/menu-database.sh
  scripts/vibecode-cli-lib/menu-deployment.sh
  scripts/vibecode-cli-lib/menu-development.sh
  scripts/vibecode-cli-lib/menu-monitoring.sh
  scripts/vibecode-cli-lib/menu-security.sh
  scripts/vibecode-cli-lib/menu-testing.sh
  scripts/vibecode-cli-lib/menu-vm.sh
  scripts/vibecode-cli-lib/verify-structure.sh
  scripts/vibecode-tui
  src/app/api/ai/web-search/route.ts
  src/components/monitoring/ConnectionPoolDashboard.tsx
  tsconfig.json
Due: test-suite, k8s-tests, typescript-check, eslint

feat: Add Monitoring menu and comprehensive docs (19 scripts consolidated)
  README.md
  scripts/VIBECODE_CLI.md
  scripts/vibecode-cli-lib/README.md
  scripts/vibecode-cli-lib/monitoring-menu.sh
Due: k8s-tests

docs: integrate VibeCode CLI into main documentation
  README.md
  docs/CLI_INTEGRATION.md
  docs/index.md
Due: none

docs: add comprehensive platform overview
  README.md
  docs/PLATFORM_OVERVIEW.md
  docs/index.md
Due: none

feat: implement core RAG system components
  src/lib/rag/cache.ts
  src/lib/rag/embeddings.ts
  src/lib/rag/index.ts
  src/lib/rag/vector-store.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
