Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

docs: update TODO.md with completed infrastructure improvements
  TODO.md
Due: none

Implement vector database sharding architecture for improved scalability
  TODO.md
  docs/vector-database-sharding.md
  src/app/api/health/db/route.ts
  src/lib/ai/azure-embedding-service.ts
  src/lib/ai/embedding-service.ts
  src/lib/db/pool-adapter.ts
  src/lib/db/vector-connection-pool.ts
  src/lib/vector-db/consistent-hash-ring.ts
  src/lib/vector-db/pool-status.ts
  src/lib/vector-db/query-analyzer.ts
  src/lib/vector-db/sharding-manager.ts
  src/lib/vector-db/types.ts
Due: test-suite, typescript-check, eslint

Implement connection pool monitoring system with alerting and dashboard
  docs/connection-pool-monitoring.md
  src/app/api/monitoring/pool/route.ts
  src/app/dashboard/pool-monitor/page.tsx
  src/lib/db/connection-pool-monitor.ts
Due: test-suite, typescript-check, eslint

Complete critical vector database infrastructure and resolve TypeScript compilation errors for production readiness
  TODO.md
  claudedocs/pool-alerting-system.md
  claudedocs/ultrathinking-critical-discoveries.md
  datadog/vector-database-dashboard.json
  datadog/vector-db-alerts.json
  k8s/affinity/vector-db-affinity.yaml
  k8s/monitoring/vector-db-servicemonitor.yaml
  k8s/operators/vector-db-backup-cronjob.yaml
  k8s/operators/vector-db-operator.yaml
  k8s/scaling/vector-db-hpa.yaml
  next.config.mjs
  prisma/schema.prisma
  src/app/api/health/database/metrics/route.ts
  src/app/api/health/vector-db/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/instrument.ts
  src/lib/ai/azureEmbeddingService.ts
  src/lib/monitoring/service-factory.ts
  src/lib/server-monitoring.ts
  test-health-simple.cjs
  test-infrastructure.cjs
Due: test-suite, k8s-tests, typescript-check, eslint

Add comprehensive handoff documentation for vector database infrastructure
  TODO.md
Due: none

feat: implement Datadog Database Monitoring (DBM) for pool exhaustion alerting
  CLAUDE.md
  src/app/api/health/db/route.ts
  src/app/api/monitoring/pool-alerts/route.ts
  src/instrument.ts
  test-pool-exhaustion.cjs
Due: test-suite, typescript-check, eslint
