Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

Fix GitHub Actions CI/CD pipeline reliability and guardrails (#1941)
  .github/workflows/README.md
  .github/workflows/TROUBLESHOOTING.md
  .github/workflows/WORKFLOW_FIX_PLAN.md
  .github/workflows/build-and-push-image.yml
  .github/workflows/ci-simplified.yml
  .github/workflows/codeserver-profiles.yml
  .github/workflows/cost-monitor.yml
  .github/workflows/health-check.yml
  .github/workflows/notify-gastown.yml
  .github/workflows/release.yml
  .github/workflows/shared-setup.yml
  .github/workflows/validate-workflows.yml
  monitoring/datadog/dashboards/ci-health.json
  tests/workflows/test_workflow_validation.py
Due: none

auto-claude: subtask-6-1 - Update logSecurityEvent to use audit service
  src/lib/auth/user-manager.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-2 - Add audit logging to AI chat endpoint
  src/app/api/ai/chat/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-7-1 - Create unit tests for tamper-evidence module
  tests/unit/lib/audit/tamper-evidence.test.ts
Due: test-suite, typescript-check, eslint

One-Click Kubernetes Deployment (#1896)
  scripts/check-k8s-prerequisites.sh
  scripts/vibecode-k8s-deploy.sh
  vibecode
Due: k8s-tests

OpenTelemetry Full Stack Tracing (#1902)
  .auto-claude/specs/014-opentelemetry-full-stack-tracing/acceptance-criteria-verification.md
  .auto-claude/specs/014-opentelemetry-full-stack-tracing/implementation_plan.json
  docs/observability/opentelemetry-setup.md
  docs/observability/trace-analysis-guide.md
  platforms/docker/docker/agentapi/otel_config.py
  platforms/docker/docker/agentapi/requirements.txt
  platforms/docker/docker/agentapi/server.py
  platforms/docker/docker/agentapi/telemetry.py
  platforms/docker/docker/docker-compose.yml
  platforms/docker/docker/otel-collector-config.yaml
  src/app/api/health/db/route.ts
  src/app/api/health/route.ts
  src/app/api/monitoring/dashboard/route.ts
  src/app/api/monitoring/traces/route.ts
  src/app/layout.tsx
  src/app/monitoring/traces/page.tsx
  src/components/monitoring/BrowserTelemetryInit.tsx
  src/lib/cache/unified-cache-client.ts
  src/lib/monitoring/browser-telemetry.ts
  src/lib/monitoring/database-instrumentation.ts
  src/lib/monitoring/trace-context.ts
  src/middleware.ts
  tests/integration/opentelemetry-fullstack.test.ts
  tests/integration/trace-propagation.test.ts
Due: test-suite, typescript-check, eslint

Restrict overly permissive Claude Code bash permissions (#1914)
  .auto-claude/specs/064-restrict-overly-permissive-claude-code-bash-permis/AUDIT.md
  .auto-claude/specs/064-restrict-overly-permissive-claude-code-bash-permis/DEFAULT_MODE_ANALYSIS.md
  .auto-claude/specs/064-restrict-overly-permissive-claude-code-bash-permis/build-progress.txt
  .auto-claude/specs/064-restrict-overly-permissive-claude-code-bash-permis/implementation_plan.json
  .github/workflows/check-claude-permissions.yml
  docs/guides/security-hardening.md
  docs/security/claude-permissions.md
  scripts/security/generate_claude_permissions.py
  scripts/security/tests/test_claude_permissions.py
  scripts/security/tests/test_generate_claude_permissions.py
Due: k8s-tests

Replace AWS SDK v2 with modular v3 for ~95% bundle size reduction (#1918)
  package-lock.json
  package.json
  src/lib/__tests__/upload-file.test.ts
  src/lib/templates/index.ts
  src/lib/upload-file.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

Add list virtualization for AgentMarketplace and CommitHistoryViewer (#1923)
  .auto-claude/specs/006-add-list-virtualization-for-agentmarketplace-and-s/build-progress.txt
  package-lock.json
  package.json
  src/components/agents/AgentMarketplace.tsx
  src/components/github/CommitHistoryViewer.tsx
  src/hooks/useVirtualGrid.ts
  src/hooks/useVirtualList.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

Offline/Air-Gapped Mode (#1926)
  .env.example
  docs/OFFLINE_MODE.md
  src/app/api/docs/search/route.ts
  src/app/api/offline/setup/route.ts
  src/app/api/offline/status/route.ts
  src/app/api/templates/route.ts
  src/app/layout.tsx
  src/app/offline-setup/page.tsx
  src/components/OfflineIndicator.tsx
  src/lib/cache/offline-cache.ts
  src/lib/config/offline-config.ts
  src/lib/offline-mode.ts
  src/lib/ollama-client.ts
  src/lib/unified-ai-client.ts
  tests/e2e/offline-mode.test.ts
Due: test-suite, typescript-check, eslint

AI Quality Metrics Tracking (#1929)
  prisma/migrations/20260220_add_ai_quality_metrics/migration.sql
  prisma/migrations/20260220_add_ai_quality_metrics/rollback.sql
  prisma/schema.prisma
  src/app/api/ai/quality/rate/route.ts
  src/app/api/ai/quality/reports/route.ts
  src/app/api/ai/quality/track/route.ts
  src/lib/ai/__tests__/edit-distance.test.ts
  src/lib/ai/__tests__/quality-reports.test.ts
  src/lib/ai/__tests__/quality-tracker.test.ts
  src/lib/ai/edit-distance.ts
  src/lib/ai/quality-reports.ts
  src/lib/ai/quality-tracker.ts
  src/types/ai-quality-metrics.ts
  tests/integration/ai-quality-datadog-metrics.test.ts
  tests/integration/ai-quality-tracking.test.ts
Due: test-suite, typescript-check, eslint

LLM Operations Dashboard (#1931)
  src/app/api/monitoring/llm-costs/route.ts
  src/app/api/monitoring/llm-error-rate/route.ts
  src/app/api/monitoring/llm-latency/route.ts
  src/app/api/monitoring/llm-ops/route.ts
  src/app/api/monitoring/llm-tokens/route.ts
  src/app/monitoring/layout.tsx
  src/app/monitoring/llm-ops/page.tsx
  src/components/monitoring/LLMCostBreakdown.tsx
  src/components/monitoring/LLMErrorRateWidget.tsx
  src/components/monitoring/LLMLatencyChart.tsx
  src/components/monitoring/LLMOpsMetrics.tsx
  src/components/monitoring/LLMTokenUsageChart.tsx
Due: test-suite, typescript-check, eslint

Transparent AI Model Selection UI with 12+ Models (#1936)
  src/components/ai/AIChatInterface.tsx
  src/components/ai/ChatInterface.tsx
  src/components/ai/ModelDisplay.tsx
  src/components/chat/EnhancedChatInterface.tsx
  src/hooks/useModelSelection.ts
  src/lib/services/intelligent-model-selection.ts
  src/types/model-comparison.ts
Due: test-suite, typescript-check, eslint

Apple Virtualization Framework Stability (#1937)
  platforms/macos/vm/Sources/main.swift
  src/lib/vm/__tests__/provider-factory.test.ts
  src/lib/vm/provider-factory.ts
  src/lib/vm/providers/vfkit.ts
  src/lib/vm/types.ts
  tests/acceptance/vm-stability.test.ts
  tests/integration/vm-boot-timeout.test.ts
  tests/integration/vm-state-persistence.test.ts
Due: test-suite, typescript-check, eslint

Fix Tauri Desktop Build Process (#1939)
  .github/workflows/build-linux.yml
  .github/workflows/desktop-build.yml
  .github/workflows/tauri-release.yml
  package.json
  platforms/tauri/PLATFORM_SUPPORT.md
  platforms/tauri/README.md
  platforms/tauri/resources/linux/vibecode.desktop
  platforms/tauri/src/main.rs
  platforms/tauri/tauri.conf.json
  scripts/build-tauri-local.sh
Due: license-check, vulnerability-scan, k8s-tests

Full Codebase Semantic Indexing (#1935)
  package-lock.json
  package.json
  prisma/migrations/20260214162124_add_codebase_index/migration.sql
  prisma/schema.prisma
  src/app/api/codebase-index/route.ts
  src/app/workspace/[id]/page.tsx
  src/components/indexing/IndexingStatus.tsx
  src/components/workspace/WorkspaceProvider.tsx
  src/hooks/useCodebaseIndexing.ts
  src/lib/indexing/code-chunker.ts
  src/lib/indexing/codebase-indexer.ts
  src/lib/indexing/file-watcher.ts
  tests/integration/codebase-index-api.test.ts
  tests/integration/codebase-indexing-e2e.test.ts
  tests/jest.polyfills.js
  tests/unit/lib/indexing/code-chunker.test.ts
  tests/unit/lib/indexing/codebase-indexer.test.ts
  tests/unit/lib/indexing/file-watcher.test.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

Resolve Dependabot Security Updates (#1940)
  .auto-claude/specs/003-resolve-dependabot-security-updates/audit-after.json
  .auto-claude/specs/003-resolve-dependabot-security-updates/audit-results.json
  .auto-claude/specs/003-resolve-dependabot-security-updates/script-analysis.md
  .auto-claude/specs/003-resolve-dependabot-security-updates/vulnerability-report.md
  backups/security-patch-20260214_160432/PATCH_SUMMARY.txt
  backups/security-patch-20260214_160432/git-status-before.txt
  backups/security-patch-20260214_160432/npm-audit-before.json
  backups/security-patch-20260214_160432/npm-list-before.txt
  backups/security-patch-20260214_160432/package-lock.json
  backups/security-patch-20260214_160432/package.json
  security_updates.py
  test_security_updates.py
Due: none

Comprehensive Keyboard Navigation for Developer Workflow (#1942)
  src/app/globals.css
  src/app/layout.tsx
  src/app/providers.tsx
  src/components/ai/AIChatInterface.tsx
  src/components/command-palette/CommandPalette.tsx
  src/components/command-palette/CommandPaletteProvider.tsx
  src/components/command-palette/GlobalCommandPalette.tsx
  src/components/command-palette/commands.ts
  src/components/navigation/AppNavigation.tsx
  src/components/navigation/__tests__/AppNavigation.test.tsx
  src/components/settings/SettingsPanel.tsx
  src/components/ui/KeyboardHint.tsx
  src/components/ui/__tests__/KeyboardHint.test.tsx
  src/components/ui/index.ts
  src/hooks/useCommandPalette.ts
  src/hooks/useKeyboardShortcuts.ts
  src/hooks/useVimNavigation.ts
  src/lib/keyboard/__tests__/fuzzy-search.test.ts
  src/lib/keyboard/focus-management.ts
  src/lib/keyboard/fuzzy-search.ts
  src/lib/keyboard/vim-bindings.ts
  tests/e2e/accessibility.test.ts
  tests/e2e/keyboard-navigation.test.ts
  tests/unit/components/navigation/AppNavigation.test.tsx
Due: test-suite, typescript-check, eslint

AI Operation Loading States with Streaming Feedback (#1943)
  src/app/api/chat/stream/route.ts
  src/components/ai/AIChatInterface.tsx
  src/components/ai/AILoadingState.tsx
  src/components/ai/StreamingProgress.tsx
  src/components/ai/TokenCounter.tsx
  src/components/chat/EnhancedChatInterface.tsx
  src/hooks/useAIStream.ts
  src/lib/ai/stream-utils.ts
  tests/ai-streaming-edge-cases.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-7-2 - Create unit tests for audit service
  tests/unit/lib/audit/service.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-7-3 - Create integration tests for audit API endpoints
  tests/integration/audit-api.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create useModelSwitcher hook with state management
  src/hooks/useModelSwitcher.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create ModelSwitcherPanel component with dropdown UI
  src/components/ai/ModelSwitcherPanel.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Add visual indicators (latency, cost) to panel
  src/components/ai/ModelSwitcherPanel.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create ModelSwitcher trigger component
  src/components/ai/ModelSwitcher.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Add ModelSwitcher to root layout
  src/app/layout.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Test model switcher across different pages
  src/components/ai/ModelSwitcherPanel.tsx
  tests/e2e/model-switcher-verification.md
  tests/e2e/model-switcher.spec.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Create unit tests for ModelSwitcher components
  src/components/ai/__tests__/ModelSwitcher.test.tsx
  src/hooks/__tests__/useModelSwitcher.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create EmbeddingVisualizer component with embedding display and similarity score rendering
  src/components/ai/EmbeddingVisualizer.tsx
  src/components/ai/__tests__/EmbeddingVisualizer.test.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create VectorSimilarityExplorer component with text input
  src/components/ai/VectorSimilarityExplorer.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create vector-explorer page that hosts the VectorS
  .auto-claude-status
  .claude_settings.json
  src/app/ai/vector-explorer/page.tsx
Due: test-suite, typescript-check, eslint

AI Model Switching Quick Access Panel (#1945)
  src/app/layout.tsx
  src/components/ai/ModelSwitcher.tsx
  src/components/ai/ModelSwitcherPanel.tsx
  src/components/ai/__tests__/ModelSwitcher.test.tsx
  src/hooks/__tests__/useModelSwitcher.test.ts
  src/hooks/useModelSwitcher.ts
  tests/e2e/model-switcher-verification.md
  tests/e2e/model-switcher.spec.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Add Vector Explorer link to AI dashboard navigation
  src/app/ai/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create WebSocket monitoring service
  src/lib/monitoring/websocket-monitor.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Create WebSocket dashboard component
  src/components/monitoring/WebSocketDashboard.tsx
Due: test-suite, typescript-check, eslint

build(deps): bump @prisma/client from 6.19.2 to 7.4.0
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

build(deps-dev): bump prisma from 6.19.2 to 7.4.0
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

Compliance & Audit Logging (#1946)
  prisma/migrations/20260221_add_audit_logs/migration.sql
  prisma/migrations/20260221_add_audit_logs/rollback.sql
  prisma/schema.prisma
  src/app/api/ai/chat/route.ts
  src/app/api/audit/export/route.ts
  src/app/api/audit/logs/route.ts
  src/lib/audit/export.ts
  src/lib/audit/index.ts
  src/lib/audit/middleware.ts
  src/lib/audit/retention.ts
  src/lib/audit/service.ts
  src/lib/audit/tamper-evidence.ts
  src/lib/audit/types.ts
  src/lib/auth/user-manager.ts
  tests/integration/audit-api.test.ts
  tests/unit/lib/audit/service.test.ts
  tests/unit/lib/audit/tamper-evidence.test.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
