Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

feat: complete advanced vector performance optimization suite
  TODO.md
  src/lib/vector-stores/enhanced-vector-store.ts
Due: test-suite, typescript-check, eslint

feat: complete final performance optimization infrastructure - production ready
  TODO.md
  src/app/api/health/connection-pool/route.ts
  src/app/api/health/vector-metrics/route.ts
  src/lib/vector-stores/enhanced-vector-store.ts
Due: test-suite, typescript-check, eslint

fix: resolve TypeScript errors and prepare production deployment
  TODO.md
  datadog/vector-database-dashboard.json
  scripts/test-performance-endpoints.js
  src/lib/vector-stores/enhanced-vector-store.ts
Due: test-suite, k8s-tests, typescript-check, eslint

feat: complete production deployment infrastructure - ready to deploy
  TODO.md
  scripts/deploy-production.sh
Due: k8s-tests

fix: resolve ES module issue in test script - production deployment ready
  scripts/test-performance-endpoints.cjs
Due: k8s-tests

feat: complete performance validation and production deployment suite
  TODO.md
  scripts/performance-stress-test.cjs
Due: k8s-tests

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
