Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

feat: Fix Docker build, add Fly.io config, and resolve all dependency issues
  charts/vibecode-platform/templates/chaos-controller.yaml
  charts/vibecode-platform/templates/chaos-experiments.yaml
  charts/vibecode-platform/templates/guarddog-supply-chain.yaml
  charts/vibecode-platform/templates/mkat-security-audit.yaml
  charts/vibecode-platform/templates/vector-logging.yaml
  charts/vibecode-platform/values.yaml
  docs/oss-tools-integration.md
  fly.toml
  package-lock.json
  package.json
  src/lib/ai/index.ts
  src/lib/security/input-validator.ts
  src/pages/api/ai/secure-query.ts
  tests/k8s/chaos-controller-deployment.test.ts
  tests/unit/security-input-validator.test.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

feat: Add Datadog Agent configuration for Fly.io
  monitoring/datadog-agent/conf.d/fly_io.d/conf.yaml
  monitoring/datadog-agent/fly.toml
Due: none

refactor: Use environment variables for Datadog config
  monitoring/datadog-agent/conf.d/fly_io.d/conf.yaml
Due: none

feat: Add initial setup for Ink-based CLI tool
  packages/vibecode-cli/package.json
  packages/vibecode-cli/src/index.tsx
  packages/vibecode-cli/tsconfig.json
Due: test-suite, typescript-check, eslint

feat: Add testing framework for CLI tool
  packages/vibecode-cli/TESTING.md
  packages/vibecode-cli/jest.config.js
  packages/vibecode-cli/package.json
  packages/vibecode-cli/src/__tests__/index.test.tsx
Due: test-suite, typescript-check, eslint

feat(cli): Implement fly-status command
  packages/vibecode-cli/package.json
  packages/vibecode-cli/src/__tests__/fly-status.test.tsx
  packages/vibecode-cli/src/__tests__/index.test.tsx
  packages/vibecode-cli/src/commands/fly-status.tsx
  packages/vibecode-cli/src/index.tsx
Due: test-suite, typescript-check, eslint

feat(cli): Implement k8s-status command
  packages/vibecode-cli/package.json
  packages/vibecode-cli/src/__tests__/k8s-status.test.tsx
  packages/vibecode-cli/src/commands/k8s-status.tsx
  packages/vibecode-cli/src/index.tsx
Due: test-suite, typescript-check, eslint

feat(cli): Implement docker-status command
  packages/vibecode-cli/package.json
  packages/vibecode-cli/src/__tests__/docker-status.test.tsx
  packages/vibecode-cli/src/commands/docker-status.tsx
  packages/vibecode-cli/src/index.tsx
Due: test-suite, typescript-check, eslint

feat(cli): Add multi-stage Dockerfile for binary build
  packages/vibecode-cli/Dockerfile
  packages/vibecode-cli/package.json
Due: none

fix(deps): Add missing tailwindcss dependencies
  package.json
Due: license-check, vulnerability-scan

fix(datadog): Configure agent for local k8s monitoring
  monitoring/docker-compose.monitoring.yml
Due: none

feat(monitoring): Enable datadog continuous profiler
  docker-compose.yml
  package.json
Due: license-check, vulnerability-scan

fix(build): Resolve build errors from incorrect config and imports
  next.config.js
  src/app/workspace/[id]/page.tsx
  src/components/ai/VSCodeIntegration.tsx
Due: test-suite, typescript-check, eslint
