Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

chore: Sync TODO with parallel agent updates
  TODO.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  docs/logs/COORDINATION_LOG.md
  scripts/test-code-server-kind.sh
Due: k8s-tests

chore: Sync TODO with verification results
  README.md
  TODO.md
  docker/code-server/Dockerfile.kind
  docs/logs/AGENT_ACTIVITY_LOG.md
  scripts/test-code-server-editors.sh
  scripts/test-code-server-kind.sh
Due: k8s-tests

feat(onboarding): Add VS Code-style onboarding flow
  TODO.md
  docker/code-server/Dockerfile.kind
  docs/MONACOPILOT_INTEGRATION.md
  docs/ONBOARDING.md
  docs/logs/COORDINATION_LOG.md
  scripts/test-code-server-kind.sh
  src/app/api/user/preferences/route.ts
  src/app/onboarding/page.tsx
  src/components/OnboardingCheck.tsx
Due: test-suite, k8s-tests, typescript-check, eslint

test(onboarding): Add comprehensive test suite
  TODO.md
  docker-compose.nas.yml
  docs/NAS_DEPLOYMENT.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  scripts/test-code-server-kind.sh
  src/app/page.tsx
  src/components/onboarding/OnboardingDrawer.tsx
  tests/unit/onboarding.test.tsx
Due: test-suite, k8s-tests, typescript-check, eslint

feat(onboarding): Enhanced 7-step onboarding with workspace selection
  .github/workflows/kind-code-server-smoke.yml
  TODO.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  docs/logs/COORDINATION_LOG.md
  src/app/onboarding/page.tsx
  src/components/onboarding/OnboardingDrawer.tsx
Due: test-suite, typescript-check, eslint

chore(ci): document code-server smoke runtime
  TODO.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  docs/logs/COORDINATION_LOG.md
Due: none

docs(testing): Add comprehensive test coverage audit
  README.md
  TODO.md
  docs/TEST_COVERAGE_AUDIT.md
  docs/logs/AGENT_ACTIVITY_LOG.md
  prisma/schema.prisma
  scripts/verify-onboarding.sh
  src/app/api/user/preferences/route.ts
Due: test-suite, k8s-tests, typescript-check, eslint

docs: Update all documentation for production readiness
  TODO.md
  docs/README.md
  docs/SESSION_SUMMARY_2025-09-30.md
  eslint.config.mjs
  scripts/benchmark-vector-search.ts
  scripts/check-dependency-compatibility.js
Due: test-suite, k8s-tests, typescript-check, eslint

feat(extensions): Add Windsurf/Cursor-inspired features
  TODO.md
  docker/code-server/Dockerfile
  extensions/vibecode-codebase-chat/package.json
  extensions/vibecode-codebase-chat/src/extension.ts
  extensions/vibecode-codebase-chat/tsconfig.json
  extensions/vibecode-inline-edit/package.json
  extensions/vibecode-inline-edit/src/extension.ts
  extensions/vibecode-inline-edit/tsconfig.json
  scripts/benchmark-vector-search.js
  scripts/benchmark-vector-search.ts
  src/app/onboarding/page.tsx
Due: test-suite, k8s-tests, typescript-check, eslint

docs: Add comprehensive Docker deployment guide for all platforms
  TODO.md
  docs/DOCKER_DEPLOYMENT.md
  src/app/api/user/preferences/route.ts
  src/app/onboarding/page.tsx
  src/lib/server/user-preferences.ts
  src/lib/user-preferences.ts
Due: test-suite, typescript-check, eslint

chore: update onboarding and Copilot backlog notes [skip ci]
  TODO.md
  src/app/onboarding/page.tsx
Due: test-suite, typescript-check, eslint
