Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

auto-claude: subtask-1-3 - Add ai_quality_alerts table to Prisma schema
  prisma/schema.prisma
Due: none

chore: remove local metadata artifacts from PR
  .auto-claude-status
  .claude_settings.json
Due: none

auto-claude: subtask-6-2 - End-to-end verification with real model
  E2E_VERIFICATION_RESULTS.md
Due: none

auto-claude: subtask-3-1 - Create quality-degradation-detector service
  src/lib/ai/quality-degradation-detector.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-3 - Integrate degradation detector with quality tracker
  src/lib/ai/quality-tracker.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Create QualityDashboard React component
  src/components/ai/QualityDashboard.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Complete quality-reports with database queries
  src/lib/ai/quality-reports.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Extend quality-tracker with database persistence
  src/lib/ai/quality-tracker.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create quality dashboard metrics API endpoint
  src/app/api/monitoring/quality-dashboard/route.ts
Due: test-suite, typescript-check, eslint

fix: correct Zod schema default/transform order in quality-dashboard route (qa-requested)
  src/app/api/monitoring/quality-dashboard/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Add ai_quality_metrics table to Prisma schema
  prisma/schema.prisma
Due: none

auto-claude: subtask-1-1 - Add ai_suggestions table to Prisma schema
  prisma/schema.prisma
Due: none

auto-claude: subtask-3-2 - Create quality-alerts service with alert persistence
  src/lib/ai/quality-alerts.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-2 - Add dashboard route page
  src/app/dashboard/quality/page.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Add model comparison endpoint to reports API
  .auto-claude-status
  .claude_settings.json
Due: none

auto-claude: subtask-6-1 - Create integration tests for quality tracking flow
  tests/integration/ai-quality-metrics.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Enable TypeScript strict mode in tsconfig.json
  tsconfig.json
Due: none

auto-claude: subtask-3-1 - Run all quality checks to verify configuration
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

auto-claude: subtask-2-2 - Fix .husky/pre-commit hook to run proper checks
  .husky/pre-commit
Due: none

auto-claude: subtask-1-3 - Update ESLint configuration with additional TypeScript rules
  eslint.config.mjs
Due: none

auto-claude: subtask-1-1 - Add Prettier to package.json and create .prettierrc
  .prettierignore
  .prettierrc
  node_modules/.package-lock.json
  package-lock.json
  package.json
Due: license-check, vulnerability-scan

auto-claude: subtask-2-3 - Update .pre-commit-config.yaml to include Prettier
  .pre-commit-config.yaml
Due: none

chore: remove local metadata artifacts from PR
  node_modules/.package-lock.json
Due: none

auto-claude: subtask-2-1 - Update package.json scripts for lint, format, and type-check
  package.json
Due: license-check, vulnerability-scan

TypeScript & Linting Configuration (#2010)
  .husky/pre-commit
  .pre-commit-config.yaml
  .prettierignore
  .prettierrc
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: license-check, vulnerability-scan

AI Quality Metrics Tracking with Degradation Alerts (#2009)
  E2E_VERIFICATION_RESULTS.md
  prisma/schema.prisma
  src/app/api/monitoring/quality-dashboard/route.ts
  src/app/dashboard/quality/page.tsx
  src/components/ai/QualityDashboard.tsx
  src/lib/ai/quality-alerts.ts
  src/lib/ai/quality-degradation-detector.ts
  src/lib/ai/quality-reports.ts
  src/lib/ai/quality-tracker.ts
  tests/integration/ai-quality-metrics.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Create Datadog metrics utility for AI operations
  src/lib/monitoring/datadog-ai-metrics.ts
Due: test-suite, typescript-check, eslint

Full Codebase RAG Integration (#2008)
  src/app/api/ai/chat/route.ts
  src/app/api/codebase-index/stats/route.ts
  src/app/api/codebase-index/watch/route.ts
  src/app/api/semantic-search/route.ts
  src/app/settings/codebase-index/page.tsx
  src/components/chat-settings.tsx
  src/components/index-coverage-dashboard.tsx
  src/lib/indexing/codebase-indexer.ts
  src/lib/rag/context-retriever.ts
  tools/debug/e2e-rag-workflow-verification.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create CommonJS-compatible Pino logger wrapper for Node.js services
  src/lib/logger-node.js
Due: test-suite, eslint

auto-claude: subtask-1-3 - Integrate Datadog metrics into UnifiedAIClient
  src/lib/unified-ai-client.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Replace Winston imports with Pino logger in WebSocket server
  tools/server/index.js
Due: test-suite, eslint

auto-claude: subtask-2-2 - Update WebSocket server tests to work with Pino
  tools/server/__tests__/graceful-shutdown.test.js
Due: test-suite, eslint

auto-claude: subtask-1-2 - Add Monaco-specific webpack optimization configura
  next.config.mjs
Due: none

auto-claude: subtask-2-1 - Verify VisualDiff component uses proper lazy loading
  src/components/editor/VisualDiff.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Add MonacoEnvironment worker configuration
  src/lib/monaco/monaco-config.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Replace Winston logger implementation in AI Gateway
  infrastructure/services/ai-gateway/package-lock.json
  infrastructure/services/ai-gateway/package.json
  infrastructure/services/ai-gateway/src/utils/logger.ts
  infrastructure/services/ai-gateway/tsconfig.json
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-4 - Create API endpoint for fetching AI metrics aggreg
  src/app/api/monitoring/ai-metrics/route.ts
  src/lib/prisma.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Update AI Gateway package.json dependencies
  infrastructure/services/ai-gateway/package-lock.json
  infrastructure/services/ai-gateway/package.json
Due: none

auto-claude: subtask-2-1 - Create Datadog dashboard JSON configuration
  config/datadog/ai-operations-dashboard.json
Due: none

auto-claude: subtask-3-3 - Update AI Gateway logger mock for tests
  infrastructure/services/ai-gateway/src/__mocks__/utils/logger.ts
Due: test-suite, typescript-check, eslint

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
