Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - commit

fix(ci): use npx for sbom generation and remove from deps
  .github/workflows/security-scan.yml
  package.json
Due: license-check, vulnerability-scan

fix(ci): stabilize CI with package-lock and npm ci
  .github/workflows/security-scan.yml
  package-lock.json
Due: none

feat(ci): add test suite to CI workflow
  .github/workflows/ci.yml
Due: none

chore(ci): ensure all tests run on pre-commit
  scripts/pre-commit-tests.sh
Due: k8s-tests

feat(ci): add playwright e2e tests to workflow
  .github/workflows/ci.yml
Due: none

fix(ci): add missing SAST scan to workflow
  .github/workflows/ci.yml
Due: none

fix(ci): pin attest-build-provenance action to commit hash
  .github/workflows/ci.yml
Due: none

feat(tests): add integration tests for service health checks
  CLAUDE.md
  tests/health/health-checks.test.ts
Due: test-suite

feat(monitoring): initialize datadog rum in frontend
  .env.example
  CLAUDE.md
  src/app/layout.tsx
  src/components/monitoring/DatadogRUM.tsx
Due: test-suite

feat: integrate datadog test visibility and update docs
  .github/workflows/ci.yml
  CLAUDE.md
  Dockerfile
  README.md
  TODO.md
  charts/vibecode-platform/templates/ingress.yaml
  charts/vibecode-platform/values.yaml
  claude-prompt.md
  k8s/authelia/authelia-config.yaml
  k8s/authelia/authelia-deployment.yaml
  k8s/datadog-daemonset.yaml
  k8s/datadog-secret.yaml
  k8s/datadog-values.yaml
  k8s/namespace.yaml
  k8s/oauth-secrets.yaml
  k8s/postgres-deployment.yaml
  k8s/postgres-init-configmap.yaml
  k8s/redis-deployment.yaml
  k8s/vector-simple.yaml
  k8s/vibecode-deployment.yaml
  k8s/vibecode-ingress.yaml
  k8s/vibecode-secrets.yaml
  k8s/vibecode-service.yaml
  next.config.js.bak
  next.config.ts
  package.json
  server/index.js
  src/app/api/ai/chat/stream/route.ts
  tsconfig.json
  watermarkpodautoscaler.zip
Due: license-check, vulnerability-scan, test-suite, k8s-tests

fix: correct datadog api key parameter in ci workflow
  .github/workflows/ci.yml
  playwright-report/index.html
  playwright-report/results.json
  playwright-report/results.xml
  test-results/.last-run.json
  tests/e2e/auth.spec.ts
Due: test-suite

fix: correct datadog api key and add app key to ci workflow
  .github/workflows/ci.yml
Due: none

fix: remove invalid dd_app_key from ci workflow
  .github/workflows/ci.yml
Due: none

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
