Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

chore: redirect tauri webview to ide
  src/components/TauriIdeBootstrapper.tsx
Due: test-suite, typescript-check, eslint

fix: improve code-server fallback in kiosk script
  scripts/dev/start-chromium-ide.sh
Due: k8s-tests

docs: Add OmniOS strategic positioning analysis
  OMNIOS_STRATEGIC_POSITIONING.md
Due: none

feat: Add OmniOS ARM64 Packer template with Debian userland + code-server
  infrastructure/packer/README.md
  infrastructure/packer/vibecode-omnios-arm64.pkr.hcl
Due: none

feat: add lima kiosk app packaging
  docs/virtualization/openvscode-microvm.md
  scripts/dev/package-lima-kiosk.sh
  scripts/dev/start-chromium-ide.sh
Due: k8s-tests

fix: Update OmniOS ARM64 image URL and checksum to r151055
  infrastructure/packer/vibecode-omnios-arm64.pkr.hcl
Due: none

docs: Add complete ARM64 VM demonstration with working proof
  ARM64_VM_DEMONSTRATION_COMPLETE.md
Due: none

chore: support host-only kiosk mode
  scripts/dev/start-chromium-ide.sh
Due: k8s-tests

docs: Document cross-platform VM solutions already working
  CROSS_PLATFORM_VMS_READY.md
Due: none

feat: add universal ide launcher
  docs/virtualization/openvscode-microvm.md
  package.json
  scripts/dev/start-ide-universal.sh
Due: license-check, vulnerability-scan, k8s-tests

merge: integrate local changes with Tauri architecture
  .github/workflows/agentapi-cicd.yml
  .github/workflows/build-and-push-image.yml
  .github/workflows/ci-simplified.yml
  .github/workflows/codeserver-profiles.yml
  .github/workflows/db-monitoring-deployment.yml.conflict-backup-1760252204
  .github/workflows/docs-ci-cd.yml.conflict-backup-1760252204
  .github/workflows/main-branch-ci.yml
  .github/workflows/main-branch-ci.yml.conflict-backup-1760252204
  .github/workflows/pages.yml
  .github/workflows/release-branch-ci.yml
  .github/workflows/release-branch-ci.yml.conflict-backup-1760252204
  .github/workflows/release.yml
  .github/workflows/test-releases.yml
  SAFE_MERGE_STRATEGY.md
  patches/source-code.patch
  patches/workflows.patch
  src/lib/db/connection-pool-config.ts
  src/lib/vector-db/postgres-vector-database-adapter.old.backup
  src/lib/vector/adapters/postgresql-vector-adapter.ts.backup
Due: test-suite, typescript-check, eslint

docs: add merge completion summary
  MERGE_COMPLETE_SUMMARY.md
Due: none

feat(pwa): add /offline route and SW registration placeholder
  src/app/layout.tsx
Due: test-suite, typescript-check, eslint

docs: Complete sequential cleanup and OmniOS ARM64 boot testing
  PERFORMANCE_ANALYSIS.md
  RUNNING_PROCESSES_AUDIT.md
  SEQUENTIAL_CLEANUP_COMPLETE.md
  docs/PACKER_OMNIOS_VS_MACOS_VFKIT.md
  infrastructure/packer/provisioner/vfkit/cmd/packer-provisioner-vfkit/main.go
  infrastructure/packer/provisioner/vfkit/go.mod
  infrastructure/packer/provisioner/vfkit/go.sum
  infrastructure/packer/provisioner/vfkit/main.go
  infrastructure/packer/vibecode-macos-vfkit.pkr.hcl
  scripts/QUICK-REFERENCE.md
  scripts/VM-MANAGEMENT.md
Due: k8s-tests

feat: Complete ARM64 VMs release package v1.0.0
  releases/arm64-vms-v1.0/CHANGELOG.md
  releases/arm64-vms-v1.0/GETTING-STARTED.md
  releases/arm64-vms-v1.0/README.md
  releases/arm64-vms-v1.0/RELEASE-NOTES.md
  releases/arm64-vms-v1.0/RELEASE-SUMMARY.md
  releases/arm64-vms-v1.0/alpine-demo/DOWNLOAD-ALPINE.md
  releases/arm64-vms-v1.0/alpine-demo/README.md
  releases/arm64-vms-v1.0/alpine-demo/demo-vm.sh
  releases/arm64-vms-v1.0/alpine-demo/launch-demo.sh
  releases/arm64-vms-v1.0/alpine-demo/test-boot.sh
  releases/arm64-vms-v1.0/omnios-production/DOWNLOAD-OMNIOS.md
  releases/arm64-vms-v1.0/omnios-production/README.md
  releases/arm64-vms-v1.0/omnios-production/launch-omnios.sh
Due: none

docs: Add multi-agent coordination success report
  AGENT_COORDINATION_SUCCESS.md
Due: none
