Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

auto-claude: subtask-5-1 - End-to-end test: Track suggestion → Accept → Edit → Generate report
  tests/integration/ai-quality-tracking.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create quality report generator with model compari
  src/lib/ai/__tests__/quality-reports.test.ts
  src/lib/ai/quality-reports.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Create API endpoint for quality reports
  src/app/api/ai/quality/reports/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Implement weekly aggregation and trend analysis
  src/lib/ai/__tests__/quality-reports.test.ts
  src/lib/ai/quality-reports.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-3 - Create API endpoint for user ratings (thumbs up/down)
  src/app/api/ai/quality/rate/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Create Prisma schema for AI quality metrics storage
  prisma/schema.prisma
Due: none

auto-claude: subtask-5-2 - Verify DataDog metrics are being emitted
  tests/integration/ai-quality-datadog-metrics.test.ts
Due: test-suite, typescript-check, eslint

fix: resolve remaining QA issues - edit distance regex and zod type errors (qa-requested)
  src/app/api/ai/quality/rate/route.ts
  src/app/api/ai/quality/track/route.ts
  src/lib/ai/__tests__/edit-distance.test.ts
  src/lib/ai/edit-distance.ts
Due: test-suite, typescript-check, eslint

fix: correct test mock field names to match Prisma schema (qa-requested)
  src/lib/ai/__tests__/quality-reports.test.ts
Due: test-suite, typescript-check, eslint

fix: Address QA issues - edit distance, database migration, type errors (qa-requested)
  prisma/migrations/20260220_add_ai_quality_metrics/migration.sql
  prisma/migrations/20260220_add_ai_quality_metrics/rollback.sql
  src/app/api/ai/quality/rate/route.ts
  src/app/api/ai/quality/reports/route.ts
  src/lib/ai/edit-distance.ts
  src/lib/ai/quality-reports.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-2 - Create quality tracker service with DataDog metric
  src/lib/ai/__tests__/quality-tracker.test.ts
  src/lib/ai/quality-tracker.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-1 - Create API endpoint for tracking suggestion events
  node_modules/.package-lock.json
  src/app/api/ai/quality/track/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-1 - Create TypeScript types for AI quality metrics
  src/types/ai-quality-metrics.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Implement edit distance calculator using Levenshtein algorithm
  src/lib/ai/__tests__/edit-distance.test.ts
  src/lib/ai/edit-distance.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Create Datadog monitor configuration for container
  infrastructure/datadog/monitors/container-resource-monitors.json
Due: none

auto-claude: subtask-2-2 - Create ContainerResourceGauge component for current resource usage
  src/components/monitoring/ContainerResourceGauge.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-3 - Create E2E tests for container monitoring dashboard
  tests/e2e/container-monitoring-dashboard.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-1-2 - Create API endpoint /api/monitoring/containers for real-time metrics
  src/app/api/monitoring/containers/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-3 - Create ContainerAlertsList component to display ac
  src/components/monitoring/ContainerAlertsList.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-4-2 - Deploy Datadog dashboard via Datadog API or Terraf
  scripts/deploy-datadog-container-dashboard.sh
Due: k8s-tests

auto-claude: subtask-2-5 - Add navigation link to container monitoring dashboard
  src/app/monitoring/containers/page.tsx
  src/app/monitoring/layout.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-4 - Create ContainerMonitoringDashboard main page comp
  src/components/monitoring/ContainerMonitoringDashboard.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-3 - Create runbook for container resource alert respon
  infrastructure/monitoring/runbooks/container-resource-alerts.md
Due: none

auto-claude: subtask-5-4 - Create Prometheus alert rule tests
  tests/infrastructure/README.md
  tests/infrastructure/prometheus-container-alerts.test.yml
Due: none

auto-claude: subtask-4-1 - Create Datadog dashboard JSON configuration for container metrics
  infrastructure/datadog/dashboards/container-metrics-dashboard.json
Due: none

auto-claude: subtask-3-1 - Create Prometheus alert rules for container resource thresholds
  infrastructure/monitoring/alerts/container-resource-alerts.yml
Due: none

auto-claude: subtask-6-2 - Update infrastructure monitoring README with conta
  infrastructure/monitoring/README.md
Due: none

auto-claude: subtask-1-3 - Create API endpoint /api/monitoring/containers/history
  src/app/api/monitoring/containers/history/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-1 - Create ContainerMetricsChart component for time-se
  src/components/monitoring/ContainerMetricsChart.tsx
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-2 - Create integration tests for container API endpoints
  tests/integration/monitoring-containers-api.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-1 - Create unit tests for container metrics service
  tests/unit/lib/monitoring/container-metrics.test.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-6-1 - Create user documentation for container monitoring
  docs/monitoring/container-monitoring.md
Due: none

auto-claude: subtask-3-3 - Update AlertManager config to route container alerts
  infrastructure/monitoring/alertmanager.yml
Due: none

auto-claude: subtask-1-1 - Create container metrics service to query cAdvisor
  src/lib/monitoring/container-metrics.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-5-2 - Create offline mode documentation
  docs/OFFLINE_MODE.md
Due: none

auto-claude: subtask-5-3 - Update .env.example with offline mode settings
  .env.example
Due: none

auto-claude: subtask-1-3 - Create offline status API endpoint
  src/app/api/offline/status/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-2-3 - Create AI provider offline setup API
  src/app/api/offline/setup/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-2 - Enhance docs search API for offline mode
  src/app/api/docs/search/route.ts
Due: test-suite, typescript-check, eslint

auto-claude: subtask-3-1 - Create offline cache manager for static resources
  src/lib/cache/offline-cache.ts
Due: test-suite, typescript-check, eslint
