Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

Preserve custom microVM source files in git
  .gitignore
  fast-openvscode-vm/rootfs/etc/group
  fast-openvscode-vm/rootfs/etc/hosts
  fast-openvscode-vm/rootfs/etc/passwd
  fast-openvscode-vm/rootfs/etc/resolv.conf
  fast-openvscode-vm/rootfs/init
Due: none

docs: add eBPF observability implementation summary for issue #546
  claudedocs/EBPF_OBSERVABILITY_IMPLEMENTATION_546.md
Due: none

chore: route zod imports through compatibility shim
  src/app/api/agent-builder/session/route.ts
  src/app/api/agents/[...path]/route.ts
  src/app/api/ai/chat/enhanced/route.ts
  src/app/api/ai/generate-project/route.ts
  src/app/api/ai/search/route.ts
  src/app/api/auth/mfa/setup/route.ts
  src/app/api/auth/mfa/verify/route.ts
  src/app/api/auth/saml/sso/route.ts
  src/app/api/claude/analyze/route.ts
  src/app/api/claude/generate/route.ts
  src/app/api/code-server/session/route.ts
  src/app/api/projects/template/route.ts
  src/app/api/vector-search/route.ts
  src/app/api/vector-store/route.ts
  src/app/api/workspace/auto-scaling/route.ts
  src/app/api/workspaces/[id]/route.ts
  src/app/api/workspaces/route.ts
  src/lib/ai/model-orchestration.ts
  src/lib/ai/project-generator.ts
  src/lib/api/validation/middleware.ts
  src/lib/api/validation/schemas.ts
  src/lib/auth/saml-provider.ts
  src/lib/auth/user-manager.ts
  src/lib/deployment/cloud-automation.ts
  src/lib/env-validation.ts
  src/lib/github/integration.ts
  src/lib/security/env-validation.ts
  src/lib/security/input-validator.ts
  src/lib/services/ai-project-generator.ts
  src/lib/services/workspace-provisioning-simple.ts
  src/lib/templates/versioning.ts
  src/lib/tools/index.ts
  src/lib/user-preferences.ts
  src/lib/zod-compat.ts
  src/mcp/server.ts
  src/mcp/types.ts
Due: test-suite, typescript-check, eslint

Fix documentation npm script references and code block language specifications (#600)
  DOCUMENTATION_FIX_SUMMARY.md
  archive/consolidated-wiki/COMPREHENSIVE_TEST_REPORT.md
  archive/consolidated-wiki/PRODUCTION_STATUS_REPORT.md
  archive/consolidated-wiki/TEST_INFRASTRUCTURE_SUMMARY.md
  archive/consolidated-wiki/production-status.md
  archive/consolidated-wiki/test-coverage-report.md
  archive/consolidated-wiki/test-infrastructure.md
  archive/root-md-files/COMPREHENSIVE_TEST_REPORT.md
  archive/root-md-files/PRODUCTION_STATUS_REPORT.md
  archive/root-md-files/TEST_INFRASTRUCTURE_SUMMARY.md
  content/wiki/COMPREHENSIVE_TEST_REPORT.md
  content/wiki/PRODUCTION_STATUS_REPORT.md
  content/wiki/TEST_INFRASTRUCTURE_SUMMARY.md
  content/wiki/production-status.md
  content/wiki/test-coverage-report.md
  content/wiki/test-infrastructure.md
  docs/src/content/docs/production-status.md
  docs/src/content/docs/test-coverage-report.md
  docs/src/content/docs/test-infrastructure.md
Due: none

Add comprehensive performance testing and monitoring infrastructure (Issue #77) (#599)
  .github/workflows/performance-testing.yml
  docs/monitoring/RUM.md
  docs/reports/PERFORMANCE_MONITORING_IMPLEMENTATION.md
  docs/testing/PERFORMANCE_QUICK_START.md
  docs/testing/PERFORMANCE_TESTING.md
  jest.performance.config.mjs
  package-lock.json
  package.json
  performance-budget.json
  scripts/enforce-performance-budget.js
  src/app/api/monitoring/page-load/route.ts
  src/app/api/monitoring/user-journey/route.ts
  src/app/api/monitoring/web-vitals/route.ts
  src/components/PerformanceMonitor.tsx
  tests/performance-jest.setup.js
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

fix: resolve CI failures - logger circular deps and Jest params
  .github/workflows/agentapi-cicd.yml
  .github/workflows/main-branch-ci.yml
  src/lib/monitoring.ts
  src/lib/zod-compat.ts
Due: test-suite, typescript-check, eslint

chore: type ai advanced features demo results
  TODO.md
  src/app/ai-advanced-features-demo/page.tsx
Due: test-suite, typescript-check, eslint
