Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

fix: Fix CI/CD issues and ESLint configuration
  .github/workflows/db-monitoring-deployment.yml.conflict-backup-1760252204
  .github/workflows/docs-ci-cd.yml.conflict-backup-1760252204
  .github/workflows/main-branch-ci.yml.conflict-backup-1760252204
  .github/workflows/release-branch-ci.yml.conflict-backup-1760252204
  eslint.config.mjs
  src/__mocks__/@codemirror/view.ts
Due: test-suite, typescript-check, eslint

fix: Add final ESLint global and complete CI/CD fixes
  eslint.config.mjs
  src/lib/api/validation/schemas.ts
  src/lib/db/connection-pool-monitor.ts
  src/lib/security/macos-keychain.ts
Due: test-suite, typescript-check, eslint

feat: Extract streaming, Tauri, templates, terminal, tools, utils, and extensions from Codex Salvage and other branches
  src/lib/streaming/optimized-sse-client.ts
  src/lib/streaming/optimized-websocket-client.ts
  src/lib/streaming/sse-client.ts
  src/lib/tauri.ts
  src/lib/tauri/mdns.ts
  src/lib/templates/generator.ts
  src/lib/templates/versioning.ts
  src/lib/terminal/session-manager.ts
  src/lib/tools/index.ts
  src/lib/user-preferences.ts
Due: test-suite, typescript-check, eslint

feat: Extract comprehensive vector store services from Codex Salvage
  src/lib/api/validation/schemas.ts
  src/lib/vector-store.ts
  src/lib/vector-stores/batch-processor.ts
  src/lib/vector-stores/enhanced-vector-store-sharding.ts
  src/lib/vector-stores/enhanced-vector-store.ts
  src/lib/vector/adapters/redis-vector-adapter.ts
  src/lib/vector/adapters/vector-adapter-factory.ts
  src/lib/vector/interfaces/vector-types.ts
  src/lib/vector/vector-store.ts
  src/lib/weaviate/client.ts
Due: test-suite, typescript-check, eslint

feat: Extract workflow services and workspace auto-scaler from Codex Salvage
  src/lib/workflow/engine.ts
  src/lib/workflow/integration.ts
  src/lib/workflow/types.ts
  src/lib/workspace/auto-scaler.ts
Due: test-suite, typescript-check, eslint

feat: Extract remaining valuable files from Codex Salvage
  src/app/api/health/route.ts
Due: test-suite, typescript-check, eslint

feat: Extract comprehensive Rust code and test scripts from Codex Salvage
  BRANCH_REDUCTION_FINAL_REPORT.md
  scripts/benchmarks/build-minivim-kernel.sh
  src/app/api/health/route.ts
Due: test-suite, k8s-tests, typescript-check, eslint

docs: Close issues #429, #501, #446 - Documentation and testing complete
  ISSUES_AUDIT_2.md
  TODO.md
Due: none

fix: Resolve critical lint issues for CI
  .eslintrc.temp.js
  SESSION_COMPLETE.md
  eslint.config.mjs.backup
  jest.config.mjs.backup
  src/app/api/agent-builder/session/route.ts
  src/app/api/agents/[...path]/route.ts
  src/app/api/ai/chat/enhanced/route.ts
  src/app/api/experiments/route.ts
  src/app/api/files/sync/route.ts
  src/lib/api/validation/schemas.ts
  src/lib/datadog-llm.ts
  src/lib/logger-original.ts
  src/lib/security/macos-keychain.ts
  src/lib/server-monitoring.ts
  src/workers/tokenCounter.worker.ts
  tests/__mocks__/lib/db/robust-db-connection.ts
  tests/__mocks__/lib/monitoring/datadog-metrics.ts
  tests/__mocks__/mongodb.js
  tests/__mocks__/monitoring.js
  tests/jest.setup.js
  tests/test-exclusions.txt
  tests/unit/lib/services/chat-mongodb.test.ts
Due: test-suite, typescript-check, eslint

docs: Complete session - 10 issues closed total
  FINAL_SESSION_REPORT.md
  TODO.md
Due: none

fix: Final syntax fixes for agents and chat routes
  src/app/api/agents/[...path]/route.ts
  src/app/api/ai/chat/enhanced/route.ts
Due: test-suite, typescript-check, eslint

fix: Resolve TypeScript errors for CI/CD
  src/app/api/agents/[...path]/route.ts
  src/app/api/ai/chat/route.ts
  src/app/api/ai/chat/route.ts.disabled
  src/app/api/ai/function-call/route.ts
  src/app/api/ai/function-call/route.ts.disabled
  src/app/api/ai/generate-project/route.ts
  src/app/api/ai/management/route.ts
  src/app/api/health/vector-metrics/route.ts
  src/app/api/monitoring/embeddings/route.ts
  src/app/api/monitoring/pool-alerts/route.ts
  src/app/api/workspace/[id]/init-goose/route.ts
Due: test-suite, typescript-check, eslint

fix: Major progress on TypeScript errors for CI/CD
  src/app/api/chat/stream/route.ts
  src/app/api/chat/stream/route.ts.disabled
  src/app/api/claude/chat/route.ts
  src/app/api/claude/chat/route.ts.disabled
  src/app/api/claude/session/route.ts
  src/app/api/claude/session/route.ts.disabled
Due: test-suite, typescript-check, eslint

fix: Apply user's threadManager and console fixes
  src/app/api/ai/chat/route.ts
Due: test-suite, typescript-check, eslint
