Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

.pre-commit-config.yaml:

# Pre-commit hooks for security and license compliance
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files
      - id: detect-private-key

  # License scanning
  - repo: local
    hooks:
      - id: license-check
        name: License Compatibility Check
        entry: ./scripts/check-licenses.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: vulnerability-scan
        name: Vulnerability Scan
        entry: ./scripts/vulnerability-scan.sh
        language: script
        files: ^package\.json$
        stages: [pre-commit]

      - id: test-suite
        name: Run Test Suite
        entry: npm test
        language: system
        files: \.(js|jsx|ts|tsx)$
        stages: [pre-commit]


      - id: helm-lint
        name: Helm Chart Linting
        entry: helm lint helm/vibecode-platform
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: helm-template-test
        name: Helm Template Validation
        entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
        language: system
        files: ^helm/.*\.(yaml|yml)$
        stages: [pre-commit]

      - id: k8s-tests
        name: Kubernetes Integration Tests
        entry: npm run test:k8s:quick
        language: system
        files: ^(tests/k8s/|helm/|k8s/|scripts/).*$
        stages: [pre-commit]

      - id: provisioning-script-test
        name: User Provisioning Script Test
        entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
        language: system
        files: ^scripts/provision-user\.sh$
        stages: [pre-commit]

      - id: typescript-check
        name: TypeScript Type Check
        entry: npx tsc --noEmit
        language: node
        files: \.(ts|tsx)$
        stages: [pre-commit]

      - id: eslint
        name: ESLint
        entry: npx eslint --fix
        language: node
        types: [file]
        files: \.(js|jsx|ts|tsx)$

docs: update documentation to reflect comprehensive AI platform enhancement
  README.md
  docs/src/content/docs/TODO.md
  docs/src/content/docs/claude-prompt.md
Due: none

Complete comprehensive monitoring bypass implementation for Docker build - all conditional imports working locally
  helm/vibecode-platform/templates/datadog-secret-hook.yaml
  helm/vibecode-platform/values-dev.yaml
  helm/vibecode-platform/values-prod.yaml
  infrastructure/terraform/azure/kubernetes-deployment.tf
  k8s/external-secrets/external-secret-datadog.yaml
  k8s/health-check-test.yaml
  scripts/component-verification.sh
  scripts/comprehensive-k8s-tests.sh
  scripts/final-component-test.sh
  scripts/quick-k8s-validation.sh
  scripts/setup-secrets.sh
  scripts/test-dbm-setup.sh
  scripts/test-k8s-core-functionality.sh
  scripts/validate-complete-setup.sh
Due: helm-lint, helm-template-test, k8s-tests

Fix security vulnerabilities: Update astro to 5.12.9 to resolve moderate severity issue
  docs/package-lock.json
  scripts/final-component-test.sh
Due: k8s-tests

Fix critical ESLint errors: Remove unused imports and variables, fix require() imports in monitoring routes
  src/app/api/monitoring/dashboard/route.ts
  src/app/api/monitoring/metrics/route.ts
  src/app/api/monitoring/otel-config/route.ts
  src/app/api/monitoring/performance/route.ts
  src/app/api/monitoring/rum/route.ts
  src/app/api/terminal/ws/route.ts
Due: test-suite, typescript-check, eslint

feat: implement comprehensive collaborative workspace with marketplace and deployment integration
  src/app/marketplace/page.tsx
  src/app/page.tsx
  src/app/workspace/collaborative/page.tsx
  src/components/PromptInterface.tsx
  src/components/deployment/GitHubDeploymentWorkflow.tsx
  src/components/marketplace/MarketplacePage.tsx
  src/components/marketplace/TemplateDeploymentIntegration.tsx
  src/components/marketplace/TemplateMarketplace.tsx
  src/components/marketplace/TemplateSubmissionForm.tsx
  src/components/ui/navigation.tsx
  src/components/workspace/CollaborativeWorkspace.tsx
  src/lib/marketplace/template-marketplace.ts
  src/lib/templates/generator.ts
Due: test-suite, typescript-check, eslint

chore: update build artifacts and documentation after collaborative workspace implementation
  .eslintcache
  docs/.astro/data-store.json
  docs/dist/claude-prompt/index.html
  docs/dist/pagefind/fragment/en_2f30c5b.pf_fragment
  docs/dist/pagefind/fragment/en_31b4b59.pf_fragment
  docs/dist/pagefind/fragment/en_b059ee1.pf_fragment
  docs/dist/pagefind/fragment/en_cf6de62.pf_fragment
  docs/dist/pagefind/index/en_0993ce7.pf_index
  docs/dist/pagefind/index/en_22c4acd.pf_index
  docs/dist/pagefind/index/en_2745313.pf_index
  docs/dist/pagefind/index/en_2aea73e.pf_index
  docs/dist/pagefind/index/en_2e96ccf.pf_index
  docs/dist/pagefind/index/en_2f2dab2.pf_index
  docs/dist/pagefind/index/en_4359817.pf_index
  docs/dist/pagefind/index/en_4676711.pf_index
  docs/dist/pagefind/index/en_5772d89.pf_index
  docs/dist/pagefind/index/en_5ca335f.pf_index
  docs/dist/pagefind/index/en_613f904.pf_index
  docs/dist/pagefind/index/en_6db4ba5.pf_index
  docs/dist/pagefind/index/en_74a92ce.pf_index
  docs/dist/pagefind/index/en_903142d.pf_index
  docs/dist/pagefind/index/en_913a728.pf_index
  docs/dist/pagefind/index/en_9ee6dd1.pf_index
  docs/dist/pagefind/index/en_b32430d.pf_index
  docs/dist/pagefind/index/en_b44b3b1.pf_index
  docs/dist/pagefind/index/en_b7f6574.pf_index
  docs/dist/pagefind/index/en_c230e98.pf_index
  docs/dist/pagefind/index/en_cf969e7.pf_index
  docs/dist/pagefind/index/en_fea5405.pf_index
  docs/dist/pagefind/pagefind-entry.json
  docs/dist/pagefind/pagefind.en_7df29f32ad.pf_meta
  docs/dist/pagefind/pagefind.en_fffb6d6e06.pf_meta
  docs/dist/todo/index.html
Due: none

chore: update build artifacts and documentation after collaborative workspace implementation
  .eslintcache
  docs/.astro/data-store.json
  docs/dist/claude-prompt/index.html
  docs/dist/pagefind/fragment/en_2f30c5b.pf_fragment
  docs/dist/pagefind/fragment/en_31b4b59.pf_fragment
  docs/dist/pagefind/fragment/en_b059ee1.pf_fragment
  docs/dist/pagefind/fragment/en_cf6de62.pf_fragment
  docs/dist/pagefind/index/en_0993ce7.pf_index
  docs/dist/pagefind/index/en_22c4acd.pf_index
  docs/dist/pagefind/index/en_2745313.pf_index
  docs/dist/pagefind/index/en_2aea73e.pf_index
  docs/dist/pagefind/index/en_2e96ccf.pf_index
  docs/dist/pagefind/index/en_2f2dab2.pf_index
  docs/dist/pagefind/index/en_4359817.pf_index
  docs/dist/pagefind/index/en_4676711.pf_index
  docs/dist/pagefind/index/en_5772d89.pf_index
  docs/dist/pagefind/index/en_5ca335f.pf_index
  docs/dist/pagefind/index/en_613f904.pf_index
  docs/dist/pagefind/index/en_6db4ba5.pf_index
  docs/dist/pagefind/index/en_74a92ce.pf_index
  docs/dist/pagefind/index/en_903142d.pf_index
  docs/dist/pagefind/index/en_913a728.pf_index
  docs/dist/pagefind/index/en_9ee6dd1.pf_index
  docs/dist/pagefind/index/en_b32430d.pf_index
  docs/dist/pagefind/index/en_b44b3b1.pf_index
  docs/dist/pagefind/index/en_b7f6574.pf_index
  docs/dist/pagefind/index/en_c230e98.pf_index
  docs/dist/pagefind/index/en_cf969e7.pf_index
  docs/dist/pagefind/index/en_fea5405.pf_index
  docs/dist/pagefind/pagefind-entry.json
  docs/dist/pagefind/pagefind.en_7df29f32ad.pf_meta
  docs/dist/pagefind/pagefind.en_fffb6d6e06.pf_meta
  docs/dist/todo/index.html
  docs/node_modules/.astro/data-store.json
  docs/node_modules/.vite/deps/_metadata.json
Due: none

chore: update build artifacts and documentation after collaborative workspace implementation
  .eslintcache
  docs/dist/claude-prompt/index.html
  docs/dist/pagefind/fragment/en_2f30c5b.pf_fragment
  docs/dist/pagefind/fragment/en_31b4b59.pf_fragment
  docs/dist/pagefind/fragment/en_b059ee1.pf_fragment
  docs/dist/pagefind/fragment/en_cf6de62.pf_fragment
  docs/dist/pagefind/index/en_0993ce7.pf_index
  docs/dist/pagefind/index/en_22c4acd.pf_index
  docs/dist/pagefind/index/en_2745313.pf_index
  docs/dist/pagefind/index/en_2aea73e.pf_index
  docs/dist/pagefind/index/en_2e96ccf.pf_index
  docs/dist/pagefind/index/en_2f2dab2.pf_index
  docs/dist/pagefind/index/en_4359817.pf_index
  docs/dist/pagefind/index/en_4676711.pf_index
  docs/dist/pagefind/index/en_5772d89.pf_index
  docs/dist/pagefind/index/en_5ca335f.pf_index
  docs/dist/pagefind/index/en_613f904.pf_index
  docs/dist/pagefind/index/en_6db4ba5.pf_index
  docs/dist/pagefind/index/en_74a92ce.pf_index
  docs/dist/pagefind/index/en_903142d.pf_index
  docs/dist/pagefind/index/en_913a728.pf_index
  docs/dist/pagefind/index/en_9ee6dd1.pf_index
  docs/dist/pagefind/index/en_b32430d.pf_index
  docs/dist/pagefind/index/en_b44b3b1.pf_index
  docs/dist/pagefind/index/en_b7f6574.pf_index
  docs/dist/pagefind/index/en_c230e98.pf_index
  docs/dist/pagefind/index/en_cf969e7.pf_index
  docs/dist/pagefind/index/en_fea5405.pf_index
  docs/dist/pagefind/pagefind-entry.json
  docs/dist/pagefind/pagefind.en_7df29f32ad.pf_meta
  docs/dist/pagefind/pagefind.en_fffb6d6e06.pf_meta
  docs/dist/todo/index.html
Due: none

chore: update build artifacts and documentation after collaborative workspace implementation
  .eslintcache
  docs/dist/claude-prompt/index.html
  docs/dist/pagefind/fragment/en_2f30c5b.pf_fragment
  docs/dist/pagefind/fragment/en_31b4b59.pf_fragment
  docs/dist/pagefind/fragment/en_b059ee1.pf_fragment
  docs/dist/pagefind/fragment/en_cf6de62.pf_fragment
  docs/dist/pagefind/index/en_0993ce7.pf_index
  docs/dist/pagefind/index/en_22c4acd.pf_index
  docs/dist/pagefind/index/en_2745313.pf_index
  docs/dist/pagefind/index/en_2aea73e.pf_index
  docs/dist/pagefind/index/en_2e96ccf.pf_index
  docs/dist/pagefind/index/en_2f2dab2.pf_index
  docs/dist/pagefind/index/en_4359817.pf_index
  docs/dist/pagefind/index/en_4676711.pf_index
  docs/dist/pagefind/index/en_5772d89.pf_index
  docs/dist/pagefind/index/en_5ca335f.pf_index
  docs/dist/pagefind/index/en_613f904.pf_index
  docs/dist/pagefind/index/en_6db4ba5.pf_index
  docs/dist/pagefind/index/en_74a92ce.pf_index
  docs/dist/pagefind/index/en_903142d.pf_index
  docs/dist/pagefind/index/en_913a728.pf_index
  docs/dist/pagefind/index/en_9ee6dd1.pf_index
  docs/dist/pagefind/index/en_b32430d.pf_index
  docs/dist/pagefind/index/en_b44b3b1.pf_index
  docs/dist/pagefind/index/en_b7f6574.pf_index
  docs/dist/pagefind/index/en_c230e98.pf_index
  docs/dist/pagefind/index/en_cf969e7.pf_index
  docs/dist/pagefind/index/en_fea5405.pf_index
  docs/dist/pagefind/pagefind-entry.json
  docs/dist/pagefind/pagefind.en_7df29f32ad.pf_meta
  docs/dist/pagefind/pagefind.en_fffb6d6e06.pf_meta
  docs/dist/todo/index.html
  docs/node_modules/.astro/data-store.json
  docs/node_modules/.vite/deps/_metadata.json
Due: none

Fix dependency conflict: Downgrade dotenv to 16.6.1 and install @browserbasehq/stagehand to resolve version mismatch
  package-lock.json
  package.json
  scripts/comprehensive-k8s-tests.sh
  scripts/test-k8s-core-functionality.sh
  scripts/validate-complete-setup.sh
  src/app/api/monitoring/dashboard/route.ts
Due: license-check, vulnerability-scan, test-suite, k8s-tests, typescript-check, eslint

Update medium priority dependencies: @datadog/browser-rum, @datadog/datadog-ci, @testing-library/jest-dom, @upstash/ratelimit - safer updates without breaking changes
  package-lock.json
  package.json
  src/app/api/monitoring/dashboard/route.ts
Due: license-check, vulnerability-scan, test-suite, typescript-check, eslint

Update README.md
  README.md
Due: none
