Repository ryanmaclean/vibecode-webgui: changes, and which pre-commit hooks are due for each by the changed paths.
All: license-check, vulnerability-scan, test-suite, helm-lint, helm-template-test, k8s-tests, provisioning-script-test, typescript-check, eslint

license-check:
  name: License Compatibility Check
  entry: ./scripts/check-licenses.sh
  language: script
  stages:
  - pre-commit

vulnerability-scan:
  name: Vulnerability Scan
  entry: ./scripts/vulnerability-scan.sh
  language: script
  stages:
  - pre-commit

test-suite:
  name: Run Test Suite
  entry: npm test
  language: system
  stages:
  - pre-commit

helm-lint:
  name: Helm Chart Linting
  entry: helm lint helm/vibecode-platform
  language: system
  stages:
  - pre-commit

helm-template-test:
  name: Helm Template Validation
  entry: bash -c 'helm template vibecode-platform helm/vibecode-platform --namespace vibecode-platform | kubectl apply --dry-run=client -f - || true'
  language: system
  stages:
  - pre-commit

k8s-tests:
  name: Kubernetes Integration Tests
  entry: npm run test:k8s:quick
  language: system
  stages:
  - pre-commit

provisioning-script-test:
  name: User Provisioning Script Test
  entry: bash -c 'scripts/provision-user.sh --help && echo "Provisioning script syntax OK"'
  language: system
  stages:
  - pre-commit

typescript-check:
  name: TypeScript Type Check
  entry: npx tsc --noEmit
  language: node
  stages:
  - pre-commit

eslint:
  name: ESLint
  entry: npx eslint --fix
  language: node

docs: Add comprehensive next steps for build issues and agent coordination
  NEXT_STEPS.md
Due: none

docs: Add comprehensive merge plan for ALL unmerged branches
  COMPREHENSIVE_MERGE_PLAN.md
Due: none

docs: Add comprehensive worktree strategy for parallel agent work
  WORKTREE_STRATEGY.md
Due: none

fix: Break circular dependencies in agent-framework
  circular-deps.txt
  src/lib/agent-framework/agents/index.ts
  src/lib/agent-framework/core.ts
  src/lib/agent-framework/index.ts
  src/lib/agent-framework/tools/index.ts
  src/lib/agent-framework/types.ts
Due: test-suite, typescript-check, eslint

docs: Add comprehensive success summaries for build fixes and vfkit cherry-pick
  BUILD_SUCCESS_SUMMARY.md
  CHERRY_PICK_SUCCESS.md
Due: none

feat: Complete Alpine 3.22 + Node 24 + VS Code Server + kernel optimization
  PARALLEL_AGENTS_STATUS.md
  scripts/vfkit/08-create-node24-rootfs.sh
  scripts/vfkit/09-launch-node24-vm.sh
  scripts/vfkit/10-upgrade-to-alpine-3.22.sh
  scripts/vfkit/11-build-minimal-kernel-docker.sh
  scripts/vfkit/11-build-minimal-kernel.sh
  scripts/vfkit/12-create-vscode-server-rootfs.sh
  scripts/vfkit/13-launch-vscode-server-vm.sh
  scripts/vfkit/BOOT_TIME_COMPARISON.md
  scripts/vfkit/DOCUMENTATION_UPDATE_SUMMARY.md
  scripts/vfkit/INDEX.md
  scripts/vfkit/KERNEL_OPTIMIZATION_ANALYSIS.md
  scripts/vfkit/NODE24_SUCCESS_SUMMARY.md
  scripts/vfkit/NODE_24_UPGRADE.md
  scripts/vfkit/README.md
  scripts/vfkit/VSCODE_SERVER_SETUP.md
  scripts/vfkit/WIKI.md
  scripts/vfkit/compare-boot-times.sh
  scripts/vfkit/install-vscode-server.sh
Due: k8s-tests

fix: Update route handlers for Next.js 15 async params compatibility
  src/app/api/agents/[...path]/route.ts
  src/app/api/containers/[id]/route.ts
Due: test-suite, typescript-check, eslint

docs: Add comprehensive fast OpenVSCode Server setup guide
  fast-openvscode-vm/README.md
Due: none

docs: Add comprehensive Codex Salvage Branch analysis
  docs/codex-salvage-branch-analysis.md
Due: none

feat: Add ultra-fast fun demo VM with one-liner install
  scripts/vfkit/14-create-fun-demo-rootfs.sh
  scripts/vfkit/QUICK_INSTALL.md
  scripts/vfkit/install.sh
Due: k8s-tests

Path conditions:
  license-check: any of: ^package\.json$
  vulnerability-scan: any of: ^package\.json$
  test-suite: any of: \.(js|jsx|ts|tsx)$
  helm-lint: any of: ^helm/.*\.(yaml|yml)$
  helm-template-test: any of: ^helm/.*\.(yaml|yml)$
  k8s-tests: any of: ^(tests/k8s/|helm/|k8s/|scripts/).*$
  provisioning-script-test: any of: ^scripts/provision-user\.sh$
  typescript-check: any of: \.(ts|tsx)$
  eslint: any of: \.(js|jsx|ts|tsx)$
